<p>
Dear <%= @veteran.first_name %>, <br />
<p>Hooah! Welcome. Here's the next steps:</p>

<p>Check your email for an invite to our Operation Code Slack channel (<a href="https://operation-code.slack.com">https://operation-code.slack.com</a>)</p>
<p>Once in Slack, navigate yourself to the #general tab, select a user name (mine is @david) and introduce yourself there, ex. name, branch of service and MOS, region you live now and the programming language you are interested in. If you are already in an online or campus code school, a code school graduate or in the tech industry mention that too. </p>
<p>Go ahead and subscribe to as many channels as you wish, ex. #ruby,  #javascript, #ios, #jobs.</p>

<p>Finally, as a member of the Operation Code ranks, get exclusive acccess to The Flatiron School <a href="http://go.flatironschool.com/operation-code-overview">Learn-Verified program</a>, and scholarships to learn either web development, or iOS development. All distance ed. All in an effort to get more of us coding and help fill the nation's technical talent urgent shortage with those of us who've served.</p>

<p>Welcome aboard, and ping me on Twitter or Slack if you run into any issues or have suggestions on how we can improve and get more military, veterans and military families coding,</p>
<p>David Molina</p>
<p><a href="http://twitter.com/davidcmolina">@davidcmolina</a>) &</p>
<p>The Operation Code Team</p>

<p>P.S. If you do not receive an invite from Slack within 2 hours please <a href="mailto:david@operationcode.org">email me</a>, or ping me on Twitter because something has failed. And, that's a nonstarter. Hugs.</p>
