<p>
Dear <%= @veteran.first_name %>, <br />
<p>Hooah! Welcome. An honor to have you join our ranks. Here's the next steps:</p>

<p>Check your email for an invite to our Operation Code Slack channel (<a href="https://operation-code.slack.com">https://operation-code.slack.com</a>)</p>
<p>Once in Slack, navigate yourself to the #general tab, select a user name (mine is @david) and introduce yourself there, ex. name, branch of service and MOS, region you live now and the programming language you are interested in. If you are already in an online or campus code school, a code school graduate or in the tech industry mention that too. </p>
<p>Go ahead and subscribe to as many channels as you wish, ex. #ruby,  #javascript, #ios, #jobs, #free-code-camp, etc. To contribute to our code base, follow our <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">docs</a>. Welcome all contributions.</p>

<p>Finally, as a member of the Operation Code ranks, get exclusive acccess to The Flatiron School <a href="http://go.flatironschool.com/operation-code-overview">Learn-Verified program</a>, and scholarships to learn either web development, or iOS development. All distance ed. All in an effort to get more of us coding and help fill the nation's technical talent urgent shortage with those of us who've served.</p>
<p>Keep an eye on the #general and specific programming Slack channels as volunteer and scholarship committee chair, Nell Shamrell-Harrington, posts opportunities to attend software conferences.</p>

<p>Welcome aboard, and don't forget to follow and share Operation Code on <a href="https://twitter.com/operation_code">Twitter</a> and <a href="https://facebook.com/operationcode.org">Facebook</a>.</p>
<p>Cheers, and keep coding,</p>
<p>David Molina</p>
<p><a href="http://twitter.com/davidcmolina">@davidcmolina</a>) &</p>
<p>The Operation Code Team</p>

<p>P.S. If you'd like an <a href="https://twitter.com/operation_code/status/607978609785962497">Operation Code sticker</a>, DM with a good mailing address and I'll put one in the mail for you. If you'd like to put an order for "Medal" t-shirt, go <a href="https://cottonbureau.com/products/operation-code-medal">here</a>.

<p>P.S.S. If you do not receive an invite from Slack within 2 hours please <a href="mailto:david@operationcode.org">email me</a>, or ping me on Twitter because something has failed. And, that's a nonstarter. Hugs.</p>
