<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">We are <a href="https://twitter.com/search?q=%23operationcode&src=typd">#operationcode</a>.</h1>
        <!-- donation button on each page -->

        <p class="lead">In the United States over 200,000 software jobs open annually and 30,000 are filled by computer science undergraduates. That number is expected to rise to 1.2 million by 2020. Meanwhile, we have 250,000 Veterans that exit the service annually, some due to sequestration, with Veterans already comprising the highest unemployment across the country, approximately 722K.</br>

        <p class="lead">We don't believe this is right. This is unsatisfactory.</br>

        <p class="lead">We believe America's patriots who have served their country should be able to use their New GI Bill to train to code, fill entry-level software developer jobs, and combined with their leadership, work ethic and discipline help solve some of our country's and global problems with open source software by joining or starting a technology company.</br>

        <p class="lead">If you support expanding the New GI Bill to include <a href="/codeschools">code schools</a> and <a href="/learn">online tech ed</a>, join our ranks now and start getting our awesome emails.</br>

        <p class="lead">Follow on <a href="http://twitter.com/opcod3us">Twitter </a>for news and information about Operation Code, our programs, code schools and efforts!<p></p>

        </div>
    </div>
  </div>
  <%= render 'form' %>
<div>





