<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">We're on a mission!</h1>
        <p class="lead">Our goal is to expand the New GI Bill to cover code schools so that Veterans can learn to code.</p>
        <p>In the United States over 200,000 software jobs open annually and 30,000 are filled by computer science 
        	undergraduates. That number is expected to rise to 1.2 million by 2020.<p> 
          Nationwide, <a href="/codeschools">code schools</a>, or code bootcamps (accelerated learning programs) have been created to fill this demand for junior and entry-level programmers for a fraction of a 4-year college education. These are practical, hands-on technical programs designed to train you, and get you into the workforce. <p> We believe Veterans should be able to use their New GI Bill to learn to code 
        	and help close this gap. If you are a Veteran and want to learn to code on the New GI Bill, join us today! If you want to be part of a Veterans community focused on coding and building online, join now. 
        </p>
       </div>
    </div>
  </div>
  <%= render 'form' %>
</div>



