<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">We are <a href="https://twitter.com/search?q=%23operationcode&src=typd">#operationcode</a>.</h1>
        <p class="lead">At Operation Code, we believe every Veteran and their families deserve access to 21st century software
        development education and mentorship.</p>

        <p class="lead">We believe America's patriots who have served their country should be trained to code, fill tech positions and combined with their leadership, work ethic and discipline help solve some of our country's and global problems with open source software.</p>

        <p class="lead">Join our ranks now and get on our mailer.</p>
        <!-- <ul>
          <li>In the United States over 200,000 software jobs open annually and 30,000 are filled by computer science 
          	undergraduates. That number is expected to rise to 1.2 million by 2020.</li> 
          <li>Nationwide, <a href="/codeschools">code schools</a>, or code bootcamps have been created to fill this demand for junior and entry-level programmers for a fraction of a 4-year college education. These are practical, hands-on technical programs designed to train you, and get you into the tech workforce.</li>
          <li>We believe Veterans should be able to use their New GI Bill to learn to code and help close this gap all while reducing Veterans unemployment and strengthening our country's innovation.</li>
        </ul> -->
          
          <!-- <p align="center">If you are a Veteran and support expanding the New GI Bill to include <a href="/codeschools">code schools</a>, join us today!<p>
          <p align="center">If you want to support our efforts, sign the petition and <a href="mailto:david.c.molina@gmail.com">get in touch</a>.</p> -->
       </div>
    </div>
  </div>
  <%= render 'form' %>
<div>





