<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">We are <a href="https://twitter.com/search?q=%23operationcode&src=typd">#operationcode</a>.</h1>
        <!-- donation button on each page -->

        <p class="lead">In the United States over 200,000 software jobs open annually and 30,000 are filled by computer science undergraduates. That number is expected to rise to 1.2 million by 2020. Meanwhile, we have 250,000 U.S. military personnel that exit the service annually, some due to sequestration. Veterans already comprise the highest unemployment across the country (722K).</br>

        <p class="lead">We believe America's patriots who have served their country should be able to use their New GI Bill education benefit to train to code, fill entry-level software developer jobs, and combined with their leadership, work ethic and discipline contribute to building a stronger country.</br>

        <p class="lead">If you support expanding the New GI Bill to include <a href="/codeschools">code schools</a> and <a href="/learn">online tech ed</a>, join our ranks now for our Fellows program, Software Mentor Protégé Program and start getting our SITREPs.</br>

          <p class="lead">Military Veterans enroll below. Civilians, join us an <a href="http://operationcode.us10.list-manage.com/subscribe?u=0ab8e2b2d6c6608926c4f17d6&id=b1e19ac77b">Operation Code Ambassador</a>.</br>

        </div>
    </div>
  </div>
  <%= render 'form' %>
<div>
