<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="bs-docs-section">
        <p class="lead">In the United States over 200,000 computing jobs open annually and 30,000 are filled by computer science undergraduates. That number is expected to rise to 1.2 million by 2020. Meanwhile, we have 250,000 U.S. military personnel that exit the service annually, some due to sequestration. Veterans already comprise the highest unemployment across the country, over 722,000 of us.</br>

        <p class="lead">When you join our ranks you'll be joining our growing military veterans coding community. In <a href="http://operation-code.slack.com/">Slack</a>, you'll network, share resources, find job opportunities, get help with your code, and become eligible for conference scholarships and coding scholarships. Together we are Operation Code.</p>

        <!-- <p class="lead">Civilians, join us an <a href="http://operationcode.us10.list-manage.com/subscribe?u=0ab8e2b2d6c6608926c4f17d6&id=b1e19ac77b">Operation Code Ambassador</a> and then call your U.S. Senator and Member of Congress and share our efforts. -->
        </div>
    </div>
  </div>
  <%= render 'form' %>
<div>
