<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
    <div class="panel panel-default bootcards-summary">
      <div class="panel-heading">
        <h3 class="panel-title">Summary Card Heading</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x fa-users"></i>
              <h4>Contacts <span class="label label-info">432</span></h4>
            </a>
          </div>
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x fa-building-o"></i>
              <h4>Companies <span class="label label-info">98</span></h4>
            </a>
          </div>
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x fa-clipboard"></i>
              <h4>Notes <span class="label label-danger">54</span></h4>
            </a>
          </div>
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x fa-files-o"></i>
              <h4>Files <span class="label label-info">65</span></h4>
            </a>
          </div>
          <div class="col-xs-6 col-sm-4">
            <a class="bootcards-summary-item" href="#">
              <i class="fa fa-3x fa-check-square-o"></i>
              <h4>Tasks <span class="label label-warning">109</span></h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

