<div class="container">
  <div class="row">
    <div class="col m5" role="main">

      <div class="card">
        <div class="card-content">
          <span class="card-title">
            Account Details</span>
          <a href="<%= edit_veteran_registration_path current_veteran %>"><span class='pull-right'><i class="material-icons">settings</i></a></span>
            <%=  render partial: 'veterans/profile/details' %>
          </span>
        </div>
      </div>
    </div>

    <div class="col m5" role="main">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Feed</span>
            <%=  render partial: 'veterans/profile/announcements' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col m5" role="main">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Mentor Details</span>
          <%=  render partial: 'veterans/profile/mentor' %>
        </div>
      </div>
    </div>
  </div>

</div>

