<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <p id="notice"><%= notice %></p>

      Hello my name is <%= @veteran.first_name %>
      Hello my name is <%= @veteran.id %>
  </div>
</div>

