<div class="container">
  <div class="row">
    <div class="col m12" role="main">
      <h3  class="page-header">Thanks For Signing Up</h3>
      <p class="lead">You'll receive an e-mail and an invitation to our Slack channel shortly.</p>
      <p><a class="btn btn-action" href="https://slack.com/ssb/download-osx">Download Slack</a></p>
    </div>
  </div>
</div>
