.success-stories-item {

  img {
    margin: 0 20px;
  }

  &:nth-of-type(even) {
    .success-stories-accounts {
      margin-left: 50px;
    }
  }

  &:nth-of-type(odd) {
    .success-stories-accounts {
      margin-right: 50px;
    }
  }

}

.success-stories-photo {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.success-stories-name {
  margin-right: 20px;
}

