<div class="container" style='padding-top: 40px;'>
  <div class="row">
    <div class="col m12 center" role="main">
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card-panel">
            <span class="card-title"><h4>Forgot Your Password</h4></span>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class='row'>
                <div class='input-field col m12'>
                  <%= f.email_field :email, autofocus: true, placeholder: 'email' %>
                </div>
              </div>

              <div class="row">
                <div class="col m12">
                  <%= f.submit "Send me reset password instructions", class: 'btn btn-lg' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
