<div class="container">
  <div class="row">
    <div class="col m12">
      <h3>Donate</h3>
      <p>
        Operation Code is a coding veterans service organization and open source veterans nonprofit.
        We're working to expand access to software education for the nation's transitioning military, veterans, and military families. Lend us a hand.
      </p>
      <%= render 'form' %>
    </div>
  </div>
</div>
