<p>Hi <%= @mentee.first_name %>!</p>

<p>Welcome to Operation Code! I’m <%= @mentor.first_name %>, and I’ll be responsible for helping you along your journey to learning software development.</p>

<p>
A little bit about myself:<br />
<%= @mentor.bio %>
</p>

<p>
The best way to start this process is for me to learn more about you. Getting an understanding of your military background and your programming goals,
whether they be pursuing a new career, furthering an existing career, or simply learning to code as a hobby, will be helpful in matching you up with the
right mentoring groups. It’d be great for us to connect on an initial call so I can go over our “checklist” with you. Would you be available for a quick chat?
</p>

<p>
Look forward to hearing from you!<br />
- <%= @mentor.first_name %>
</p>
