<div class="container">
  <div class="row">
    <div class="col m12" role="main">
        <h3 id="download" class="page-header">About Operation Code</h3>
        <p class="lead">Veteran-founded, and led, Operation Code is on a mission to get active military, citizen-soldiers, veterans and their families coding and building software to change the world.</p>

        <div class="video-container">
          <iframe src="https://player.vimeo.com/video/124866675" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <hr>
        <div class='row center'>
          <h4>Core Values</h4>
          <div class='col s12 m6'>
            <h5 class='center'>Agile</h5>
            <p class='light center'>
              We are expeditious in everything we do and innovative in all our approaches. We will bring new technology and new ideas to provide
              the best results for veterans.
            </p>
          </div>
          <div class='col s12 m6'>
            <h5 class='center'>Service</h5>
            <p class='light center'>
              We exist to meet the needs of veterans. We will humbly remember that their service was of the highest order and that Operation Code works for them.
            </p>
          </div>
          <div class='col s12 m6'>
            <h5 class='center'>Accountability</h5>
            <p class='light center'>
              We hold ourselves responsible for obtaining results that fulfill our Mission Statement and work towards our Vision. Donors, volunteers, and veterans
              can trust that Operation Code will do its best with the resources it is given.
            </p>
          </div>
          <div class='col s12 m6'>
            <h5 class='center'>Integrity</h5>
            <p class='light center'>
              We act consistently with Operation Code's mission, being honest and transparent in what we do and say, and accept responsibility for our collective
              and individual actions.
            </p>
          </div>
        </div>
        <hr>
        <div class='row center'>
          <h4>All-Volunteer Staff</h4>
          <p class='light center'>
            Our all-volunteer staff is remote and decentralized, from Portland to Boston, composed of dedicated military veterans and civilians focused on ensuring the success of our nation's finest. <a href="/staff">Learn more</a>.</p>
      </div>
      <hr>
      <div class='row center'>
        <h4>Board of Directors</h4>
        <p class='light center'>
          <p class='light center'>
            Our founding board of directors sets the vision, mission and provides strategic guidance to ensure Operation Code is equipped to succeeed. Our military veterans deserve nothing less. <a href="/board">Learn more</a>.</p>
    </div>
  </div>
</div>
