<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">About Operation Code</h1>
        <p class="lead">Veteran-founded, and led, Operation Code is on a mission to get active military, citizen-soldiers, veterans and their families coding and building software to change the world.</p>

        <div class="video-container">
          <iframe src="https://player.vimeo.com/video/124866675" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <hr>

        <h2>Core Values:</h2>
          <ul>
            <li><p class="lead">Agile - We are expeditious in everything we do and innovative in all our approaches. We will bring new technology and new ideas to provide the best results for veterans.</li></p>
            <li><p class="lead">Service - We exist to meet the needs of veterans. We will humbly remember that their service was of the highest order and that Operation Code works for them.</li></p>
            <li><p class="lead">Accountability - We hold ourselves responsible for obtaining results that fulfill our Mission Statement and work towards our Vision. Donors, volunteers, and veterans can trust that Operation Code will do its best with the resources it is given.</li></p>
            <li><p class="lead">Integrity - We act consistently with Operation Code's mission, being honest and transparent in what we do and say, and accept responsibility for our collective and individual actions.</li></p>
          </ul>
        <hr>

        <p class="lead"><a href="/board">Board of Directors</a></p>
          <p class="lead">Learn more about our founding board of directors.</p>
        <hr>

        <p class="lead"><a href="/history">History of Operation Code</a></p>
          <p class="lead">Learn more about how we got here.</p>
        <hr>

        <p class="lead"><a href="/faq">FAQ</a></p>
          <p class="lead">A list of common questions about Operation Code.</p>
    </div>
  </div>
</div>
