<div class="container" align="center">
  <div class="starter-template">
    <h1>Come help us build the education Veterans deserve.</h1>
    <p class="lead">Want to partner with us? <a href="mailto:david.c.molina@gmail.com">Contact us</a> today.</p>

  <div class="bs-docs-section" align="center">
   <h1 id="overview" class="page-header">Our Vision</h1>
      <p class="lead">A leader in the open source community for software development, scholarships, programming mentorship & training for America’s men and women who’ve served our nation in uniform.</p>

  <div class="bs-docs-section" align="center">
     <h1 id="overview" class="page-header">Our Mission</h1>

      <p class="lead">At Operation Code, we believe every Veteran and their families deserve access to 21st century software development education and mentorship. We believe Veterans equipped with programming knowledge will create web products and services that improve and move the United States forward and make a better world.</p>

    <div class="bs-docs-section" align="center">
       <h1 id="overview" class="page-header">Friends of Operation Code</h1>

        <p class="lead"><a href="http://hackhands.com/">HackHands</a></br>
        HackHands is live 24/7 programming support. They also made <a href="https://hacksummit.org/">HackSummit</a> and <a href="https://hackpledge.org/">HackPledge</a>. The co-founders, Forest & Geraldo, made our beautiful logo.</p>

        <p class="lead"><a href="http://dnsimple.com/">DNSimple</a></br>
        The leader in domain registration and management that makes developers life a breeze. OperationCode.org is graciously hosted here.</p>

        <p class="lead"><a href="https://ruby.onales.com/">Ruby on Ales</a></br>
        Where Rubyists converge on Bend, Oregon for two-day single track conference.</p>

        <p class="lead"><a href="http://codeoregon.org/">Code Oregon</a></br>
        Zero cost online technology training for Oregonians, brought to you by a joint collaboration between <a href="http://teamtreehouse.com/">Treehouse</a> and Worksystems. Just bring yourself, some patience and curiousity to learn web technology.</p>

    <div class="bs-docs-section" align="center">
      <h1 id="overview" class="page-header">Our Core Team</h1>

      <p class="lead" align="center">Veteran-founded and led, Operation Code was founded by David Molina, a former U.S. Army Captain who began to self-learn <a href="http://rubyonrails.org/">Ruby on Rails</a> while on active-duty after not being able to use his New GI Bill education benefits to go to code school. Below are members of the leadership, contributors, campaign team and advisors.</br>

      <p class="lead" align="center"><a href="http://twitter.com/davidcmolina">David Molina</a></br>
      Founder & Executive Director</p>

      <p class="lead"><a href="https://github.com/cavalryjim">Dr. James Davis</a></br>
      Core Contributor</p>

      <p class="lead"><a href="https://www.linkedin.com/in/lucascioffi">Lucas Cioffi</a></br>
      Core Contributor</p>

      <p class="lead"><a href="http://www.charlessipe.com/">Charles Sipe</a></br>
      Marketing</p>

       <p class="lead"><a href="https://www.linkedin.com/in/vivacogo">Patrick Sampson</a></br>
      Campaign</p>

       <p class="lead"><a href="https://www.linkedin.com/pub/rob-kusel/4/356/168">Rob Kusel</a></br>
      Campaign</p>

      <p class="lead"><a href="https://www.linkedin.com/pub/jay-c-bloom/3/9a9/277">Jay Bloom</a></br>
      Advisor</p>

      <p class="lead"><a href="https://www.linkedin.com/pub/john-m-garcia/47/93/980">John Garcia</a></br>
      Advisor</p>

<div class="bs-docs-section" align="center">
      <h1 id="overview" class="page-header">Press</h1>

      <p class="lead" align="center"><a href="http://www.examiner.com/article/operation-code-provides-career-opportunities-for-military-veterans">Operation Code Provides Career Opportunities for Military Veterans</a></br>

      <p class="lead"><a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Why Veterans Will Make Excellent Programmers</a></br>

      <h4>Want to write about us? <a href="mailto:david.c.molina@gmail.com">Email us</a>.</h4>

      </div>
    </div>
  </div>
</div>

<hr>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
