    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1>The Founder</h1>
        <p></p>
      </div>
    </div>

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-9" role="main">
          <div class="bs-docs-section">
  <h1 id="overview" class="page-header">David Molina</h1>

  <p class="lead">David Molina is a self-taught programmer and entrepreneur. He first caught the programming bug in 2008 trying to build his first website. He used Joomla, Drupal and finally fell in love with WordPress. In 2012, David attended his first hackathon in NYC where he learned about HTML/CSS/Javascript and APIs. Prior to getting off active-duty, David completed the <a href="https://onemonth.com">One Month Rails</a> course and attended the weekly <a href="http://bmoreonrails.org/">Bmore on Rails</a> meetups where he got to see the power of the Ruby programming language and the Ruby on Rails framework. David returned to Oregon and joined the <a href="http://www.pdxruby.org/">Portland Ruby Brigade</a> and was a 2013 scholarship recipient to the <a href="http://railsconf.com/">RailsConf</a>. He also attended <a href="http://www.techstars.com/patriotbootcamp/">Techstars Patriot Boot</a> Camp where he met just a handful of veteran developers and realized the need for more technically saavy veterans. While learning to <a href="http://www.codecademy.com/">code</a>   using online resources is free, it's difficult to grasp it all without a classroom setting with mentors and peers. He applied to various code schools across the country and while he was accepted couldn't afford the tuition and raising a small family without the help of the New GI Bill. Realizing that he might not be the only one, he launched Operation Code.  
  </p>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
