<div class="container" align="center">
  <div class="starter-template">
    <div class="bs-docs-section" align="center">
     <h1 id="overview" class="page-header">Reserved for Anroid Page!</h1>
    </div>
  </div>
</div>
<hr>
