
<div id="page-wrapper">

<section id="banner">
  <div class="inner">
    <h2>Operation Code - Dev Shop</h2>
    <p>A web development consultancy<br/>
    Your experts for designing and developing<br>
    dynamic web applications</p>
  </div>
  <a href="#one" class="more scrolly">
  <svg class="arrows">
    <path class="a1" d="M0 0 L30 32 L60 0"></path>
    <path class="a2" d="M0 20 L30 52 L60 20"></path>
    <path class="a3" d="M0 40 L30 72 L60 40"></path>
  </svg>
  </a>
</section>

<section id="cta" >
    <div class="section_one">
      <h2><center>We provide prototyping, consulting, and development services<br />
      for meeting the needs of your users.</center></h2>
    <center><header>
      <h2>Who We Are</h2>
      <p>A distributed team of full-stack web developers building complex web applications for the world wide web.</p>
  </header></center><br>



<div id="profile-container">
  <figure>
    <div class="person1"></div>
    <figcaption>Ming Zhang</figcaption>
  </figure>

  <figure>
    <div class="person2"></div>
    <figcaption>Krystyna Ewing</figcaption>
  </figure>

  <figure>
    <div class="person3"></div>
    <figcaption>John Hampton</figcaption>
  </figure>
</div>

  <center><div class='axx'>
  <a href="mailto:david@operationcode.org">Contact Us</a>
  </div>
</section></center>

</div>
