<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">
      
      <h1>Back-End Web Development</h1>
      <ul>
        <li>
          <a href="https://bento.io/" data-original-href="https://bento.io/">Bento.io</a>
        </li>
      </ul>
      
      <h2>Ruby</h2>
      <ul>
        <li>
          <a href="http://github.com/edgecase/ruby_koans" data-original-href="http://github.com/edgecase/ruby_koans">Ruby Koans</a>
        </li>
        <li>
          <a href="https://www.railstutorial.org/book" data-original-href="https://www.railstutorial.org/book">Ruby on Rails Tutorial</a>
        </li>
        <li>
          <a href="http://learnrubythehardway.org/book" data-original-href="http://learnrubythehardway.org/book">Learn Ruby The Hard Way</a>
        </li>
        <li>
          <a href="http://tutorials.jumpstartlab.com/" data-original-href="http://tutorials.jumpstartlab.com/">Ruby/Rails tutorials</a>
        </li>
      </ul>
      
      <h2>Python</h2>
      <ul>
        <li>
          <a href="https://www.python.org/" data-original-href="https://www.python.org/">Python.org</a>
        </li>
        <li>
          <a href="https://learnpythonthehardway.org/book/" data-original-href="https://learnpythonthehardway.org/book/">Learn Python The Hard Way</a>
        </li>
        <li>
          <a href="https://realpython.com/" data-original-href="https://realpython.com/">Real Python</a> -- paid resource
        </li>
        <li>
          <a href="https://rmotr.com/advanced-python-programming" data-original-href="https://rmotr.com/advanced-python-programming">Advanced Python Programing</a> -- paid resource
        </li>
        <li>
          <a href="http://docs.python-guide.org/en/latest/" data-original-href="http://docs.python-guide.org/en/latest/">Hitchhiker's Guide to Python</a>
        </li>
        <li>
          <a href="https://www.jeffknupp.com/" data-original-href="https://www.jeffknupp.com/">Jeff Knupp's Python Blog</a>
        </li>
      </ul>
      
      <h2>JavaScript</h2>
      <ul>
        <li>
          <a href="http://nodeschool.io/" data-original-href="http://nodeschool.io/">Node School</a>
        </li>
        <li>
          <a href="http://node.university/courses" data-original-href="http://node.university/courses">Node.university</a>
        </li>
      </ul>
        
      <h2>Databases</h2>
      <ul>
        <li>
          <a href="https://university.mongodb.com/" data-original-href="https://university.mongodb.com/">MongoDB University</a>
        </li>
        <li>
          <a href="https://sqlbolt.com/" data-original-href="https://sqlbolt.com/">SQL Bolt</a>
        </li>
      </ul>
      
      <h2>R</h2>
      <ul>
        <li>
         <a href="http://core0.staticworld.net/assets/2015/02/20/r4beginners_v3.pdf" data-original-href="http://core0.staticworld.net/assets/2015/02/20/r4beginners_v3.pdf">Beginner's guide to R</a>
        </li>
      </ul>
      
      <h2>Query Languages</h2>
      <ul>
        <li>
         <a href="https://learngraphql.com/" data-original-href="https://learngraphql.com/">LearnGraphQL</a>
        </li>
      </ul>
      
    </div>

    <section class="helpmenu">
      <a href="/resources/">Resources Home</a>
      <a href="/resources/getting-started/">Getting Started</a>
      <hr>
      <a href="/resources/general-programming/">General Programming</a>
      <a href="/resources/cheatsheets/">Cheat Sheets</a>
      <a href="/resources/books/">Books</a>
      <a href="/resources/podcasts/">Podcasts</a>
      <a href="/resources/test-your-skills/">Test Your Skills</a>
      <hr>
      <a href="/resources/jobs/">Get a Coding Job</a>
      <a href="/resources/open-source/">Get into Open Source</a>
      <a href="/resources/infosec/">InfoSec Resources</a>
      <hr>
      <a href="/resources/frontend/">Front End Dev</a>
      <a href="/resources/backend/">Back End Dev</a>
      <a href="/resources/mobile/">Mobile Dev</a>
      <a href="/resources/microsoft/">Microsoft Technologies</a>
      <a href="/resources/project-management/">Project Management</a>
      <hr>
      <a href="/resources/veterans/">Veterans</a>
      <a href="/resources/minorities/">Minorities</a>
      <hr>
      <a href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
