<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Meet the Governing Board</h1>
        <p class="lead">We are pleased to present our 2015-2016 Board of Directors, and thank them for their work and dedication to Operation Code and achieving our mission.

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/TheINDIEHost">Josh Carter</a></h4>
          <p>A veteran of the US Navy, Josh Carter conducted counterdrug ops in the Caribbean and several deployments to the Persian Gulf. Currently, Mr. Carter is the Co-Founder & CEO of PLUNK, a marketing startup and has worked with companies such as Google, Yahoo!, Twilio, and Five9. </p></div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/thinker">Nick Frost</a></h4>
          <p>Nick Frost is former Navy, having served 5 years as a Seabee in the United States Naval Construction Forces as a construction mechanic. With an interest in entrepreneurship, he started a software company, StartupList, from his tent in Afghanistan. Mr. Frost is a co-founder of AngelHack, a Startup Weekend mentor, and also serves on the VictorySpark board of directors. Mr. Frost currently serves as Business Development Manager at Mattermark.</p></div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/laura">Laura Gómez</a></h4>
          <p>Laura Gómez is the Founder & CEO of Atipica, a startup with technologies designed to optimize Applicant Tracking Systems (ATS) with big data and machine learning. Prior to Atipica, Ms. Gómez founded Vyv, worked at Twitter, Jawbone, YouTube, Google Brasil and studied computer science at UC Berkeley. She also serves on the board of Digital NEST.</p></div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/aimee_knight">Aimee Knight</a></h4>
          <p>Aimee Knight is a figure skater turned software engineer, and a panelist on the JavaScript Jabber, and Angular Air podcasts. After teaching herself the basics and attending a six month coding bootcamp at the Nashville Software School (NSS), Ms. Knight now works at Message Systems in Baltimore Maryland building out email infrastructure in Node.js and Angular.js for companies like Twitter, Facebook and Pinterest.</p></div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/nanoxd">Fernando Paredes</a></h4>
          <p>Fernando Paredes is an iOS/Android developer at Shiftboard, an online scheduling startup, a serial hobbyist, homebrew-cask maintainer, Army veteran, and polyglot. Mr. Paredes serves on the core team.</p></div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://www.linkedin.com/in/nrunyon">Pete Runyon</a></h4>
          <p>A veteran of the US Marine Corps, Pete Runyon served as a Finance Officer. A graduate of NYU in economics, Mr. Runyon is currently at Ernst & Young and previously was an Investment Advisor at Oppenheimer & Co. Inc.</p></div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/thinkingserious">Elmer Thomas</a></h4>
          <p>Elmer Thomas is Hacker-in-Residence at SendGrid, an transactional email delivery and management service and a mentor for Techstars Patriot Boot Camp military, veterans and spouses. Mr. Thomas studied computer & electrical engineering at UC Riverside, and also serves as Vice President on the Council for the Advancement of Black Engineers.</p></div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/davidcmolina">David Molina</a></h4>
          <p>David Molina is the Founder and Executive Director of Operation Code, an open source project he started on August 21, 2014 when he wrote the first line of code to GitHub. A nonpartisan, nonprofit organization, Operation Code's mission is to help American military, veterans and their families learn to code to fill the nation's technical talent shortage. Mr. Molina is a former Army Captain, a One Month Rails and Thinkful alumn, and a 2004 graduate of Oregon State University. He currently resides in Portland, Oregon with his wife and three young daughters.</p></div>
        </div>
