<div class="container">
  <div class="row">
    <h3 id="download" class="page-header">Board of Directors</h3>
    <p class="lead">The board of directors enables Operation Code to continue to meet the evolving needs of our growing organization as we seek to fulfill our mission to get more transitioning military, veterans and military families coding and building software.</p>

    <h3>Executive Officers</h3>
    <div class='row'>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Mark Kerr (<%= link_to '@miamimark', 'http://twitter.com/miamimark' %>)</span>
              <h5>Chairman, Operation Code; Development Advisor to U.S. Southern Command</h5>
              <p>
                At the height of the Iraq &amp; Afghanistan war, Mark Kerr joined the Army Judge Advocate General's Corps (JAG)
                serving as Defense Counsel in Korea, Iraq, Kosovo &amp; Afghanistan. Previously, he was Associate at Hogan &amp; Hartson where
                he led legal work related to regulatory compliance, mergers &amp; acquisitions, and construction contracts involving oil/gas,
                wind/hydroelectric energy, and manufacturing. A graduate of Yale Law School, Mr. Kerr currently serves as Development Advisor to
                U.S. Southern Command Combatant Commander, General John H. Kelly.
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Pete Runyon</span>
            <h5>Secretary/Treasurer, Operation Code; Financial Management Associate, Ernst & Young</h5>
            <p>A veteran of the US Marine Corps, Pete Runyon served as a Finance Officer in Japan. A graduate of NYU in economics, Mr. Runyon is currently in San Francisco at <a href="http://www.ey.com/">Ernst & Young</a> and previously was an Investment Advisor at Oppenheimer & Co. Inc. Mr. Runyon serves on the Finance Committee.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h3>Board Directors</h3>

    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Aimee Knight (<a href="https://twitter.com/aimee_knight">@aimee_knight</a>)</span>
            <h5>Software Engineer, Kuali</h5>
            <p>Aimee Knight is a figure skater turned software engineer, proud wife of an Iraq and Afghanistan veteran, and a panelist on the
            <a href="https://itunes.apple.com/us/podcast/javascript-jabber/id496893300?mt=2">JavaScript Jabber podcast</a>. Mrs. Knight graduated from the <a href="http://nashvillesoftwareschool.com">Nashville Software School (NSS)</a> in 2014, and now works at <a href="https://www.kuali.co">Kuali.co</a> helping build open source software for higher education using React.js and Node.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">David Molina (<a href="https://twitter.com/davidcmolina">@davidcmolina</a>)</span>
            <h5>Founder/Executive Director, Operation Code</h5>
            <p>David Molina is the Founder/Executive Director of Operation Code, an open source project he started on August 21, 2014 when he wrote the first line of code to <a href="https://github.com/OperationCode/operationcode">GitHub</a>. Mr. Molina is a ex-Army Captain, and currently resides in Portland, Oregon with his wife and three young daughters. <a href="/founder">Read his story.</a></p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Elmer Thomas (<a href="https://twitter.com/thinkingserious">@thinkingserious</a>)</span>
            <h5>Developer Experience Engineer, SendGrid</h5>
            <p>Elmer Thomas is Developer Experience Engineer at Colorado-based, <a href="http://sendgrid.com">SendGrid</a>, an transactional email delivery and management service and a mentor for Techstars Patriot Boot Camp military, veterans and spouses. Mr. Thomas studied computer & electrical engineering at UC Riverside, and also serves as Vice President on the Council for the Advancement of Black Engineers. Mr. Thomas serves on the PR/Marketing and Programs Committee.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
