<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Meet the Operation Code Governing Board of Directors</h1>
        <p class="lead">The board of directors enables Operation Code to continue to meet the evolving needs of our growing organization as we seek to fulfill our mission to get more transitioning military, veterans and military families coding and building software.

        <h3>Executive Officers</h3>
          <div class="row">
            <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://www.linkedin.com/in/miamimark">Board Chair - Mark Kerr</a></h4>
            <p>At the height of the Iraq & Afghanistan war, Mark Kerr joined the Army Judge Advocate General's Corps (JAG) serving as Defense Counsel in Korea, Iraq, Kosovo & Afghanistan. Previously, he was Associate at Hogan & Hartson where he led legal work related to regulatory compliance, mergers & acquisitions, and construction contracts involving oil/gas, wind/hydroelectric energy, and manufacturing. A graduate of Yale Law School, Mr. Kerr currently serves as Development Advisor to U.S. Southern Command Combatant Commander, General John H. Kelly.</p></div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/laura">Board Vice Chair - Laura G贸mez</a></h4>
            <p>Laura G贸mez is the Founder & CEO of Palo Alto-based, <a href="https://www.atipica.co/">Atipica</a>, a startup with technologies designed to optimize Applicant Tracking Systems (ATS) with big data and machine learning. Prior to Atipica, Ms. G贸mez founded Vyv, worked at Twitter, Jawbone, YouTube, Google Brasil and studied computer science at UC Berkeley. She also serves on the nonprofit board of <a href="http://digitalnest.org/">Digital NEST</a>.</p>

            <p>Ms. G贸mez serves on the Fundraising & PR/Marketing Committee. </p></div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://www.linkedin.com/in/nrunyon">Board Secretary/Treasurer - Pete Runyon</a></h4>
            <p>A veteran of the US Marine Corps, Pete Runyon served as a Finance Officer in Japan. A graduate of NYU in economics, Mr. Runyon is currently in San Francisco at <a href="http://www.ey.com/">Ernst & Young</a> and previously was an Investment Advisor at Oppenheimer & Co. Inc.</p>

            <p>Mr. Runyon serves on the Finance Committee.</p></div>
          </div>
          <hr>

          <h3>Directors</h3>
          <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/TheINDIEHost">Board Director - Josh Carter</a></h4>
          <p>A veteran of the US Navy, Josh Carter conducted counterdrug ops in the Caribbean and several deployments to the Persian Gulf. Currently, Mr. Carter is the Co-Founder & CEO of Portland-based, <a href="http://www.plunkus.com/">Plunk</a>, a digital marketing startup and has worked with companies such as Pepsi, Disney, Taco Bell, and Pabst Blue Ribbon.</p></div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/thinker">Board Director - Nick Frost</a></h4>
          <p>Nick Frost is former Navy, having served 5 years as a Seabee in the United States Naval Construction Forces as a construction mechanic. With an interest in entrepreneurship, he started a software company, StartupList, from <a href="https://medium.com/life-learning/a-journey-from-my-tent-in-afghanistan-to-silicon-valley-94e17b214ac2">his tent in Afghanistan</a>. Mr. Frost is a co-founder of AngelHack, a Startup Weekend mentor, and also serves on the VictorySpark board of directors. Mr. Frost currently serves as Business Development Manager at San Francisco-based, <a href="https://mattermark.com/">Mattermark</a>.</p>

          </p>Mr. Frost serves on the PR/Marketing Committee.<p></div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/aimee_knight">Board Director - Aimee Knight</a></h4>
          <p>Aimee Knight is a figure skater turned software engineer, proud wife of an Iraq and Afghanistan veteran, and a panelist on the <a href=
            "https://itunes.apple.com/us/podcast/javascript-jabber/id496893300?m
            t=2">JavaScript Jabber podcast</a>. Mrs. Knight graduated from the <a href="http://nashvillesoftwareschool.com">Nashville Software School (NSS)</a> in 2014, and now works at <a href="https://www.kuali.co">Kuali.co</a> helping build open source software for higher education using React.js and Node.</p></div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/nanoxd">Board Director - Fernando Paredes</a></h4>
          <p>Fernando Paredes is an iOS/Android developer at Seattle-based, <a href="https://www.shiftboard.com/">Shiftboard</a>, an online scheduling startup, a serial hobbyist, homebrew-cask maintainer, Army veteran, and polyglot.</p>

          <p>Mr. Paredes serves on the <a href="https://github.com/operationcode">Operation Code core team</a>.</p></div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/thinkingserious">Board Director - Elmer Thomas</a></h4>
          <p>Elmer Thomas is Hacker-in-Residence at Colorado-based, <a href="http://sendgrid.com">SendGrid</a>, an transactional email delivery and management service and a mentor for Techstars Patriot Boot Camp military, veterans and spouses. Mr. Thomas studied computer & electrical engineering at UC Riverside, and also serves as Vice President on the Council for the Advancement of Black Engineers.</p>

          <p>Mr. Thomas serves on the PR/Marketing and Programs Committee.</p></div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://twitter.com/davidcmolina">Founder & Executive Director - David Molina</a></h4>
          <p>David Molina is the Founder and Executive Director of Operation Code, an open source project he started on August 21, 2014 when he wrote the first line of code to <a href="https://github.com/OperationCode/operationcode">GitHub</a>. An open source and coding nonprofit organization, Operation Code's mission is to help American military, veterans and their families learn to code to fill the nation's critical technical talent shortage. Mr. Molina is a former Army Captain, a One Month Rails and Thinkful alumn, and a 2004 graduate of Oregon State University where he earned his Officer Commission in Infantry. He currently resides in Portland, Oregon with his wife and three young daughters.</p>

          <p><a href="/founder">Read his story.</p></div>
        </div>
      </div>
    </div>
  </div>
