<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">
      <h1>Books</h1>
      <h2>General Programming</h2>
      <ul>
        <li>
          <a href="https://github.com/vhf/free-programming-books" data-original-href="https://github.com/vhf/free-programming-books">Free Programming Books</a>
        </li>
        <li>
          <a href="https://www.packtpub.com/packt/offers/free-learning" data-original-href="https://www.packtpub.com/packt/offers/free-learning">More Free Programming Books</a>
        </li>
        <li>
          <a href="http://www.freetechbooks.com/" data-original-href="http://www.freetechbooks.com/">Free Tech Books</a>
        </li>
        <li>
          <a href="http://mirror.cedia.org.ec/nongnu//pgubook/ProgrammingGroundUp-1-0-booksize.pdf" data-original-href="http://mirror.cedia.org.ec/nongnu//pgubook/ProgrammingGroundUp-1-0-booksize.pdf">Programming from the Ground Up</a>
        </li>
        <li>
          <a href="http://teachyourkidstocode.com/" data-original-href="http://teachyourkidstocode.com/">Teach Your Kids to Code</a>
        </li>
        <li>
          <a href="https://en.wikipedia.org/wiki/Edward_Yourdon#Publications" data-original-href="https://en.wikipedia.org/wiki/Edward_Yourdon#Publications">Ed Yourdan Books</a>
        </li>
        <li>
          <a href="https://www.safaribooksonline.com/our-library/#books" data-original-href="https://www.safaribooksonline.com/our-library/#books">Safari Books Online</a>
        </li>
        <li>
          <a href="http://broiler.astrometry.net/~kilian/The_Art_of_Computer_Programming%20-%20Vol%201.pdf" data-original-href="http://broiler.astrometry.net/~kilian/The_Art_of_Computer_Programming%20-%20Vol%201.pdf">The Art of Computer Programming - Vol 1</a>
        </li>
        <li>
          <a href="https://archive.org/details/mythicalmanmonth00fred" data-original-href="https://archive.org/details/mythicalmanmonth00fred">The Mythical Man Month</a>
        </li>
        <li>
          <a href="http://thinking-forth.sourceforge.net/" data-original-href="http://thinking-forth.sourceforge.net/">Thinking Forth</a>
        </li>
      </ul>
      <h2>*nix Programming</h2>
      <ul>
        <li>
          <a href="http://www.faqs.org/docs/artu/" data-original-href="http://www.faqs.org/docs/artu/">The Art of Unix Programming</a>
        </li>
        <li>
          <a href="http://www.catb.org/esr/writings/cathedral-bazaar/cathedral-bazaar/" data-original-href="http://www.catb.org/esr/writings/cathedral-bazaar/cathedral-bazaar/">The Cathedral and the Bazaar</a>
        </li>
        <li>
          <a href="http://www.tldp.org/LDP/Bash-Beginners-Guide/html/" data-original-href="http://www.tldp.org/LDP/Bash-Beginners-Guide/html/">Bash Beginner's Guide</a>
        </li>
        <li>
          <a href="https://hassanolity.files.wordpress.com/2013/11/the_c_programming_language_2.pdf" data-original-href="https://hassanolity.files.wordpress.com/2013/11/the_c_programming_language_2.pdf">The C Programming Language</a>
        </li>
      </ul>
      <h2>All things Computers</h2>
      <ul>
        <li>
          <a href="https://en.wikibooks.org/wiki/The_Computer_Revolution" data-original-href="https://en.wikibooks.org/wiki/The_Computer_Revolution">The Computer Revolution (Wikibook on all things computers)</a>
        </li>
        <li>
          <a href="http://feederio.com/book/33/computer-science-from-the-bottom-up" data-original-href="http://feederio.com/book/33/computer-science-from-the-bottom-up">Computer Science from the Bottom Up</a>
        </li>
      </ul>
      <h2>Startups</h2>
      <ul>
        <li>
          <a href="http://buff.ly/2b7sg2E" data-original-href="http://buff.ly/2b7sg2E">Zero to One</a>
        </li>
      </ul>
      <h2>Hacking</h2>
      <ul>
        <li>
          <a href="https://leaksource.files.wordpress.com/2014/08/hacking-the-art-of-exploitation.pdf" data-original-href="https://leaksource.files.wordpress.com/2014/08/hacking-the-art-of-exploitation.pdf">Hacking: The Art of Exploitation</a>
        </li>
      </ul>
      <h2>SysAdmin</h2>
      <ul>
        <li>
          <a href="https://debian-handbook.info/browse/stable/" data-original-href="https://debian-handbook.info/browse/stable/">Debian System Administration</a>
        </li>
      </ul>
      <h2>General eBooks Resources</h2>
      <ul>
        <li>
          <a href="http://www.gutenberg.org/" data-original-href="http://www.gutenberg.org/">Project Gutenberg</a>
        </li>
        <li>
          <a href="https://archive.org/" data-original-href="https://archive.org/">Internet Archive</a>
        </li>
      </ul>
      <h2>Raspberry Pi</h2>
      <ul>
        <li>
          <a href="https://www.raspberrypi.org/magpi-issues/Essentials_C_v1.pdf" data-original-href="https://www.raspberrypi.org/magpi-issues/Essentials_C_v1.pdf">Learn to Code C with Raspberry Pi</a>
        </li>
      </ul>
      <h2>JavaScript</h2>
      <ul>
        <li>
          <a href="http://eloquentjavascript.net" data-original-href="http://eloquentjavascript.net">Eloquent Javascript</a>
        </li>
        <li>
          <a href="http://pdf.th7.cn/down/files/1411/Programming%20JavaScript%20Applications.pdf" data-original-href="http://pdf.th7.cn/down/files/1411/Programming%20JavaScript%20Applications.pdf">Programming JavaScript Applications</a>
        </li>
        <li>
          <a href="https://angular-2-training-book.rangle.io" data-original-href="https://angular-2-training-book.rangle.io">Angular 2 book</a>
        </li>
        <li>
          <a href="https://works.bepress.com/groupsix649/1/" data-original-href="https://works.bepress.com/groupsix649/1/">A Smarter Way to Learn JavaScript</a>
        </li>
        <li>
          <a href="https://github.com/getify/You-Dont-Know-JS" data-original-href="https://github.com/getify/You-Dont-Know-JS">You Don't Know JS</a>
        </li>
      </ul>
      <h2>HTML & CSS</h2>
      <ul>
        <li>
          <a href="http://www.asmarterwaytolearn.com/index.html" data-original-href="http://www.asmarterwaytolearn.com/index.html">A Smarter Way to Learn HTML & CSS</a>
        </li>
      </ul>
      <h2>Python</h2>
      <ul>
        <li>
          <a href="https://medium.mybridge.co/19-free-ebooks-to-learn-programming-with-python-8f6f0ad4a7f8?gi=3cd835d59f6e#.ja176d9ih" data-original-href="https://medium.mybridge.co/19-free-ebooks-to-learn-programming-with-python-8f6f0ad4a7f8?gi=3cd835d59f6e#.ja176d9ih">Article -- 19 Free Python Books</a>
        </li>
      </ul>
      <h2>PHP</h2>
      <ul>
        <li>
          <a href="http://pdf.th7.cn/down/files/1502/Modern%20PHP.pdf" data-original-href="http://pdf.th7.cn/down/files/1502/Modern%20PHP.pdf">Modern PHP</a>
        </li>
      </ul>
    </div>

    <section class="helpmenu">
      <a href="/resources/">Resources Home</a>
      <a href="/resources/getting-started/">Getting Started</a>
      <hr>
      <a href="/resources/general-programming/">General Programming</a>
      <a href="/resources/cheatsheets/">Cheat Sheets</a>
      <a href="/resources/books/">Books</a>
      <a href="/resources/podcasts/">Podcasts</a>
      <a href="/resources/test-your-skills/">Test Your Skills</a>
      <hr>
      <a href="/resources/jobs/">Get a Coding Job</a>
      <a href="/resources/open-source/">Get into Open Source</a>
      <a href="/resources/infosec/">InfoSec Resources</a>
      <hr>
      <a href="/resources/frontend/">Front End Dev</a>
      <a href="/resources/backend/">Back End Dev</a>
      <a href="/resources/mobile/">Mobile Dev</a>
      <a href="/resources/microsoft/">Microsoft Technologies</a>
      <a href="/resources/project-management/">Project Management</a>
      <hr>
      <a href="/resources/veterans/">Veterans</a>
      <a href="/resources/minorities/">Minorities</a>
      <hr>
      <a href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
