<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">
      <h1>Cheatsheets</h1>
      <ul>
        <li>
          <a href="http://overapi.com" data-original-href="http://overapi.com">All the cheatsheets</a>
        </li>
        <li>
          <a href="https://github.com/rafalchmiel/bash-cheat-sheet" data-original-href="https://github.com/rafalchmiel/bash-cheat-sheet">Bash Cheat Sheet</a>
        </li>
        <li>
          <a href="http://www.sketchingwithcss.com/samplechapter/cheatsheet.html" data-original-href="http://www.sketchingwithcss.com/samplechapter/cheatsheet.html">CSS (flexbox) Cheat Sheet</a>
        </li>
        <li>
          <a href="http://caniuse.com/#" data-original-href="http://caniuse.com/#">Can I use ____?</a>
        </li>
        <li>
          <a href="https://oscarotero.com/jquery/" data-original-href="https://oscarotero.com/jquery/">JQuery Cheatsheet</a>
        </li>
      </ul>
    </div>

    <section class="helpmenu">
      <a href="/resources/">Resources Home</a>
      <a href="/resources/getting-started/">Getting Started</a>
      <hr>
      <a href="/resources/general-programming/">General Programming</a>
      <a href="/resources/cheatsheets/">Cheat Sheets</a>
      <a href="/resources/books/">Books</a>
      <a href="/resources/podcasts/">Podcasts</a>
      <a href="/resources/test-your-skills/">Test Your Skills</a>
      <hr>
      <a href="/resources/jobs/">Get a Coding Job</a>
      <a href="/resources/open-source/">Get into Open Source</a>
      <a href="/resources/infosec/">InfoSec Resources</a>
      <hr>
      <a href="/resources/frontend/">Front End Dev</a>
      <a href="/resources/backend/">Back End Dev</a>
      <a href="/resources/mobile/">Mobile Dev</a>
      <a href="/resources/microsoft/">Microsoft Technologies</a>
      <a href="/resources/project-management/">Project Management</a>
      <hr>
      <a href="/resources/veterans/">Veterans</a>
      <a href="/resources/minorities/">Minorities</a>
      <hr>
      <a href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
