<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Code schools</h1>
        <p class="lead">Code schools, also known as digital vocational academies and code bootcamps are designed to teach you to start coding on day-one. They are hands-on accelerated learning and training that is both practical and immediately applicable for software entry jobs. Each listed below range between 3 to 9 months in length, vary in tuition costs (free to $17k) and programming language. Desirable from the employer standpoint, they are founded by software developers who saw a need in the marketplace for more programmers. Below are just a few across the country curated by our founder, <a href="https://twitter.com/davidcmolina">@davidcmolina</a>.</p></br>
        <p class="lead">Currently, only one code school (Skill Distillery) at this time is licensed and accredited by the VA to accept the New GI Bill. We're working on expanding it to include more code schools and online tech education</a>. <a href="/action">Join the effort</a>.</p>
       </div>
    </div>
  </div>
<div class="panel panel-default">
  <div class="panel-heading">California</div>
    <div class="panel-body">
      <div class="col-md-6">
        <address>
          <a href="http://devbootcamp.com/">
          <strong>Dev Bootcamp SF</strong><br></a>
          633 Folsom Street (at Hawthorne)</br>
          6th Floor</br>
          San Francisco, CA 94107<br>
          <a href="http://devbootcamp.com/faq/">$500 Scholarships</a> available for Veterans<br>
        </address>
        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/1Wxzy1wYNYw" frameborder="0" allowfullscreen></iframe>
        </div>
        <hr>

        <address>
          <a href="http://www.galvanize.it/school/#main">
          <strong>gSchool SoMa</strong><br></a>
          Galvanize San Francisco - SoMa</br>
          543 Howard St.</br>
          San Francisco, CA 94015<br>
        </address>

        <hr>

        <address>
          <a href="http://www.hackreactor.com/">
          <strong>Hack Reactor</strong><br></a>
          944 Market Street</br>
          8th Floor</br>
          San Francisco, CA 94102<br>
        </address>

        <hr>

         <address>
          <a href="http://www.makersquare.com/">
          <strong>MakerSquare</strong><br></a>
          611 Mission St., 2nd Floor</br>
          San Francisco, CA 94105<br>
        </address>

        <hr>

         <address>
          <a href="http://sabio.la/">
          <strong>Sabio</strong><br></a>
          400 Corporate Pointe</br>
          Culver City, CA 90230<br>
        </address>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WHRUHsrXiYc" frameborder="0" allowfullscreen></iframe>
        </div>
        <hr>

        <address>
          <a href="http://tradecrafted.com/">
            <strong>Tradecraft</strong><br></a>
            San Francisco, CA 94105<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Colorado</div>
    <div class="panel-body">
      <div class="col-md-6">
        <address>
          <a href="http://www.galvanize.it/school/#main">
          <strong>gSchool Boulder</strong><br></a>
          1035 Pearl Street</br>
          Suite 206</br>
          Boulder, CO 80304<br>
        </address>

        <hr>

        <address>
          <a href="http://skilldistillery.com">
          <strong>Skill Distillery</strong><br></a>
          7400 E. Orchard Road</br>
          Suite 1450 N</br>
          Greenwood Village, CO 80111<br>
        </address>
        *Accepts <a href="http://www.benefits.va.gov/gibill/">New GI Bill</a>

        <hr>

        <address>
          <a href="http://turing.io/">
          <strong>Turing School of Software & Design</strong><br></a>
          1510 Blake Street</br>
          Denver, CO 80202<br>
        </address>

        <div class="video-container">
          <iframe src="//player.vimeo.com/video/116168681" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <hr>

    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Florida</div>
    <div class="panel-body">
      <div class="col-md-6">
        <address>
          <a href="http://theironyard.com/locations/atlanta/">
          <strong>The Iron Yard at Orlando</strong><br></a>
          101 S. Garland Ave.</br>
          Suite 102</br>
          Orlando, FL 32801</br>
        </address>

        <hr>

        <address>
          <a href="http://theironyard.com/locations/tampa-st-petersburg/">
          <strong>The Iron Yard at Tampa-St. Petersburg</strong><br></a>
          TBA</br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Georgia</div>
    <div class="panel-body">
      <div class="col-md-6">

        <address>
          <a href="http://theironyard.com/locations/atlanta/">
          <strong>The Iron Yard at Atlanta</strong><br></a>
          3423 Piedmont Road, NE</br>
          Atlanta, GA 30305<br>
        </address>
        
        <hr>

        <address>
          <a href="https://generalassemb.ly/education?where=atlanta">
          <strong>General Assembly at Atlanta</strong><br></a>
          675 Ponce de Leon Ave NE </br>
          Atlanta, GA 30308<br>
        </address>
        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/Q4mGfgJSvQw" frameborder="0" allowfullscreen></iframe>
        </div>
<hr>

        <address>
          <a href="http://theironyard.com/locations/atlanta/">
          <strong>The Iron Yard at Atlanta</strong><br></a>
          3423 Piedmont Road, NE</br>
          Atlanta, GA 30305<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Illinois</div>
    <div class="panel-body">
      <div class="col-md-6">
        <address>
          <a href="http://www.codeplatoon.org/">
          <strong>Code Platoon</strong><br></a>
          Downtown Chicago, IL 60654<br>
        </address>

        <hr>

        <address>
          <a href="http://devbootcamp.com/">
          <strong>Dev Bootcamp at Chicago</strong><br></a>
          351 West Hubbard St. (at Orleans)</br>
          Suite 701</br>
          Chicago, IL 60605<br>
        </address>

        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/1Wxzy1wYNYw" frameborder="0" allowfullscreen></iframe>
        </div>

        <hr>

        <address>
          <a href="http://www.starterleague.com/">
          <strong>The Starter League</strong><br></a>
          30 N Racine Ave.</br>
          Chicago, IL 60607<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">New York</div>
    <div class="panel-body">
      <div class="col-md-6">
        <address>
          <a href="http://devbootcamp.com/">
          <strong>Dev Bootcamp at New York City</strong><br></a>
          48 Wall St.</br>
          15th Floor</br>
          New York, NY 10005<br>
        </address>

        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/1Wxzy1wYNYw" frameborder="0" allowfullscreen></iframe>
        </div>

        <hr>

        <address>
          <a href="http://fullstackacademy.com/">
          <strong>Fullstack Academy</strong><br></a>
          5 Hanover Square</br>
          Floor 25</br>
          New York, NY 10004<br>
        </address>

        <hr>

        <address>
          <a href="http://flatironschool.com/">
          <strong>The Flatiron School</strong><br></a>
          11 Broadway</br>
          Suite 260</br>
          New York, NY 10004<br>
        </address>

        <div class="video-container">
          <iframe src="//player.vimeo.com/video/62294626" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <hr>

        <address>
          <a href="http://tradecrafted.com/">
            <strong>Tradecraft</strong><br></a>
            New York, NY 10004<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">North Carolina</div>
    <div class="panel-body">
      <div class="col-md-6">
        <address>
          <a href="http://theironyard.com/locations/raleigh-durham/">
          <strong>The Iron Yard at Raleigh-Durham</strong><br></a>
          334 Blackwell Street</br>
          Suite B017</br>
          Durham, NC 27701<br>
        </address>

      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Oregon</div>
    <div class="panel-body">
      <div class="col-md-6">
         <address>
          <a href="https://www.codefellows.org/blog/code-fellows-is-coming-to-portland-this-fall">
          <strong>Code Fellows Portland</strong><br></a>
          920 SW Third Ave., 2nd Floor</br>
          Portland, OR 97204</br>
        </address>

        <hr>

        <address>
          <a href="http://www.epicodus.com/">
          <strong>Epicodus</strong><br></a>
          208 SW 5th Ave</br>
          Portland, OR 97214</br>
          (Also see, <a href="http://www.learnhowtoprogram.com/lessons/learn-how-to-program">Learn how to program</a>.)
        </address>

        <div class="video-container">
          <iframe src="//player.vimeo.com/video/81838552" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <hr>

        <address>
          <a href="http://pdxcodeguild.com/">
          <strong>PDX Code Guild</strong><br></a>
          2626 SW Corbett Ave., Suite 100</br>
          Portland, OR 97201</br>
        </address>

        <hr>

       <address>
          <a href="http://www.portlandcodeschool.com/">
          <strong>Portland Code School</strong><br></a>
          1771 NW Pettygrove St.</br>
          Suite #140</br>
          Portland, OR 97209<br>
        </address>
        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/UCO11xMGO9g" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">South Carolina</div>
    <div class="panel-body">
      <div class="col-md-6">
         <address>
          <a href="http://theironyard.com/locations/greenville/">
          <strong>The Iron Yard at Charleston</strong><br></a>
          510 Mill Street</br>
          Mount Pleasant, SC 29464</br>
        </address>

        <hr>

         <address>
          <a href="http://theironyard.com/locations/greenville/">
          <strong>The Iron Yard at Greenville</strong><br></a>
          411 University Ridge</br>
          Suite 220</br>
          Greenville, SC 29601<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Texas</div>
    <div class="panel-body">
      <div class="col-md-6">
         <address>
          <a href="http://theironyard.com/locations/austin/">
          <strong>The Iron Yard at Austin</strong><br></a>
          TBA</br>
        </address>

        <hr>

        <address>
          <a href="http://theironyard.com/locations/houston/">
          <strong>The Iron Yard at Houston</strong><br></a>
          1121 Delano St.</br>
          Houston, TX 77003</br>
        </address>

        <hr>

        <address>
          <a href="http://www.makersquare.com/">
          <strong>MakerSquare</strong><br></a>
          716 Congress Ave., #100</br>
          Austin, TX 78701<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Washington</div>
    <div class="panel-body">
      <div class="col-md-6">
         <address>
          <a href="http://adadevelopersacademy.org/">
          <strong>Ada Developers Academy</strong><br></a>
          Downtown Seattle, WA</br>
        </address>
        *Women-only and tuition-free. One-year program.

        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/DaIZWE_pEio" frameborder="0" allowfullscreen></iframe>
        </div>

        <hr>

        <address>
          <a href="https://www.codefellows.org/">
          <strong>Code Fellows Seattle</strong><br></a>
          511 Boren Ave N.</br>
          Seattle, WA 98109</br>
        </address>

        <hr>

        <address>
          <a href="https://generalassemb.ly/education?where=seattle">
          <strong>General Assembly at Seattle</strong><br></a>
          WeWork Seattle</br>
          500 Yale Avenue N.<br>
          Seattle, WA 98109</br>
        </address>

        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/Q4mGfgJSvQw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
