<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">Code schools</h1>
        <p class="lead">Code schools, also known as digital vocational academies and code bootcamps are designed to teach you to start coding on day-one. They are hands-on accelerated learning and training that is both practical and immediately applicable for software entry jobs. Each school in the map below ranges between 3 to 9 months in length, vary in tuition costs (free to $17k) and programming language. Desirable from the employer standpoint, they are founded by software developers who saw a need in the marketplace for more programmers. Below are just a few across the country curated by our founder, <a href="https://twitter.com/davidcmolina">@davidcmolina</a>.</p></br>

        <p class="lead">Unfortunately, no code school at this time can accept the New GI Bill. We're working on expanding it to include code schools and online tech ed</a>. <a href="/action">Join the effort</a>.</p>

       </div>
    </div>
  </div>
</div>

<div class="panel panel-default" style="padding-bottom: 20px;">
  <div id="panel" style="padding: 10px 10px 10px 30%;">
      <input id="address" type="textbox" value="" placeholder="enter your location" class="search-location">
      <input type="button" value="Search" onclick="codeAddress()" class="btn btn-default">
    </div>
    <center>
    <div id="map-container">
      <div id="map"></div>
    </center>
  </div>
</div>
<%= javascript_include_tag "map" %>
