<div class="panel panel-default">
  <div class="panel-heading">California</div>
    <div class="panel-body">
      <div class="col-md-4">
        <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://devbootcamp.com/">
          <strong>Dev Bootcamp SF</strong><br></a>
          633 Folsom Street (at Hawthorne)</br> 
          6th Floor</br>
          San Francisco, CA 94107<br>
        </address>

        <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://www.galvanize.it/gschoolsanfrancisco">
          <strong>gSchool SoMa</strong><br></a>
          Galvanize San Francisco - SoMa</br> 
          543 Howard St.</br>
          San Francisco, CA 94015<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Colorado</div>
    <div class="panel-body">
      <div class="col-md-4">
        <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://www.galvanize.it/gschool-boulder">
          <strong>gSchool Boulder</strong><br></a>
          1035 Pearl Street, Suite 206</br>
          Boulder, Colorado 80304<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Illinois</div>
    <div class="panel-body">
      <div class="col-md-4">
        <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://devbootcamp.com/">
          <strong>Dev Bootcamp Chicago</strong><br></a>
          351 West Hubbard St. (at Orleans)</br> 
          Suite 701</br>
          Chicago, IL 60654<br>
        </address>
      </div>
    </div>
  </div>
</div>