<div class="panel panel-default">
  <div class="panel-heading">California</div>
    <div class="panel-body">
      <div class="col-md-4">
        <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://devbootcamp.com/">
          <strong>Dev Bootcamp SF</strong><br></a>
          633 Folsom Street (at Hawthorne)</br> 
          6th Floor</br>
          San Francisco, CA 94107<br>
        </address>

        <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://www.galvanize.it/gschoolsanfrancisco">
          <strong>gSchool SoMa</strong><br></a>
          Galvanize San Francisco - SoMa</br> 
          543 Howard St.</br>
          San Francisco, CA 94015<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Colorado</div>
    <div class="panel-body">
      <div class="col-md-4">
        <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://www.galvanize.it/gschool-boulder">
          <strong>gSchool Boulder</strong><br></a>
          1035 Pearl Street</br>
          Suite 206</br>
          Boulder, CO 80304<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Illinois</div>
    <div class="panel-body">
      <div class="col-md-4">
        <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://devbootcamp.com/">
          <strong>Dev Bootcamp Chicago</strong><br></a>
          351 West Hubbard St. (at Orleans)</br> 
          Suite 701</br>
          Chicago, IL 60654<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">New York</div>
    <div class="panel-body">
      <div class="col-md-4">
        <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://devbootcamp.com/">
          <strong>Dev Bootcamp New York City</strong><br></a>
          48 Wall St.</br> 
          15th Floor</br>
          New York, NY 10005<br>
        </address>

        <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://flatironschool.com/">
          <strong>The Flatiron School</strong><br></a>
          11 Broadway</br> 
          Suite 260</br>
          New York, NY 10004<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Oregon</div>
    <div class="panel-body">
      <div class="col-md-4">
         <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="https://www.codefellows.org/blog/code-fellows-is-coming-to-portland-this-fall">
          <strong>Code Fellows Portland</strong><br></a>
          TBA</br> 
          Portland, OR 97201<br>
        </address>

        <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://pdxcodeguild.com/">
          <strong>PDX Code Guild</strong><br></a>
          2626 SW Corbett Ave.</br> 
          Portland, OR 97201
        </address>

       <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://www.portlandcodeschool.com/">
          <strong>Portland Code School</strong><br></a>
          1771 NW Pettygrove St.</br> 
          Suite #140</br>
          Portland, OR 97209<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">South Carolina</div>
    <div class="panel-body">
      <div class="col-md-4">
         <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="http://theironyard.com/locations/greenville/">
          <strong>The Iron Yard at Greenville</strong><br></a>
          411 University Ridge</br> 
          Suite 220</br>
          Greenville, SC 29601<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Washington</div>
    <div class="panel-body">
      <div class="col-md-4">
         <address><span class="glyphicon glyphicon-map-marker"></span>
          <a href="https://www.codefellows.org/">
          <strong>Code Fellows Seattle</strong><br></a>
          511 Boren Ave N.</br> 
          Seattle, WA 98109<br>
        </address>
      </div>
    </div>
  </div>
</div>