<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <p class="lead">In-kind donations from our donors and partners allow Operation Code to focus on our mission. We are deeply grateful for those who have surprised us with their generosity. A special thanks to the following companies and people who have helped make Operation Code's work possible:</p>
      <p class="lead"><a href="https://www.airbnb.com/">Airbnb</a></br>
    Airbnb is the world's largest community-driven hospitality company. With unique listings in 190 countries, travelers can belong anywhere. Airbnb graciously hosted our veterans coming to SF for Signal.</p>
    <p class="lead"><a href="http://dnsimple.com/">DNSimple</a></br>
  The leader in domain registration and management that makes developers life a breeze. This site is graciously hosted here and Anthony and his time are superb when it comes to ensuring we're online 24/7.</p>
  <p class="lead"><a href="http://hackhands.com/">HackHands</a></br>
  HackHands is live 24/7 programming support. They also make <a href="https://hacksummit.org/">HackSummit</a> and <a href="https://hackpledge.org/">HackPledge</a>, and the co-founder, Forest Good and Geraldo Ramos, created our beautiful logo.</p>
  <p class="lead"><a href="http://ivanstorck.com/">Ivan Storck</a></br>
  Web developer, teacher, entrepreneur and co-founder of <a href="http://www.codefellows.org/">Code Fellows</a>. Ivan secured and donated this domain for Operation Code.</p>
  <p class="lead"><a href="https://about.me/nickfrost">Nick Frost</a></br>
  Navy veteran, entrepreneur and founder of <a href="http://startupli.st/">StartupLi.st</a>. Nick secured and donated the <a href="https://twitter.com/operation_code">@operation_code</a> Twitter handle.</p>
  <p class="lead"><a href="https://ruby.onales.com/">Ruby on Ales</a></br>
Where Rubyists converge on Bend, Oregon for two-day single track conference. We also get four scholarships annually to introduce veterans to Bend and to the Ruby programming language.</p>
<p class="lead"><a href="http://signal.twilio.com/">Signal</a></br>
Signal is a modern communications developer’s conference created by <a href="http://twilio.com">Twilio</a>. We get three scholarships to introduce veterans to SF and to the Twilio platform.</p>
<hr>
<h4>Interested in getting involved or your company involved? Get in touch with our Operation Code Founder & Executive Director, David Molina at: <a href="mailto:david@operationcode.org">david@operationcode.org</a>.</h4>
</div>
</div>
</div>
<!--   <h3 id="overview-doctype">What are code schools?</h3>
<p class="lead">Code schools are razer sharp specific programs that range from 3 mos to 7 mos with the focus of turning their students into entry-level developers. Code schools are founded by developers themselves.</p>
<h3 id="overview-mobile">What type of technology companies are we talking about?</h3>
<p class="lead">Technology companies that hire code school graduates vary, from small startups to venture-backed companies. Some graduates go onto work at small agencies, and some go onto launch their own tech companies.</p>
<h1 id="overview" class="page-header">Mission</h1>
<p class="lead">Our mission is to expand the New GI Bill to enable veterans to go to code school, learn to code in a classroom setting, and be job-ready upon graduation.</p>
<h3 id="overview-mobile">Love the mission. How can I help?</h3>
<p class="lead">If you are a veteran and support our mission, <a href="/action">take action</a> today. If you'd like to <a href="/donate">donate</a> to help David get this off the ground, please do so today. If you work for a technology company consider in-kind donations/tuition sponsorships so that Operation Code can reach more veterans. Something else? <a href="mailto:contact@operationcode.org">Email us</a>.</p> -->