<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">We'd love to hear from you.</h1>
        <p class="lead">Questions, comments or feedback? Get in touch.

	          <div class="row">
		            <div class="col-md-8"><h4 class="list-group-item-heading"><a href="mailto:david@operationcode.org">david@operationcode.org</a></h4>
		        		</div>
						</div>
					<hr>
					<p class="lead">Want to make a contribution to our website? Read our  docs first to get started.

					<div class="row">
						<div class="col-md-8"><h4 class="list-group-item-heading"><a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">Contributing to Operation Code</a></h4>
						</div>
					</div>
					<hr>
        </div>

      </div>
    </div>
  </div>
