<div class="container bs-docs-container">
  <div class="row">
    <div class="row">
      <p class="lead">In-kind donations from the startup and developer community allow Operation Code to focus on our mission. We are deeply grateful for these companies, entrepreneurs and developers who have our back.</p>

      <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h2><a href="https://www.airbnb.com/">Airbnb</a></h2>
          <p>Airbnb is the world's largest community-driven hospitality company. With unique listings in 190 countries, travelers can belong anywhere, Airbnb is our official lodging sponsor as we attend software conferences around the nation providing a safe place to rest and code from.</p>
          <p><a class="btn btn-default-default" href="https://www.airbnb.com/" role="button">About Airbnb &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h2><a href="http://dnsimple.com/">DNSimple</a></h2>
          <p>The world's leader in domain registration and management that makes developers lives a breeze, <a href="http://operationcode.org">operationcode.org</a> is graciously hosted here thanks to the founder, Anthony Eden, who didn't hesitate when we first got off the ground (and his personal tech support).</p>
          <p><a class="btn btn-default-default" href="http://dnsimple.com/" role="button">About DNSimple &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h2><a href="http://hackhands.com/">hack.hands()</a></h2>
          <p>hack.hands() is live 24/7 programming support. When we asked the co-founders, Forest Good and Geraldo Ramos, for some design help they went above and beyond and created the Operation Code logo so we can better brand ourselves.</p>
          <p><a class="btn btn-default-default" href="http://hackhands.com/" role="button">About HackHands &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h2><a href="https://hacksummit.org/">hack.summit()</a></h2>
          <p>hack.summit() is the world's largest virtual conference for developers. Operation Code received passes so that all our veterans could attend for free and learn from programming language creators, open source contributors, and thought leaders in software.</p>
          <p><a class="btn btn-default-default" href="https://hacksummit.org/" role="button">About hack.summit() &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h2><a href="https://twitter.com/ivanoats">Ivan Storck</a></h2>
          <p>Web developer, teacher, entrepreneur and co-founder of <a href="http://www.codefellows.org/">Code Fellows</a>, Ivan secured and donated <a href="http://operationcode.org">operationcode.org</a> and other domains for Operation Code and always providing his expertise to the leadership team.</p>
          <p><a class="btn btn-default-default" href="https://twitter.com/ivanoats" role="button">About Ivan &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h2><a href="https://twitter.com/thinker">Nick Frost</a></h2>
          <p>Navy veteran, entrepreneur, startup advisor and founder of <a href="http://startupli.st/">StartupLi.st</a>, Nick secured and donated the <a href="https://twitter.com/operation_code">@operation_code</a> Twitter handle and volunteers his time and expertise on the Operation Code <a href="/board">governing board of directors</a>.</p>
          <p><a class="btn btn-default-default" href="https://twitter.com/thinker" role="button">About Nick &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h2><a href="https://ruby.onales.com/">Ruby on Ales</a></h2>
          <p>An annual two-day single track rubyist conference in the mountains of central Oregon, Ruby on Ales organizers provide scholarships to introduce Operation Code veterans to the Ruby programming language, network with their peers, and get to know Bend.</p>
          <p><a class="btn btn-default-default" href="https://ruby.onales.com/" role="button">About Ruby on Ales &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h2><a href="http://signal.twilio.com/">Signal</a></h2>
          <p>The developer conference for communications created by <a href="http://twilio.com">Twilio</a>, Signal provide conference scholarships to introduce Operation Code veterans to the Twilio platform, network with their peers, and get to know San Francisco for two intensive days.</p>
          <p><a class="btn btn-default-default" href="http://signal.twilio.com/" role="button">About Signal &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
          <h2><a href="mailto:david@operationcode.org">You</a></h2>
          <p>Your support ensures our vets can fly to/from sofware conferences, pay for software conference registrations, cover code school tuition/room/board, buy MacBook Airs, and ensure vets don't get left behind in the new skills and knowledge economy.</p>
          <p><a class="btn btn-default-default" href="mailto:david@operationcode.org" role="button">Get in touch &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      </div>
    </div>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="row">
      <p class="lead">Since becoming an independent nonprofit on June 18, 2015, Operation Code is deeply grateful for the generosity of these individuals to support our Coding Scholarship Fund. These Coding Scholarships allow Operation Code to make an immediate impact to military, veterans and military families to go to code school, learn to code, and change their lives forever.</p>

        <p align="center">David E. Weekly (<a href="https://twitter.com/dweekly">@dweekly</a>), Fernando Paredes (<a href="https://twitter.com/nanoxd">@nanoxd</a>), Michael Alexander (<a href="https://twitter.com/cenderin">@cenderin</a>), and David Molina (<a href="https://twitter.com/davidcmolina">@davidcmolina</a>).</p>

          <p align="center"><a class="btn btn-default-default" href="/donations/new" role="button">Donate now &raquo;</a></p>
</div>
</div>
</div>
<!--   <h3 id="overview-doctype">What are code schools?</h3>
<p class="lead">Code schools are razer sharp specific programs that range from 3 mos to 7 mos with the focus of turning their students into entry-level developers. Code schools are founded by developers themselves.</p>
<h3 id="overview-mobile">What type of technology companies are we talking about?</h3>
<p class="lead">Technology companies that hire code school graduates vary, from small startups to venture-backed companies. Some graduates go onto work at small agencies, and some go onto launch their own tech companies.</p>
<h1 id="overview" class="page-header">Mission</h1>
<p class="lead">Our mission is to expand the New GI Bill to enable veterans to go to code school, learn to code in a classroom setting, and be job-ready upon graduation.</p>
<h3 id="overview-mobile">Love the mission. How can I help?</h3>
<p class="lead">If you are a veteran and support our mission, <a href="/action">take action</a> today. If you'd like to <a href="/donate">donate</a> to help David get this off the ground, please do so today. If you work for a technology company consider in-kind donations/tuition sponsorships so that Operation Code can reach more veterans. Something else? <a href="mailto:contact@operationcode.org">Email us</a>.</p> -->
