
<div id="page-wrapper">

  <section id="banner">
    <div class="inner">
      <h2>Deploy</h2>
      <p>The web development consultancy arm of Operation Code<br/>
      Your handpicked web experts for designing, developing and deploying<br>
      dynamic web applications</p>
    </div>
    <a href="#one" class="more scrolly">
      <svg class="arrows">
        <path class="a1" d="M0 0 L30 32 L60 0"></path>
        <path class="a2" d="M0 20 L30 52 L60 20"></path>
        <path class="a3" d="M0 40 L30 72 L60 40"></path>
      </svg>
    </a>
  </section>

  <section id="cta">
    <div class="section_one">
      <h4>
        <center>At Deploy, we're passionate about building products in the web that change the world. Our developers provide prototyping, consulting, and development services.</center>
      </h4>
      <center>
        <header>
          <h4>Who We Are</h4>
          <p>We are military veterans passionate about continuing to serve through quality web craftsmanship. As a distributed team of full-stack web developers building complex web applications for the world wide web we leverage the internet, open source software and modern tools to deploy your web application while driving profits back to build organizational capacity.</p>
        </header>
      </center>
      <div class="container">
        <div class="row">
          <div class="person-wrapper col s12 m12 l4">
            <div class="person1"></div>
            <p class="person-wrapper--name">Ming Zhang</p>
            <div class="person-wrapper-alum">
              Alum of <a href="http://flatironschool.com/">The Flatiron School</a>
            </div>
          </div>

          <div class="person-wrapper col s12 m12 l4">
            <div class="person2"></div>
            <p class="person-wrapper--name">Krystyna Ewing</p>
            <div class="person-wrapper-alum">Alum of <a href="https://www.zincma.de/"> ZincMade</a></div>
          </div>

          <div class="person-wrapper col s12 m12 l4">
            <div class="person3"></div>
            <p class="person-wrapper--name">John Hampton</p>
            <div class="person-wrapper-alum">Alum of <a href="http://theironyard.com/"> The Iron Yard</a></div>
          </div>
        </row>
      </div>
    </div>
    <center>
      <p class="center">
        <a class="btn btn-default white black-text" href="mailto:staff@operationcode.org" role="button">Get in touch</a>
      </p>
    </center>
  </div>

</section>
