    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1>Support David Molina's efforts on Operation Code</h1>
        <p></p>
      </div>
    </div>

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-9" role="main">
          <div class="bs-docs-section">
  <h1 id="overview" class="page-header"></h1>

  <p class="lead">Through support like this, I'm "employed" by you to facilitate, coordinate and move the needle forward in solidifying Operation Code as a 501c(3), applying for grants, and partnering with tech companies in support of Veterans utilizing their New GI Bill to cover code school costs.</p>

  <p class="lead">Micro-funding and one-time donations will support the unpaid work I do. It will make a positive impact in my life, and, I trust, in the lives of veterans and tech community.</p>

  <p class="lead">You can find out more about David's work at <a href="/about"> http://opcod3.us/about</a>.</p>

<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_rMoYTRxFjrEGE4pwss3zIvPh"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png">
  </script>
</form>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

</br></br></br></br></br></br>