<div class="bs-docs-header" id="content">
  <div class="container">
    <h1>Support David Molina's efforts on Operation Code</h1>
    <p></p>
  </div>
</div>

<!--     <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-9" role="main">
          <div class="bs-docs-section">

  <div class="row">
  <div class="col-md-8"><p class="lead">Through support like this, I'm "employed" by you to facilitate, coordinate and move the needle forward in working on Operation Code on a more part-time/full-time basis. Because we're crowdfunding this, I respond to you.</p>

  <p class="lead">Micro-funding and one-time donations will support the unpaid work I do. It will make a positive impact in my life, and, I trust, in the lives of veterans and tech community.</p></div> -->

  <div id="mc7ylpwsndc6h"><a href="https://app.moonclerk.com/pay/7ylpwsndc6h">Operation Code</a></div><script type="text/javascript">var mc7ylpwsndc6h;(function(d,t) {var s=d.createElement(t),opts={"checkoutToken":"7ylpwsndc6h","width":"100%"};s.src='https://d2l7e0y6ygya2s.cloudfront.net/assets/embed.js';s.onload=s.onreadystatechange = function() {var rs=this.readyState;if(rs) if(rs!='complete') if(rs!='loaded') return;try {mc7ylpwsndc6h=new MoonclerkEmbed(opts);mc7ylpwsndc6h.display();} catch(e){}};var scr=d.getElementsByTagName(t)[0];scr.parentNode.insertBefore(s,scr);})(document,'script');</script>
</div>

