<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">About Operation Code Employer Services</h1>
        <p class="lead">At Operation Code, we work with companies ranging from 2-person startups to companies worth billions to provide software development opportunities for our nation's finest and their families.</p>

        <div class="video-container">
          <iframe src="https://player.vimeo.com/video/125186844" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <blockquote>Portland Code School Director Cris Kelly on two major things employers look for that veterans have.</blockquote>
        <hr>

        <div class="video-container">
          <iframe src="https://player.vimeo.com/video/125189104" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <blockquote>Techstars mentor, Kristin Smith, on why veterans make good software developers.</blockquote>
        <hr>

        <a class="btn btn-lg btn-action" href="mailto:david@operationcode.org" role="button">Inquire on our services &raquo;</a>
        <hr>

        <h2>Career and résumé support for our nation's finest and their families.</h2>
        <p class="lead">At Operation Code, we provide 1-on-1 and peer-to-peer support to ensure your résumé looks its best before we submit it to employer partners. What's more, our software mentors range in experience from code school graduates to self-taught programmers and will provide expert advice to get you squared away.</p>

        <a class="btn btn-lg btn-action" href="/join" role="button">Join Operation Code now &raquo;</a>
        <!-- <a class="btn btn-lg btn-action" href="mailto:david@operationcode.org" role="button">Partner with us &raquo;</a>
        <p class="lead">We are proud to partner with Ruby on Ales and GitHub, respectively, to introduce more transitioning military, citizen-soldiers, veterans and their families to software development through conferences. To apply, send our Scholarship Chair, Nell Shamrell-Harrington, a direct message on Slack with 2-3 sentences on your interest. Upcoming 2016 software conferences:</p>
        <ul>
          <li><p class="lead"><a href="http://codeconf.com">CodeConf</a>, Los Angeles, June 27-29, 2016</li></p>
          <li><p class="lead"><a href="http://git-merge.com">GitMerge</a>, New York City, April 5, 2016</li></p>
          <li><p class="lead"><a href="http://ruby.onales.com">Ruby on Ales</a>, March 31 & April 1, 2016</li></p>
        </ul>
        <hr> -->

        <!-- <h2>Career related from our blog</h2> -->


        <!-- <div class="col-md-4"> -->
          <!-- <span class="glyphicon glyphicon-time" aria-hidden="true"></span> -->
          <!-- <a href="https://operationcode.org/blog/2016-05-10-codeconf-la.html">
            <h2>CodeConf LA</h2>
            <p>By David Molina</p>
          </a>
          <p>
            At Operation Code, we go beyond just saying, "support our veterans, troops, and their families," we execute on it by providing the operating environment to become software developers. One company that is always shipping and enables Operation Code to fulfill our mission of getting more military veterans and their families coding is GitHub...<a href="https://operationcode.org/blog/2016-05-10-codeconf-la.html">[Read more]</a>
          </p>
        </div>

        <div class="col-md-4"> -->
          <!-- <span class="glyphicon glyphicon-time" aria-hidden="true"></span> -->
          <!-- <a href="https://operationcode.org/blog/2016/04/26/ruby-on-ales-2016.html">
            <h2>Ruby on Ales 2016</h2>
            <p>By Jesse James</p>
          </a>
          <p>
            For some veterans learning to code, the idea of going to a technical conference is a daunting task. You don’t know the jargon that well, you don’t know all the big names or faces, and you often times don’t know anyone else at the event. It’s a veritable mix of excitement to start getting into the community and the fear that you won’t or don’t belong. That’s exactly how I felt...<a href="https://operationcode.org/blog/2016/04/26/ruby-on-ales-2016.html">[Read more]</a>
          </p>
        </div>

        <div class="col-md-4"> -->
          <!-- <span class="glyphicon glyphicon-time" aria-hidden="true"></span> -->
          <!-- <a href="https://operationcode.org/blog/2016/03/02/conference-scholarships.html">
            <h2>Conference Scholarships</h2>
            <p>By Nell Shamrell-Harrington</p>
          </a>
          <p>
            One of the best ways to learn, network, and find job opportunities in the IT industry is through attending conferences.  My very first tech conference was Cascadia Ruby 2011 where I was amazed at the variety of talks (many covering technologies and techniques I was immediately able to apply in my work), the interesting conversations in the "hallway track", and the joy of talking with others working with the same technologies I was learning...<a href="https://operationcode.org/blog/2016/03/02/conference-scholarships.html">[Read more]</a>
          </p>
        </div>

    </div>
  </div>
</div> -->
