<div class="container">
  <div class="row">
    <div class="col m12" role="main">
      <h3 id="download" class="page-header">Employer Services</h3>
      <p class="lead">At Operation Code, we work with companies ranging from 2-person startups to companies worth billions to provide software development opportunities for our nation's finest and their families.</p>

      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/125186844" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <blockquote>Portland Code School Director Cris Kelly on two major things employers look for that veterans have.</blockquote>
      <hr>

      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/125189104" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <blockquote>Techstars mentor, Kristin Smith, on why veterans make good software developers.</blockquote>
      <hr>

      <a class="btn btn-large btn-action" href="mailto:david@operationcode.org" role="button">Inquire on our services &raquo;</a>
      <hr>

      <h4>Career and résumé support for our nation's finest and their families.</h4>
      <p class="lead">At Operation Code, we provide 1-on-1 and peer-to-peer support to ensure your résumé looks its best before we submit it to employer partners. What's more, our software mentors range in experience from code school graduates to self-taught programmers and will provide expert advice to get you squared away.</p>

      <%= link_to 'Join Operation Code now &raquo;'.html_safe, new_veteran_registration_path, class: 'btn btn-large' %>
    </div>
  </div>
</div>
