<div class="container">
  <div class="row">
    <div class="col m12" role="main">
        <h3 id="download" class="page-header">Employer Services</h3>
        <h5 class="header center">Our mission is to fill the nation’s technical talent shortage with our nation’s finest. Through Operation Code's Employer Services, we provide an end-to-end veteran talent pipeline to close this gap.</h4>

        <p>We go beyond providing career and resume support for our nation's finest and their families, our Military Veterans Technical Talent Pipeline helps employers fill their software developer vacancies with American military software developers.</p>

        <hr>

        <h3 align="center" id="download">Military Veterans Technical<br>Talent Pipeline</h3>
        <h4>About</h4>
          <h5 class="header center">Through the Military Veterans Technical Talent Pipeline, we make hiring and onboarding these military veteran software developers a simple, efficient, and painless process.</h4>
        <p class='lead'>
          Our American military veterans proudly served our country, and now are ready for their next assignment. Our U.S. military veterans bring a unique and valuable set of soft skills to the civilian workforce, especially to technology teams. They can provide a significant talent advantage to innovative companies seeking to excel while diversifying their workforce.
        </p>

        <p>
          Many of our nation’s finest have experienced situations and challenges that civilians cannot even fathom—now, as professional software engineers they can help your organization get on the same sheet, prioritize, build exceptional software solutions and execute on your growth plans.
        </p>

        <p>
          Operation Code created the Military Veterans Technical Talent Pipeline for the express purpose of expediting the military veterans technical talent pipeline to American companies.
        </p>
        <h4>Process</h4>
        <p>
          In less than 45-days from contract execution, resumes will be screened, veteran technical talent will be interviewed and your team will have one of our very own deployed to your site for a 3 to 6-mos paid Fellowship.
        </p>

          <p><a href="mailto:david@operationcode.org" class="btn btn-large">Contact Our Recruiting Manager >></a></p>
      </div>
    </div>
  </div>




      <!-- <a class="btn btn-large btn-action" href="mailto:david@operationcode.org" role="button">Inquire on our services &raquo;</a>
      <hr>

      <h4>Career and résumé support for our nation's finest and their families.</h4>
      <p class="lead">At Operation Code, we provide 1-on-1 and peer-to-peer support to ensure your résumé looks its best before we submit it to employer partners. What's more, our software mentors range in experience from code school graduates to self-taught programmers and will provide expert advice to get you squared away.</p>

      <%= link_to 'Join Operation Code now &raquo;'.html_safe, new_veteran_registration_path, class: 'btn btn-large' %>
    </div>
  </div>
</div> -->

<!-- <div class="video-container">
  <iframe src="https://player.vimeo.com/video/124866675" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div> -->
<!--
<div class="video-container">
  <iframe src="https://player.vimeo.com/video/125186844" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<blockquote>Portland Code School Director Cris Kelly on two major things employers look for that veterans have.</blockquote>
<hr>

<div class="video-container">
  <iframe src="https://player.vimeo.com/video/125189104" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<blockquote>Techstars mentor, Kristin Smith, on why veterans make good software developers.</blockquote>
<hr> -->
