<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">Employer Services</h1>
        <p class="lead">Operation Code veterans work at small companies as small as a 2-person startup and as big as companies valued at over $1b. Through introductions we make it easy for companies to connect with our veteran coders. There's no cost or placement fee to hire from Operation Code. Get in touch with our Founder & Executive Director to get started: <a href="mailto:david@operationcode.org">david@operationcode.org</a></p>
<hr>
