<div class="bs-docs-section" align="center">
      <h1 id="overview" class="page-header">Events</h1>

      <p class="lead">March 18th, 2015, Portland, Oregon - <a href="http://www.eventbrite.com/e/code-oregon-for-veterans-tickets-15835529495">Soldiers-to-Software Meetup</a></br>

      <p class="lead" align="center">March 7th, 2015, Bend, Oregon - <a href="https://www.eventbrite.com/e/bend-operation-code-workshop-for-veterans-and-military-families-tickets-15919903861">Workshop for Veterans and Military Families</a></br>

      <p class="lead">March 6-7th, 2015, Bend, Oregon - <a href="https://ruby.onales.com/">Ruby on Ales</a></br>

      <h4>Want to invite Operation Code to participate in your event? <a href="mailto:david.c.molina@gmail.com">Email us</a>.</h4>
      </div>
    </div>
  </div>
</div>

<hr>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
