<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Frequently Asked Questions</h1>
        <p class="lead">Below is a list of common questions about Operation Code. If you're a veteran interested in software development, ask your question and chat with us in the <a href="https://operation-code.slack.com/messages/general/">#general tab</a> in Slack. If you're a software developer interested in contributing/becoming a software mentor, <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">read our docs</a>.</p>
<!--
        <div class="list-group">
      <a href="#" class="list-group-item active"> -->
        <h2 class="list-group-item-heading">General FAQ</h2>
        <h3>When was Operation Code founded?</h3>
          <h4>Operation Code was founded on <a href="https://github.com/OperationCode/operationcode/tree/master/bin">August 21, 2014</a>.</h4>

        <h3>How was Operation Code founded?</h4>
          <h4>Operation Code was founded in Portland, Oregon by ex-Army Captain David Molina who took action and built operationcode.org to petition Congress to expand the New GI Bill to include code schools. <a href="/history">Learn our full history</a>.</h4>

        <h3>Is Operation Code a 501(c)(3) organization?</h3>
          <h4>Yes. Operation Code was granted tax-exempt status by the Internal Revenue Services functioning as a charity under 501(c)(3) of the Internal Revenue Code, <a href="https://twitter.com/operation_code/status/728018497343660032">effective 4 May 2016</a>, with retroactive status to 15 June 2015. Donations to the organization are deductible as charitable contributions.</h4>

        <h3>Where is Operation Code based? Do you have a location near me?</h4>
          <h4>Operation Code, much like software, is <a href="https://github.com/OperationCode/operationcode/graphs/contributors">built from anywhere</a> with an internet connection and is not based in one location. While we're headquartered in Portland, the entire organization is decentralized, including the board of directors, allowing us to more effectively serve transitioning military and veterans wherever they may be located.</h4>

        <h3>Who does Operation Code serve?</h3>
          <h4>Operation Code serves our nation's finest who've worn the uniform and their families who've served our country, and interested in coding and software development. We offer these services <a href="/join">online</a> and make all announcements in the <a href="https://operation-code.slack.com/messages/general/">#general tab</a> in Slack.</h4>

        <h3>What do I need to start learning software development and how much is this going to cost?</h3>
          <h4>First off, you will need access to a solid computer, a good browser (ex. Chrome), and a strong internet connection. It costs nothing to start learning to code and receive software mentorship through Operation Code, you just need a positive attitude, persistence and grit, and a thirst for new knowledge. We have over a dozen channels, from Ruby to JavaScript, iOS to Android, and from Free Code Camp to edX study groups.</h4>

        <h3>According to the U.S. Department of Veterans Affairs website, there are only two code schools in the country that accept the New GI Bill. Which do you recommend?</h3>
          <h4>Choosing where to leverage your New GI Bill to start learning to code on day-one shouldn't be taken lightly especially because you've sacrificed so much for it. We maintain a list of <a href="/codeschools">code schools</a> you can research more and which military veterans in our community have attended. But more importantly, <a href="https://operation-code.slack.com/messages/general/">ask any of us in the community</a> and you'll get a diverse set of answers.</h4>

        <h3>Why doesn't Operation Code offer services to non-military/veterans?</h3>
          <h4>As President Lincoln once said, “With malice toward none, with charity for all, with firmness in the right as God gives us to see the right, let us strive on to finish the work we are in, to bind up the nation's wounds, to care for him who shall have borne the battle and for his widow and his orphan...”</h4>

          <h4>At Operation Code, we believes it is our moral obligation to ensure the men and women who are serving/served in our U.S. military should not be left behind in the new skills and knowledge economy. These numbers speak for themselves:
            <ul>
              <li>high veterans unemployment/underemployment,</li>
              <li>high veterans suicide rate,</li>
              <li>high veterans homeless rate,</li>
            </ul>
          We aim to turn these numbers around.
          </h4>

        <h3>What are the hours of operation for Operation Code?</h3>
          <h4>Operation Code is different in that we don't have regular business office hours. The team can usually be found in our <a href="operation-code.slack.com">Slack channel</a>, or <a href="https://github.com/OperationCode/operationcode">GitHub</a> fixing bugs and implementing new features.</h4>

        <h3>I would like to receive Operation Code updates and news. How can I receive these communications?</h3>
          <h4>Anyone can sign up to join our email list through our <a href="http://operationcode.us10.list-manage2.com/subscribe?u=0ab8e2b2d6c6608926c4f17d6&id=809aaab2df">online subscription form</a>. The Operation Code SITREPs are sent periodically throughout the year. We primarily use <a href="https://twitter.com/operation_code">Twitter</a> and <a href="http://facebook.com/operationcode.org">Facebook</a> to put out updates and news since it's faster to put out info and respond. Given our chosen craft, we don't do regular mail.</h4>
      </div>
    </div>
  </div>
        <!-- <h3>What are the goals of Operation Code?</h3>
          <h4>Operation Code's goals are to mentor service-members, veterans and their families in software development, award coding scholarships, encourage mentorship and open-source software collaboration, and advocate to expand New GI Bill that works in the 21st century knowledge economy and doesn't leave our veterans behind in the digital age.</h4> -->

      <!-- <h3>I'm serving/served in our nation's military. How can I join?</h3>
          <h4>A: <a href="/action">Sign up</a> online. It costs nothing to start learning to code and receive software mentorship, be eligible for coding scholarships, and employer services. Just need a positive attitude, persistence and grit, and a thirst for new knowledge.</h3>
        <h3>Q: I'm a software developer and would love to help fellow veterans learn to code. How can I contribute and be a software mentor?</h3>
          <h4>A: Our code base is all open source and available on <a href="https://github.com/OperationCode/operationcode">GitHub</a> where we maintain an active list of open issues. All contributions and pull requests are welcome, but we encourage mentorship of our veterans so they can get practical skill-sets, get hired and make valuable contributions to society. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director if you'd like to mentor.</h3>
        <h3>Q: How can I help service-members, veterans and their families?</h3>
          <h4>A: There are several ways to get involved and make a lasting impact! Here are a few ideas:</h3>
            <ul>
              <li>Volunteer: We rely on volunteers to help us execute on our programs, research and write grants, and coordinate fundraising campaigns. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to enlist as a volunteer.</li>
              <li>Mentor: Mentoring and supporting the coding education of service-members, veterans and their families makes an immediate impact today. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to enroll in our Software Mentor Protégé Program and start providing software mentorship to America's patriots.</li>
              <li>Awareness: The glow of one warm thought is worth more than money. Help us get the word out to more veterans leveraging your social media network. Heart, like, favorite, retweet our tweets and use the hashtag #operationcode.</li>
              <li>Hire: To care for him and her who shall have borne the battle and for his/her family. Hiring a service-member, veteran and their families that can code is not only a smart investment, but the best way to honor our veterans and say thank you for your service. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to get started as an Employer Partner.</li>
              <li>Donate: Making a <a href="/donate">financial gift</a> at a one-time, monthly or annual basis demonstrates your leadership and commitment to our community. Host a fundraiser event with your friends to benefit veteran coders.</li>
              <li>Conference Sponsorship: To expose our veterans to the latest software and best practices, network and meet industry peers we rely on sponsorship tickets to attend. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to get your open-source software conference on the schedule, and register our veterans.</li>
              <li>Transportation Sponsorship: Ensuring our veterans can get to/from conferences, we rely on air/ground transportation. See bullet above. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to sponsor transportation.</li>
              <li>Advocacy: Call or write your <a href="http://www.house.gov/representatives/find/">congressional</a> representative or senators and urge them to update the New GI Bill to accept code schools to fill our nation's technical talent shortage with American patriots who can code. Use the hashtag #operationcode.</li>
              <li>Swag: Show your support for Operation Code by placing one of <a href="https://twitter.com/wimsy113/status/618149600419975169">our stickers</a> on your laptop.</li>
            </ul></li>
      </a> -->
      <!-- Name of the organization?
      Operation

      Description
      Veteran-founded, and led Operation Code helps transitioning military, citizen-soldiers, veterans & military families learn to code to fill the nation's technical talent shortage.

      Founding date: Aug 21, 2014
      Industry: Information/Communication Tech
      Nonprofit

      Impact
    Please answer the following questions:
    Describe the problem your business is looking to solve and explain how you are solving it?
    Who is your target market?
    What is your growth plan over the next 18 months? -->
      <!-- (1) The country faces an unprecedented technical talent shortage all while veterans face the highest unemployment in our country. Our solution is to bridge this disparity by providing tailored mentorship, scholarship and networking support to transitioning military, veterans and their families to fill the nation's technical talent shortage and build software to change the world.
    (2) Our target market is America's finest and their families who have served.
    (3) Our growth plan over the next 18 mos is to raise $7.5m, fix the New GI Bill problem with code schools, staff appropriately, and scale globally with a physical presence.

    Please answer the following questions:
    Share 1-2 WOW statements about your business.
    What part of your presentation do you feel needs the most improvement?
    Provide either the top 3 most common questions you get asked about your business OR the toughest question you have been asked about your business.
    (1) Only 2 vocational schools for aspiring programs are accredited by the US Department of Veterans Affairs in the entire country all while, the nation faces an unprecedented technical talent shortage and veterans face high unemployment/underemployment.
    (2) Succinctly articulate how our programs & services work given our decentralized model.
    (3) What programming language should I learn? Why aren't more code schools accredited to accept veterans with the New GI Bill? Why hasn't the US federal government kept up with current modern times?  -->
