<div class="container bs-docs-container">
  <div class="row">
<<<<<<< HEAD
    <div class="col-md-9" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">Frequently Asked Questions</h1>
        <p class="lead"><b>What is the purpose of Operation Code?</b></br>
        The primary function of Operation Code is to enable more military Veterans to learn to
        code and get gainfully employed.</p>

        <p class="lead"><b>How will military Veterans benefit?</b></br>
          Military Veterans will benefit because of the function of coding, which is a skill-set
          that is in very high-demand and will thus enable Veterans of all ages to play a meaningful
          role in our country’s workforce. Furthermore, having Veterans empowered to become
          productive members of society will be a great benefit to all the communities to which they
          love.</p>

        <p class="lead"><b>Why is Operation Code the solution?</b></br>
        Operation Code is positioned to be the best solution because of leadership, established
        community, and clear need that is solved by the right tool, right time, and by the right
        people. Specifically, leadership, knowledge of the industry, and a unique perspective of all
        sides of the issue. Under the current rules, the VA administration operates too slow and
        cannot approve the code schools at which the speed in which code schools update their
        curriculum to keep up industry requirements. Unless the VA changes the way by which it
        fast-tracks and approves relevant professional opportunities for Veterans there will be a
        need for programs such as Operation Code.</p>

        <p class="lead"><b>What is the primary purpose of Operation Code?</b></br>
        In its first year, Operation Code will raise $7.5m to provide immediate scholarship
        assistance to Veterans who want to enter the coding profession. This will also have a very
        positive impact on our domestic technology industry, which as we know is increasingly
        seeking qualified workforce from within the country. With $7.5m, we’ll support the
        educational aspirations of 250 Veterans to learn to code.</p>

        <p class="lead"><b>How does Operation Code plan to raise $7.5m?</b></br>
        By leveraging social media, traditional media, and crowdfunding through Cogostar we will
        conduct a comprehensive campaign that will engage hundreds of thousands of supporters
        to this effort. Visit our crowdfunding page to learn more:
        <a href="https://www.cogostar.org/projects/operationcode">
        https://www.cogostar.org/projects/operationcode.</a></p>

        <p class="lead"><b>What other benefits does Operation Code provide Veterans?</b></br>
        Operation Code provides scholarship support, mentoring, and employment services to
        Veterans and their families.</p>

        <p class="lead"><b>Where do you see Operation Code going in 1, 2, 3, and 4 years?</b></br>
        In year-1 provide 50 scholarships, year-2 150 scholarships, year-3 250 scholarships and
        year-4 500 scholarships as well as incrementally growing our mentorship and job
        placement programs accordingly.</p>

        <p class="lead"><b>Where do you want to see Operation Code be in 5-years?</b></br>
        In 5 years we would like to positively affect the lives of 20,000 veterans as a result of a
        combined effort of all three programs offered by Operation Code.</p>

        <p class="lead"><b>What are the challenges facing Veterans as they enter the coding
          profession?</b></br>
        The New GI Bill as it’s currently structured does not provide Veterans the option to attend
        coding schools because they are not accredited educational institutions.</p>

        <p class="lead"><b>Why not use the current 4-year educational system to educate Veterans to
        learn coding where the New GI Bill is accepted?</b></br>
        There are elements within the 4-year system that are highly beneficial for system admins,
        but fall short within coding education. College is inefficient and is a very different
        product and targeted deliverable.</p>

        <p class="lead"><b>What has catalyzed Operation Code to do something? What are the
        challenges Veterans face to re-enter the workforce in coding?</b></br>
        The first point of entry into the workforce for military Veterans is the TAPs program, or
        military branch equivalent which falls short in providing information and resources about
        careers in software and coding. Furthermore, the New GI Bill has not kept pace with
        technology industry standards and code schools further hindering Veteran unemployment. Read this Forbes article, "<a href="http://www.forbes.com/sites/valleyvoices/2014/10/30/talent-starved-tech-firms-should-be-training-our-returning-veterans/2/">Talent-Starved Tech Firms Should Be Training Our Returning Veterans</a>" to learn more.</p>

        <p class="lead"><b>How is the VA system not functioning as it should? Why is the system
        failing Veterans?</b></br>
        The New GI Bill isn’t flexible enough to accredit code schools due to constant and
        mandatory required changes in their curriculum based on software changes. This rigidness
        is a barrier to every code school and thus Veterans seeking to attend and use their earned
        education benefits promised by our government.</p>

        <p class="lead"><b>How do people get more information about Operation Code?</b></br>
        More information on Operation Code is in our <a href="https://s3-us-west-2.amazonaws.com/operationcode/operation_code_case_statement.pdf">case statement</a>.</p>

        <p class="lead"><a href="https://s3-us-west-2.amazonaws.com/operationcode/operation_code_faq.pdf">Printable Format</a></p>

       </div>
    </div>
  </div>
</div>

<!--     <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-9" role="main">
          <div class="bs-docs-section">
  <h1 id="overview" class="page-header">Situation</h1>

  <p class="lead">Today, Veterans' unemployment is higher than the average American despite earning the New GI Bill. While the American economy is trying to recover there is one section that is booming: <b>technology</b>. Short-term code schools across the country are filling this need, and while highly competitive, with practice and persistence, anyone can learn to code and enter the tech job market.</p>

  <h3 id="overview-doctype">What are code schools?</h3>
  <p class="lead">Code schools are razer sharp specific programs that range from 3 mos to 7 mos with the focus of turning their students into entry-level developers. Code schools are founded by developers themselves.</p>

  <h3 id="overview-mobile">What type of technology companies are we talking about?</h3>
  <p class="lead">Technology companies that hire code school graduates vary, from small startups to venture-backed companies. Some graduates go onto work at small agencies, and some go onto launch their own tech companies.</p>

  <h1 id="overview" class="page-header">Mission</h1>
  <p class="lead">Our mission is to expand the New GI Bill to enable veterans to go to code school, learn to code in a classroom setting, and be job-ready upon graduation.</p>

  <h3 id="overview-mobile">Love the mission. How can I help?</h3>
  <p class="lead">If you are a veteran and support our mission, <a href="/action">take action</a> today. If you'd like to <a href="/donate">donate</a> to help David get this off the ground, please do so today. If you work for a technology company consider in-kind donations/tuition sponsorships so that Operation Code can reach more veterans. Something else? <a href="mailto:contact@operationcode.org">Email us</a>.</p> -->
=======
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Frequently Asked Questions</h1>
<!--
        <div class="list-group">
      <a href="#" class="list-group-item active"> -->
        <h4 class="list-group-item-heading">General FAQ</h4>
        <p class="list-group-item-text">Q: When was Operation Code founded?</p>
          <p>A: Operation Code was founded on August 21, 2014 when our founder, David Molina, wrote the first line of code and <a href="https://github.com/OperationCode/operationcode">pushed this site</a> to GitHub.</p>
        <p class="list-group-item-text">Q: What is Operation Code?</p>
          <p>A: Operation Code is a coding non-profit on a mission to inspire, educate and equip service-members, veterans and their families in software development through coding scholarships, mentorship, employer services, and advocacy.</p>
        <p class="list-group-item-text">Q: Is Operation Code a legitimate charity?</p>
          <p>A: Operation Code is an incorporated Oregon nonprofit and our founding board of directors is filing for tax-exempt status by the Internal Revenue Service functioning as a charity under 501(c)(3) of the Internal Revenue Code. Donations to the organization are deductible as charitable contributions. Our Operation Code federal identification number is: #47-4247572. Previously, Operation Code had a fiscal sponsorship contract with the Cogostar Foundation, but effective June 18th, 2015 we terminated the contract.</p>
        <p class="list-group-item-text">Q: Where is Operation Code based? Do you have a location near me?</p>
          <p>A: While Operation Code is headquartered in Portland, Oregon, service-members, veterans and their families can gain immediate and free access to compete globally in computing fields when they <a href="/action">sign up</a>. All that is required is access to a modern browser (ex. Safari, Chrome, Firefox).</p>
        <p class="list-group-item-text">Q? What are the hours of operation for Operation Code?</p>
          <p>A: Our software mentorship services is 100% virtual and can be accessed by service-members, veterans and their families via the internet. All that is required is access to a modern browser. Upon signing up, individuals will be automatically invited to join us on Slack. Our software mentors are mostly based in the United States and their hours vary, but mostly USA time zones.</p>
        <p class="list-group-item-text">Q: What are the goals of Operation Code?</p>
          <p>A: Operation Code's goals are to mentor service-members, veterans and their families in software development, award coding scholarships, encourage mentorship and open-source software collaboration, and advocate to expand New GI Bill that works in the 21st century knowledge economy and doesn't leave our veterans behind in the digital age.</p>
        <p class="list-group-item-text">Q: Who does Operation Code serve?</p>
          <p>A: Operation Code is honored to serve and support service-members, veterans and their families from all branches of our military, pre and post-9/11 eras. Our oldest veteran is a Vietnam vet and our youngest just graduated high school and is attending the U.S. Air Force Basic Military Training this summer.</p>
        <p class="list-group-item-text">Q: Why does Operation Code only serve the veterans community?
          <p>A: Operation Code believes it is an imperative and moral obligation to ensure the men and women who are serving/served in our Armed Forces should not be left behind in the new skills and knowledge economy. The numbers speak for themselves: high unemployment, high suicide rate, high homeless rate, and over 250,000 exiting (many due to sequestration) each year all while our nation faces an unprecedented technical talent shortage. We aim to turn these numbers around.</p>
        <p class="list-group-item-text">Q: I'm serving/served in our nation's military. How can I join?</p>
          <p>A: <a href="/action">Sign up</a> online. It costs nothing to start learning to code and receive software mentorship, be eligible for coding scholarships, and employer services. Just need a positive attitude, persistence and grit, and a thirst for new knowledge.</p>
        <p class="list-group-item-text">Q: I'm a software developer and would love to help fellow veterans learn to code. How can I contribute and be a software mentor?</p>
          <p>A: Our code base is all open source and available on <a href="https://github.com/OperationCode/operationcode">GitHub</a> where we maintain an active list of open issues. All contributions and pull requests are welcome, but we encourage mentorship of our veterans so they can get practical skill-sets, get hired and make valuable contributions to society. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director if you'd like to mentor.</p>
        <p class="list-group-item-text">Q: How can I help service-members, veterans and their families?</p>
          <p>A: There are several ways to get involved and make a lasting impact! Here are a few ideas:</p>
            <ul>
              <li>Volunteer: We rely on volunteers to help us execute on our programs, research and write grants, and coordinate fundraising campaigns. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to enlist as a volunteer.</li>
              <li>Mentor: Mentoring and supporting the coding education of service-members, veterans and their families makes an immediate impact today. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to enroll in our Software Mentor Protégé Program and start providing software mentorship to America's patriots.</li>
              <li>Awareness: The glow of one warm thought is worth more than money. Help us get the word out to more veterans leveraging your social media network. Heart, like, favorite, retweet our tweets and use the hashtag #operationcode.</li>
              <li>Hire: To care for him and her who shall have borne the battle and for his/her family. Hiring a service-member, veteran and their families that can code is not only a smart investment, but the best way to honor our veterans and say thank you for your service. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to get started as an Employer Partner.</li>
              <li>Donate: Making a <a href="/donate">financial gift</a> at a one-time, monthly or annual basis demonstrates your leadership and commitment to our community. Host a fundraiser event with your friends to benefit veteran coders.</li>
              <li>Conference Sponsorship: To expose our veterans to the latest software and best practices, network and meet industry peers we rely on sponsorship tickets to attend. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to get your open-source software conference on the schedule, and register our veterans.</li>
              <li>Transportation Sponsorship: Ensuring our veterans can get to/from conferences, we rely on air/ground transportation. See bullet above. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to sponsor transportation.</li>
              <li>Advocacy: Call or write your <a href="http://www.house.gov/representatives/find/">congressional</a> representative or senators and urge them to update the New GI Bill to accept code schools to fill our nation's technical talent shortage with American patriots who can code. Use the hashtag #operationcode.</li>
              <li>Swag: Show your support for Operation Code by placing one of <a href="https://twitter.com/wimsy113/status/618149600419975169">our stickers</a> on your laptop.</li>
            </ul></li>
      </a>
>>>>>>> upstream/master
