<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Frequently Asked Questions</h1>
<!--
        <div class="list-group">
      <a href="#" class="list-group-item active"> -->
        <h4 class="list-group-item-heading">General FAQ</h4>
        <!-- Name of the organization?
        Operation

        Description
        Veteran-founded, and led Operation Code helps transitioning military, citizen-soldiers, veterans & military families learn to code to fill the nation's technical talent shortage.

        Founding date: Aug 21, 2014
        Industry: Information/Communication Tech
        Nonprofit

        Impact
Please answer the following questions:
Describe the problem your business is looking to solve and explain how you are solving it?
Who is your target market?
What is your growth plan over the next 18 months? -->
        <!-- (1) The country faces an unprecedented technical talent shortage all while veterans face the highest unemployment in our country. Our solution is to bridge this disparity by providing tailored mentorship, scholarship and networking support to transitioning military, veterans and their families to fill the nation's technical talent shortage and build software to change the world.
(2) Our target market is America's finest and their families who have served.
(3) Our growth plan over the next 18 mos is to raise $7.5m, fix the New GI Bill problem with code schools, staff appropriately, and scale globally with a physical presence.

Please answer the following questions:
Share 1-2 WOW statements about your business.
What part of your presentation do you feel needs the most improvement?
Provide either the top 3 most common questions you get asked about your business OR the toughest question you have been asked about your business.
(1) Only 2 vocational schools for aspiring programs are accredited by the US Department of Veterans Affairs in the entire country all while, the nation faces an unprecedented technical talent shortage and veterans face high unemployment/underemployment.
(2) Succinctly articulate how our programs & services work given our decentralized model.
(3) What programming language should I learn? Why aren't more code schools accredited to accept veterans with the New GI Bill? Why hasn't the US federal government kept up with current modern times?  -->

        <p class="list-group-item-text">Q: When was Operation Code founded?</p>
          <p>A: Operation Code was founded on August 21, 2014 when our founder, David Molina, wrote the first line of code and <a href="https://github.com/OperationCode/operationcode">pushed this site</a> to GitHub.</p>
        <p class="list-group-item-text">Q: What is Operation Code?</p>
          <p>A: Operation Code is a coding non-profit on a mission to inspire, educate and equip service-members, veterans and their families in software development through coding scholarships, mentorship, employer services, and advocacy.</p>
        <p class="list-group-item-text">Q: Is Operation Code a legitimate charity?</p>
          <p>A: Operation Code is an incorporated Oregon nonprofit and our founding board of directors is filing for tax-exempt status by the Internal Revenue Service functioning as a charity under 501(c)(3) of the Internal Revenue Code. Donations to the organization are deductible as charitable contributions. Our Operation Code federal identification number is: #47-4247572. Previously, Operation Code had a fiscal sponsorship contract with the Cogostar Foundation, but effective June 18th, 2015 we terminated the contract.</p>
        <p class="list-group-item-text">Q: Where is Operation Code based? Do you have a location near me?</p>
          <p>A: While Operation Code is headquartered in Portland, Oregon, service-members, veterans and their families can gain immediate and free access to compete globally in computing fields when they <a href="/action">sign up</a>. All that is required is access to a modern browser (ex. Safari, Chrome, Firefox).</p>
        <p class="list-group-item-text">Q? What are the hours of operation for Operation Code?</p>
          <p>A: Our software mentorship services is 100% virtual and can be accessed by service-members, veterans and their families via the internet. All that is required is access to a modern browser. Upon signing up, individuals will be automatically invited to join us on Slack. Our software mentors are mostly based in the United States and their hours vary, but mostly USA time zones.</p>
        <p class="list-group-item-text">Q: What are the goals of Operation Code?</p>
          <p>A: Operation Code's goals are to mentor service-members, veterans and their families in software development, award coding scholarships, encourage mentorship and open-source software collaboration, and advocate to expand New GI Bill that works in the 21st century knowledge economy and doesn't leave our veterans behind in the digital age.</p>
        <p class="list-group-item-text">Q: Who does Operation Code serve?</p>
          <p>A: Operation Code is honored to serve and support service-members, veterans and their families from all branches of our military, pre and post-9/11 eras. Our oldest veteran is a Vietnam vet and our youngest just graduated high school and is attending the U.S. Air Force Basic Military Training this summer.</p>
        <p class="list-group-item-text">Q: Why does Operation Code only serve the veterans community?
          <p>A: Operation Code believes it is an imperative and moral obligation to ensure the men and women who are serving/served in our Armed Forces should not be left behind in the new skills and knowledge economy. The numbers speak for themselves: high unemployment, high suicide rate, high homeless rate, and over 250,000 exiting (many due to sequestration) each year all while our nation faces an unprecedented technical talent shortage. We aim to turn these numbers around.</p>
        <p class="list-group-item-text">Q: I'm serving/served in our nation's military. How can I join?</p>
          <p>A: <a href="/action">Sign up</a> online. It costs nothing to start learning to code and receive software mentorship, be eligible for coding scholarships, and employer services. Just need a positive attitude, persistence and grit, and a thirst for new knowledge.</p>
        <p class="list-group-item-text">Q: I'm a software developer and would love to help fellow veterans learn to code. How can I contribute and be a software mentor?</p>
          <p>A: Our code base is all open source and available on <a href="https://github.com/OperationCode/operationcode">GitHub</a> where we maintain an active list of open issues. All contributions and pull requests are welcome, but we encourage mentorship of our veterans so they can get practical skill-sets, get hired and make valuable contributions to society. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director if you'd like to mentor.</p>
        <p class="list-group-item-text">Q: How can I help service-members, veterans and their families?</p>
          <p>A: There are several ways to get involved and make a lasting impact! Here are a few ideas:</p>
            <ul>
              <li>Volunteer: We rely on volunteers to help us execute on our programs, research and write grants, and coordinate fundraising campaigns. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to enlist as a volunteer.</li>
              <li>Mentor: Mentoring and supporting the coding education of service-members, veterans and their families makes an immediate impact today. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to enroll in our Software Mentor Protégé Program and start providing software mentorship to America's patriots.</li>
              <li>Awareness: The glow of one warm thought is worth more than money. Help us get the word out to more veterans leveraging your social media network. Heart, like, favorite, retweet our tweets and use the hashtag #operationcode.</li>
              <li>Hire: To care for him and her who shall have borne the battle and for his/her family. Hiring a service-member, veteran and their families that can code is not only a smart investment, but the best way to honor our veterans and say thank you for your service. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to get started as an Employer Partner.</li>
              <li>Donate: Making a <a href="/donate">financial gift</a> at a one-time, monthly or annual basis demonstrates your leadership and commitment to our community. Host a fundraiser event with your friends to benefit veteran coders.</li>
              <li>Conference Sponsorship: To expose our veterans to the latest software and best practices, network and meet industry peers we rely on sponsorship tickets to attend. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to get your open-source software conference on the schedule, and register our veterans.</li>
              <li>Transportation Sponsorship: Ensuring our veterans can get to/from conferences, we rely on air/ground transportation. See bullet above. <a href="mailto:david@operationcode.org">Get in touch</a> with our Executive Director to sponsor transportation.</li>
              <li>Advocacy: Call or write your <a href="http://www.house.gov/representatives/find/">congressional</a> representative or senators and urge them to update the New GI Bill to accept code schools to fill our nation's technical talent shortage with American patriots who can code. Use the hashtag #operationcode.</li>
              <li>Swag: Show your support for Operation Code by placing one of <a href="https://twitter.com/wimsy113/status/618149600419975169">our stickers</a> on your laptop.</li>
            </ul></li>
      </a>
