<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">Frequently Asked Questions</h1>
<!--
        <div class="list-group">
      <a href="#" class="list-group-item active"> -->
        <h4 class="list-group-item-heading">General FAQ</h4>
        <p class="list-group-item-text">Q: When was Operation Code founded?</p>
          <p>A: Operation Code was founded on August 21, 2014 when our founder, David Molina, wrote the first line of code and pushed this site to GitHub.</p>
        <p class="list-group-item-text">Q: What is Operation Code?</p>
          <p>A: Operation Code is a coding non-profit on a mission to inspire, educate and equip service-members, veterans and their families in software development through coding scholarships, mentorship, employer services, and advocacy.</p>
        <p class="list-group-item-text">Q: Is Operation Code a legitimate charity?</p>
          <p>A: Operation Code is an incorporated Oregon nonprofit and our founding board of directors is filing for tax-exempt status by the Internal Revenue Service functioning as a charity under 501(c)(3) of the Internal Revenue Code. Donations to the organization are deductible as charitable contributions. Our Operation Code federal identification number is: #47-4247572.
          </br>
          <p>Previously, Operation Code had a fiscal sponsorship contract with the Cogostar Foundation, but has terminated the contract effective, June 18th, 2015.</p>
        <p class="list-group-item-text">Q: Where is Operation Code based? Do you have a location near me?</p>
          <p>A: Operation Code is headquartered in Portland, Oregon, and works to educate, inspire and equip service-members, veterans and their families with the skills and resources to compete globally in computing fields.</p>
        <p class="list-group-item-text">Q? What are the hours of operation for Operation Code?</p>
          <p>A: Our software mentorship services is 100% virtual and can be accessed by service-members, veterans and their families via the internet. All you require is access to a modern browser (ex. Safari, Chrome, Firefox). Upon signing up, you will be invited to join us on Slack. Our software mentors are based in the United States and their hours vary, but mostly USA time zones.</p>
        <p class="list-group-item-text">Q: What are the goals of Operation Code?</p>
          <p>A: Operation Code's goals are to mentor service-members, veterans and their families in software development, award coding scholarships, encourage mentorship and open-source software collaboration, and advocacy for a New GI Bill that works in the 21st century knowledge economy.</p>
        <p class="list-group-item-text">Q: Who does Operation Code serve?</p>
          <p>A: Operation Code is honored to serve and support service-members, veterans and their families from all branches of our military, pre and post-9/11 eras. Our oldest veteran is a Vietnam vet and our youngest just graduated high school and is attending the U.S. Air Force Basic Military Training this summer.</p>
        <p class="list-group-item-text">Q: Why does Operation Code only serve the veterans community?
          <p>A: Operation Code believes it is an imperative and moral obligation to ensure the men and women who are serving/served in our Armed Forces should not be left behind in the new skills and knowledge economy. The numbers speak for themselves: high unemployment, high suicide rate, high homeless rate, and over 250,000 exiting (many due to sequestration) each year all while our nation faces an unprecedented technical talent shortage. We aim to turn these numbers around.</p>
        <p class="list-group-item-text">Q: I'm serving/served in our nation's military. How can I join?</p>
          <p>A: Sign up online. It costs you nothing to start learning to code and receive software mentorship, be eligible for coding scholarships, and employer services.</p>
        <p class="list-group-item-text">Q: I'm a software developer and would love to help fellow veterans learn to code. How can I contribute and be a software mentor?</p>
          <p>A: Our code base is all open source and available on GitHub where we maintain an active list of open issues. All contributions and pull requests are welcome, but we encourage mentorship of our veterans so they can get practical skill-sets, get hired and make valuable contributions to society. All mentors are invited by our core team.</p>
        <p class="list-group-item-text">Q: How can I help service-members, veterans and their families?</p>
          <p>A: There are several ways to get involved and make a lasting impact! Here are a few ideas:</p>
            <ul>
              <li>Volunteer: We rely on volunteers to help us execute on our programs, research and write grants, and coordinate fundraising campaigns. Get in touch with our Executive Director to enlist as a volunteer.</li>
              <li>Mentor: Mentoring and supporting the coding education of service-members, veterans and their families makes an immediate impact today. Get in touch with our Executive Director to enroll in our Software Mentor Protégé Program. </li>
              <li>Awareness: The glow of one warm thought is worth more than money. Help us get the word out to more veterans leveraging your social media network. Heart, like, favorite, retweet our tweets and use the hashtag #operationcode.</li>
              <li>Hire: To care for him and her who shall have borne the battle and for his/her family. Hiring a service-member, veteran and their families that can code is not only a smart investment, but the best way to honor our veterans and say thank you for your service. Get in touch with our Executive Director to get started as an Employer Partner.</li>
              <li>Donate: Making a financial gift at a one-time, monthly or annual basis demonstrates your leadership and commitment to our community. Host a fundraiser event with your friends to benefit veteran coders.</li>
              <li>Conference Sponsorship: To expose our veterans to the latest software and best practices, network and meet industry peers we rely on sponsorship tickets to attend. Get in touch with our Executive Director to get your open-source software conference on the scheudle, and register our veterans.</li>
              <li>Transportation Sponsorship: Ensuring our veterans can get to/from conferences, we rely on air/ground transportation. Get in touch with our Executive Director to sponsor transportation.</li>
              <li>Advocacy: Call or write your <a href="http://www.house.gov/representatives/find/">congressional</a> representative or senators and urge them to update the New GI Bill to accept code schools to fill our nation's technical talent shortage with American patriots who can code. Use the hashtag #operationcode.</li>
              <li>Swag: Show your support for Operation Code by placing one of our stickers on your laptop.</li>
            </ul></li>
      </a>
