<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">Frequently Asked Questions</h1>

        <div class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">General FAQ</h4>
        <p class="list-group-item-text">When was Operation Code founded?</p>
          <p>Operation Code iss.</p>
        <p class="list-group-item-text">How was the organization founded and by whom?</p>
          <p>Is Operation Code a legitimate charity?.</p>
        <p class="list-group-item-text">Where</p>
          <p>Where is Operation Code based? Do you have a location near me?</p>
        <p class="list-group-item-text">When</p>
        <p>Operation Code iss.</p>
      </a>
    </div>
        <p class="lead"><b>What is the purpose of Operation Code?</b></br>
        The primary function of Operation Code is to enable more military Veterans to learn to
        code and get gainfully employed.</p>

        <p class="lead"><b>How will military Veterans benefit?</b></br>
          Military Veterans will benefit because of the function of coding, which is a skill-set
          that is in very high-demand and will thus enable Veterans of all ages to play a meaningful
          role in our country’s workforce. Furthermore, having Veterans empowered to become
          productive members of society will be a great benefit to all the communities to which they
          love.</p>

        <p class="lead"><b>Why is Operation Code the solution?</b></br>
        Operation Code is positioned to be the best solution because of leadership, established
        community, and clear need that is solved by the right tool, right time, and by the right
        people. Specifically, leadership, knowledge of the industry, and a unique perspective of all
        sides of the issue. Under the current rules, the VA administration operates too slow and
        cannot approve the code schools at which the speed in which code schools update their
        curriculum to keep up industry requirements. Unless the VA changes the way by which it
        fast-tracks and approves relevant professional opportunities for Veterans there will be a
        need for programs such as Operation Code.</p>

        <p class="lead"><b>What is the primary purpose of Operation Code?</b></br>
        In its first year, Operation Code will raise $7.5m to provide immediate scholarship
        assistance to Veterans who want to enter the coding profession. This will also have a very
        positive impact on our domestic technology industry, which as we know is increasingly
        seeking qualified workforce from within the country. With $7.5m, we’ll support the
        educational aspirations of 250 Veterans to learn to code.</p>

        <p class="lead"><b>How does Operation Code plan to raise $7.5m?</b></br>
        By leveraging social media, traditional media, and crowdfunding through Cogostar we will
        conduct a comprehensive campaign that will engage hundreds of thousands of supporters
        to this effort. Visit our crowdfunding page to learn more:
        <a href="https://www.cogostar.org/projects/operationcode">
        https://www.cogostar.org/projects/operationcode.</a></p>

        <p class="lead"><b>What other benefits does Operation Code provide Veterans?</b></br>
        Operation Code provides scholarship support, mentoring, and employment services to
        Veterans and their families.</p>

        <p class="lead"><b>Where do you see Operation Code going in 1, 2, 3, and 4 years?</b></br>
        In year-1 provide 50 scholarships, year-2 150 scholarships, year-3 250 scholarships and
        year-4 500 scholarships as well as incrementally growing our mentorship and job
        placement programs accordingly.</p>

        <p class="lead"><b>Where do you want to see Operation Code be in 5-years?</b></br>
        In 5 years we would like to positively affect the lives of 20,000 veterans as a result of a
        combined effort of all three programs offered by Operation Code.</p>

        <p class="lead"><b>What are the challenges facing Veterans as they enter the coding
          profession?</b></br>
        The New GI Bill as it’s currently structured does not provide Veterans the option to attend
        coding schools because they are not accredited educational institutions.</p>

        <p class="lead"><b>Why not use the current 4-year educational system to educate Veterans to
        learn coding where the New GI Bill is accepted?</b></br>
        There are elements within the 4-year system that are highly beneficial for system admins,
        but fall short within coding education. College is inefficient and is a very different
        product and targeted deliverable.</p>

        <p class="lead"><b>What has catalyzed Operation Code to do something? What are the
        challenges Veterans face to re-enter the workforce in coding?</b></br>
        The first point of entry into the workforce for military Veterans is the TAPs program, or
        military branch equivalent which falls short in providing information and resources about
        careers in software and coding. Furthermore, the New GI Bill has not kept pace with
        technology industry standards and code schools further hindering Veteran unemployment. Read this Forbes article, "<a href="http://www.forbes.com/sites/valleyvoices/2014/10/30/talent-starved-tech-firms-should-be-training-our-returning-veterans/2/">Talent-Starved Tech Firms Should Be Training Our Returning Veterans</a>" to learn more.</p>

        <p class="lead"><b>How is the VA system not functioning as it should? Why is the system
        failing Veterans?</b></br>
        The New GI Bill isn’t flexible enough to accredit code schools due to constant and
        mandatory required changes in their curriculum based on software changes. This rigidness
        is a barrier to every code school and thus Veterans seeking to attend and use their earned
        education benefits promised by our government.</p>

        <p class="lead"><b>How do people get more information about Operation Code?</b></br>
        More information on Operation Code is in our <a href="https://s3-us-west-2.amazonaws.com/operationcode/operation_code_case_statement.pdf">case statement</a>.</p>

        <p class="lead"><a href="https://s3-us-west-2.amazonaws.com/operationcode/operation_code_faq.pdf">Printable Format</a></p>

       </div>
    </div>
  </div>
</div>

<!--     <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-9" role="main">
          <div class="bs-docs-section">
  <h1 id="overview" class="page-header">Situation</h1>

  <p class="lead">Today, Veterans' unemployment is higher than the average American despite earning the New GI Bill. While the American economy is trying to recover there is one section that is booming: <b>technology</b>. Short-term code schools across the country are filling this need, and while highly competitive, with practice and persistence, anyone can learn to code and enter the tech job market.</p>

  <h3 id="overview-doctype">What are code schools?</h3>
  <p class="lead">Code schools are razer sharp specific programs that range from 3 mos to 7 mos with the focus of turning their students into entry-level developers. Code schools are founded by developers themselves.</p>

  <h3 id="overview-mobile">What type of technology companies are we talking about?</h3>
  <p class="lead">Technology companies that hire code school graduates vary, from small startups to venture-backed companies. Some graduates go onto work at small agencies, and some go onto launch their own tech companies.</p>

  <h1 id="overview" class="page-header">Mission</h1>
  <p class="lead">Our mission is to expand the New GI Bill to enable veterans to go to code school, learn to code in a classroom setting, and be job-ready upon graduation.</p>

  <h3 id="overview-mobile">Love the mission. How can I help?</h3>
  <p class="lead">If you are a veteran and support our mission, <a href="/action">take action</a> today. If you'd like to <a href="/donate">donate</a> to help David get this off the ground, please do so today. If you work for a technology company consider in-kind donations/tuition sponsorships so that Operation Code can reach more veterans. Something else? <a href="mailto:contact@operationcode.org">Email us</a>.</p> -->
