<div class="page-header">
  <h1>Frequently Asked Questions <small>Go forth and explore</small></h1>
</div>



    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1></h1>
        <p></p>
      </div>
    </div>

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-9" role="main">
          <div class="bs-docs-section">
  <h1 id="overview" class="page-header">Situation</h1>

  <p class="lead">Today, Veterans' unemployment is higher than the average American despite earning the New GI Bill. While the American economy is trying to recover there is one section that is booming: <b>technology</b>. Short-term code schools across the country are filling this need, and while highly competitive, with practice and persistence, anyone can learn to code and enter the tech job market.</p>

  <h3 id="overview-doctype">What are code schools?</h3>
  <p class="lead">Code schools are razer sharp specific programs that range from 3 mos to 7 mos with the focus of turning their students into entry-level developers. Code schools are founded by developers themselves.</p>

  <h3 id="overview-mobile">What type of technology companies are we talking about?</h3>
  <p class="lead">Technology companies that hire code school graduates vary, from small startups to venture-backed companies. Some graduates go onto work at small agencies, and some go onto launch their own tech companies.</p>

  <h1 id="overview" class="page-header">Mission</h1>
  <p class="lead">Our mission is to expand the New GI Bill to enable veterans to go to code school, learn to code in a classroom setting, and be job-ready upon graduation.</p>

  <h3 id="overview-mobile">Love the mission. How can I help?</h3>
  <p class="lead">If you are a veteran and support our mission, <a href="/action">take action</a> today. If you'd like to <a href="/donate">donate</a> to help David get this off the ground, please do so today. If you work for a technology company consider in-kind donations/tuition sponsorships so that Operation Code can reach more veterans. Something else? <a href="mailto:david.c.molina@me.com">Email us</a>.</p>

<!-- At Indiegogo, workforce diversity that outpaces big tech firms - Fortune
http://fortune.com/2014/08/21/indiegogo-gender-diversity-data/

Why we still need to promote gender diversity in tech
  http://thenextweb.com/entrepreneur/2014/07/09/still-need-promote-gender-diversity-tech/ -->