<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Frequently Asked Questions</h1>
        <p class="lead">Below is a list of common questions about Operation Code. If you're a veteran interested in software development, use the <a href="https://operation-code.slack.com/messages/general/">#general tab</a> in Slack for support and then join additional channels based on programming language interest. If you're a software developer interested in contributing/becoming a software mentor, <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">read our docs</a>.</p>

        <h2 class="list-group-item-heading">General Operation Code FAQ</h2>
        <h3>When was Operation Code founded?</h3>
          <h4>Operation Code was founded on <a href="https://github.com/OperationCode/operationcode/tree/master/bin">August 21, 2014</a>.</h4>

        <h3>How was Operation Code founded?</h3>
          <h4>Operation Code was founded in Portland, Oregon by ex-Army Captain David Molina who took action and built operationcode.org to petition Congress to expand the New GI Bill to include code schools. <a href="/history">Learn our full history</a>.</h4>

        <h3>Is Operation Code a 501(c)(3) organization?</h3>
          <h4>Yes. Operation Code was granted tax-exempt status by the Internal Revenue Services functioning as a charity under 501(c)(3) of the Internal Revenue Code, <a href="https://twitter.com/operation_code/status/728018497343660032">effective 4 May 2016</a>, with retroactive status to 15 June 2015. Donations to the organization are deductible as charitable contributions.</h4>

        <h3>Where is Operation Code based? Do you have a location near me?</h3>
          <h4>Operation Code, much like software, is <a href="https://github.com/OperationCode/operationcode/graphs/contributors">built from anywhere</a> with an internet connection and is not based in one location. While we're headquartered in Portland, the entire organization is decentralized, including the board of directors and the core team, allowing us to more effectively serve transitioning military, citizen-soldiers, veterans and their families wherever they may be located. We have a number of veterans located in Seattle, Portland, SF and Washington, D.C. to name a few. Use Slack and join the closest town to you.</h4>

        <h3>Who does Operation Code serve?</h3>
          <h4>Operation Code serves our nation's finest who've worn the uniform and their families who are interested in coding and software development. Our programs are offered at no-cost to those who've served and their families.</h4>

        <h3>What do I need to start learning software development and how much is this going to cost?</h3>
          <h4>First off, you will need access to a solid computer, a good browser (ex. Chrome), and a strong internet connection. It costs nothing to start learning to code and receive software mentorship through Operation Code, you just need a positive attitude, persistence and grit, and a thirst for new knowledge. We have over a dozen channels, from Ruby to JavaScript, iOS to Android, and from Free Code Camp to edX study groups. <a href="/join">Join now</a>.</h4>

        <h3>According to the U.S. Department of Veterans Affairs website, there are only three code schools in the country that accept the New GI Bill. Which do you recommend?</h3>
          <h4>Skill Distillery and RefactorU, both in the Denver area, and Sabio in Los Angeles are the only three code schools in the country that accept the New GI Bill. Choosing where to leverage your New GI Bill to start learning to code on day-one shouldn't be taken lightly especially because you've sacrificed so much for it. We maintain a list of <a href="/codeschools">code schools</a> you can research more and which military veterans in our community have attended. But more importantly, <a href="https://operation-code.slack.com/messages/general/">ask any of us in the community</a> and you'll get a diverse set of answers.</h4>

        <h3>What is available to start learning to code today?</h3>
          <h4>Our friends at the New York City-based, The Flatiron School created <a href="https://learn.co/">Learn.co</a>, an online platform to get introduced to web development and the popular web framework, Ruby on Rails. Request an invite <a href="https://learn.co/join/operation-code">here</a> and then join the #learn-dot-co channel in our Slack if you get stuck.</h4>

          <h4>Another resource is <a href="https://www.learnhowtoprogram.com/courses">learnhowtoprogram.com</a>, a resource maintained by Epicodus.</h4>

        <h3>Why doesn't Operation Code offer services to non-military/veterans?</h3>
          <h4>As President Lincoln once said, “With malice toward none, with charity for all, with firmness in the right as God gives us to see the right, let us strive on to finish the work we are in, to bind up the nation's wounds, to care for him who shall have borne the battle and for his widow and his orphan...”</h4>

          <h4>At Operation Code, we believes it is our moral obligation to ensure the men and women who are serving/served in our U.S. military should not be left behind in the new skills and knowledge economy. These numbers speak for themselves:
            <ul>
              <li>high veterans unemployment/underemployment,</li>
              <li>high veterans suicide rate,</li>
              <li>high veterans homeless rate,</li>
            </ul>
          We aim to turn these numbers around.
          </h4>

        <h3>What are the hours of operation for Operation Code?</h3>
          <h4>Operation Code is different in that we don't have regular business office hours. The team can usually be found in our <a href="operation-code.slack.com">Slack channel</a>, or <a href="https://github.com/OperationCode/operationcode">GitHub</a> fixing bugs and implementing new features.</h4>

        <h3>How can I help if I can't afford to donate to Operation Code?</h3>
          <h4>In addition to requiring financial support, we also need volunteers and interns. The larger our community, the more we can spread the word about our work. Please sign up for our <a href="http://operationcode.us10.list-manage2.com/subscribe?u=0ab8e2b2d6c6608926c4f17d6&id=809aaab2df">SITREPs</a> and share it with your friends. Also, remember that every <a href="/donate">donation</a>, no matter how modest, brings us closer to our goals.</h4>

        <h3>I would like to receive Operation Code updates and news. How can I receive these communications?</h3>
          <h4>Anyone can sign up to join our email list through our <a href="http://operationcode.us10.list-manage2.com/subscribe?u=0ab8e2b2d6c6608926c4f17d6&id=809aaab2df">online subscription form</a>. The Operation Code SITREPs are sent periodically throughout the year. We primarily use <a href="https://twitter.com/operation_code">Twitter</a> and <a href="http://facebook.com/operationcode.org">Facebook</a> to put out updates and news since it's faster to put out info and respond. Given our chosen craft, we don't do regular mail.</h4>

        <h3>My question isn't listed. How do I contact Operation Code?</h3>
          <h4>If you have a question that isn't listed here on our FAQ or our <a href="/blog">blog</a>, write to <a href="mailto:david@operationcode.org">david@operationcode.org</a> and we'll get back to you as soon as we can.</h4>
      </div>
    </div>
  </div>
  <h4>

  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-12" role="main">
          <p class="lead">Below is a list of common questions about donating to Operation Code.</p>

          <h2 class="list-group-item-heading">Donation FAQ</h2>
          <h3>What is the fastest way to make a donation?</h3>
            <h4>The fastest way to make a donation is through our secured online form at: <a href="/donate">operationcode.org/donate</a>.</h4>
          <h3>I would rather mail a check. To whom do I make it out and where do I sent it?</h3>
            <h4>It's less administrative work to accept online donations. Get in touch so we can assess your situation and contribution commitment.</h4>
            <!-- <h3>I would rather mail a check. To whom do I make it out and where do I sent it?</h3>
            <h4>Please make your check payable to Operation Code and mail to: Beneficial State Bank, c/o Operation Code, 1101 SW Washington St., Portland, OR 97205.</h4> -->
          <h3>When will I receive a receipt for my contribution?</h3>
            <h4>When you make a donation to Operation Code online, you will receive an receipt by email.</h4>
          <h3>What percentage of my donation goes directly to Operation Code veterans?</h3>
            <h4>Our goal is to direct 100 percent online donations for transitioning military, citizen-soldiers, veterans and their families and keep administrative costs low while our annual fundraiser, grants and services fund operations.</h4>

          <!-- <h3>When will I receive a receipt for my contribution?</h3>
            <h4>When you make a donation to Operation Code online, you'll receive an receipt by email. If you mail your donation, you will receive your receipt within 3-4 weeks after the donation is made.</h4> -->
          <h3>Can I donate items as gift in-kind?</h3>
            <h4>As a program-based nonprofit organization, Operation Code welcomes in-kind donations to directly benefit the organization, transitioning military, citizen-soldiers, veterans and their families in learning to code and building software to change the world. Items that are needed, include (but not limited to): frequent flyer miles, Adobe Cloud, used or new MacBook Air's, and grant writers.</h4>
          <h3>I'd like to donate my software conference pass to an Operation Code veteran. How do I do that?</h3>
            <h4>Get in touch, and we'll make an announcement in our Slack, tweet and/or write a blog post, and find a veteran to take your spot. Even then, travel and lodging is often a barrier.</h4>
          <!-- <h3>I wish to mention Operation Code in my will. How can I do this?</h3>
            <h4>Get in touch so our pro-bono lawyers at Hunton & Williams can draft and send you the required documents.</h4>
          <h3>I would like to donate my home or other real property to Operation Code. How can I do this?</h3>
            <h4>Operation Code does not currently accept these types of donations. Get in touch so we can assess.</h4> -->
          <h3>Can I make donations to a particular veteran or their family learning to code?</h3>
            <h4>Get in touch so we can assess.</h4>
      </div>
    </div>
  </div>
  <hr>

  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-12" role="main">
          <p class="lead">Below is a list of common questions about volunteering for Operation Code.</p>

          <h2 class="list-group-item-heading">Volunteer FAQ</h2>
          <h3>What volunteer opportunities are there at Operation Code?</h3>
            <h4>Currently, fundraising, PR/branding, grant writers are our current needs.</h4>
      </div>
    </div>
  </div>
