<div class="container">
  <div class="row">
    <div class="col m12" role="main">
        <h3 id="download">Fellowships</h3>
      <h4>About</h4>
      <p class='lead'>
        The Operation Code Fellows Program is a national initiative that pairs transitioning military veterans with world-class companies in a
        coordinated effort to fill the nation’s technical talent shortage.
      </p>
      <p>
        The United States trains the greatest fighting force on earth,
        and US military veterans are principled leaders, expert communicators and naturals at inspiring teams to the objective. These qualities
        help them excel at learning new skills, and the Fellows Program offers these exceptional, talented and curious entry level veteran developers
        an opportunity at a front-row experience that will help to jump start them on their path to becoming full-stack web developers.
      </p>
      <p>
        Qualified Fellows will re-train as software developers in a fast-paced, code review operating environment for the benefit of both the military
        veteran, the employer, and the nation. In return, Operation Code Fellows are expected to contribute to Operation Code open source projects
        post-Fellowship, while nurturing the growth and development of their fellow veterans who are on their own paths to becoming software developers.
      </p>
      <h4>Purpose</h4>
      <p>
        A key element in the hiring process for prospective employers  is the fact that these Fellows are exposed to first hand knowledge early on in
        their careers  regarding best practices on building and deploying web applications and the challenges faced by software teams. In a day where
        so much of our daily lives are impacted by software, these Fellows will be able to utilize their military backgrounds in the arts of leadership,
        communication and building teams to augment the employer’s engineering and product teams, while at the same time honing in on their goal of
        becoming employed as a software developer.
      </p>
      <p>
        Selected individuals will spend 6 months working as a full-time Fellow, and be an embedded member of the company’s engineering team. Fellows will
        participate in everything their engineering team does, providing them with the opportunity to learn how products are conceived, tested, built and
        deployed. Fellowships are awarded on a strictly technical basis, without regard for how or where the military veteran learned to code. The only
        requirement is that the veteran knows how to code and can thoughtfully problem solve solutions.
      </p>
      <p>
        If you’re a veteran who has more questions or would like further information on the Operation Code Fellowship program please contact
        Maggi Molina, Director of Employer Services at <%= mail_to 'fellowship@operationcode.org' %>.
      </p>
    </div>
  </div>
</div>
