<div class="bs-docs-header" id="content">
    <h1>The Founder</h1>
</div>

<div class="row">
  <div class="col-md-9" role="main">
    <div class="bs-docs-section">
      <h1 id="overview" class="page-header">David Molina</h1>

      <p class="lead">David Molina is a self-taught programmer and retired U.S. Army Captain. He's been an <a href="http://www.angelhack.com/">AngelHack</a> volunteer, a <a href="https://onemonth.com">One Month Rails</a> graduate, <a href="http://www.thinkful.com/">Thinkful</a> front-end student, <a href="http://www.codecademy.com/">Codecademy</a> and <a href="https://www.codeschool.com/">CodeSchool</a> student, and avid <a href="https://hackhands.com/#/">HackHands</a> user.
      </p>

      <p class="lead">Molina is an alumni of Techstars <a href="http://www.techstars.com/patriotbootcamp/">Patriot Boot Camp</a>, a graduate of the U.S. Army School of Infantry (Officers), and earned his commission through the Reserve Officers' Training Corps (ROTC) program at Oregon State University in 2005.
      </p>

      </br></br></br></br></br></br></br></br></br>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
    </div>
  </div>
</div>
