<div class="bs-docs-section" align="left">
 <h1 id="overview" class="page-header">Our Founder</h1>

  <h1 id="overview" class="page-header">David Molina</h1>
David Molina is the Founder & Executive Director of Operation Code, an organization dedicated to Veterans software development, mentorship and employment. Originally launched as an open source project to gather signatures to petition Congress to expand the New GI Bill, Operation Code has expanded its mission to equip Veterans and their families with access to 21st century software development education and mentorship to build products and services that will help build a stronger United States and better world.

From 2000 to 2013, Molina proudly served in the U.S. Army starting his career as an enlisted soldier in a Civil Affairs unit and after commissioning as an Infantry Officer in 2004 rose through the ranks to serve in increasing roles and responsibilities, including company executive officer, military aide-de-camp to general officer, summary court martial officer, plans & training officer, operations officer, public affairs and protocol officer. His last military assignment was in support of the unique war-time mission at Dover Air Force Base in Delaware at the Joint Personal Effects Depot (JPED) serving the Families of the Fallen mission.

Molina is a self-taught programmer having written his first line of code in HTML in 1996 in high school. Throughout the years he’s built numerous websites for his projects, businesses and military in various frameworks, including WordPress. Self-taught, he launched both the JPED’s intranet EIM SharePoint site and external public site in DotNetNuke, but when he applied for code school while on active-duty and couldn’t use his New GI Bill he turned his attention to self-learning and using online coding resources.

An alumni of Techstars Patriot Boot Camp, Molina transitioned to software development attending RailsConf (2013), and CascadiaRuby (2014) as a scholarship fellow, and Ruby on Ales (2014). Molina launched the first sites version at CascadiaRuby. Previously, he built bilingualhire.co, a bilingual jobs classified rails Ruby on Rails app, and over a dozen responsive and mobile-first websites and applications for a range of small businesses as a freelancer. His personal site is built on Middleman can be found at: http://davidmolina.github.io.

Captain Molina was released from active duty in February 2013 and honorably discharged in 2014 with a Meritorious Service Medal, Army Commendation Medal and Lt. Rowan Award. A 2014 graduate of Oregon State University in Political Science, he currently resides in Portland, Oregon with his wife and three young children.

          <div class="social-links">
              <a href="https://twitter.com/davidcmolina"
              id="twitter"><i class="fa fa-twitter fa-lg"></i></a>

              <a href="https://facebook.com/david.molina1"
              id="facebook"><i class="fa fa-facebook fa-lg"></i></a>

              <a href="https://instagram.com/davidcmolina"
              id="instagram"><i class="fa fa-instagram fa-lg"></i></a>
          </div>
        </div>
<hr>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
