<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">
      
      <h1>Front-End Web Development</h1>
      <ul>
        <li>
          <a href="https://dash.generalassemb.ly/" data-original-href="https://dash.generalassemb.ly/">Dash - General Assembly</a>
        </li>
        <li>
          <a href="https://bento.io/" data-original-href="https://bento.io/">Bento.io</a>
        </li>
        <li>
          <a href="https://frontendmasters.com/" data-original-href="https://frontendmasters.com/">Front End Masters</a> -- free trials
        </li>
        <li>
          <a href="https://www.vikingcodeschool.com/prep" data-original-href="https://www.vikingcodeschool.com/prep">Viking Code School Prep</a>
        </li>
        <li>
          <a href="https://github.com/dypsilon/frontend-dev-bookmarks" data-original-href="https://github.com/dypsilon/frontend-dev-bookmarks">Dypsilon curated bookmarks</a>
        </li>
        <li>
          <a href="https://www.webcomponents.org/" data-original-href="https://www.webcomponents.org/">Web Components</a>
        </li>
        <li>
          <a href="https://design.google.com/resources/" data-original-href="https://design.google.com/resources/">All of Google's Design Resources</a>
        </li>
      </ul>
      
      <h2>HTML and CSS</h2>
      <ul>
        <li>
          <a href="https://www.html5rocks.com/en/" data-original-href="https://www.html5rocks.com/en/">HTML5 Tutuorial</a>
        </li>
        <li>
          <a href="http://www.w3schools.com/" data-original-href="http://www.w3schools.com/">W3schools - HTML, CSS, Javascript tutorials</a>
        </li>
        <li>
          <a href="http://learn.shayhowe.com/" data-original-href="http://learn.shayhowe.com/">HTML/CSS Tutorial -- Shay Howe</a>
        </li>
        <li>
          <a href="http://www.htmldog.com/" data-original-href="http://www.htmldog.com/">HTML Dog</a>
        </li>
        <li>
          <a href="http://webdesignerwall.com/" data-original-href="http://webdesignerwall.com/">Web Wonder Wall</a>
        </li>
        <li>
          <a href="http://howtocenterincss.com/" data-original-href="http://howtocenterincss.com/">How To Center in CSS</a>
        </li>
      </ul>
      
      <h2>JavaScript</h2>
      <ul>
        <li>
          <a href="https://github.com/mrdavidlaing/javascript-koans" data-original-href="https://github.com/mrdavidlaing/javascript-koans">JavaScript Koans</a>
        </li>
        <li>
          <a href="http://eloquentjavascript.net" data-original-href="http://eloquentjavascript.net">Eloquent Javascript</a>
        </li>
        <li>
          <a href="http://reactivex.io/learnrx/" data-original-href="http://reactivex.io/learnrx/">Functional Programming in JavaScript</a>
        </li>
        <li>
          <a href="https://leanpub.com/javascriptallongesix/read" data-original-href="https://leanpub.com/javascriptallongesix/read">JavaScript Allonge</a>
        </li>
        <li>
          <a href="https://javascript30.com/" data-original-href="https://javascript30.com/">JavaScript 30</a>
        </li>
        <li>
          <a href="http://wesbos.com/courses/" data-original-href="http://wesbos.com/courses/">Wes Bos</a>
        </li>
        <li>
          <a href="http://upskillcourses.com/" data-original-href="http://upskillcourses.com/">Upskill</a>
        </li>
        <li>
          <a href="http://exploringjs.com/" data-original-href="http://exploringjs.com/">Exploring Javascript</a>
        </li>
        <li>
          <a href="http://jstherightway.org/" data-original-href="http://jstherightway.org/">JS the Right Way</a>
        </li>
        <li>
          <a href="https://medium.com/@eperiou/react-basics-19e43be02236#.uk61hqa6m" data-original-href="https://medium.com/@eperiou/react-basics-19e43be02236#.uk61hqa6m">React Basics (blog post)</a>
        </li>
        <li>
          <a href="https://erty.me/access/" data-original-href="https://erty.me/access/">Access Practice</a>
        </li>
        <li>
          <a href="https://github.com/verekia/js-stack-from-scratch" data-original-href="https://github.com/verekia/js-stack-from-scratch">JS Stack from Scratch</a>
        </li>
        <li>
          <a href="http://youmightnotneedjquery.com/" data-original-href="http://youmightnotneedjquery.com/">You might not need JQuery</a>
        </li>
        <li>
          <a href="http://try.jquery.com/" data-original-href="http://try.jquery.com/">JQuery Tutorial</a>
        </li>
        <li>
          <a href="https://google.github.io/styleguide/jsguide.html" data-original-href="https://google.github.io/styleguide/jsguide.html">Google's JavaScript Style Guide</a>
        </li>
        <li>
          <a href="http://jsonlint.com/" data-original-href="http://jsonlint.com/">JSON validator</a>
        </li>
      </ul>
      
      <h2>Multiple Frameworks</h2>
      <ul>
        <li>
          <a href="https://scotch.io/tutorials" data-original-href="https://scotch.io/tutorials">scotch.io</a>
        </li>
        <li>
          <a href="https://egghead.io/" data-original-href="https://egghead.io/">egghead.io</a> -- Paid resource
        </li>
      </ul>
      
      <h2>Image editor</h2>
      <ul>
        <li>
          <a href="https://www.gimp.org/" data-original-href="https://www.gimp.org/">GIMP (free and open source image editor)</a>
        </li>
      </ul>
      
    </div>

    <section class="helpmenu">
      <a class="helpmenu-link" href="/resources/">Resources Home</a>
      <a class="helpmenu-link" href="/resources/getting-started/">Getting Started</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/general-programming/">General Programming</a>
      <a class="helpmenu-link" href="/resources/cheatsheets/">Cheat Sheets</a>
      <a class="helpmenu-link" href="/resources/books/">Books</a>
      <a class="helpmenu-link" href="/resources/podcasts/">Podcasts</a>
      <a class="helpmenu-link" href="/resources/test-your-skills/">Test Your Skills</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/jobs/">Get a Coding Job</a>
      <a class="helpmenu-link" href="/resources/open-source/">Get into Open Source</a>
      <a class="helpmenu-link" href="/resources/infosec/">InfoSec Resources</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/frontend/">Front End Dev</a>
      <a class="helpmenu-link" href="/resources/backend/">Back End Dev</a>
      <a class="helpmenu-link" href="/resources/mobile/">Mobile Dev</a>
      <a class="helpmenu-link" href="/resources/microsoft/">Microsoft Technologies</a>
      <a class="helpmenu-link" href="/resources/project-management/">Project Management</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/veterans/">Veterans</a>
      <a class="helpmenu-link" href="/resources/minorities/">Minorities</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
