<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">

      <h1>Learning Resources</h1>

      <h2>Tutorials</h2>
      <ul>
        <li>
          <a href="https://hackr.io" data-original-href="https://hackr.io">hackr.io -- All the (best) Tutorials</a>
        </li>
        <li>
          <a href="http://thecodeplayer.com/" data-original-href="http://thecodeplayer.com/">The Code Player</a>
        </li>
        <li>
          <a href="http://research.microsoft.com/en-us/um/people/simonpj/papers/pj-lester-book/" data-original-href="http://research.microsoft.com/en-us/um/people/simonpj/papers/pj-lester-book/">Functional programming tutorial</a>
        </li>
        <li>
          <a href="https://pine.fm/LearnToProgram/chap_00.html" data-original-href="https://pine.fm/LearnToProgram/chap_00.html">pine.fm</a>
        </li>
        <li>
          <a href="https://watchandcode.com/" data-original-href="https://watchandcode.com/">Watch and Code</a>
        </li>
      </ul>

      <h2>Free Classes</h2>
      <ul>
        <li>
          <a href="http://freecodecamp.com/" data-original-href="http://freecodecamp.com/">Free Code Camp</a>
        </li>
        <li>
          <a href="https://www.rithmschool.com/courses" data-original-href="https://www.rithmschool.com/courses">Rithm School</a>
        </li>
        <li>
          <a href="http://www.codecademy.com/" data-original-href="http://www.codecademy.com/">Code Academy</a>
        </li>
        <li>
          <a href="https://www.khanacademy.org/computing/computer-programming" data-original-href="https://www.khanacademy.org/computing/computer-programming">Khan Academy</a>
        </li>
        <li>
          <a href="http://www.theodinproject.com/courses?ref=home" data-original-href="http://www.theodinproject.com/courses?ref=home">The Odin Project</a>
        </li>
        <li>
          <a href="https://mva.microsoft.com/" data-original-href="https://mva.microsoft.com/">Microsoft Virtual Academy</a>
        </li>
        <li>
          <a href="https://revature.com/revatureonline.html" data-original-href="https://revature.com/revatureonline.html">Revature</a>
        </li>
        <li>
          <a href="https://www.edx.org/" data-original-href="https://www.edx.org/">edX</a>
        </li>
        <li>
          <a href="https://www.coursera.org/" data-original-href="https://www.coursera.org/">Coursera</a>
        </li>
        <li>
          <a href="https://ocw.mit.edu/index.htm" data-original-href="https://ocw.mit.edu/index.htm">MIT Free Courses</a>
        </li>
      </ul>

      <h2>Misc Learning</h2>
      <ul>
        <li>
          <a href="https://www.learnenough.com/" data-original-href="https://www.learnenough.com/">Learn Enough</a>
        </li>
        <li>
          <a href="http://www.onjava.com/pub/a/onjava/2004/01/14/aop.html" data-original-href="http://www.onjava.com/pub/a/onjava/2004/01/14/aop.html">Aspect Oriented Programming</a>
        </li>
        <li>
          <a href="http://lifehacker.com/tag/lifehacker-u" data-original-href="http://lifehacker.com/tag/lifehacker-u">Lifehacker U</a>
        </li>
        <li>
          <a href="https://www.class-central.com/collection/top-free-online-courses?subject=cs&sort=rating-up" data-original-href="https://www.class-central.com/collection/top-free-online-courses?subject=cs&sort=rating-up">Best Free Online Classes of All Time</a>
        </li>
        <li>
          <a href="http://rosettacode.org/wiki/Rosetta_Code" data-original-href="http://rosettacode.org/wiki/Rosetta_Code">Rosetta Code</a>
        </li>
        <li>
          <a href="https://github.com/jwasham/google-interview-university" data-original-href="https://github.com/jwasham/google-interview-university">Google Interview University</a>
        </li>
        <li>
          <a href="https://swapi.co/" data-original-href="https://swapi.co/">Star Wars API</a>
        </li>
        <li>
          <a href="https://www.merlot.org/merlot/index.htm" data-original-href="https://www.merlot.org/merlot/index.htm">Merlot</a>
        </li>
        <li>
          <a href="http://www.collegeopentextbooks.org/" data-original-href="http://www.collegeopentextbooks.org/">College Open Textbooks</a>
        </li>
        <li>
          <a href="https://open.bccampus.ca/" data-original-href="https://open.bccampus.ca/">BC Campus Open Textbooks</a>
        </li>
      </ul>

      <h2>Free trials</h2>
      <ul>
        <li>
          <a href="https://www.pluralsight.com/product/paths" data-original-href="https://www.pluralsight.com/product/paths">PluralSight</a>
        </li>
        <li>
          <a href="http://www.pluralsight.com/courses/" data-original-href="http://www.pluralsight.com/courses/">PluralSight Courses</a>
        </li>
        <li>
          <a href="https://teamtreehouse.com/" data-original-href="https://teamtreehouse.com/">Tree House -- Ask about on Operation Code Slack Team ;-)</a>
        </li>
        <li>
          <a href="https://codeavengers.com" data-original-href="https://codeavengers.com">Code Avengers</a>
        </li>
        <li>
          <a href="https://www.datacamp.com/courses" data-original-href="https://www.datacamp.com/courses">Data Camp</a>
        </li>
        <li>
          <a href="https://learn.co/" data-original-href="https://learn.co/">Learn.co</a>
        </li>
      </ul>

      <h2>Paid Classes</h2>
      <ul>
        <li>
          <a href="https://www.codeschool.com/" data-original-href="https://www.codeschool.com/">CodeSchool</a>
        </li>
        <li>
          <a href="https://www.udemy.com/" data-original-href="https://www.udemy.com/">Udemy</a>
        ---
          <a href="https://retailmenot.com/view/udemy.com" data-original-href="https://retailmenot.com/view/udemy.com">Udemy Coupons :-)</a>
        </li>
        <li>
          <a href="https://www.udacity.com/" data-original-href="https://www.udacity.com/">Udacity</a>
        -- 
          <a href="https://blitz.com/" data-original-href="https://blitz.com/">Check out Udacity Blitz too</a>
        </li>
      </ul>

      <h2>Coding for Kids</h2>
      <ul>
        <li>
          <a href="http://www.crunchzilla.com/" data-original-href="http://www.crunchzilla.com/">Crunchzilla</a>
        </li>
      </ul>

      <h2>REPLs/Code simulators</h2>
      <ul>
        <li>
          <a href="http://www.programmr.com/" data-original-href="http://www.programmr.com/">Programmr</a>
        </li>
      </ul>

      <h2>In person but all over</h2>
      <ul>
        <li>
          <a href="https://code.org/" data-original-href="https://code.org/">Code.org</a>
        </li>
        <li>
          <a href="http://coderdojo.com/" data-original-href="http://coderdojo.com/">Coder Dojo</a>
        </li>
      </ul>

      <h2>AI and Machine Learning</h2>
      <ul>
        <li>
          <a href="http://alumni.media.mit.edu/~jorkin/aibooks.html" data-original-href="http://alumni.media.mit.edu/~jorkin/aibooks.html">AI Books</a>
        </li>
      </ul>

      <h2>UX/UI</h2>
      <ul>
        <li>
          <a href="http://uxmastery.com/how-to-get-started-in-ux-design/" data-original-href="http://uxmastery.com/how-to-get-started-in-ux-design/">How to Get Started in UX Design</a>
        </li>
      </ul>

      <h2>Computer Hardware</h2>
      <ul>
        <li>
          <a href="http://www.pcworld.com/article/2987057/computers/how-to-build-a-pc-a-step-by-step-comprehensive-guide.html" data-original-href="http://www.pcworld.com/article/2987057/computers/how-to-build-a-pc-a-step-by-step-comprehensive-guide.html">How to Build a PC Step by Step</a>
        </li>
        <li>
          <a href="https://www.hackster.io/" data-original-href="https://www.hackster.io/">Hackster</a>
        </li>
      </ul>

      <h2>Networking</h2>
      <ul>
        <li>
          <a href="https://www.pluralsight.com/courses/ccna-routing-vlans" data-original-href="https://www.pluralsight.com/courses/ccna-routing-vlans">PluralSight Cisco CCNA: Routing and VLANS</a>
        </li>
      </ul>

      <h2>Cloud IDEs</h2>
      <ul>
        <li>
          <a href="https://c9.io" data-original-href="https://c9.io">Cloud 9</a>
        </li>
        <li>
          <a href="http://www.koding.com/" data-original-href="http://www.koding.com/">Koding</a>
        </li>
        <li>
          <a href="https://codeanywhere.com/" data-original-href="https://codeanywhere.com/">Codeanywhere</a>
        </li>
      </ul>

      <h2>Docker</h2>
      <ul>
        <li>
          <a href="https://prakhar.me/docker-curriculum" data-original-href="https://prakhar.me/docker-curriculum">Docker Tutorial</a>
        </li>
        <li>
          <a href="http://usersnap.com/blog/docker-for-web-developers/" data-original-href="http://usersnap.com/blog/docker-for-web-developers/">Blog post -- Containerize your web development: How Docker is solving real world problems for web developers!</a>
        </li>
      </ul>

      <h2>Bash</h2>
      <ul>
        <li>
          <a href="http://www.tldp.org/LDP/Bash-Beginners-Guide/html/" data-original-href="http://www.tldp.org/LDP/Bash-Beginners-Guide/html/">Bash Beginner's Guide</a>
        </li>
      </ul>

      <h2>C++</h2>
      <ul>
        <li>
          <a href="https://developers.google.com/edu/c++/" data-original-href="https://developers.google.com/edu/c++/">Google's C++ Class</a>
        </li>
      </ul>

      <h2>Regex</h2>
      <ul>
        <li>
          <a href="https://regexone.com/" data-original-href="https://regexone.com/">RegexOne</a>
        </li>
        <li>
          <a href="https://regex101.com/" data-original-href="https://regex101.com/">Regex101</a>
        </li>
        <li>
          <a href="http://regexr.com/" data-original-href="http://regexr.com/">RegexR</a>
        </li>
      </ul>

      <h2>Mentorship</h2>
      <ul>
        <li>
          <a href="https://operationcode.org" data-original-href="https://operationcode.org">Operation Code</a>
        </li>
        <li>
          <a href="https://www.codementor.io/" data-original-href="https://www.codementor.io/">CodeMentor</a>
        </li>
        <li>
          <a href="https://hackhands.com/" data-original-href="https://hackhands.com/">HackHands</a>
        </li>
      </ul>

      <h2>News</h2>
      <ul>
        <li>
          <a href="https://www.mybridge.co/" data-original-href="https://www.mybridge.co/">My Bridge</a>
        </li>
      </ul>
    </div>

    <section class="helpmenu">
      <a class="helpmenu-link" href="/resources/">Resources Home</a>
      <a class="helpmenu-link" href="/resources/getting-started/">Getting Started</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/general-programming/">General Programming</a>
      <a class="helpmenu-link" href="/resources/cheatsheets/">Cheat Sheets</a>
      <a class="helpmenu-link" href="/resources/books/">Books</a>
      <a class="helpmenu-link" href="/resources/podcasts/">Podcasts</a>
      <a class="helpmenu-link" href="/resources/test-your-skills/">Test Your Skills</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/jobs/">Get a Coding Job</a>
      <a class="helpmenu-link" href="/resources/open-source/">Get into Open Source</a>
      <a class="helpmenu-link" href="/resources/infosec/">InfoSec Resources</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/frontend/">Front End Dev</a>
      <a class="helpmenu-link" href="/resources/backend/">Back End Dev</a>
      <a class="helpmenu-link" href="/resources/mobile/">Mobile Dev</a>
      <a class="helpmenu-link" href="/resources/microsoft/">Microsoft Technologies</a>
      <a class="helpmenu-link" href="/resources/project-management/">Project Management</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/veterans/">Veterans</a>
      <a class="helpmenu-link" href="/resources/minorities/">Minorities</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
