<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">

      <h1>Getting Started</h1>
      <ul>
        <li>
          <a href="https://medium.com/@javier_noris/an-outline-to-learning-to-code-in-1-year-572a1a78fa62#.1gn9x76sb" data-original-href="https://medium.com/@javier_noris/an-outline-to-learning-to-code-in-1-year-572a1a78fa62#.1gn9x76sb">Blog Post -- Learn Code in 1 Year</a>
        </li>
        <li>
          <a href="http://norvig.com/21-days.html" data-original-href="http://norvig.com/21-days.html">Article -- Teach Yourself Programming in Ten Years</a>
        </li>
        <li>
          <a href="http://www.artima.com/weblogs/viewpost.jsp?thread=331531" data-original-href="http://www.artima.com/weblogs/viewpost.jsp?thread=331531">Article -- Principles of Good Programming</a>
        </li>
        <li>
          <a href="http://lifehacker.com/learn-which-programming-language-to-choose-with-this-in-1669612111" data-original-href="http://lifehacker.com/learn-which-programming-language-to-choose-with-this-in-1669612111">Infographic -- Which programming language to choose</a>
        </li>
      </ul>
    </div>

    <section class="helpmenu">
      <a class="helpmenu-link" href="/resources/">Resources Home</a>
      <a class="helpmenu-link" href="/resources/getting-started/">Getting Started</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/general-programming/">General Programming</a>
      <a class="helpmenu-link" href="/resources/cheatsheets/">Cheat Sheets</a>
      <a class="helpmenu-link" href="/resources/books/">Books</a>
      <a class="helpmenu-link" href="/resources/podcasts/">Podcasts</a>
      <a class="helpmenu-link" href="/resources/test-your-skills/">Test Your Skills</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/jobs/">Get a Coding Job</a>
      <a class="helpmenu-link" href="/resources/open-source/">Get into Open Source</a>
      <a class="helpmenu-link" href="/resources/infosec/">InfoSec Resources</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/frontend/">Front End Dev</a>
      <a class="helpmenu-link" href="/resources/backend/">Back End Dev</a>
      <a class="helpmenu-link" href="/resources/mobile/">Mobile Dev</a>
      <a class="helpmenu-link" href="/resources/microsoft/">Microsoft Technologies</a>
      <a class="helpmenu-link" href="/resources/project-management/">Project Management</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/veterans/">Veterans</a>
      <a class="helpmenu-link" href="/resources/minorities/">Minorities</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
