<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Hackathons</h1>
        <p class="lead">Hackathons are competitions for software developers, UI/UX engineers, and entrepreneurs to pitch, create and demo their products before their peers, judges, sponsors and the world. Curated by, <a href="https://twitter.com/davidcmolina">@davidcmolina</a>.</p>
       </div>
    </div>
  </div>
<div class="panel panel-default">
  <div class="panel-heading"></div>
    <div class="panel-body">
      <div class="col-md-6">
        <address>
          <strong><a href="http://www.angelhack.com/" target="_blank">AngelHack</a> - Join the largest hackathon in the world.</strong><br></a>
        </address>
        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/CoWPFYS6Ty4
" frameborder="0" allowfullscreen></iframe>
        </div>
        <address>
          <strong><a href="https://koding.com/Hackathon" target="_blank">Koding</a> - The world’s first global virtual hackathon.</strong><br></a>
        </address>

        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/CMRvf_YECAo" frameborder="0" allowfullscreen></iframe>
        </div>
         <address>
          <strong><a href="https://hacksummit.org/" target="_blank">HackSummit</a> - A virtual conference for developers.</strong><br></a>
        </address>

        <address>
          <strong><a href="http://startupweekend.org/" target="_blank">Startup Weekend</a> - Startup Weekends are 54-hour events where developers, designers, marketers, product managers and startup enthusiasts come together to share ideas, form teams, build products, and launch startups.</strong><br></a>
        </address>

        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/IElz7-8nmSY" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
