</br>
<div class="bs-docs-section" align="center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Our History</h2>
        <h2>2012: It all starts with a hackathon</h2>
        <li><p class="lead">Our founder and retired U.S. Army Captain David Molina attends his first hackathon in New York City. After a weekend learning at <a href="http://angelhack.com">AngelHack</a> he is inspired to pursue software craftsmanship as a post-military occupation. He submits his application to The Flatiron School while on active-duty only to discover that the program does not accept the New GI Bill as payment.</li></p>
        <li><p class="lead">Molina exits military serve in early 2013 and begins to self-learn Ruby on Rails, a full-stack web development platform for building comprehensive web applications attending <a href="http://bmoreonrails.org">Bmore on Rails</a> meetups and taking <a href="http://onemonth.com">One Month Rails</a> online.</p></li>
        <h2>2013: The vision becomes clearer</h2>
        <li><p class="lead">Molina attends <a href="http://railsconf.com">RailsConf</a> as a scholarship fellow and is introduced to the Portland ruby group and rubyists from around the world.</p></li>
        <li><p class="lead">Molina is selected and attends <a href="http://techstars.com/patriotbootcamp">Techstars Patriot Boot Camp (PBC)</a> at George Washington University. There he raises the problem to guest speaker and Virginia Senator Tim Kaine of the inability of using the New GI Bill to go to code school and prepare for the modern workforce. Before departing D.C., Molina takes an Uber to the U.S. Capitol and meets with U.S. Army Congressional Fellow Ben Culver. Culver recommends gathering the following data:</br>
        (1) Number of veterans who are interested in coding as a post-military occupation.</br>
        (2) Assessing the interest among all code schools nationally.</br>
        (3) Determining the overall associated costs with implementing a broad reaching program.
      </p></li>
      <li><p class="lead">Molina purchases opcod3.us and begins working on a first draft of this website with fellow Army veteran and software developer Don Livanec.</p></li>
      <h2>2014: Operation Code is a go</h2>
      <li><p class="lead">At <a href="http://cascadiarubyconf.com">Cascadia Ruby</a>, Molina is encouraged by fellow rubyist, Whitney Rose, to launch Operation Code's petition using Launchrock, and seperate the main application using Ruby on Rails for first iteration. After lengthy discussions with Kristin Smith (Code Fellows) and Adam Enbar (The Flatiron School), the first line of code is committed to GitHub on <a href="https://github.com/OperationCode/operationcode">August 21st, 2014</a>.</p></li>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="http://t.co/EdlBHLYVmM">http://t.co/EdlBHLYVmM</a> is live. If you&#39;re a <a href="https://twitter.com/hashtag/Veteran?src=hash">#Veteran</a> and want to learn to <a href="https://twitter.com/hashtag/code?src=hash">#code</a>, join us. <a href="http://t.co/gQv86By38i">pic.twitter.com/gQv86By38i</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/500155388889931776">August 15, 2014</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <li><p class="lead">Louisiana native, Army veteran and software developer Dr. James Davis joins Operation Code and supplies substantial incremental software functionality integrating the petition into the rails application.</p></li>
      <li><p class="lead">Molina begins pairing software developers and veterans to get coding faster. The 1-on-1 Software Mentor Protégé Program kicks off with HTML/CSS, JavaScript and Ruby on Rails. Dr. Davis becomes the first mentor and over a dozen veterans sign up to learn to code.</p></li>
      <li><p class="lead">Web developer, teacher, entrepreneur and co-founder of Code Fellows, Ivan Storck, purchases <a href="http://operationcode.org">operationcode.org</a> for Operation Code. Becomes our first in-kind donor.</p></li>
      <li><p class="lead"><a href="http://dnsimple.com">DNSimple</a> joins Operation Code as our domain management service provider ensuring this site is operational 24/7.</p></li>
      <li><p class="lead">Army veteran and aspiring software developer, Charles Sipe, contributes guest post, "<a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Why veterans will make excellent programs</a>," at switchup.org published on Veteran's Day and goes viral.</p></li>
      <li><p class="lead">New York City-based, HackHands co-founders, Forest Good & Geraldo Ramos, join Operation Code. Good & Ramos design our logo and provide our veterans access to <a href="https://hacksummit.org">hack.summit()</a>, a virtual conference to learn from the world's most renowned programmers.</p></li>

      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thanks <a href="https://twitter.com/hackhands">@hackhands</a> co-founders, <a href="https://twitter.com/ForestGood">@forestgood</a> &amp; <a href="https://twitter.com/geraldoramos">@geraldoramos</a>, for hacking a logo for us! We&#39;re stoked. <a href="https://twitter.com/hashtag/officialnow?src=hash">#officialnow</a> <a href="http://t.co/Y5RvzVGF5Q">pic.twitter.com/Y5RvzVGF5Q</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/557339630958174208">January 20, 2015</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <h2>2015: Scaling to new heights</h2>
      <li><p class="lead">Software developer Chris Hough joins Operation Code and provides software architecture advice that improves application functionality and speed. The open source code is moved from Molina's personal repo to an <a href="http://github.com/operationcode/operationcode">organizational repo</a> and half a dozen contributors join the team.</p></li>
      <li><p class="lead">Former President/CEO of United Way of Columbia-Willamette Jay Bloom and former Assistant Secretary of Veterans Affairs John Garcia join the Operation Code advisory team.</p></li>
      <li><p class="lead">Bend, Oregon-based, <a href="http://ruby.onales.com">Ruby on Ales</a> becomes first software developer industry conference to support veterans with ruby programming education. Four scholarships are awarded to two Army vets, one Marine vet, and one Navy vet.</p></li>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Meet <a href="https://twitter.com/USNavy">@USNavy</a> <a href="https://twitter.com/hashtag/Veteran?src=hash">#Veteran</a> <a href="https://twitter.com/RandyLeighton">@RandyLeighton</a>. Previously, unemployed.
        <a href="https://twitter.com/epicodus">@epicodus</a> grad and <br>now coder <a href="https://twitter.com/hashtag/inBend?src=hash">#inBend</a>. <a href="https://twitter.com/hashtag/operationcode?src=hash">#operationcode</a> <a href="http://t.co/LjdR8m3i9q">pic.twitter.com/LjdR8m3i9q</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/573615090202705920">March 5, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">

        <li><p class="lead">Following the two-day, McMenamins hosts us afterwards to do a tech workshop for the local veterans community.</p></li>

        <a href="https://twitter.com/RandyLeighton">@RandyLeighton</a>, Tom,
        <a href="https://twitter.com/dataface">@dataface</a> and <a href="https://twitter.com/davidcmolina">@davidcmolina</a> after tech workshop. Thanks McMenamins for hosting! <a href="https://twitter.com/hashtag/operationcode?src=hash">#operationcode</a> <a href="http://t.co/bmEr62TOaa">pic.twitter.com/bmEr62TOaa</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/574337457992437760">March 7, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <li><p class="lead">Columbia Journalism School grad and former Mint reporter Teresa Mahoney joins Operation Code to <a href="/media">interview veterans</a> from across the country, and craft our story using video to drive more public awareness.</p></li>

      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/tbt?src=hash">#tbt</a> when we were at <a href="https://twitter.com/epicodus">@epicodus</a> w/ <a href="https://twitter.com/bRonFloyd">@bRonFloyd</a> and <a href="https://twitter.com/TeresaMahoney">@TeresaMahoney</a>. <a href="https://twitter.com/hashtag/operationcode?src=hash">#operationcode</a> <a href="https://twitter.com/hashtag/pdx?src=hash">#pdx</a>
        <a href="http://t.co/EVM2UlvfRj">pic.twitter.com/EVM2UlvfRj</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/578757286312673280">March 20, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <li><p class="lead">Operation Code changes it's Twitter handle to <a href="http://twitter.com/operation_code">@operation_code</a> for more effective branding, as well as <a href="http://instagram.com/operation_code">Instagram</a> and <a href="http://facebook.com/operationcode.org">Facebook</a>.</p></li>
      <li><p class="lead">Formal launch of Operation Code. The <a href="http://calagator.org/events/1250468219">April 16th launch party</a> brings veteran coders, software developers, media and officials from U.S. Senator Ron Wyden and Congressman Blumenauer's office.
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Friends of <a href="https://twitter.com/hashtag/operationcode?src=hash">#operationcode</a> for our Launch Party at <a href="https://twitter.com/epicodus">@epicodus</a> <a href="https://twitter.com/hashtag/tbt?src=hash">#tbt</a> <a href="http://t.co/mn6mKx7D23">pic.twitter.com/mn6mKx7D23</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/591485986875420673">April 24, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </p></li>
      <li><p class="lead">Army veteran and software developer Fernando Paredes joins Operation Code and expands the Software Mentor Protégé Program to Peer-to-Peer mentorship using <a href="https://operation-code.slack.com/">Slack</a>. Paredes creates the following channels: Android, Ember, Go, HTML/CSS, iOS, Java, JavaScript, PHP, Python, and Ruby. Veterans now have instant access to a veterans coding community and software mentors accessible in the browser, desktop and via native app.</p></li>
      <li><p class="lead">Software developers, Fernando Paredes, Nell Shamrell, and Eric McKenna help make Operation Code more open and developer user-friendly by creating a <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">contributing guide</a>.</p></li>
      <li><p class="lead">Global hospitality provider, <a href="https://www.airbnb.com/">Airbnb</a> sponsors Operation Code veterans lodging requirements while visiting San Francisco for Signal. HQ tour is <a href="https://www.instagram.com/p/21p5bFxUjd/?taken-by=davidcmolina">provided</a> and Airbnb becomes official lodging sponsor for veterans doing job interviews going forward.</p></li>

      <li><p class="lead">San Francisco-based, <a href="https://www.twilio.com/signal/2015">SignalConf</a> becomes 2nd software developer industry conference to support Operation Code veterans to keep coding and building software. Three scholarships are awarded to two Army vets, and one Navy vet. Operation Code veterans tour Twilio.</p></li>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Special shout out to <a href="https://twitter.com/twilio">@twilio</a> <a href="https://twitter.com/Airbnb">@Airbnb</a> for making it possible for our <a href="https://twitter.com/hashtag/veterans?src=hash">#veterans</a> to attend <a href="https://twitter.com/signalconf">@signalconf</a> this week. <a href="http://t.co/EWomd8fwq4">pic.twitter.com/EWomd8fwq4</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/600721740948312066">May 19, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Our team on the ground at <a href="https://twitter.com/twilio">@twilio</a> HQ w/ @TheINDIEHost. <a href="https://twitter.com/hashtag/SignalConf?src=hash">#SignalConf</a>
        <a href="https://twitter.com/signalconf">@signalconf</a> <a href="http://t.co/3xq2f0VaSa">pic.twitter.com/3xq2f0VaSa</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/601187508160978944">May 21, 2015</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>.

        <li><p class="lead">While in San Francisco, Operation Code Founder David Molina hosts a meetup at 21st Amendment that is attended by Elmer Thomas (SendGrid), Laura Gómez (Atipica), Nick Frost (Navy Veteran) and Pete Runyon (Marine Veteran). The following day Pete accompanies David on meetings throughout San Francisco.</p></li>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you <a href="https://twitter.com/21stAmendment">@21stAmendment</a> for last night, the amazing hospitality and excellent beer selection! <a href="https://twitter.com/hashtag/operationcode?src=hash">#operationcode</a> #👊 <a href="http://t.co/ySLX29i7Xt">pic.twitter.com/ySLX29i7Xt</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/601403833395347456">May 21, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <li><p class="lead">To meet growth demands, Operation Code <a href="https://twitter.com/operation_code/status/614443994769027072">separates</a> from its fiscal sponsor/agent, The Cogostar Foundation, recruits new <a href="https://operationcode.org/blog/2015/09/30/announcing-operation-code-board-officers.html">founding governing board of directors</a> comprised of Army, Marine, and Navy veterans, an Army spouse, software developers and technology entrepreneurs, to include: Josh Carter, Aimee Knight, Nick Frost, Pete Runyon, Laura Gómez, Fernando Paredes, and Elmer Thomas. Operation Code incorporates as an Oregon nonprofit.</p></li>

      <li><p class="lead">Powered by Stripe, Operation Code incorporates SSL for the domain and begins accepting online donations.</p></li>

        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Your request to have an in-house donation capable form has been heard. Thanks to <a href="https://twitter.com/stripe">@stripe</a> we&#39;re here! <a href="https://twitter.com/hashtag/operationcode?src=hash">#operationcode</a> <a href="http://t.co/B1NO0udWXd">pic.twitter.com/B1NO0udWXd</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/619872618317901825">July 11, 2015</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <li><p class="lead"><a href="https://www.stickermule.com/">Sticker Mule</a> sponsors stickers and we begin covering laptops everywhere.</p></li>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Our <a href="https://twitter.com/stickermule">@stickermule</a>&#39;s fresh off the Oregon Trail. h/t <a href="https://twitter.com/hackhands">@hackhands</a> <a href="https://twitter.com/adorableio">@adorableio</a> <a href="https://twitter.com/hashtag/operationcode?src=hash">#operationcode</a> <a href="http://t.co/5BOhQXwkL7">pic.twitter.com/5BOhQXwkL7</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/607978609785962497">June 8, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <li><p class="lead">Founder of one of the first and largest high school hackathons, hackBCA, Jared Zoneraich joins the Operation Code advisory team.</p></li>
      <li><p class="lead">Attorney, entrepreneur and ex-Army Captain, Mark Kerr <a href="https://operationcode.org/blog/2015/11/08/introducing-the-new-operation-code-board-chair.html">joins</a> the Operation Code board of directors. He is elected chair of the board, and the board begins having regular conference calls focusing on infrastructure, processes & procedures, and fundraising strategy.</p></li>
      <h2>2016: Filing and growth</h2>

      <li><p class="lead"><a href="https://hacksummit.org/">hack.summit()</a> adds Operation Code to its list of coding nonprofits, and more military veterans attend.</p></li>

      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Wondering what happened to hack.summit() and when? Mark it on your calendars: Feb 22-25th - <a href="https://t.co/pfExk2VeTB">https://t.co/pfExk2VeTB</a> <a href="https://t.co/QoQj9QlRIG">pic.twitter.com/QoQj9QlRIG</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/692580768313384960">January 28, 2016</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <li><p class="lead"><a href="http://speakeasy.co/">Speakeasy</a> joins as the Operation Code conference sponsor. The Operation Code Battle Rhythym pencils in the first Tuesday of the month for its governing Board of Director calls.</p></li>

      <li><p class="lead">Operation Code prepares 501(c)(3) application. Marine Veteran and Board Secretary/Treasurer Pete Runyon drops $850 for the fee and its shipped.</p></li>
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Things are moving. <a href="https://twitter.com/hashtag/operationcode?src=hash">#operationcode</a> <a href="https://t.co/usY95axRmr">pic.twitter.com/usY95axRmr</a></p>&mdash; Operation Code (@operation_code)
        <a href="https://twitter.com/operation_code/status/707267330066108417">March 8, 2016</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <li><p class="lead">~41 business days later, Operation Code is a 501(c)(3) nonprofit organization.</p></li>
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">... And, ~41 business days later we&#39;re tax-exempt. Now back to work. Together we are <a href="https://twitter.com/hashtag/operationcode?src=hash">#operationcode</a>. <a href="https://t.co/SZYij4Qs2R">pic.twitter.com/SZYij4Qs2R</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/728018497343660032">May 5, 2016</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
