<div class="bs-docs-section" align="center">
<<<<<<< HEAD
</br>
    <h2>Our History</h2>
    <h2>2012: It all starts with a hackathon</h2>
    <li><p class="lead">Our founder and retired U.S. Army Captain David Molina attends his first hackathon in New York City. After a weekend learning at <a href="http://angelhack.com">AngelHack</a> he is inspired to pursue software craftsmanship as a post-military occupation. He submits his application to The Flatiron School while on active-duty only to discover that the program does not accept the New GI Bill as payment.</li></p>
    <li><p class="lead">Molina exits military serve in early 2013 and begins to self-learn Ruby on Rails, a full-stack web development platform for building comprehensive web applications attending <a href="http://bmoreonrails.org">Bmore on Rails</a> meetups and taking <a href="http://onemonth.com">One Month Rails</a> online.</p></li>

    <h2>2013: The vision becomes clearer</h2>
      <li><p class="lead">Molina attends <a href="http://railsconf.com">RailsConf</a> as a scholarship fellow and is introduced to the Portland ruby group and rubyists from around the world.</p></li>

      <li><p class="lead">Molina is selected and attends <a href="http://techstars.com/patriotbootcamp">Techstars Patriot Boot Camp (PBC)</a> at George Washington University. There he raises the problem to guest speaker and Virginia Senator Tim Kaine of the inability of using the New GI Bill to go to code school and prepare for the modern workforce. Before departing D.C., Molina takes an Uber to the U.S. Capitol and meets with U.S. Army Congressional Fellow Ben Culver. Culver recommends gathering the following data:</br>
=======
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Our History</h2>
        <h2>2012: It all starts with a hackathon</h2>
        <li><p class="lead">Our founder and retired U.S. Army Captain David Molina attends his first hackathon in New York City. After a weekend learning at <a href="http://angelhack.com">AngelHack</a> he is inspired to pursue software craftsmanship as a post-military occupation. He submits his application to The Flatiron School while on active-duty only to discover that the program does not accept the New GI Bill as payment.</li></p>
        <li><p class="lead">Molina exits military serve in early 2013 and begins to self-learn Ruby on Rails, a full-stack web development platform for building comprehensive web applications attending <a href="http://bmoreonrails.org">Bmore on Rails</a> meetups and taking <a href="http://onemonth.com">One Month Rails</a> online.</p></li>
        <h2>2013: The vision becomes clearer</h2>
        <li><p class="lead">Molina attends <a href="http://railsconf.com">RailsConf</a> as a scholarship fellow and is introduced to the Portland ruby group and rubyists from around the world.</p></li>
        <li><p class="lead">Molina is selected and attends <a href="http://techstars.com/patriotbootcamp">Techstars Patriot Boot Camp (PBC)</a> at George Washington University. There he raises the problem to guest speaker and Virginia Senator Tim Kaine of the inability of using the New GI Bill to go to code school and prepare for the modern workforce. Before departing D.C., Molina takes an Uber to the U.S. Capitol and meets with U.S. Army Congressional Fellow Ben Culver. Culver recommends gathering the following data:</br>
>>>>>>> upstream/master
        (1) Number of veterans who are interested in coding as a post-military occupation.</br>
        (2) Assessing the interest among all code schools nationally.</br>
        (3) Determining the overall associated costs with implementing a broad reaching program.
      </p></li>
<<<<<<< HEAD
    <li><p class="lead">Molina purchases opcod3.us and begins working on a first draft of this website with fellow Army veteran and software developer Don Livanec.</p></li>

    <h2>2014: Operation Code is a go</h2>
    <li><p class="lead">At <a href="http://cascadiarubyconf.com">Cascadia Ruby</a>, Molina is encouraged by fellow rubyist, Whitney Rose, to launch Operation Code's petition using Launchrock, and seperate the main application using Ruby on Rails for first iteration. The first line of code is committed to GitHub on August 22nd, 2014.</p></li>
    <li><p class="lead">Louisiana native, Army veteran and software developer Dr. James Davis joins Operation Code and supplies substantial incremental software functionality integrating the petition into the rails application.</p></li>
    <li><p class="lead">Molina begins pairing software developers and veterans to get coding faster. The 1-on-1 Software Mentor Protégé Program kicks off with HTML/CSS, JavaScript and Ruby on Rails. Dr. Davis becomes the first mentor.</p></li>
    <li><p class="lead">Web developer, teacher, entrepreneur and co-founder of Code Fellows, Ivan Storck, purchases <a href="http://operationcode.org">operationcode.org</a> for Operation Code. Becomes our first in-kind donor.</p></li>
    <li><p class="lead"><a href="http://dnsimple.com">DNSimple</a> joins Operation Code as our domain management service provider ensuring this site is operational 24/7.</p></li>
    <li><p class="lead">Army veteran and aspiring software developer, Charles Sipe, contributes guest post, "<a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Why veterans will make excellent programs</a>," at switchup.org published on Veteran's Day and goes viral.</p></li>
    <li><p class="lead">New York City-based, HackHands co-founders, Forest Good & Geraldo Ramos, join Operation Code. Good & Ramos design our logo and provide our veterans access to <a href="https://hacksummit.org">hack.summit()</a>, a virtual conference to learn from the world's most renowned programmers.</p></li>

    <h2>2015: Scaling to new heights</h2>
    <li><p class="lead">Software developer Chris Hough joins Operation Code and provides software architecture advice that improves application functionality and speed. The open source code is moved from Molina's personal repo to an <a href="http://github.com/operationcode/operationcode">organizational repo</a> and half a dozen contributors join the team.</p></li>
    <li><p class="lead">Former President/CEO of United Way of Columbia-Willamette Jay Bloom and former Assistant Secretary of Veterans Affairs John Garcia join the Operation Code advisory team.</p></li>
    <li><p class="lead">Bend, Oregon-based, <a href="http://ruby.onales.com">Ruby on Ales</a> becomes first software developer industry conference to support veterans with ruby programming  education. Four scholarships are awarded.</p></li>
    <li><p class="lead">Columbia Journalism School grad and former Mint reporter Teresa Mahoney joins Operation Code to interview veterans from across the country, and craft our story using video to drive more public awareness.</p></li>
    <li><p class="lead">Operation Code changes it's Twitter handle to <a href="http://twitter.com/operation_code">@operation_code</a> for more effective branding, as well as <a href="http://instagram.com/operation_code">Instagram</a> and <a href="http://facebook.com/operationcode.org">Facebook</a>.</p></li>
    <li><p class="lead">Formal launch of Operation Code funding campaign leveraging Project Crowdfund consulting and COGOSTAR platform. The April 16th launch party brings veteran coders, software developers, media and officials from U.S. Senator Ron Wyden and Congressman Blumenauer's office.</p></li>
    <li><p class="lead">Army veteran and software developer Fernando Paredes joins Operation Code and expands the Software Mentor Protégé Program to Peer-to-Peer mentorship using Slack. Paredes creates the following channels: Android, Ember, Go, HTML/CSS, iOS, Java, JavaScript, PHP, Python, and Ruby. Veterans now have instant access to a veterans coding community and software mentors accessible in the browser, desktop and mobile.</p></li>
    <hr>
=======
      <li><p class="lead">Molina purchases opcod3.us and begins working on a first draft of this website with fellow Army veteran and software developer Don Livanec.</p></li>
      <h2>2014: Operation Code is a go</h2>
      <li><p class="lead">At <a href="http://cascadiarubyconf.com">Cascadia Ruby</a>, Molina is encouraged by fellow rubyist, Whitney Rose, to launch Operation Code's petition using Launchrock, and seperate the main application using Ruby on Rails for first iteration. The first line of code is committed to GitHub on August 21st, 2014.</p></li>
      <li><p class="lead">Louisiana native, Army veteran and software developer Dr. James Davis joins Operation Code and supplies substantial incremental software functionality integrating the petition into the rails application.</p></li>
      <li><p class="lead">Molina begins pairing software developers and veterans to get coding faster. The 1-on-1 Software Mentor Protégé Program kicks off with HTML/CSS, JavaScript and Ruby on Rails. Dr. Davis becomes the first mentor.</p></li>
      <li><p class="lead">Web developer, teacher, entrepreneur and co-founder of Code Fellows, Ivan Storck, purchases <a href="http://operationcode.org">operationcode.org</a> for Operation Code. Becomes our first in-kind donor.</p></li>
      <li><p class="lead"><a href="http://dnsimple.com">DNSimple</a> joins Operation Code as our domain management service provider ensuring this site is operational 24/7.</p></li>
      <li><p class="lead">Army veteran and aspiring software developer, Charles Sipe, contributes guest post, "<a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Why veterans will make excellent programs</a>," at switchup.org published on Veteran's Day and goes viral.</p></li>
      <li><p class="lead">New York City-based, HackHands co-founders, Forest Good & Geraldo Ramos, join Operation Code. Good & Ramos design our logo and provide our veterans access to <a href="https://hacksummit.org">hack.summit()</a>, a virtual conference to learn from the world's most renowned programmers.</p></li>
      <h2>2015: Scaling to new heights</h2>
      <li><p class="lead">Software developer Chris Hough joins Operation Code and provides software architecture advice that improves application functionality and speed. The open source code is moved from Molina's personal repo to an <a href="http://github.com/operationcode/operationcode">organizational repo</a> and half a dozen contributors join the team.</p></li>
      <li><p class="lead">Former President/CEO of United Way of Columbia-Willamette Jay Bloom and former Assistant Secretary of Veterans Affairs John Garcia join the Operation Code advisory team.</p></li>
      <li><p class="lead">Bend, Oregon-based, <a href="http://ruby.onales.com">Ruby on Ales</a> becomes first software developer industry conference to support veterans with ruby programming  education. Four scholarships are awarded.</p></li>
      <li><p class="lead">Columbia Journalism School grad and former Mint reporter Teresa Mahoney joins Operation Code to interview veterans from across the country, and craft our story using video to drive more public awareness.</p></li>
      <li><p class="lead">Operation Code changes it's Twitter handle to <a href="http://twitter.com/operation_code">@operation_code</a> for more effective branding, as well as <a href="http://instagram.com/operation_code">Instagram</a> and <a href="http://facebook.com/operationcode.org">Facebook</a>.</p></li>
      <li><p class="lead">Formal launch of Operation Code funding campaign leveraging Project Crowdfund consulting and COGOSTAR platform. The April 16th launch party brings veteran coders, software developers, media and officials from U.S. Senator Ron Wyden and Congressman Blumenauer's office.</p></li>
      <li><p class="lead">Army veteran and software developer Fernando Paredes joins Operation Code and expands the Software Mentor Protégé Program to Peer-to-Peer mentorship using Slack. Paredes creates the following channels: Android, Ember, Go, HTML/CSS, iOS, Java, JavaScript, PHP, Python, and Ruby. Veterans now have instant access to a veterans coding community and software mentors accessible in the browser, desktop and mobile.</p></li>
      <li><p class="lead">Operation Code <a href="https://twitter.com/operation_code/status/614443994769027072">separates</a> from our fiscal sponsor, Cogostar Foundation, files for 501(c)(3) and recruits new founding board of directors.</p></li>
    </div>
  </div>
</div>
>>>>>>> upstream/master
