<div id="video">
  <%= video_tag "background_video.mp4", autoplay: "true", muted: "true", loop: "true" %>
  <div id="overlay">
    <h2>We're on a mission to expand the New GI Bill to cover
      <a href="/codeschools">code schools</a> so that Veterans
      can learn to code, build awesome products and get jobs in
      the software industry.
    </h2>
    <h3>
      Veteran-founded and led, Operation Code is focused on increasing the
      number of U.S. military/ Veterans to careers in software development
      and coding through scholarships and mentorship while putting a dent in
      the nation's technical talent shortage.
    </h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2 class="center">Scholarship Fellows</h2>
      <p>A coding scholarship for a deserving Veteran to transition to a
        software career would be life-changing in every imaginable way. Our
        Veterans come from every branch of our military. Help us cover a
        Veteran today.</p>
      <p class="center"><a class="btn btn-default"
        href="https://www.cogostar.org/payments/new/user/383"
        role="button">Donate now</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2 class="center">Software Mentorship</h2>
      <p>Learning to program is rewarding, creative, enjoyable but
        challenging. However, no Veteran should code alone. Our Software
        Mentor Protégé Program pairs a volunteer softare developer with a
        Veteran to keep coding.</p>
      <p class="center"><a class="btn btn-default" href="/action" role="button">Enroll
        now &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2 class="center">New GI Bill Expansion</h2>
      <p>Expanding the New GI Bill to include code school tuition, room and
        board is the objective. Ensuring our tax payer dollars are used for
        21st century software education that delivers results should be
        priority.
      </p>
      <p class="center"><a class="btn btn-default" href="/action">Take action &raquo;</a></p>
    </div>
  </div>

  <hr>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
 $(window).on('resize orientationChanged', function() {
   var $vid = $('video','#video');
   var $msg = $('#overlay');
   $msg.css({
   left:$vid.offset().left + (($vid.width()/2) - ($msg.width()/2))
   });
 });
 var $vid = $('video','#video');
 var $msg = $('#overlay');
  $msg.css({
    top:$vid.offset().top + (($vid.height()/2) - ($msg.height()/2)),
    left:$vid.offset().left + (($vid.width()/2) - ($msg.width()/2))
  });
</script>
