<div class="jumbotron phone_view">
  <div class="container">
    <h2>On a mission to get military Veterans coding.
    </h2>
    <h3>
<!--     Veteran-founded and led, Operation Code is focused on increasing the number
    of U.S. Military/ Veterans to careers in software development and coding
    through scholarships and mentorship while putting a dent in the nation's
    technical talent shortage. -->
    </h3>
  </div>
</div>
<div id="wrap">
  <div id="video">
    <%= video_tag "https://s3-us-west-2.amazonaws.com/operationcode/broll+for+web_hand+typing.mp4", autoplay: "true", muted: "true", loop: "true" %>
    <div id="overlay">
      <h2 class="small_screen_h2">On a mission to get military Veterans coding. <a href="https://vimeo.com/124866675">Why?</a>
      </h2>
      <h3 class="small_screen_h3">
  <!--       Veteran-founded and led, Operation Code is focused on increasing the
        number of U.S. military/ Veterans to careers in software development
        and coding through scholarships and mentorship while putting a dent in
        the nation's technical talent shortage. -->
      </h3>
    </div>
  </div>
  <div class="row scholar">
    <div class="photo-text">
      <h2 class="center">Scholarship Fellows</h2>
      <p>A scholarship for a deserving Veteran to transition to a
        software career would be life-changing in every imaginable way. Our
        Veterans proudly hail from every branch of our military. Our capital campaign goal is to crowdfund $7.5 million for scholarships.

  <!--       <iframe src="https://player.vimeo.com/video/124794084" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/124794084"></p> -->
      </p>
      <p class="center"><a class="btn btn-default"
        href="https://vimeo.com/124794084"
        role="button">Learn more</a>
      </p>
    </div>
  </div>
  <div class="row mentor">
    <div class="photo-text">
      <h2 class="center">Software Mentorship</h2>
      <p>Learning to program is both rewarding and challenging, however, no Veteran should code alone. Our Software Mentor Protégé Program pairs a volunteer software developer with a Veteran to keep coding.</p>
      <p class="center"><a class="btn btn-default" href="/action" role="button">Enroll Now</a>
      </p>
    </div>
  </div>
  <div class="row gi-bill">
    <div class="photo-text">
      <h2 class="center">New GI Bill Expansion</h2>
      <p>Congress can and should create a special category of accreditation that paves the way for Veterans to receive this software training.
      </p>
      <p class="center"><a class="btn btn-default" href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Why Veterans?</a></p>
    </div>
  </div>
</div>




<hr>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
 $(window).on('resize orientationChanged', function() {
   var $vid = $('video','#video');
   var $msg = $('#overlay');
   $msg.css({
     top:$vid.offset().top + (($vid.height()/2) - ($msg.height()/2)),
     left:$vid.offset().left + (($vid.width()/2) - ($msg.width()/2))
   });
 });
 var $vid = $('video','#video');
 var $msg = $('#overlay');
  $msg.css({
    top:$vid.offset().top + (($vid.height()/2) - ($msg.height()/2)),
    left:$vid.offset().left + (($vid.width()/2) - ($msg.width()/2))
  });
</script>
