    <div class="jumbotron">
      <div class="container">
        <h1>Welcome!</h1>
        <p>At <code>&lt;Operation Code&gt;</code>, we're on a mission to expand the New GI Bill to cover code schools so that Veterans' can learn to code and help build a 21st century America and a better world.
        <p><a class="btn btn-primary btn-lg" href="/action" role="button">Count me in &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Situation</h2>
          <p>Over 232,000 American software jobs are going unfilled due to a critical  talent shortage, despite 30,000 computer science graduates. Recently, code schools have been created by developers themselves to bridge that gap, but Veterans are unable to use their New GI Bill benefits towards their tuition, room and board. </p>
          <p><a class="btn btn-default" href="/about#situation" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Mission</h2>
          <p><code>&lt;Operation Code&gt;</code> will interface with Congress, the White House, VA, Code School Founders and Tech Company Hiring Managers to enable Veterans to use their earned New GI Bill benefits seamlessly so they can gain practical skills in software development and be job-ready for the 21st century. </p>
          <p><a class="btn btn-default" href="/about#mission" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Execution</h2>
          <p>It's the founder's intent to educate all interested parties, manuever required legislation, and support Veterans' in their transition from military service in pursuit to a code school of their choice to learn to code and build awesome products. We will use this site, and <a href="https://twitter.com/opcod3us">Twitter</a> for all  communication.</p>
          <p><a class="btn btn-default" href="/about#execution" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <hr>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
