    <div class="jumbotron">
      <div class="container">
        <h1></h1>
        <h3><!-- We're on a mission to expand the New GI Bill to cover <a href="/codeschools">code schools</a> so that Veterans can learn to code, build awesome products and get jobs in the software industry -->Veteran-founded and led, Operation Code is on a mission to increase military/ Veterans to careers in software development and coding through scholarships and mentorship while putting a dent in the nation's technical talent shortage. <!-- We believe America's patriots who have served their country should be trained to code, fill tech positions and combined with their leadership, work ethic and discipline help solve some of our country's and global problems with open source software --></h3>
        <!-- <p><a href="/action" class="btn btn-primary btn-lg" role="button">Add my name &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Scholarship Fellows</h2>
          <p>A coding scholarship to our Veterans to transition to a software career would be life-changing in every imaginable way. We're raising funds now to cover tuition, room, board and MacBooks for our Veterans.</p>
          <p><a class="btn btn-default" href="/action" role="button">Join now &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Software Mentorship</h2>
          <p>While learning to code is rewarding and challenging, no Veteran should prepare alone. Our Software Mentor Protégé Program pairs a volunteer softare developer with a Veteran to get coding faster.</p>
          <p><a class="btn btn-default" href="/action" role="button">Enroll now &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>New GI Bill Expansion</h2>
          <p>Expanding the New GI Bill to include code school tuition, room and board is our long-term objective. Ensuring our tax payer dollars is used for 21st century software education should be nonpartisan and seamless. 
          <p><a class="btn btn-default" href="/action">Take action &raquo;</a></p>
        </div>
      </div>
      <hr>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
