    <div class="jumbotron">
      <div class="container">
        <h1></h1>
        <h3>We're on a mission to expand the New GI Bill to cover code schools so that Veterans' can build awesome things with code and help create a 21st century America and a better world.</h3>
        <!-- <p><a href="/action" class="btn btn-primary btn-lg" role="button">Add my name &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Situation</h2>
          <p>As Veterans' we are unable to use our hard earned New GI Bill benefit towards code school tuition, room and board. These are practical, hands-on schools that prepare students for software jobs.</p>
          <p><a class="btn btn-default" href="http://radar.oreilly.com/2014/01/the-reason-everyone-should-learn-to-code.html" role="button">Why code? &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Mission</h2>
          <p>We're on a mission to expand the New GI Bill to cover code school tuition, room and board costs, which currently isn't available to Veterans' so that we can commit full-time without distraction.</p>
          <p><a class="btn btn-default" href="/codeschools" role="button">Learn more &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Contribute</h2>
          <p>Have a suggestion for <code>&lt;Operation Code&gt;</code>? Please consider <a href="https://github.com/davidmolina/operationcode">creating a pull request</a>. Interested in helping us tell our story to Congress, White House and the general public? Sponsor this project?
          <p><a class="btn btn-default" href="mailto:david.c.molina@me.com">Get in touch &raquo;</a></p>
        </div>
      </div>
      <hr>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
