<!--     Veteran-founded and led, Operation Code is focused on increasing the
number of U.S. Military/ Veterans to careers in software development and coding
through scholarships and mentorship while putting a dent in the nation's
technical talent shortage. -->
<div id="wrap">
  <div id="video">
    <div id="slides">
      <li>
        <div id="overlay"><h1 class="small-screen-h2">Welcome back. You served your country.</br>Now let's get you coding and to your next mission.</h1></div>
        <img src="/assets/gi-bill.jpg">
      </li>
      <li>
        <img src="/assets/mentorship.jpg">
        <div id="overlay"><h1 class="small-screen-h2">No Veteran should learn to code alone.</br>We provide Veterans software mentorship support in a peer-to-peer, safe learning environment to get coding today.</h1></div>
      </li>
      <li>
        <img src="/assets/scholarship.jpg">
        <div id="overlay"><h1 class="small-screen-h2">Expanding the nation's technical talent pipeline with Americans who've served their country and can code. Service to country continues.</h1></div>
      </li>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12"> -->
      <!-- <ul class="nav nav-tabs">
        <li class=""><a href="#home" data-toggle="tab" aria-expanded="true"><h4>Coding Scholarships</h4></a></li>
        <li class=""><a href="#mentoring" data-toggle="tab" aria-expanded="false"><h4>Software Mentor Protégé Program</h4></a></li>
        <li class="active"><a href="#gi-bill-expansion" data-toggle="tab" aria-expanded="false"><h4>Employer Services</h4></a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="home">
          <p><h4>Your generous, tax deductible donation to Operation Code enables us to help service-members returning home from the current conflicts to seamlessly transition to a career in software development. With your help, we'll help fill in the gap so that more veterans can get the software training and help fill the nation's technical talent shortage.</h4></p>
          <p class="center"><%= link_to 'Donate', new_donation_path, class: "btn btn-default" %></p>
        </div>
        <div class="tab-pane fade" id="mentoring">
          <p><h4>Learning to code and join an American software company can be daunting if your entire career has been serving our country. Our Software Mentor Protégé Program gets veterans coding through both 1-on-1 software mentorship as well as our Peer-to-Peer community. Our vetted software developers are experts in their craft and help our veterans debug their code quicker so they can keep coding, join the ranks as software developers and begin making invaluable open source software contributions today.</h4></p>
          <p class="center"><a class="btn btn-default" href="/mentorship" role="button">Read more</a></p>
        </div>
        <div class="tab-pane fade active in" id="gi-bill-expansion">
          <p><h4>The men and women of our Armed Forces have already proven themselves on and off the battlefield with their leadership, tenacity, navigating complex situations, and managing teams to mission success. Hiring veterans is not only a smart investment in your company, but as an Employer Partner we help deepen the pool of diverse applicants who not only bring these soft skills to the table, but can also code.</h4></p>
          <p class="center"><a class="btn btn-default" href="/employers" role="button">Learn more</a></p>
        </div> -->
      <!-- </div>
    </div>
  </div> -->
<!-- </div> -->
<script>
$('#slides').slidesjs({
  width: 940,
  height: 528,
  navigation: false,
  pagination: false,
  play: {
  active: false,
  auto: true,
  interval: 5000,
  fade: true,
  effect: "fade"
},
  effect: {
    fade: {speed: 1000}
  }
});
</script>

<div class="bs-docs-section" align="center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Our Mission</h2>
        <p class="lead">On a mission to help America's active duty military, guard & reserve citizen-soldiers, Veterans and military families learn to code and build software to change the world.</p>

        <!-- <p class="lead">At Operation Code, we believe every Veteran and their families deserve access to 21st century software development education and mentorship. We believe Veterans equipped with programming knowledge will create web products and services that improve and move the United States forward and make a better world.</p> -->
        <hr>
        <h2>Programs</h2>
        <p class="lead">Veteran-founded and led, Operation Code is a coding nonprofit working to ensure Veterans don't get left behind in the 21st century new skills economy. We do this through the Software Mentor Protégé Program, Scholarship Program, Web Apprenticeship Program, and Employer Services. We are supported by the community and run on a bootstrap budget. <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">Contribute</a> or <a href="http://operationcode.org/donate">donate</a> to help us go further.</p>
        <hr>
        <h2>Our Story</h2>
        <p class="lead">Meet Iraq-war Marine Veteran Victor Molina who deployed to Baghdad, Iraq in 2003. Since joining our ranks, he's attended <a href="https://www.codercamps.com/">Coder Camps</a> and working to transition to an entry level developer position.</p>
        <div class="video-container">
          <iframe src="https://player.vimeo.com/video/124794084" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p>.</p>
        </div></br>
        <p class="lead">Produced and directed by Columbia School of Journalism grad, Teresa Mahoney, the Operation Code video highlights what is coding, what are code schools and the struggle Veterans face when returning home to transition to software careers.</p>
        <div class="video-container">
          <iframe src="https://player.vimeo.com/video/124866675" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p></p>
        </div>
        <hr>

        <h1>Press</h1>

        <h3 class="list-group-item-heading"><a href="http://www.geekwire.com/2016/call-duty-technology-veterans-rally-support-operation-code/">"We as a community should try to hold each other up and push each other forward."</a></h3>
      <a href="http://www.geekwire.com/2016/call-duty-technology-veterans-rally-support-operation-code/">Lisa Stiffler, GeekWire</a></p></br>

        <h3 class="list-group-item-heading"><a href="http://techcrunch.com/2015/11/11/few-options-for-veterans-looking-to-enter-tech/">“The Army’s Soldier for Life Program that is intended to help separating soldiers transition into new careers didn’t offer much career-specific guidance on the software developer field. Most information related to computers or technology was centered around network admin or network security,” Hampton said.</a></h3>
        <a href="http://techcrunch.com/2015/11/11/few-options-for-veterans-looking-to-enter-tech/">Sara Inés Calderón, TechCrunch</a></p></br>

        <h3 class="list-group-item-heading"><a href="http://www.ibtimes.com/coding-boot-camps-go-after-veterans-take-silicon-valleys-vacant-tech-jobs-2174421">“Understanding how to code is understanding innovation. These are the white-collar jobs of today,” says David Molina, founder and executive director of Operation Code. “We’re talking about filling the country’s tech shortage with the men and women who served our country.”</a></h3>
        <a href="http://www.ibtimes.com/coding-boot-camps-go-after-veterans-take-silicon-valleys-vacant-tech-jobs-2174421">Salvador Rodriguez, International Business Times</a></p></br>

        <a href="/join" class="btn btn-primary btn-lg active" role="button">Join our ranks</a>
        <hr>
      </div>
    </div>
  </div>
