    <div class="jumbotron">
      <div class="container">
        <h1></h1>
        <p>We're on a mission to expand the New GI Bill to cover code schools so that Veterans' can build awesome things with code and help create a 21st century America and a better world.
        <p><a href="/action" class="btn btn-primary btn-lg" role="button">Add my name &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Situation</h2>
          <p>As Veterans' we are unable to use our hard earned New GI Bill benefit towards code school tuition, room and board, despite having sacificed and served our country. This needs to change.</p>
         <!--  <p><a class="btn btn-default" href="/about" role="button">Learn more &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
          <h2>Mission</h2>
          <p>Expand the New GI Bill to cover code school tuition, room and board costs so that we can commit full-time without distraction. What's a code school you ask? Click link below.</p>
          <p><a class="btn btn-default" href="http://radar.oreilly.com/2014/01/the-reason-everyone-should-learn-to-code.html" role="button">Why Code? &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Contribute</h2>
          <p>Have a suggestion for <code>&lt;Operation Code&gt;</code>? Please consider <a href="https://github.com/davidmolina/operationcode">creating a pull request</a>. Interested in helping us tell our story to Congress and the general public? <a href="mailto:david.c.molina@me.com">Get in touch</a>. Anything else we missed? Get in touch. 
          <p><a class="btn btn-default" href="https://twitter.com/share" class="twitter-share-button" data-url="Dear #Congress #POTUS @BarackObama: New mission: allow us to use our #GIBill to #learntocode. Learn more: http://opcod3.us/ @opcod3us" data-count="horizontal" data-via="opcod3us" data-related="davidcmolina:Founder of Operation Code">Spread the word &raquo;</a></p>
        </div>
      </div>
      <hr>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
