    <div class="jumbotron">
      <div class="container">
        <h2>We're on a mission to expand the New GI Bill to cover code schools so that Veterans can learn to code, build awesome products and get jobs in the software industry.</h2>
        <h3>
        Veteran-founded and led, Operation Code is focused on increasing the number of U.S. military/ Veterans to careers in software development and coding through scholarships and mentorship while putting a dent in the nation's technical talent shortage.
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Scholarship Fellows</h2>
          <p>Scholarship to transition to a software career would be life-changing in every imaginable way. Every Veteran that joins is eligible. Help us cover tuition, room, board for our Veterans today.</p>
          <p><a class="btn btn-default" href="https://www.cogostar.org/payments/new/user/383" role="button">Donate now</a></p>
        </div>
        <div class="col-md-4">
          <h2>Software Mentorship</h2>
          <p>While learning to code is rewarding and challenging, no Veteran should prepare alone. Our Software Mentor Protégé Program pairs a volunteer softare developer with a Veteran to get coding faster.</p>
          <p><a class="btn btn-default" href="/action" role="button">Enroll now &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>New GI Bill Expansion</h2>
          <p>Expanding the New GI Bill to include code school tuition, room and board is the objective. Ensuring our tax payer dollars are used for 21st century software education that delivers results should be priority. 
          <p><a class="btn btn-default" href="/action">Take action &raquo;</a></p>
        </div>
      </div>

      <hr>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
