    <div class="jumbotron">
      <div class="container">
        <h1></h1>
        <h3>We're on a mission to expand the New GI Bill to cover code schools so that Veterans' can build awesome things with code and help create a 21st century America and a better world.</h3>
        <!-- <p><a href="/action" class="btn btn-primary btn-lg" role="button">Add my name &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Situation</h2>
          <p>As Veterans' we are unable to use our hard earned New GI Bill benefit towards <a href="/codeschools">code school</a> tuition, room and board. These are practical, hands-on schools that prepare students immediately for software entry jobs.</p>
          <p><a class="btn btn-default" href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers" role="button">Why Veterans? &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Mission</h2>
          <p>We're on a mission to expand the New GI Bill to cover <a href="/codeschools">code school</a> tuition, room and board costs. Attending 2 or 4-yrs is not an option for a family of five. Join our cause by adding your name.</p>
          <p><a class="btn btn-default" href="/action" role="button">Add your name &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Contribute</h2>
          <p>Have a suggestion for <code>&lt;Operation Code&gt;</code>? Please consider <a href="https://github.com/davidmolina/operationcode">creating a pull request</a>. Interested in helping us tell our story to Congress and the White House? Organize a meetup for fellow Veterans? Sponsor?
          <p><a class="btn btn-default" href="mailto:david.c.molina@gmail.com">Get in touch &raquo;</a></p>
        </div>
      </div>
      <hr>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
