    <div class="jumbotron">
      <div class="container">
        <h1></h1>
        <h3>We're on a mission to expand the New GI Bill to cover <a href="/codeschools">code schools</a> so that Veterans can learn to code, build awesome products and get jobs in the software industry.</h3>
        <!-- <p><a href="/action" class="btn btn-primary btn-lg" role="button">Add my name &raquo;</a></p> -->
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Our Cause</h2>
          <p>At this time, Veterans are unable to their hard earned New GI Bill benefits towards code school tuition, room and board. These are practical, hands-on digital vocational schools that prepare students immediately for software entry jobs.</p>
          <p><a class="btn btn-default" href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Add Your Name</h2>
          <p>Scholarships and discounts help, but only go so far. Add your name today to our growing list of military, Veterans and supporters who believe that the New GI Bill should include code schools and online bootcamps. Then share at will.</p>
          <p><a class="btn btn-default" href="/action" role="button">Add your name &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Partner</h2>
          <p>Do you want to see more Veterans learning to code? Want to mentor and put a dent in Veterans unemployment? Experienced in legislative affairs and want to make a difference? Want to help us accelerate this cause?
          <p><a class="btn btn-default" href="mailto:david.c.molina@gmail.com">Get in touch &raquo;</a></p>
        </div>
      </div>
      <hr>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
