<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">

      <h3>Cyber/Information Security News/Blogs</h3>
      <ul>
        <li>
          <a href="http://www.csoonline.com/" data-original-href="http://www.csoonline.com/">CSO from IDG</a>
        </li>
        <li>
          <a href="http://www.darkreading.com" data-original-href="http://www.darkreading.com">Dark Reading</a>
        </li>
        <li>
          <a href="http://www.hackinthebox.org/" data-original-href="http://www.hackinthebox.org/">Hack in the Box</a>
        </li>
        <li>
          <a href="http://securityweekly.com/" data-original-href="http://securityweekly.com/">Paul's Security Weekly</a>
        </li>
        <li>
          <a href="http://www.scmagazine.com" data-original-href="http://www.scmagazine.com">SC Magazine</a>
        </li>
        <li>
          <a href="http://www.welivesecurity.com" data-original-href="http://www.welivesecurity.com">We Live Security</a>
        </li>
        <li>
          <a href="https://tisiphone.net" data-original-href="https://tisiphone.net">Hacks4Pancakes</a>
        </li>
        <li>
          <a href="http://www.v3.co.uk/type/news" data-original-href="http://www.v3.co.uk/type/news">V3 from Incisive Business Limited</a>
        </li>
        <li>
          <a href="https://krebsonsecurity.com" data-original-href="https://krebsonsecurity.com">Krebs on Security</a>
        </li>
        <li>
          <a href="http://threatpost.com" data-original-href="http://threatpost.com">threatpost</a>
        </li>
        <li>
          <a href="http://www.theregister.co.uk/security/" data-original-href="http://www.theregister.co.uk/security/">The Register</a>
        </li>
        <li>
          <a href="https://nakedsecurity.sophos.com" data-original-href="https://nakedsecurity.sophos.com">Naked Security</a>
        </li>
        <li>
          <a href="https://blog.detectify.com/" data-original-href="https://blog.detectify.com/">Detectify Blog</a>
        </li>
        <li>
          <a href="http://ceukelai.re/" data-original-href="http://ceukelai.re/">Security Shizzle — Inti De Ceukelaire</a>
        </li>
        <li>
          <a href="https://fin1te.net/" data-original-href="https://fin1te.net/">fin1te: Bug Bounty Participant</a>
        </li>
        <li>
          <a href="https://makthepla.net/blog/" data-original-href="https://makthepla.net/blog/">maKthePla.net</a>
        </li>
        <li>
          <a href="https://bitquark.co.uk/blog/" data-original-href="https://bitquark.co.uk/blog/">Security & Code Blog</a>
        </li>
        <li>
          <a href="http://vincentyiu.london/wordpress/" data-original-href="http://vincentyiu.london/wordpress/">>_VYSEC</a>
        </li>
        <li>
          <a href="https://pwnhack.com/" data-original-href="https://pwnhack.com/">PWNHACK</a>
        </li>
        <li>
          <a href="http://philippeharewood.com/" data-original-href="http://philippeharewood.com/">Philippe Harewood</a>
        </li>
        <li>
          <a href="https://www.arneswinnen.net/" data-original-href="https://www.arneswinnen.net/">ARNE SWINNEN'S SECURITY BLOG</a>
        </li>
        <li>
          <a href="http://archive.nahamsec.com/" data-original-href="http://archive.nahamsec.com/">NahamSec.com</a>
        </li>
        <li>
          <a href="http://danlec.com/blog" data-original-href="http://danlec.com/blog">Daniel LeCheminant</a>
        </li>
        <li>
          <a href="http://wehackpeople.tumblr.com/" data-original-href="http://wehackpeople.tumblr.com/">We Hack People</a>
        </li>
        <li>
          <a href="https://blog.it-securityguard.com/" data-original-href="https://blog.it-securityguard.com/">IT-Securityguard Blog</a>
        </li>
        <li>
          <a href="https://blog.innerht.ml/" data-original-href="https://blog.innerht.ml/">The misunderstood X-XSS-Protection</a>
        </li>
        <li>
          <a href="https://seanmelia.wordpress.com/" data-original-href="https://seanmelia.wordpress.com/">Bug Bounty Findings by Meals</a>
        </li>
        <li>
          <a href="https://respectxss.blogspot.com/" data-original-href="https://respectxss.blogspot.com/">Respect XSS</a>
        </li>
        <li>
          <a href="https://www.gracefulsecurity.com/" data-original-href="https://www.gracefulsecurity.com/">Graceful Security!</a>
        </li>
        <li>
          <a href="http://brutelogic.com.br/blog/" data-original-href="http://brutelogic.com.br/blog/">Fooling the Interpreter</a>
        </li>
        <li>
          <a href="https://klikki.fi/" data-original-href="https://klikki.fi/">Klikki Oy</a>
        </li>
        <li>
          <a href="https://security-sh3ll.blogspot.com/" data-original-href="https://security-sh3ll.blogspot.com/">Security-Shell</a>
        </li>
        <li>
          <a href="http://www.betterhacker.com/" data-original-href="http://www.betterhacker.com/">{ Better } Hacker</a>
        </li>
        <li>
          <a href="http://techblog.netflix.com/" data-original-href="http://techblog.netflix.com/">Netflix Tech Blog (Not 100% security focused)</a>
        </li>
        <li>
          <a href="https://www.troyhunt.com/" data-original-href="https://www.troyhunt.com/">Troy Hunt Blog</a>
        </li>
        <li>
          <a href="https://securosis.com/blog" data-original-href="https://securosis.com/blog">Securosis Blog</a>
        </li>
        <li>
          <a href="https://www.cigital.com/blog/" data-original-href="https://www.cigital.com/blog/">Cigital Blog</a>
        </li>
        <li>
          <a href="http://www.securityweek.com/" data-original-href="http://www.securityweek.com/">Security Week</a>
        </li>
        <li>
          <a href="https://www.securify.nl/blog.html" data-original-href="https://www.securify.nl/blog.html">Securify Blog</a>
        </li>
        <li>
          <a href="https://www.fastly.com/blog/category/security" data-original-href="https://www.fastly.com/blog/category/security">Fastly Security Blog</a>
        </li>
        <li>
          <a href="http://blog.diniscruz.com/" data-original-href="http://blog.diniscruz.com/">Dinis Cruz Blog - Application Security</a>
        </li>
      </ul>

      <h3>Cyber Security (InfoSec) - General</h3>
      <ul>
        <li>
          <a href="http://store.steampowered.com/app/246070/" data-original-href="http://store.steampowered.com/app/246070/">Hack 'n' Slash</a>
        </li>
        <li>
          <a href="https://www.cybrary.it" data-original-href="https://www.cybrary.it">Cybrary</a>
        </li>
        <li>
          <a href="https://www.hacksplaining.com/" data-original-href="https://www.hacksplaining.com/">Hacksplaining</a>
        </li>
        <li>
          <a href="http://cyber.lockheedmartin.com/solutions/cyber-kill-chain" data-original-href="http://cyber.lockheedmartin.com/solutions/cyber-kill-chain">Infographic -- Cyber Kill Chain</a>
        [Deadlink?]
        </li>
        <li>
          <a href="https://forum.bugcrowd.com/t/researcher-resources-tutorials/370" data-original-href="https://forum.bugcrowd.com/t/researcher-resources-tutorials/370">Bugcrowd Tutorials</a>
        </li>
        <li>
          <a href="http://www.infoworld.com/article/3048399/application-development/5-dev-tools-for-better-code-security.html" data-original-href="http://www.infoworld.com/article/3048399/application-development/5-dev-tools-for-better-code-security.html">Slideshow -- 5 Tools for Better Code Security</a>
        </li>
        <li>
          <a href="https://teex.org/Pages/Program.aspx?catID=231&courseTitle=Cybersecurity" data-original-href="https://teex.org/Pages/Program.aspx?catID=231&courseTitle=Cybersecurity">Texas A&M Free Online Courses</a>
        </li>
        <li>
          <a href="https://insights.sei.cmu.edu/sei_blog/2016/02/structuring-the-chief-information-security-officer-ciso-organization.html" data-original-href="https://insights.sei.cmu.edu/sei_blog/2016/02/structuring-the-chief-information-security-officer-ciso-organization.html">Structuring the Chief Information Security Officer (CISO) Organization</a>
        </li>
        <li>
          <a href="http://www.opensecurityarchitecture.org/cms/" data-original-href="http://www.opensecurityarchitecture.org/cms/">Open Security Architecture</a>
        </li>
        <li>
          <a href="https://hackforums.net/" data-original-href="https://hackforums.net/">Hack Forums</a>
        </li>
        <li>
          <a href="https://xss-game.appspot.com/" data-original-href="https://xss-game.appspot.com/">XSS Game</a>
        </li>
        <li>
          <a href="http://kalilinux.co/" data-original-href="http://kalilinux.co/">KaliLinux.co</a>
        </li>
        <li>
          <a href="http://www.fastandeasyhacking.com/" data-original-href="http://www.fastandeasyhacking.com/">Armitage (fast and easy hacking)</a>
        </li>
        <li>
          <a href="https://www.cybertraining365.com/cybertraining" data-original-href="https://www.cybertraining365.com/cybertraining">Cyber Training 365</a> -- Paid resource
        </li>
      </ul>

      <h3>Application Security (Software Security)</h3>
      <ul>
        <li>
          <a href="https://www.owasp.org/index.php/Main_Page" data-original-href="https://www.owasp.org/index.php/Main_Page">OWASP</a>
        </li>
        <li>
          <a href="https://docs.angularjs.org/guide/security" data-original-href="https://docs.angularjs.org/guide/security">Angular Security Guide</a>
        </li>
        <li>
          <a href="https://www.youtube.com/playlist?list=PLgiLlNCU6s9eeasnGXAMZj825uU6s7Nje" data-original-href="https://www.youtube.com/playlist?list=PLgiLlNCU6s9eeasnGXAMZj825uU6s7Nje">SafeCode Security Training</a>
        </li>
        <li>
          <a href="https://mozilla.github.io/server-side-tls/ssl-config-generator/" data-original-href="https://mozilla.github.io/server-side-tls/ssl-config-generator/">Mozilla SSL Configuration Generator</a>
        </li>
        <li>
          <a href="https://wiki.mozilla.org/Security/Guidelines/Web_Security" data-original-href="https://wiki.mozilla.org/Security/Guidelines/Web_Security">Mozilla Web Security Guide</a>
        </li>
        <li>
          <a href="https://github.com/isocpp/cppcoreguidelines" data-original-href="https://github.com/isocpp/cppcoreguidelines">C++ Coding Guide</a>
        </li>
        <li>
          <a href="https://www.securecoding.cert.org/confluence/display/seccode/SEI+CERT+Coding+Standards" data-original-href="https://www.securecoding.cert.org/confluence/display/seccode/SEI+CERT+Coding+Standards">CERT Secure Coding Guides (C,C++,Android,Java,Perl)</a>
        </li>
        <li>
          <a href="https://www.sans.org/top25-software-errors/" data-original-href="https://www.sans.org/top25-software-errors/">SANS Top 25 Coding Errors</a>
        </li>
        <li>
          <a href="https://www.bsimm.com/" data-original-href="https://www.bsimm.com/">Building Security In Maturity Model (BSIMM)</a>
        </li>
        <li>
          <a href="http://www.opensamm.org/" data-original-href="http://www.opensamm.org/">OpenSAMM (Software Assurance Maturity Model)</a>
        </li>
        <li>
          <a href="https://www.microsoft.com/en-us/sdl/" data-original-href="https://www.microsoft.com/en-us/sdl/">Microsoft Security Development Lifecycle - Waterfall</a>
        </li>
        <li>
          <a href="https://www.microsoft.com/en-us/SDL/Discover/sdlagile.aspx" data-original-href="https://www.microsoft.com/en-us/SDL/Discover/sdlagile.aspx">Microsoft Security Development Lifecycle - Agile</a>
        </li>
        <li>
          <a href="https://www.manning.com/books/securing-devops" data-original-href="https://www.manning.com/books/securing-devops">Securing DevOps</a>
        </li>
      </ul>

      <h3>Reverse Engineering</h3>
      <ul>
        <li>
          <a href="http://www.opensecuritytraining.info/IntroductionToReverseEngineering.html" data-original-href="http://www.opensecuritytraining.info/IntroductionToReverseEngineering.html">Intro to Reverse Engineering</a>
        </li>
      </ul>
        
      <h3>Cryptography</h3>
      <ul>
        <li>
          <a href="https://www.crypto101.io/" data-original-href="https://www.crypto101.io/">Crypto101</a>
        </li>
      </ul>
      
      <h3>Pentesting</h3>
      <ul>
        <li>
          <a href="http://www.pentesteracademy.com/video" data-original-href="http://www.pentesteracademy.com/video">Pentester Academy</a>
        </li>
        <li>
          <a href="http://ddoshackingarticles.com/forum.php" data-original-href="http://ddoshackingarticles.com/forum.php">DDoS Hacking Forum</a> [Deadlink?]
        </li>
        <li>
          <a href="https://www.pluralsight.com/courses/hack-yourself-first" data-original-href="https://www.pluralsight.com/courses/hack-yourself-first">Hack Yourself First -- PluralSight</a>
        </li>
        <li>
          <a href="https://github.com/jhaddix/pentest-bookmarks/blob/master/wiki/BookmarksList.wiki" data-original-href="https://github.com/jhaddix/pentest-bookmarks/blob/master/wiki/BookmarksList.wiki">Pentest Bookmarks</a>
        </li>
      </ul>
      
      <h3>Vulnerable Apps/VM's</h3>
      <ul>
        <li>
          <a href="https://github.com/cr0hn/vulnerable-node" data-original-href="https://github.com/cr0hn/vulnerable-node">Vulnerable Node</a>
        </li>
        <li>
          <a href="https://github.com/Matir/pwnableweb" data-original-href="https://github.com/Matir/pwnableweb">pwnableweb</a>
        </li>
        <li>
          <a href="https://www.owasp.org/index.php/Category:OWASP_WebGoat_Project" data-original-href="https://www.owasp.org/index.php/Category:OWASP_WebGoat_Project">Webgoat</a>
        </li>
        <li>
          <a href="https://github.com/OWASP/OWASP-VWAD" data-original-href="https://github.com/OWASP/OWASP-VWAD">OWASP-VWAD</a>
        </li>
        <li>
          <a href="http://smashthestack.org/" data-original-href="http://smashthestack.org/">Smash The Stack</a>
        </li>
        <li>
          <a href="http://cryptopals.com/" data-original-href="http://cryptopals.com/">Crypto Pals</a>
        </li>
        <li>
          <a href="https://www.cobaltstrike.com/" data-original-href="https://www.cobaltstrike.com/">Cobalt Strike</a>
        </li>
      </ul>
      
      <h3>CTFs</h3>
      <ul>
        <li>
          <a href="https://pynet.twb-tech.com/" data-original-href="https://pynet.twb-tech.com/">Pynet</a>
        </li>
        <li>
          <a href="https://www.offensive-security.com/metasploit-unleashed/python-extension-2/" data-original-href="https://www.offensive-security.com/metasploit-unleashed/python-extension-2/">Offensive Security</a>
        </li>
        <li>
          <a href="http://www.p0wnlabs.com/free/vms" data-original-href="http://www.p0wnlabs.com/free/vms">P0wnlabs</a>
        </li>
        <li>
          <a href="https://www.vulnhub.com/" data-original-href="https://www.vulnhub.com/">Vulnhub</a>
        </li>
        <li>
          <a href="https://community.rapid7.com/docs/DOC-2196" data-original-href="https://community.rapid7.com/docs/DOC-2196">Rapid 7</a>
        </li>
        <li>
          <a href="http://overthewire.org/wargames/" data-original-href="http://overthewire.org/wargames/">War Games</a>
        </li>
        <li>
          <a href="http://io.netgarage.org/" data-original-href="http://io.netgarage.org/">Net Garage</a>
        </li>
        <li>
          <a href="https://picoctf.com/" data-original-href="https://picoctf.com/">Pico CTF</a>
        </li>
        <li>
          <a href="https://www.hackthissite.org" data-original-href="https://www.hackthissite.org">Hack This Site</a>
        </li>
      </ul>
      
      <h3>Mobile/IoT Security Guides</h3>
      <ul>
        <li>
          <a href="https://support.apple.com/en-us/HT202739" data-original-href="https://support.apple.com/en-us/HT202739">Apple Security Certifications & Guidance</a>
        </li>
        <li>
          <a href="https://downloads.cloudsecurityalliance.org/initiatives/mobile/Mobile_Guidance_v1.pdf" data-original-href="https://downloads.cloudsecurityalliance.org/initiatives/mobile/Mobile_Guidance_v1.pdf">Cloud Security Alliance Critical Areas for Mobile Computing</a>
        </li>
        <li>
          <a href="https://downloads.cloudsecurityalliance.org/assets/research/internet-of-things/future-proofing-the-connected-world.pdf" data-original-href="https://downloads.cloudsecurityalliance.org/assets/research/internet-of-things/future-proofing-the-connected-world.pdf">Cloud Security Alliance Secure Development of IoT</a>
        </li>
      </ul>
      
      <h3>Information Security Frameworks/Standards</h3>
      <ul>
        <li>
          <a href="http://www.iso.org/iso/home/store/catalogue_ics/catalogue_detail_ics.htm?csnumber=54534" data-original-href="http://www.iso.org/iso/home/store/catalogue_ics/catalogue_detail_ics.htm?csnumber=54534">ISO/IEC 27001:2013 (Information Security Management System ISMS)</a>
        </li>
        <li>
          <a href="http://www.iso.org/iso/catalogue_detail?csnumber=54533" data-original-href="http://www.iso.org/iso/catalogue_detail?csnumber=54533">ISO/IEC 27002 (Best Practice Controls in Relation to ISMS)</a>
        </li>
        <li>
          <a href="http://www.nist.gov/cyberframework/" data-original-href="http://www.nist.gov/cyberframework/">NIST CyberSecurity Framework</a>
        </li>
        <li>
          <a href="https://www.pcisecuritystandards.org/document_library?category=pcidss&document=pci_dss" data-original-href="https://www.pcisecuritystandards.org/document_library?category=pcidss&document=pci_dss">Payment Card Industry (PCI) DSS</a>
        </li>
        <li>
          <a href="http://www.hhs.gov/hipaa/for-professionals/security/" data-original-href="http://www.hhs.gov/hipaa/for-professionals/security/">Health Insurance Portability and Accountability Act (HIPAA)</a>
        </li>
        <li>
          <a href="http://ithandbook.ffiec.gov/it-booklets/e-banking/risk-management-of-e-banking-activities/information-security-program/security-guidelines.aspx" data-original-href="http://ithandbook.ffiec.gov/it-booklets/e-banking/risk-management-of-e-banking-activities/information-security-program/security-guidelines.aspx">Federal Financial Institutions Examination Council (FFIEC) Security Guides</a>
        </li>
        <li>
          <a href="https://www.sec.gov/spotlight/cybersecurity.shtml" data-original-href="https://www.sec.gov/spotlight/cybersecurity.shtml">Securities and Exchange Commission (SEC) Cyber Security Guidance</a>
        </li>
        <li>
          <a href="https://www.ftc.gov/tips-advice/business-center/privacy-and-security/data-security" data-original-href="https://www.ftc.gov/tips-advice/business-center/privacy-and-security/data-security">Federal Trade Commission (FTC) Data Security Guide</a>
        </li>
        <li>
          <a href="https://www.fcc.gov/cyberplanner" data-original-href="https://www.fcc.gov/cyberplanner">Federal Communications Commission (Small Business Focused)</a>
        </li>
        <li>
          <a href="https://www.cisecurity.org/critical-controls/Library.cfm" data-original-href="https://www.cisecurity.org/critical-controls/Library.cfm">Center for Internet Security (CIS) Critical Controls</a>
        </li>
      </ul>
    
    </div>

    <section class="helpmenu">
      <a href="/resources/">Resources Home</a>
      <a href="/resources/getting-started/">Getting Started</a>
      <hr>
      <a href="/resources/general-programming/">General Programming</a>
      <a href="/resources/cheatsheets/">Cheat Sheets</a>
      <a href="/resources/books/">Books</a>
      <a href="/resources/podcasts/">Podcasts</a>
      <a href="/resources/test-your-skills/">Test Your Skills</a>
      <hr>
      <a href="/resources/jobs/">Get a Coding Job</a>
      <a href="/resources/open-source/">Get into Open Source</a>
      <a href="/resources/infosec/">InfoSec Resources</a>
      <hr>
      <a href="/resources/frontend/">Front End Dev</a>
      <a href="/resources/backend/">Back End Dev</a>
      <a href="/resources/mobile/">Mobile Dev</a>
      <a href="/resources/microsoft/">Microsoft Technologies</a>
      <a href="/resources/project-management/">Project Management</a>
      <hr>
      <a href="/resources/veterans/">Veterans</a>
      <a href="/resources/minorities/">Minorities</a>
      <hr>
      <a href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
