<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">

      <h1>Jobs</h1>

      <h2>What to know before you apply</h2>
      <ul>
        <li>
          <a href="https://www.youtube.com/watch?v=qIi-tIrcaww&feature=em-lss" data-original-href="https://www.youtube.com/watch?v=qIi-tIrcaww&feature=em-lss">Technical Interview Prep -- Video</a>
        </li>
        <li>
          <a href="http://haseebq.com/how-to-break-into-tech-job-hunting-and-interviews/" data-original-href="http://haseebq.com/how-to-break-into-tech-job-hunting-and-interviews/">Article -- How to Break into Tech: Job Hunting and Interviews</a>
        </li>
        <li>
          <a href="http://ventureforamerica.org/blog/questionable-questions-avoid-without-question/" data-original-href="http://ventureforamerica.org/blog/questionable-questions-avoid-without-question/">Article -- Which questions to ask in an interview</a>
        </li>
        <li>
          <a href="http://www.codenewbie.org/blogs/what-i-look-for-in-a-junior-developer" data-original-href="http://www.codenewbie.org/blogs/what-i-look-for-in-a-junior-developer">Article -- What I Look for in a Junior Developer</a>
        </li>
        <li>
          <a href="https://medium.freecodecamp.com/5-key-learnings-from-the-post-bootcamp-job-search-9a07468d2331#.qqnl5nkov" data-original-href="https://medium.freecodecamp.com/5-key-learnings-from-the-post-bootcamp-job-search-9a07468d2331#.qqnl5nkov">Article -- Post Boot-camp job search</a>
        </li>
        <li>
          <a href="http://www.computerworld.com/article/3083165/bestplaces2016/the-complete-listings-computerworlds-100-best-places-to-work-in-it-for-2016.html" data-original-href="http://www.computerworld.com/article/3083165/bestplaces2016/the-complete-listings-computerworlds-100-best-places-to-work-in-it-for-2016.html">Article -- 2016 Best Places to work in IT (ComputerWorld)</a>
        </li>
      </ul>
      
      <h2>General Job boards</h2>
      <ul>
        <li>
          <a href="https://triplebyte.com/" data-original-href="https://triplebyte.com/">TripleByte</a>
        </li>
        <li>
          <a href="https://www.jrdevjobs.com/" data-original-href="https://www.jrdevjobs.com/">Jr Dev Jobs</a>
        </li>
        <li>
          <a href="http://casy.msccn.org" data-original-href="http://casy.msccn.org">CASY (Corporate America Supports You) Job Board</a>
        </li>
        <li>
          <a href="https://careerscore.com/" data-original-href="https://careerscore.com/">Careerscore.com</a>
        </li>
        <li>
          <a href="http://justjuniorjobs.com/" data-original-href="http://justjuniorjobs.com/">Just Junior Jobs</a>
        </li>
      </ul>
      
      <h3>Apprenticeships</h3>
      <ul>
        <li>
          <a href="https://www.kanone.com/" data-original-href="https://www.kanone.com/">Kanone</a>
        </li>
        <li>
          <a href="https://codinginternships.com/" data-original-href="https://codinginternships.com/">Coding Internships</a>
        </li>
        <li>
          <a href="https://developers.google.com/open-source/gsoc/" data-original-href="https://developers.google.com/open-source/gsoc/">Google Summer of Code</a>
        </li>
      </ul>
      
      <h2>Freelancing</h2>
      <ul>
        <li>
          <a href="https://github.com/ericdodds/the-little-freelancer" data-original-href="https://github.com/ericdodds/the-little-freelancer">Freelancing advice from Eric Dodd</a>
        </li>
      </ul>
      
      <h3>Remote</h3>
      <ul>
        <li>
          <a href="https://remoteok.io/" data-original-href="https://remoteok.io/">Remote Ok</a>
        </li>
        <li>
          <a href="https://remotejobs.com/" data-original-href="https://remotejobs.com/">Remote Jobs</a>
        </li>
        <li>
          <a href="https://weworkremotely.com/" data-original-href="https://weworkremotely.com/">We Work Remotely</a>
        </li>
        <li>
          <a href="https://www.wfh.io/" data-original-href="https://www.wfh.io/">WFH.io</a>
        </li>
        <li>
          <a href="https://www.producthunt.com/e/find-a-remote-job" data-original-href="https://www.producthunt.com/e/find-a-remote-job">ProductHunt Remote</a>
        </li>
        <li>
          <a href="http://remotive.io/" data-original-href="http://remotive.io/">remotive.io</a>
        </li>
      </ul>
      
      <h3>Local</h3>
      <ul>
        <li>
        <a href="https://startupweekend.org" data-original-href="https://startupweekend.org">Start Up Weekend (Good for Networking locally)</a>
        </li>
        <li>
          <a href="https://www.meetup.com/" data-original-href="https://www.meetup.com/">Meetup (not necessarily <i>for</i> jobs, but can help network which can lead to one)</a>
        </li>
      </ul>
      
      <h2>Certifications</h2>
      <ul>
        <li>
          <a href="http://www.professormesser.com" data-original-href="http://www.professormesser.com">Professor Messer</a>
        </li>
        <li>
          <a href="http://www.techexams.net/" data-original-href="http://www.techexams.net/">TechExams.net</a>
        </li>
      </ul>
      
      <h2>General Career Help</h2>
      <ul>
        <li>
          <a href="https://www.themuse.com/" data-original-href="https://www.themuse.com/">The Muse</a> -- paid resource
        </li>
      </ul>
      
      <h2>Resume</h2>
      <ul>
        <li>
          <a href="https://standardresume.co/" data-original-href="https://standardresume.co/">StandardResume.co</a>
        </li>
        <li>
          <a href="https://www.careercup.com/resume" data-original-href="https://www.careercup.com/resume">CareerCup</a>
        </li>
        <li>
          <a href="https://www.hireheroesusa.org/" data-original-href="https://www.hireheroesusa.org/">Hire Heroes USA</a>
        </li>
      </ul>
      
      <h2>Interview</h2>
      <ul>
        <li>
          <a href="http://reddit.com/r/cscareerquestions" data-original-href="http://reddit.com/r/cscareerquestions">CS Career Questions (Reddit)</a>
        </li>
      </ul>
      
      <h2>Portfolio</h2>
      <ul>
        <li>
          <a href="https://www.gitshowcase.com/" data-original-href="https://www.gitshowcase.com/">Git Show Case</a>
        </li>
      </ul>

    </div>

    <section class="helpmenu">
      <a class="helpmenu-link" href="/resources/">Resources Home</a>
      <a class="helpmenu-link" href="/resources/getting-started/">Getting Started</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/general-programming/">General Programming</a>
      <a class="helpmenu-link" href="/resources/cheatsheets/">Cheat Sheets</a>
      <a class="helpmenu-link" href="/resources/books/">Books</a>
      <a class="helpmenu-link" href="/resources/podcasts/">Podcasts</a>
      <a class="helpmenu-link" href="/resources/test-your-skills/">Test Your Skills</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/jobs/">Get a Coding Job</a>
      <a class="helpmenu-link" href="/resources/open-source/">Get into Open Source</a>
      <a class="helpmenu-link" href="/resources/infosec/">InfoSec Resources</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/frontend/">Front End Dev</a>
      <a class="helpmenu-link" href="/resources/backend/">Back End Dev</a>
      <a class="helpmenu-link" href="/resources/mobile/">Mobile Dev</a>
      <a class="helpmenu-link" href="/resources/microsoft/">Microsoft Technologies</a>
      <a class="helpmenu-link" href="/resources/project-management/">Project Management</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/veterans/">Veterans</a>
      <a class="helpmenu-link" href="/resources/minorities/">Minorities</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
