<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">Learn to code</h1>
        <p class="lead">We've compiled a list of online resources for your convenience to help you get started on your transition to software development. Curated by, <a href="https://twitter.com/davidcmolina">@davidcmolina</a>.</p>
       </div>
    </div>
  </div>
</div>
  
<div class="panel panel-default">
  <div class="panel-heading">Online Coursework</div>
    <div class="panel-body">
      <div class="col-md-4">
        <address>
          <a href="http://www.bloc.io/">
          <strong>Bloc</strong><br></a>
          A 12-week online apprenticeship designed to teach students the fundamentals of web development. <a href="http://try.bloc.io/dev-bootcamp-for-veterans/">Scholarships</a> available for Veterans. Read <a href="http://blog.bloc.io/developer-bootcamp-scholarships-for-veterans/">more</a>.<br>
        </address>
        <iframe width="560" height="315" src="//www.youtube.com/embed/ueQX1SSleAU" frameborder="0" allowfullscreen></iframe>

        <iframe width="560" height="315" src="//www.youtube.com/embed/aQxzbHKFlco" frameborder="0" allowfullscreen></iframe>

        <address>
          <a href="http://www.codecademy.com/">
          <strong>Codecademy</strong><br></a>
         Teaching the world how to code.<br>
        </address>

        <iframe width="560" height="315" src="//www.youtube.com/embed/fjQ7XaMNQNc" frameborder="0" allowfullscreen></iframe>

        <address>
          <a href="https://www.codeschool.com/">
          <strong>Code School</strong><br></a>
          Learn by doing.<br>
        </address>

        <iframe width="560" height="315" src="//www.youtube.com/embed/MvyG_ODng3w" frameborder="0" allowfullscreen></iframe>

        <address>
          <a href="http://codeunion.io/">
          <strong>CodeUnion</strong><br></a>
          Become a developer without putting your life on hold.<br>
        </address>

        <address>
          <strong><a href="https://twitter.com/mattangriffel">How to teach yourself code by @mattangriffel</a></strong>
          <br>
        </address>

        <iframe width="560" height="315" src="//www.youtube.com/embed/T0qAjgQFR4c" frameborder="0" allowfullscreen></iframe>

         <address>
          <a href="http://www.learnhowtoprogram.com/lessons/learn-how-to-program">
          <strong>Learn how to program</a></strong> by <a href="https://twitter.com/michaelrkn">@michaelrkn</a>
          <br>
        </address>

        <address>
          <a href="http://onemonth.com">
          <strong>One Month Rails</strong><br></a>
          We teach Ruby On Rails in less than a month.<br>
        </address>

        <iframe width="560" height="315" src="//www.youtube.com/embed/bOSq3noO_fg" frameborder="0" allowfullscreen></iframe>

        <address>
          <a href="http://www.pluralsight.com/">
          <strong>Pluralsight</strong><br></a>
          Unlock access to the world's largest tech & creative training library.<br>
        </address>

        <iframe width="560" height="315" src="//www.youtube.com/embed/e-UpuP4_iYA" frameborder="0" allowfullscreen></iframe>

      
        <address>
          <a href="http://www.thinkful.com/">
          <strong>Thinkful</strong><br></a>
          Learn one-on-one with the world's best experts. Courses include, Intro to Frontend Web Development, Intro to Python & Web Development, Intro to Web Development in Rails, Intro to iOS Programming in Swift, Immediate Frontend in AngularJS, Backend Development in Node.js, and Essentials of Modern Web Design.<br>
        </address>

        <iframe width="560" height="315" src="//www.youtube.com/embed/xO4n6JOfke8" frameborder="0" allowfullscreen></iframe>

        <address>
          <a href="http://teamtreehouse.com/">
          <strong>Treehouse</strong><br></a>
          Learn HTML, CSS, iPhone apps & more.<br>
          Discounted <a href="https://teamtreehouse.com/forum/basic-questions-about-education-funding-as-well-as-employment-rate">rate</a> for military available.<br>
        </address>

        <iframe width="560" height="315" src="//www.youtube.com/embed/ZUAg51kA42M" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">1-on-1 Support</div>
    <div class="panel-body">
      <div class="col-md-4">
        <address>
          <a href="http://www.airpair.com/">
          <strong>airpair</strong><br></a>
         	Connect with and book the world's leading software developers 1 hour at a time.<br>
        </address>

        <address>
          <a href="https://www.codementor.io/">
          <strong>Codementor</strong><br></a>
         	Codementor provides instant 1:1 help for software development. Build projects faster with on-demand live help from expert developers.<br>
        </address>

        <address>
          <a href="https://hackhands.com/#/">
          <strong>HackHands</strong><br></a>
          HackHands is the fastest online service for 1:1 development education and problem solving. We help developers progress their code, so they can build more, faster. Available 24/7.<br>
        </address>

        <iframe width="560" height="315" src="//www.youtube.com/embed/AXSqxFzqrKw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">For (Parents)</div>
    <div class="panel-body">
      <div class="col-md-4">
        <address>
          <a href="http://kidsruby.com/">
          <strong>KidsRuby</strong><br></a>
         	Have fun and make games, or hack your homework using Ruby. KidsRuby makes it fun and easy to learn how to program.<br>
        </address>

        <iframe width="560" height="315" src="//www.youtube.com/embed/wrLxjbOhUps" frameborder="0" allowfullscreen></iframe>

        <address>
          <a href="https://speakerdeck.com/jasonrclark/programming-in-the-small-teaching-my-6-year-old-ruby">
          <strong>Programming in the Small</a></strong> by <a href="http://twitter.com/jasonrclark">@jasonrclark<br></a>
         	<br>
        </address>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Phone Support</div>
    <div class="panel-body">
      <div class="col-md-4">
        <address>
          <a href="http://www.railshotline.com/">
          <strong>RailsHotline</strong><br></a>
         	The Rails Hotline is a FREE helpline run by volunteer Ruby and Rails developers. Are you stuck or need help getting started? Let's talk through your problem.<br>
        </address>

        <iframe width="560" height="315" src="//www.youtube.com/embed/2VFLb_K08YE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>