<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">Downloads</h1>


<!--         <p class="lead"><b>Branding</b></br> -->

<!--           <insert logo> -->

        <p class="lead"><b>Video</b></br>

<div class="video-container">
      <iframe src="https://player.vimeo.com/video/124794084" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
</div></br>

<div class="video-container">
      <iframe src="https://player.vimeo.com/video/124866675" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
</div></br>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125189104" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Kristin Smith, Code Fellows CEO: Why vets make good coders.</p>
</div></br>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125186844" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Cris Kelly, Portland Code Fellows Director: Two things employers look for that vets have.</p>
</div></br>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125187817" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Michael, Epicodus Founder: Was told to not waste time applying for accreditation - code school model is too different.</p>
</div></br>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125186841"
 width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Adam Enbar, The Flatiron School Co-Founder & CEO: No piece of software was created by one person-- veterans are masters of teamwork.</p>
</div></br>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125189102"
 width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Jorge Tellez, Turing School of Software & Design Co-Founder & Dean: Room & board is the missing piece when it comes to tuition.</p>
</div>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125189545"
 width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Nuatu Tssegai, U.S. Air National Guard Veteran & Epicodus graduate: Operation COde helped me gain more exposure to tech industry events.</p>
</div></br>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125189103"
 width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Josh Carter, U.S. Navy Veteran, Co-Founder & CEO at Plunk: Coding is the new literacy.</p>
</div></br>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125187818"
 width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Ron Floyd, U.S. Navy Veteran & Code Fellows Portland graduate: On military transitioning out-- makes you feel there are no other opportunities out there.</p>
</div></br>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125191104"
 width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Marko, U.S. Air Force Veteran & Portland Code School graduate: Code school was a lifeline.</p>
</div></br>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125187819"
 width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Lukas Cioffi, U.S. Army Veteran, Co-Founder & CEO of QiqoChat: I would have benefited tremendously from a mentor.</p>
</div>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125186851"
 width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Jason, U.S. Army Veteran: Army officer with two degrees doesn't need a third, needs practical skills.</p>
</div></br>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125186847"
 width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Dean, U.S. Navy Veteran: Navy cook to coder.</p>
</div></br>

<div class="video-container">
<iframe src="https://player.vimeo.com/video/125186843"
 width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
<p class="lead">Bob: Self-teaching until he can go to code school.</p>
</div></br>
<hr>
