<hr>
<div class="bs-docs-section" align="center">
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="row">

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
                    <iframe src="https://player.vimeo.com/video/124794084"
                    width="700" height="481" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen
                    allowfullscreen></iframe> <p>.</p>
              </div></br>
              <p>Meet Victor Molina. Victor deployed with the 1st Marines to
                Iraq in 2003. He's worked in construction since and now wants to
                learn to code.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
                    <iframe src="https://player.vimeo.com/video/124866675"
                    width="700" height="481" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen
                    allowfullscreen></iframe></p>
              </div></br>
              <p>In our first Operation Code 2015 video, we interview veterans, code
                school graduates and partner code school directors.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
              <iframe src="https://player.vimeo.com/video/125189104" width="700"
              height="481" frameborder="0" webkitallowfullscreen
              mozallowfullscreen allowfullscreen></iframe></p>
            </div></br>
              <p>Seattle-based, Code Fellows CEO, Kristin Smith explains why
                veterans will not just make good coders, but excellent
                coders.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
              <iframe src="https://player.vimeo.com/video/125186844" width="700"
              height="481" frameborder="0" webkitallowfullscreen
              mozallowfullscreen allowfullscreen></iframe></p>
            </div></br>
              <p>Portland-based, Cris Kelly and Director at The Portland Code
                School on two major things employers look for that vets have.
                </p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
              <iframe src="https://player.vimeo.com/video/125187817" width="700"
              height="481" frameborder="0" webkitallowfullscreen
              mozallowfullscreen allowfullscreen></iframe></p>
            </div></br>
              <p>Portland-based, Michael Kaiser-Nyman and Founder at Epicodus on
                challenges applying for accreditation when software curriculum
                evolves so quickly.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
              <iframe src="https://player.vimeo.com/video/125186841"
               width="700" height="481" frameborder="0" webkitallowfullscreen
               mozallowfullscreen allowfullscreen></iframe></p>
             </div></br>
              <p>NYC-based, The Flatiron School's Co-Founder & CEO, Adam Enbar
                on why no piece of software was created by one person and why
                veterans are masters of teamwork.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
                <div class="video-container">
                <iframe src="https://player.vimeo.com/video/125189102"
                 width="700" height="481" frameborder="0" webkitallowfullscreen
                 mozallowfullscreen allowfullscreen></iframe></p>
             </div></br>
              <p>Colorado-based, The Turing School of Software & Design Co-Founder & Dean, Jorge Tellez explains the two
                missing pieces: room & board.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/125189545"
                 width="700" height="481" frameborder="0" webkitallowfullscreen
                 mozallowfullscreen allowfullscreen></iframe></p>
             </div></br>
              <p>Nuatu Tssegai, U.S. Air National Guard Veteran & Epicodus
                graduate on how Operation Code helped him gain more exposure to
                tech industry events.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/125189103"
                 width="700" height="481" frameborder="0" webkitallowfullscreen
                 mozallowfullscreen allowfullscreen></iframe></p>
             </div></br>
              <p>Navy veteran & Plunk co-founder & CEO, Josh Carter on why
                coding is the new 21st century literacy.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/125187818"
                 width="700" height="481" frameborder="0" webkitallowfullscreen
                 mozallowfullscreen allowfullscreen></iframe></p>
             </div></br>
              <p>Navy veteran & Code Fellows Portland graduate, Ron Floyd on
                struggles for transitioning out of the military--makes you feel
                there are no other opportunities out there.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/125191104"
                 width="700" height="481" frameborder="0" webkitallowfullscreen
                 mozallowfullscreen allowfullscreen></iframe></p>
             </div></br>
              <p>Air Force veteran & Portland Code School
                graduate, Marko Nikolovski on post-sequestration and unemployment:
                code school gave me a lifeline.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/125187819"
                 width="700" height="481" frameborder="0" webkitallowfullscreen
                 mozallowfullscreen allowfullscreen></iframe></p>
             </div></br>
              <p>Former Army Ranger and Officer, Lukas Cioffi & Co-Founder & CEO of Virginia-based, QiqoChat: "I
                would have benefited tremendously from a mentor."</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/125186851"
                 width="700" height="481" frameborder="0" webkitallowfullscreen
                 mozallowfullscreen allowfullscreen></iframe></p>
             </div></br>
              <p>Air Force Officer Jason Noren: "I hold two degrees. Don't need
                a third, need practical skills and coding offers that."</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/125186847"
                 width="700" height="481" frameborder="0" webkitallowfullscreen
                 mozallowfullscreen allowfullscreen></iframe></p>
             </div></br>
              <p>Navy veteran, Dean Laurea, on going from cook to coder and the challenges that come with learning a new trade.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

            <div class="col-xs-6 col-lg-4">
              <div class="video-container">
                <iframe src="https://player.vimeo.com/video/125186843"
                 width="700" height="481" frameborder="0" webkitallowfullscreen
                 mozallowfullscreen allowfullscreen></iframe></p>
             </div></br>
              <p>Navy veteran, Bob Howard on self-teaching himself programming until he can go to
                code school.</p>
              <!-- <p><a class="btn btn-default" href="#" role="button">View
              details &raquo;</a></p> -->
            </div><!--/.col-xs-6.col-lg-4-->

          </div><!--/row-->
        </div><!--/col-xs-12 col-sm-9-->
      </div><!--/row row-offcanvas row-offcanvas-right-->
    </div><!--/container-->

<p class="lead"><b>Branding</b></br>

<h2>Logo-small</h2>
<img src="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_logo_sm.png" alt="logo-sm" style="width:144px;height:27px;">
<p>
  <a href="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_logo_sm.png">Download</a></p>

<h2>Logo-medium</h2>
<img src="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_logo_md.png" alt="logo-md" style="width:600px;height:133px;">
<p><a href="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_logo_md.png">Download</a></p>

<h2>Icon-transparent</h2>
<img src="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_transparent_icon.png" alt="logo-md" style="width:100px;height:100px;">
<p><a
  href="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_transparent_icon.png">Download</a></p>

<h2>Icon-white-background</h2>
<img src="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_white_icon.png" alt="logo-md" style="width:100px;height:100px;">
<p><a <p><a href="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_white_icon.png">Download</a></p>
</div><!--/bs-docs-section-->

<hr>

<script
src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script src="../../dist/js/bootstrap.min.js"></script>
