<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Software Mentor Protégé Program</h1>
        <p class="lead">At Operation Code, we believe every veteran and their families deserve access to 21st century software development education and mentorship. We believe veterans equipped with programming knowledge will create web products and services that improve and move the United States forward and make a better world.</p>

        <p class="lead">Our Software Mentor Protégé Program is designed to get veterans who want to learn to code get coding today in a programming language/stack of their choice, including: Android, C Sharp, Ember, Go, HTML, iOS, Java, JavaScript, Jekyll, Middleman, PHP, Python, and Ruby.</p>

        <p class="lead">To get started veterans can sign up for free,  start asking questions and get coding today in a supportive, learning environment.</p>
    <p class="center"><a class="btn btn-default" href="/action" role="button">Sign Up</a></p>
<hr>
