<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">About Operation Code's Software Mentor Protégé Program</h1>
        <h3>Program Overview</h3>
        <p class="lead">Operation Code's Software Mentorship Program connects transitioning military, citizen-soldiers, veterans and their families of all levels with professional software developers for life-long learning and understanding in software development. Paired online in our peer-to-peer learning environment, you can select any programming language/stack of your choice, including:
          <ul>
            <li>Android</li>
            <li>C Sharp</li>
            <li>Ember</li>
            <li>Go</li>
            <li>HTML</li>
            <li>iOS</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>Python</li>
            <li>Ruby</li>
            <li>Static-Sites, including Jekyll, Middleman, et</li>
          </ul></p>

        <p class="lead">Our Software Mentor Protégé Program is designed to get the military veterans community, connected, networked, sharing code and supporting each other on the pursuit of becoming software developers. Additionally, we have a thriving <a href="https://operation-code.slack.com/messages/free-code-camp/">#free-code-camp</a> study group, and location-based communities, from <a href="https://operation-code.slack.com/messages/seattle/">#Seattle</a> to <a href="https://operation-code.slack.com/messages/washingtondc/">#washingtondc</a> to meet others locally in your area and organize <a href="http://meetup.com/operationcode/">Operation Code meetups</a>.</p>

        <h3>Live Software Mentorship</h3>
        <p class="lead">Below is an example of our <a href="https://operation-code.slack.com/messages/javascript/">#javascript</a> channel in action where a member of our community inquired about a component of her code in her web application that wasn't working properly and the response from one of our volunteer JavaScript experts:</p>

        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">A veteran asked why her <a href="https://twitter.com/hashtag/javascript?src=hash">#javascript</a> wasn&#39;t working right. One of our software mentors, &quot;... So instead do this&quot; <a href="https://twitter.com/hashtag/js?src=hash">#js</a> <a href="https://t.co/xBqSgZ7VY3">pic.twitter.com/xBqSgZ7VY3</a></p>&mdash; Operation Code (@operation_code) <a href="https://twitter.com/operation_code/status/716648948635533312">April 3, 2016</a></blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

          <p class="lead">We look forward to seeing you in our Slack!</p>

        <a class="btn btn-lg btn-action" href="/join" role="button">Join now &raquo;</a>
      </div>
  </div>
</div>
