<section id="resourcecontent">
  <div class="pagecontent">
    <div id="resourcearticle">
      <h1>.NET / Microsoft</h1>
      <ul>
        <li>
          <a href="http://www.learnvisualstudio.net/" data-original-href="http://www.learnvisualstudio.net/">Learn VisualStudio.NET</a>
        </li>
        <li>
          <a href="https://www.microsoft.com/net/learn" data-original-href="https://www.microsoft.com/net/learn">Microsoft .NET Learn</a>
        </li>
        <li>
          <a href="https://www.codeschool.com/learn/net" data-original-href="https://www.codeschool.com/learn/net">Code School .NET Courses</a>
        </li>
        <li>
          <a href="https://www.edx.org/school/microsoft" data-original-href="https://www.edx.org/school/microsoft">edX Microsoft Courses</a>
        </li>
        <li>
          <a href="https://mva.microsoft.com/" data-original-href="https://mva.microsoft.com/">Microsoft Virtual Academy</a>
        </li>
        <li>
          <a href="https://www.devu.com/" data-original-href="https://www.devu.com/">DevU</a> -- paid resource/free trials
        </li>
      </ul>
    </div>

    <section id="helpmenu">
      <a href="/resources/">Resources Home</a>
      <a href="/resources/getting-started/">Getting Started</a>
      <hr>
      <a href="/resources/general-programming/">General Programming</a>
      <a href="/resources/cheatsheets/">Cheat Sheets</a>
      <a href="/resources/books/">Books</a>
      <a href="/resources/podcasts/">Podcasts</a>
      <a href="/resources/test-your-skills/">Test Your Skills</a>
      <hr>
      <a href="/resources/jobs/">Get a Coding Job</a>
      <a href="/resources/open-source/">Get into Open Source</a>
      <a href="/resources/infosec/">InfoSec Resources</a>
      <hr>
      <a href="/resources/frontend/">Front End Dev</a>
      <a href="/resources/backend/">Back End Dev</a>
      <a href="/resources/mobile/">Mobile Dev</a>
      <a href="/resources/microsoft/">Microsoft Technologies</a>
      <a href="/resources/project-management/">Project Management</a>
      <hr>
      <a href="/resources/veterans/">Veterans</a>
      <a href="/resources/minorities/">Minorities</a>
      <hr>
      <a href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
