<div class="container">
  <div class="row">
    <div class="col m12" role="main">
        <h3 id="download">Military Veterans Technical Talent Pipeline (MVTTP)</h3>
      <h4>About</h4>
        <h5 class="header center">Our mission is to fill the nation’s technical talent shortage with our nation’s finest. Through the MVTTP, we make make hiring and on boarding these military veteran software developers a simple, efficient, and painless process.</h4>
      <p class='lead'>
        Our American military veterans proudly served our country, and now are ready for their next assignment. Our U.S. military veterans bring a unique and valuable set of soft skills to the civilian workforce, especially to technology teams. They can provide a significant talent advantage to innovative companies seeking to excel while diversifying their workforce.
      </p>

      <p>
        Many of our nation’s finest have experienced situations and challenges that civilians cannot even fathom—now, as professional software engineers they can help your organization get on the same sheet, prioritize, build exceptional software solutions and execute on your growth plans.
      </p>

      <p>
        Operation Code created the Military Veterans Technical Talent Pipeline (MVTTP) for the express purpose of expediting the military veterans technical talent pipeline to American companies.
      </p>
      <h4>Process</h4>
      <p>
        In less than 45-days from contract execution, resumes will be screened, veteran technical talent will be interviewed and your team will have one of our very own deployed to your site for a 3 to 6-mos paid Fellowship.
      </p>

        <p><a href="mailto:david@operationcode.org" class="btn btn-large">Contact Our Recruiting Manager >></a></p>
    </div>
  </div>
</div>
