<section id="resourcecontent">
  <div class="pagecontent">
    <div id="resourcearticle">
      
      <h1>Minorities</h1>
      <ul>
      <li>
        <a href="https://www.gnome.org/outreachy/" data-original-href="https://www.gnome.org/outreachy/">Outreach</a>
      </li>
      <li>
        <a href="http://girldevelopit.com/" data-original-href="http://girldevelopit.com/">Girl Develop It</a>
      </li>
      <li>
        <a href="http://www.blackgirlscode.com/" data-original-href="http://www.blackgirlscode.com/">Black Girls Code</a>
      </li>
      <li>
        <a href="http://railsgirls.com/" data-original-href="http://railsgirls.com/">Rails Girls</a>
      </li>
      <li>
        <a href="https://djangogirls.org/" data-original-href="https://djangogirls.org/">Django Girls</a>
      </li>
      <li>
        <a href="http://www.shenomads.com/job-board.html" data-original-href="http://www.shenomads.com/job-board.html">SheNomads Job Board</a>
      </li>
      </ul>
      
    </div>

    <section id="helpmenu">
      <a href="/resources/">Resources Home</a>
      <a href="/resources/getting-started/">Getting Started</a>
      <hr>
      <a href="/resources/general-programming/">General Programming</a>
      <a href="/resources/cheatsheets/">Cheat Sheets</a>
      <a href="/resources/books/">Books</a>
      <a href="/resources/podcasts/">Podcasts</a>
      <a href="/resources/test-your-skills/">Test Your Skills</a>
      <hr>
      <a href="/resources/jobs/">Get a Coding Job</a>
      <a href="/resources/open-source/">Get into Open Source</a>
      <a href="/resources/infosec/">InfoSec Resources</a>
      <hr>
      <a href="/resources/frontend/">Front End Dev</a>
      <a href="/resources/backend/">Back End Dev</a>
      <a href="/resources/mobile/">Mobile Dev</a>
      <a href="/resources/microsoft/">Microsoft Technologies</a>
      <a href="/resources/project-management/">Project Management</a>
      <hr>
      <a href="/resources/veterans/">Veterans</a>
      <a href="/resources/minorities/">Minorities</a>
      <hr>
      <a href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
