  <div class="bs-docs-section" align="center">
     <h1 id="overview" class="page-header">Our Mission</h1>

      <p class="lead">At Operation Code, we believe every Veteran and their families deserve access to 21st century software development education and mentorship. We believe Veterans equipped with programming knowledge will create web products and services that improve and move the United States forward and make a better world.</p>

      <iframe src="https://player.vimeo.com/video/124794084" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p>.</p>

      <iframe src="https://player.vimeo.com/video/124866675" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p></p>

<hr>

      <a href="https://www.cogostar.org/payments/new/project/49" class="btn btn-primary btn-lg active" role="button">GIVE TO FUTURE VETERAN CODERS</a>

<hr>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
