<div class="bs-docs-section" align="center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Our Mission</h2>
        <p class="lead">At Operation Code, we believe every Veteran and their families deserve access to 21st century software development education and mentorship. We believe Veterans equipped with programming knowledge will create web products and services that improve and move the United States forward and make a better world.</p>
        <hr>
        <h2>Executive Summary</h2>
        <p class="lead">Operation Code is on a mission to trailblaze a new career path opportunity for military veterans in software development and coding.</p>
        <p class="lead">We believe access to efficient and practical coding education, mentorship and employment services for the technology profession will empower veterans to live more enriched lives.</p>
        <hr>
        <h2>Our Story</h2>
        <p class="lead">Meet Victor Molina, a U.S. Marine Corps Veteran in Operation Iraqi Freedom and Enduring Freedom who served in the Iraq-war in 2003.</p>
        <div class="video-container">
          <iframe src="https://player.vimeo.com/video/124794084" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p>.</p>
        </div></br>
        <p class="lead">Produced and directed by Columbia School of Journalism grad, Teresa Mahoney, this video tells our story and why we exist.</p>
        <div class="video-container">
          <iframe src="https://player.vimeo.com/video/124866675" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p></p>
        </div>
        <hr>
        <p>“Earning a scholarship from OperationCode.org would be life changing in every way. I have always believed in service to a bigger cause. I served in the
          military because I felt it was my duty to serve my country. I’m determined to become a developer, but with a full-time
          career and family my education suffers from the limited time I can dedicate to it. A scholarship to a coding school would give me the opportunity to immerse myself in code in a way that no amount of self-study could match and open the doors to improving my job prospects with a technology startup.”
          — Julio Sanchez, former U.S.
        Army Officer"</p>
        <p>"At Code Felows, we are eager and ready to support our service members and their families as they transition to software-related careers. Veterans have the leadership skills valued by technology companies. These, combined with technical skills makes for a successful combination. " --Kristin Smith, CEO at Code Fellows"</p>
        <p>"I am working on becoming a front-end developer and I would love to attend a bootcamp (like Code Fellows in Seattle), but can't use my GI Bill despite having 60% benefit so I am learning on my own. I also considered the Bloc.io online front-end program but it is pretty expensive without the GI Bill. My goal is to start as a front-end developer which I like the best, but eventually would like to become a full-stack developer."
        --Charles Sipe, former U.S. Army NCO"</p>
        <p>"At The Flatiron School, we are committed to making technical training more accessible to military veterans. They have the discipline, tenacity, grit and communication skills necessary to be successful in highly technical roles.”
        —Adam Enbar, Co-Founder & CEO, The Flatiron School"</p>
        <p>"I am very thankful for my opportunity to serve as an Army Infantry officer.  Now I'm a software developer and entrepreneur.  Changing careers to learn completely new technology skills in a part-time fashion as I did took several years of focus and commitment; I believe that making the GI Bill applicable to learning software at modern code schools would speed up this transition for many thousands of veterans. I've been teaching introductory classes on Ruby on Rails software (for building modern websites) for the past year to help people begin a learning journey that they would either continue on their own or through a formal software education program. I've found firsthand that the code schools (online and in-person) offer much more practical training than what students studying computer science at traditional universities are receiving.  I have learned this by teaching college students who are trying to learn something more practical in an extracurricular setting.  It doesn't take years to become an intermediate software developer anymore-- it just takes focus, a great teacher, and a great peer group to continue to learn from.  The code schools offer all of these key ingredients and are much more affordable.  As a teacher in a free software education program (RailsSchool), I don't stand to gain financially if the GI Bill is expanded to cover code schools, so I feel free to give this initiative my strong recommendation, because it will help many others making the transition to civilian life, and especially entrepreneurship." -Lucas Cioffi, Co-Founder, QiqoChat.com"</p>
        <a href="/donate" class="btn btn-primary btn-lg active" role="button">Give to Veterans</a>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
