<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">
    
      <h1>Mobile</h1>
      
      <h2>iOS</h2>
      <ul>
        <li>
          <a href="https://flatironschool.com/programs/online-swift-free-course/" data-original-href="https://flatironschool.com/programs/online-swift-free-course/">Flatiron School</a>
        </li>
        <li>
          <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewBook?id=881256329" data-original-href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewBook?id=881256329">Learn Swift (ebook)</a>
        </li>
        <li>
          <a href="https://developer.apple.com/library/content/referencelibrary/GettingStarted/DevelopiOSAppsSwift/#//apple_ref/doc/uid/TP40015214-CH2-SW1" data-original-href="https://developer.apple.com/library/content/referencelibrary/GettingStarted/DevelopiOSAppsSwift/#//apple_ref/doc/uid/TP40015214-CH2-SW1">Start Developing iOS Apps (Swift)</a>
        </li>
      </ul>
      
      <h2>Android</h2>
      <ul>
        <li>
          <a href="https://github.com/Enteleform/-RES-/blob/master/%5BLinks%5D/%5BAndroid%5D%20Udacity%20Curriculum.md" data-original-href="https://github.com/Enteleform/-RES-/blob/master/%5BLinks%5D/%5BAndroid%5D%20Udacity%20Curriculum.md">Udacity Android Curriculum</a>
        </li>
        <li>
          <a href="http://thenextweb.com/offers/2017/01/11/create-amazing-apps-scratch-professional-android-developer-bundle/" data-original-href="http://thenextweb.com/offers/2017/01/11/create-amazing-apps-scratch-professional-android-developer-bundle/">Professional Android Developer Bundle</a> -- paid resource
        </li>
      </ul>
      
    </div>

    <section class="helpmenu">
      <a href="/resources/">Resources Home</a>
      <a href="/resources/getting-started/">Getting Started</a>
      <hr>
      <a href="/resources/general-programming/">General Programming</a>
      <a href="/resources/cheatsheets/">Cheat Sheets</a>
      <a href="/resources/books/">Books</a>
      <a href="/resources/podcasts/">Podcasts</a>
      <a href="/resources/test-your-skills/">Test Your Skills</a>
      <hr>
      <a href="/resources/jobs/">Get a Coding Job</a>
      <a href="/resources/open-source/">Get into Open Source</a>
      <a href="/resources/infosec/">InfoSec Resources</a>
      <hr>
      <a href="/resources/frontend/">Front End Dev</a>
      <a href="/resources/backend/">Back End Dev</a>
      <a href="/resources/mobile/">Mobile Dev</a>
      <a href="/resources/microsoft/">Microsoft Technologies</a>
      <a href="/resources/project-management/">Project Management</a>
      <hr>
      <a href="/resources/veterans/">Veterans</a>
      <a href="/resources/minorities/">Minorities</a>
      <hr>
      <a href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
