<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">News & Updates</h1>
        <p class="lead">Operation Code in the news, and updates impacting Veterans, code schools, and the New GI Bill. Curated by, <a href="https://twitter.com/davidcmolina">@davidcmolina</a>.</p>
       </div>
    </div>
  </div>
</div>
  
<div class="panel panel-default">
  <div class="panel-heading"></div>
    <div class="panel-body">
      <div class="col-md-4">
        <address>
          <strong>Examiner, January 30, 2015 - <a href="http://www.examiner.com/article/operation-code-provides-career-opportunities-for-military-veterans">Operation Code Provides Career Opportunities for Military Veterans</a> by<a href="https://twitter.com/ExaminerSusy"> Susy Raybon</a><br></strong>
        </address>

        <address>
          <strong>SwitchUp, November 11, 2014 - <a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Why Veterans Will Make Excellent Programmers</a> by U.S. Army Veteran <a href="https://twitter.com/charlessipe">Charles Sipe</a><br></strong>
        </address>

        <hr>

         <address>
          <strong>RFI on Accelerated Learning Programs, December 22, 2014 - <a href="https://www.fbo.gov/index?s=opportunity&mode=form&id=0a94b462aaeb18714d28e0f02ed8a004&tab=core&_cview=0">Accelerated Learning Programs</a> (see VP Biden's announcement)
        </address>

        <hr>

        <address>
          <strong>MakerSquare, September 9, 2014 - <a href="http://www.makersquare.com/white_house">White House Calls on Accelerated Learning Programs to Develop Effective Military Veteran Job Placement Programs</a>
        </address>

        <hr>

        <address>
          <strong>White House, July 21, 2014 - </strong><br></a>
          <a href="http://www.whitehouse.gov/the-press-office/2014/07/21/fact-sheet-vice-president-s-address-115th-national-conference-veterans-f">Vice President Joe Biden's Address to the 115th National Conference of the Veterans of Foreign Wars.</a> Highlight:
          <li>Creating a $10 million pilot fund to pay for Veterans to attend a code school.</li>
        <!--   <li><a href="http://www.benefits.va.gov/GIBILL/docs/letters/USB_Letter_July2014.pdf">Fact Sheet</a> for GI Bill, GI Bill Exception, and Vocational Rehabilitation and Employment (VR&E)</li> -->
        </address>

      <!--   <hr>

         <address>
          <strong>June 11, 2014 - </strong><br></a>
          <a href="https://gibill.custhelp.com/app/answers/detail/a_id/1481/">How does a school get a program approved for GI Bill benefits?</a>
        </address> -->
      </div>
    </div>
  </div>
</div>

