<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <h1 id="download" class="page-header">Learn to code</h1>
      <p class="lead">We've compiled a list of online tech ed resources for your convenience, from Bloc to Treehouse, to help you get started on your transition to software development today. Below are just a few across the country curated by our founder, <a href="https://twitter.com/davidcmolina">@davidcmolina</a>.</p></br>
      <p class="lead">Unfortunately, no online code school can accept the New GI Bill. We're working on expanding it to include code schools and online tech ed. <%= link_to 'Join the effort.', new_veteran_registration_path %>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Online Coursework</div>
  <div class="panel-body">
    <div class="col-md-6">
      <address>
        <a href="http://www.bloc.io/" target="_blank">
        <strong>Bloc</strong><br></a>
        A 12-week online apprenticeship designed to teach students the fundamentals of web development. <a href="http://try.bloc.io/dev-bootcamp-for-veterans/">Scholarships</a> available for Veterans. Read <a href="http://blog.bloc.io/developer-bootcamp-scholarships-for-veterans/">more</a>.<br>
      </address>
      <div class="video-container">
        <iframe width="560" height="315" src="//www.youtube.com/embed/ueQX1SSleAU" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
      <div class="video-container">
        <iframe width="560" height="315" src="//www.youtube.com/embed/aQxzbHKFlco" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
      <address>
        <a href="http://www.codecademy.com/" target="_blank">
        <strong>Codecademy</strong><br></a>
        Teaching the world how to code.<br>
      </address>
      <div class="video-container">
        <iframe width="560" height="315" src="//www.youtube.com/embed/fjQ7XaMNQNc" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
      <address>
        <a href="https://www.codeschool.com/" target="_blank">
        <strong>Code School</strong><br></a>
        Learn by doing.<br>
      </address>
      <div class="video-container">
        <iframe width="560" height="315" src="//www.youtube.com/embed/MvyG_ODng3w" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
      <address>
        <a href="http://codeunion.io/" target="_blank">
        <strong>CodeUnion</strong><br></a>
        Become a developer without putting your life on hold.<br>
      </address>
      <hr>
      <address>
        <strong><a href="https://twitter.com/mattangriffel" target="_blank">How to teach yourself code by @mattangriffel</a></strong>
        <br>
      </address>
      <div class="video-container">
        <iframe width="560" height="315" src="//www.youtube.com/embed/T0qAjgQFR4c" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
      <address>
        <a href="http://www.learnhowtoprogram.com/lessons/learn-how-to-program" target="_blank">
          <strong>Learn how to program</a></strong> by <a href="https://twitter.com/michaelrkn" target="_blank">@michaelrkn</a>
        </address>
        <hr>
        <address>
          <a href="http://onemonth.com" target="_blank">
          <strong>One Month Rails</strong><br></a>
          We teach Ruby On Rails in less than a month.<br>
        </address>
        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/bOSq3noO_fg" frameborder="0" allowfullscreen></iframe>
        </div>
        <hr>
        <address>
          <a href="http://www.pluralsight.com/" target="_blank">
          <strong>Pluralsight</strong><br></a>
          Unlock access to the world's largest tech & creative training library.<br>
        </address>
        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/e-UpuP4_iYA" frameborder="0" allowfullscreen></iframe>
        </div>
        <hr>
        <address>
          <a href="http://www.gotealeaf.com/" target="_blank">
          <strong>Tealeaf Academy</strong><br></a>
          Your last stop before becoming a confident developer. Also known for their excellent selection of free coding tutorials available <a href="http://www.gotealeaf.com/books" target="_blank">on their bookshelf.</a> <br> <br>
        </address>
        <hr>
        <address>
          <a href="http://www.thinkful.com/" target="_blank">
          <strong>Thinkful</strong><br></a>
          Learn one-on-one with the world's best experts. Courses include, Intro to Frontend Web Development, Intro to Python & Web Development, Intro to Web Development in Rails, Intro to iOS Programming in Swift, Immediate Frontend in AngularJS, Backend Development in Node.js, and Essentials of Modern Web Design.<br>
        </address>
        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/xO4n6JOfke8" frameborder="0" allowfullscreen></iframe>
        </div>
        <hr>
        <address>
          <a href="http://teamtreehouse.com/" target="_blank">
          <strong>Treehouse</strong><br></a>
          Learn HTML, CSS, iPhone apps & more.<br>
          Discounted <a href="https://teamtreehouse.com/forum/basic-questions-about-education-funding-as-well-as-employment-rate" target="_blank">rate</a> for military available.<br>
        </address>
        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/ZUAg51kA42M" frameborder="0" allowfullscreen></iframe>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">1-on-1 Support</div>
  <div class="panel-body">
    <div class="col-md-6">
      <address>
        <a href="http://www.airpair.com/" target="_blank">
        <strong>airpair</strong><br></a>
        Connect with and book the world's leading software developers 1 hour at a time.<br>
      </address>
      <hr>
      <address>
        <a href="https://www.codementor.io/" target="_blank">
        <strong>Codementor</strong><br></a>
        Codementor provides instant 1:1 help for software development. Build projects faster with on-demand live help from expert developers.<br>
      </address>
      <hr>
      <address>
        <a href="https://hackhands.com/#/" target="_blank">
        <strong>HackHands</strong><br></a>
        HackHands is the fastest online service for 1:1 development education and problem solving. We help developers progress their code, so they can build more, faster. Available 24/7.<br>
      </address>
      <div class="video-container">
        <iframe width="560" height="315" src="//www.youtube.com/embed/AXSqxFzqrKw" frameborder="0" allowfullscreen></iframe>
      </div>
      <hr>
    </div>
  </div>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">For (Parents)</div>
    <div class="panel-body">
      <div class="col-md-6">
        <address>
          <a href="http://kidsruby.com/" target="_blank">
          <strong>KidsRuby</strong><br></a>
          Have fun and make games, or hack your homework using Ruby. KidsRuby makes it fun and easy to learn how to program.<br>
        </address>
        <div class="video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/wrLxjbOhUps" frameborder="0" allowfullscreen></iframe>
        </div>
        <address>
          <a href="https://speakerdeck.com/jasonrclark/programming-in-the-small-teaching-my-6-year-old-ruby" target="_blank">
            <strong>Programming in the Small</a></strong> by <a href="http://twitter.com/jasonrclark" target="_blank">@jasonrclark<br></a>
            <br>
          </address>
        </div>
      </div>
    </div>
  </div>
<div class="panel panel-default">
<div class="panel-heading">Phone Support</div>
<div class="panel-body">
  <div class="col-md-6">
    <address>
      <a href="http://www.railshotline.com/" target="_blank">
      <strong>RailsHotline</strong><br></a>
      The Rails Hotline is a FREE helpline run by volunteer Ruby and Rails developers. Are you stuck or need help getting started? Let's talk through your problem.<br>
    </address>
    <div class="video-container">
      <iframe width="560" height="315" src="//www.youtube.com/embed/2VFLb_K08YE" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
</div>
</div>
