<section id="resourcecontent">
  <div class="pagecontent">
    <div id="resourcearticle">

      <h1>Open Source</h1>
      <ul>
        <li>
          <a href="https://github.com/FreeCodeCamp/how-to-contribute-to-open-source/blob/master/README.md" data-original-href="https://github.com/FreeCodeCamp/how-to-contribute-to-open-source/blob/master/README.md">How to contribute to Open Source -- Article</a>
        </li>
        <li>
          <a href="https://openhatch.org/" data-original-href="https://openhatch.org/">Open Hatch</a>
        </li>
        <li>
          <a href="https://www.codetriage.com/" data-original-href="https://www.codetriage.com/">Code Triage</a>
        </li>
        <li>
          <a href="https://ossu.firebaseapp.com/#/curriculum" data-original-href="https://ossu.firebaseapp.com/#/curriculum">OSS University</a>
        </li>
      </ul>

      <h2>Git and Github</h2>
      <ul>
        <li>
          <a href="https://www.atlassian.com/git/tutorials/what-is-version-control/" data-original-href="https://www.atlassian.com/git/tutorials/what-is-version-control/">What is Version Control?</a>
        </li>
        <li>
          <a href="https://guides.github.com/activities/hello-world/" data-original-href="https://guides.github.com/activities/hello-world/">Github Hello World</a>
        </li>
        <li>
          <a href="https://guides.github.com/introduction/flow/" data-original-href="https://guides.github.com/introduction/flow/">Github Flow introduction</a>
        </li>
        <li>
          <a href="https://youtu.be/ltzQbZrWLds" data-original-href="https://youtu.be/ltzQbZrWLds">Beginner Git Tutorial</a>
        </li>
        <li>
          <a href="https://youtu.be/KMH1mImE0UE" data-original-href="https://youtu.be/KMH1mImE0UE">Github Tutorial</a>
        </li>
        <li>
          <a href="http://learngitbranching.js.org/" data-original-href="http://learngitbranching.js.org/">Learn Git Branching -- Visual Tutorial</a>
        </li>
        <li>
          <a href="https://vimeo.com/184964934/6eb0748a7b" data-original-href="https://vimeo.com/184964934/6eb0748a7b">Github for Developers -- Day 1 (September 22, 2016)</a>
        </li>
        <li>
          <a href="https://vimeo.com/184964933/ef06c54945" data-original-href="https://vimeo.com/184964933/ef06c54945">Github for Developers -- Day 2 (September 23, 2016)</a>
        </li>
        <li>
          <a href="https://www.git-game.com/" data-original-href="https://www.git-game.com/">Git Game</a>
        </li>
      </ul>

      <h2>Linux</h2>
      <ul>
        <li>
          <a href="https://linuxjourney.com/" data-original-href="https://linuxjourney.com/">Linux Journey</a>
        </li>
        <li>
          <a href="http://linuxfromscratch.org/" data-original-href="http://linuxfromscratch.org/">Linux From Scratch</a>
        </li>
        <li>
          <a href="https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/4/html/Introduction_To_System_Administration/index.html" data-original-href="https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/4/html/Introduction_To_System_Administration/index.html">System Administration</a>
        </li>
        <li>
          <a href="https://www.linux.com/tutorials" data-original-href="https://www.linux.com/tutorials">Linux Tutorials</a>
        </li>
        <li>
          <a href="http://linuxsurvival.com/" data-original-href="http://linuxsurvival.com/">Linux Survival</a>
        </li>
      </ul>

      <h2>Command Line</h2>
      <ul>
        <li>
          <a href="http://cli.learncodethehardway.org/book/" data-original-href="http://cli.learncodethehardway.org/book/">Learn the Command Line the Hard Way</a>
        </li>
        <li>
          <a href="https://www.learnenough.com/command-line-tutorial" data-original-href="https://www.learnenough.com/command-line-tutorial">Learn Enough Command Line to Be Dangerous</a>
        </li>
      </ul>
    </div>

    <section id="helpmenu">
      <a href="/resources/">Resources Home</a>
      <a href="/resources/getting-started/">Getting Started</a>
      <hr>
      <a href="/resources/general-programming/">General Programming</a>
      <a href="/resources/cheatsheets/">Cheat Sheets</a>
      <a href="/resources/books/">Books</a>
      <a href="/resources/podcasts/">Podcasts</a>
      <a href="/resources/test-your-skills/">Test Your Skills</a>
      <hr>
      <a href="/resources/jobs/">Get a Coding Job</a>
      <a href="/resources/open-source/">Get into Open Source</a>
      <a href="/resources/infosec/">InfoSec Resources</a>
      <hr>
      <a href="/resources/frontend/">Front End Dev</a>
      <a href="/resources/backend/">Back End Dev</a>
      <a href="/resources/mobile/">Mobile Dev</a>
      <a href="/resources/microsoft/">Microsoft Technologies</a>
      <a href="/resources/project-management/">Project Management</a>
      <hr>
      <a href="/resources/veterans/">Veterans</a>
      <a href="/resources/minorities/">Minorities</a>
      <hr>
      <a href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
