<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">
      
      <h1>Podcasts</h1>
      <ul>
        <li>
          <a href="https://spec.fm/podcasts/immutable" data-original-href="https://spec.fm/podcasts/immutable">Immutable</a>
        </li>
        <li>
          <a href="http://nsscreencast.com/episodes" data-original-href="http://nsscreencast.com/episodes">NSScreencast</a>
        </li>
        <li>
          <a href="https://www.codingblocks.net/" data-original-href="https://www.codingblocks.net/">Coding Blocks</a>
        </li>
        <li>
          <a href="http://www.ettaingroup.com/Blog/ettain-group-Blog/June-2016/20-Best-Podcasts-for-Developers#DetailTop" data-original-href="http://www.ettaingroup.com/Blog/ettain-group-Blog/June-2016/20-Best-Podcasts-for-Developers#DetailTop">Top 20 podcasts for Devs</a>
        </li>
        <li>
          <a href="http://breakingintostartups.com/edgar-pabon/" data-original-href="http://breakingintostartups.com/edgar-pabon/">Breaking into Startups</a>
        </li>
      </ul>
      
    </div>

    <section class="helpmenu">
      <a href="/resources/">Resources Home</a>
      <a href="/resources/getting-started/">Getting Started</a>
      <hr>
      <a href="/resources/general-programming/">General Programming</a>
      <a href="/resources/cheatsheets/">Cheat Sheets</a>
      <a href="/resources/books/">Books</a>
      <a href="/resources/podcasts/">Podcasts</a>
      <a href="/resources/test-your-skills/">Test Your Skills</a>
      <hr>
      <a href="/resources/jobs/">Get a Coding Job</a>
      <a href="/resources/open-source/">Get into Open Source</a>
      <a href="/resources/infosec/">InfoSec Resources</a>
      <hr>
      <a href="/resources/frontend/">Front End Dev</a>
      <a href="/resources/backend/">Back End Dev</a>
      <a href="/resources/mobile/">Mobile Dev</a>
      <a href="/resources/microsoft/">Microsoft Technologies</a>
      <a href="/resources/project-management/">Project Management</a>
      <hr>
      <a href="/resources/veterans/">Veterans</a>
      <a href="/resources/minorities/">Minorities</a>
      <hr>
      <a href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
