<div class="container">
  <div class="row">
    <div class="col m12" role="main">
        <h3 id="download" class="page-header">Operation Code In the News</h3>
        <h5 class="list-group-item-heading"><a href="http://www.seattletimes.com/news/seattles-code-fellows-wins-approval-under-gi-bill/" target="_blank">Seattle coding-school tuition to be covered by GI Bill</a></h5>
        <p>August 29, 2016 - Veterans can now use GI Bill benefits to pay for all four levels of training courses at <a href="https://www.codefellows.org/">Code Fellows</a>. Tuition, which normally costs about $20,000, will be paid for under the bill. The benefits may also include a living stipend.

“This is a big deal for Seattle, an area that has a huge military presence,” Molina said. “It’s a big deal for transitioning military (members) and it’s going to have a huge impact.”</p>

        <h5 class="list-group-item-heading"><a href="https://developingstory.netlify.com/tds-66-david-molina-from-operation-code" target="_blank">This Developing Story Podcast</a></h5>
        <p>August 26, 2016 - In this podcast, Brian Douglas interviews David Molina, Founder & Executive Director of Operation Code, a coding 501(c)(3) nonprofit that helps military, veterans and their families learn to code.</p>

        <h5 class="list-group-item-heading"><a href="http://www.veteranonthemove.com/get-coding-now-with-operation-code-army-veteran-and-founder-david-molina/" target="_blank">Veteran on the Move Podcast</a></h5>
        <p>August 1, 2016 - Get coding now with Operation Code Army veteran and founder David Molina</p>

        <h5 class="list-group-item-heading"><a href="http://mentoringdevelopers.com/episode-36-how-to-pick-a-programming-language-to-learn-for-new-developers-part-2/" target="_blank">Mentoring Developers Podcast</a></h5>
        <p>June 7, 2016 - How to pick a programming language to learn for new developers – Part 2</p>

        <h5 class="list-group-item-heading"><a href="http://softwareengineeringdaily.com/2016/03/20/helping-veterans-learn-code-david-molina/" target="_blank">More and more veterans who leave the army are becoming coders, and the mission of Operation Code is to help veterans make that transition.</a></h5>
        <p>March 20, 2016 - Software Engineering Daily | Military veterans have the right set of skills to become programmers. Technical expertise, emotional resilience, psychological persistence, and teamwork–these are the qualities of the US army and they are the qualities of the best programmers. More and more veterans who leave the army are becoming coders, and the mission of Operation Code is to help veterans make that transition. <a href="http://softwareengineeringdaily.com/2016/03/20/helping-veterans-learn-code-david-molina/" target="_blank">Listen to the podcast...</a></p></br>

        <h5 class="list-group-item-heading"><a href="http://www.geekwire.com/2016/call-duty-technology-veterans-rally-support-operation-code/" target="_blank">When the call of duty is technology, veterans rally to support each other through Operation Code</a></h5>
        <p>January 7, 2016 - GeekWire | Software and technology rank among the top jobs in the country, but military veteran David Molina fears that the country’s military veterans aren’t getting the support they need to successfully land tech positions when transitioning into the workforce. There are employment opportunities as defense contractors or working in security in Afghanistan, Molina said, “but who reaches out to us and says, ‘Do you want to do software or start your own company?” <a href="http://www.geekwire.com/2016/call-duty-technology-veterans-rally-support-operation-code/" target="_blank">Read more...</a></p></br>

        <h5 class="list-group-item-heading"><a href="http://techcrunch.com/2015/11/11/few-options-for-veterans-looking-to-enter-tech/" target="_blank">Few options for veterans looking to enter tech</a></h5>
        <p>November 11, 2015 - TechCrunch | When John Hampton was preparing to leave the Army, he was excited about a career in technology. But he was disappointed to learn that the G.I. Bill wouldn’t enable him to attend a code bootcamp — which he saw as his ticket to that tech career. “The Army’s Soldier for Life Program that is intended to help separating soldiers transition into new careers didn’t offer much career-specific guidance on the software developer field.  Most information related to computers or technology was centered around network admin or network security,” Hampton said. <a href="http://techcrunch.com/2015/11/11/few-options-for-veterans-looking-to-enter-tech/" target="_blank">Read more...</a></p></br>

        <h5 class="list-group-item-heading"><a href="http://www.ibtimes.com/coding-boot-camps-go-after-veterans-take-silicon-valleys-vacant-tech-jobs-2174421" target="_blank">Coding boot camps go after veterans to take Silicon Valley's vacant tech jobs</a></h5>
        <p>November 8, 2015 - International Business Times | When John Hampton was honorably discharged from the Army this year, he decided to pursue a lifelong interest: coding. That’s why in May Hampton, 34, applied for and started attending Iron Yard Academy, a coding boot camp in Greenville, South Carolina. It was a wise decision and one that paid off after 12 weeks of coursework and more than 800 hours of programming. <a href="http://www.ibtimes.com/coding-boot-camps-go-after-veterans-take-silicon-valleys-vacant-tech-jobs-2174421" target="_blank">Read more...</a></p></br>

        <h5 class="list-group-item-heading"><a href="http://www.examiner.com/article/non-profit-operation-code-announces-founding-board-of-directors?CID=examiner_alerts_article" target="_blank">Nonprofit Operation Code announces founding board of directors</a></h5>
        <p>July 15, 2015 - National Military Examiner | This week the National Military Examiner was notified that the principals at Operation Code have announced their founding board of directors. Josh Carter, Aimee Knight, Nick Frost, Pete Runyon, Laura Gómez, Fernando Paredes, and Elmer Thomas will now be key decision makers. <a href="http://www.examiner.com/article/non-profit-operation-code-announces-founding-board-of-directors?CID=examiner_alerts_article" target="_blank">Read more...</a></p></br>

        <h5 class="list-group-item-heading"><a href="http://www.maswired.com/operation-code-wants-veterans-to-work-in-tech/" target="_blank">Operation Code wants veterans to work in tech</a></h5>
        <p>April 25, 2015 - Más Wired | The organization is the brainchild of veteran David Molina, who is currently getting the word out about the organization, and aiming to raise $7.5 million to fund veteran code school education. Although there are several important issues Operation Code aims to address, one of great importance is the fact that veterans cannot use the GI Bill to pay for their code school education. <a href="http://www.maswired.com/operation-code-wants-veterans-to-work-in-tech/" target="_blank">Read more...</a></p></br>

        <h5 class="list-group-item-heading"><a href="http://koin.com/2015/04/15/veteran-gi-bill-should-cover-code-school/" target="_blank">GI Bill should cover code school</a></h5>
        <p>April 15, 2015 - KOIN 6 News | Under current rules, military veterans can’t use their GI Bill to go to code school, but one Portlander is working to change that. Molina said the one promise he was depending on after a decade in uniform was help paying for school under the GI Bill. But KOIN 6 News learned the GI Bill won’t pay for code schools. <a href="http://koin.com/2015/04/15/veteran-gi-bill-should-cover-code-school/" target="_blank">Watch interview...</a></p></br>

        <h5 class="list-group-item-heading"><a href="http://www.kunptv.com/noticias/locales/Oportunidades-para-Veteranos-299768141.html?tab=video&c=y" target="_blank">Oportunidades para veteranos</a></h5>
        <p>April 14, 2015 - KUNP Univision | Operation Code es una organización no lucrativa que busca ayudar a veteranos a estudiar y encontrar trabajos en el desarrollo informático. <a href="http://www.kunptv.com/noticias/locales/Oportunidades-para-Veteranos-299768141.html?tab=video&c=y" target="_blank">Watch interview...</a></p></br>

        <h5 class="list-group-item-heading"><a href="http://www.bizjournals.com/portland/blog/techflash/2015/04/portland-entrepreneur-aims-to-train-military-vets.html" target="_blank">Portland entrepreneur aims to train military vets for software jobs</a></h5>
        <p>April 14, 2015 - Portland Business Journal | Portland entrepreneur David Molina and a growing team of supporters are launching a fundraising campaign this week to raise money and awareness for Operation Code. The new nonprofit, started by Molina, looks to train military veterans for careers in software development by providing scholarships to attend code schools as well as provide mentoring and career services. <a href="http://www.bizjournals.com/portland/blog/techflash/2015/04/portland-entrepreneur-aims-to-train-military-vets.html" target="_blank">Read more...</a></p></br>

        <h5 class="list-group-item-heading"><a href="http://www.bendbulletin.com/localstate/3053094-151/bend-vets-connect-with-operation-code#" target="_blank">Bend veterans connect with Operation Code: new Portland nonprofit wants to help vets get into computer code schools</a></h5>
        <p>April 11, 2015 - The Bulletin | In 2012, veteran David Molina wanted to go to code school, but his GI Bill would not pay his tuition. He tried to teach himself Ruby on Rails, a web development program used to build web applications, but it was just too hard. “I hit a lot of roadblocks,” Molina said. “You shouldn’t have to learn by yourself.” <a href="http://www.bendbulletin.com/localstate/3053094-151/bend-vets-connect-with-operation-code#" target="_blank">Read more...</a></p></br>

        <h5 class="list-group-item-heading"><a href="http://www.examiner.com/article/operation-code-provides-career-opportunities-for-military-veterans" target="_blank">Operation Code provides career opportunities for military veterans</a></h5>
        <p>January 30, 2015 - National Military Examiner | Veterans have been suffering from high unemployment rates for years, but the strategies designed to employee these veterans haven’t changed. The most current numbers were released to media sources in late 2014. Force reduction has hit all branches of the military. The Army alone has plans to reduce its numbers by 200,000 Soldiers, which, no doubt, will lead to increased unemployment for veterans. <a href="http://www.examiner.com/article/operation-code-provides-career-opportunities-for-military-veterans" target="_blank">Read more...</a></p></br>

        <h5 class="list-group-item-heading"><a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers" target="_blank">Why veterans will make excellent programmers: when we can use the New GI Bill</a></h5>
        <p>November 11, 2014 - Switchup  | Veterans are excellent candidates for becoming coders. Military training teaches soldiers how to be highly disciplined, pay close attention to detail, persevere through difficult circumstances, and work on a team. These learned traits can be great assets for someone working in the web development field. <a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers" target="_blank">Read more...</a></p></br>

        <h5 align="center">For all media requests please contact Founder & Executive Director, David Molina at <a href="mailto:david@operationcode.org" target="_blank">david@operationcode.org</a></h5>
    </div>
  </div>
</div>
