<div class="bs-docs-section" align="center">
   <h1 id="overview" class="page-header">Operation Code in the News</h1>
    <p class="lead">Videos</p>

  KOIN 6 News</br><a href="http://koin.com/2015/04/15/veteran-gi-bill-should-cover-code-school/">Veteran: GI Bill should cover code school</a></br></br>

  KUNP Univision</br>
  <a href="http://www.kunptv.com/noticias/locales/Oportunidades-para-Veteranos-299768141.html?tab=video&c=y">Oportunidades para veteranos</a></br></br>

  Portland Business Journal</br><a href="http://www.bizjournals.com/portland/blog/techflash/2015/04/portland-entrepreneur-aims-to-train-military-vets.html">Portland entrepreneur aims to train military vets</a></br></br>

  <p class="lead">Print & Web</p>

  Más Wired</br><a href="http://www.maswired.com/operation-code-wants-veterans-to-work-in-tech/">Operation Code wants veterans to work in tech</a></br></br>

  The Bend Bulletin</br>
  <a href="http://www.bendbulletin.com/localstate/3053094-151/bend-vets-connect-with-operation-code#">Bend veterans connect with Operation Code</a></br></br>

  Examiner.com</br>
  <a href="http://www.examiner.com/article/operation-code-provides-career-opportunities-for-military-veterans">Operation Code provides career opportunities for military veterans</a></br></br>

  Switchup</br>
  <a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Why veterans will make excellent programmers</a></br></br>

  <h4>For all media requests please contact: <a href="mailto:press@operationcode.org">press@operationcode.org</a>.</h4>
  <hr>
</div>
</div>
</div>
</div>
