<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Operation Code In the News</h1>

        <h4 class="list-group-item-heading"><a href="http://www.examiner.com/article/non-profit-operation-code-announces-founding-board-of-directors?CID=examiner_alerts_article">Nonprofit Operation Code announces founding board of directors</a></h4>
        <p>July 15, 2015 - National Military Examiner | This week the National Military Examiner was notified that the principals at Operation Code have announced their founding board of directors. Josh Carter, Aimee Knight, Nick Frost, Pete Runyon, Laura Gómez, Fernando Paredes, and Elmer Thomas will now be key decision makers. <a href="http://www.examiner.com/article/non-profit-operation-code-announces-founding-board-of-directors?CID=examiner_alerts_article">Read more...</a></p></br>

        <h4 class="list-group-item-heading"><a href="http://www.maswired.com/operation-code-wants-veterans-to-work-in-tech/">Operation Code wants veterans to work in tech</a></h4>
        <p>April 25, 2015 - Más Wired | The organization is the brainchild of veteran David Molina, who is currently getting the word out about the organization, and aiming to raise $7.5 million to fund veteran code school education. Although there are several important issues Operation Code aims to address, one of great importance is the fact that veterans cannot use the GI Bill to pay for their code school education. <a href="http://www.maswired.com/operation-code-wants-veterans-to-work-in-tech/">Read more...</a></p></br>

        <h4 class="list-group-item-heading"><a href="http://koin.com/2015/04/15/veteran-gi-bill-should-cover-code-school/">GI Bill should cover code school</a></h4>
        <p>April 15, 2015 - KOIN 6 News | Under current rules, military veterans can’t use their GI Bill to go to code school, but one Portlander is working to change that. Molina said the one promise he was depending on after a decade in uniform was help paying for school under the GI Bill. But KOIN 6 News learned the GI Bill won’t pay for code schools. <a href="http://koin.com/2015/04/15/veteran-gi-bill-should-cover-code-school/">Watch interview...</a></p></br>

        <h4 class="list-group-item-heading"><a href="http://www.kunptv.com/noticias/locales/Oportunidades-para-Veteranos-299768141.html?tab=video&c=y">Oportunidades para veteranos</a></h4>
        <p>April 14, 2015 - KUNP Univision | Operation Code es una organización no lucrativa que busca ayudar a veteranos a estudiar y encontrar trabajos en el desarrollo informático. <a href="http://www.kunptv.com/noticias/locales/Oportunidades-para-Veteranos-299768141.html?tab=video&c=y">Watch interview...</a></p></br>

        <h4 class="list-group-item-heading"><a href="http://www.bizjournals.com/portland/blog/techflash/2015/04/portland-entrepreneur-aims-to-train-military-vets.html">Portland entrepreneur aims to train military vets for software jobs</a></h4>
        <p>April 14, 2015 - Portland Business Journal | Portland entrepreneur David Molina and a growing team of supporters are launching a fundraising campaign this week to raise money and awareness for Operation Code. The new nonprofit, started by Molina, looks to train military veterans for careers in software development by providing scholarships to attend code schools as well as provide mentoring and career services. <a href="http://www.bizjournals.com/portland/blog/techflash/2015/04/portland-entrepreneur-aims-to-train-military-vets.html">Read more...</a></p></br>

        <h4 class="list-group-item-heading"><a href="http://www.bendbulletin.com/localstate/3053094-151/bend-vets-connect-with-operation-code#">Bend veterans connect with Operation Code: new Portland nonprofit wants to help vets get into computer code schools</a></h4>
        <p>April 11, 2015 - The Bulletin | In 2012, veteran David Molina wanted to go to code school, but his GI Bill would not pay his tuition. He tried to teach himself Ruby on Rails, a web development program used to build web applications, but it was just too hard. “I hit a lot of roadblocks,” Molina said. “You shouldn’t have to learn by yourself.” <a href="http://www.bendbulletin.com/localstate/3053094-151/bend-vets-connect-with-operation-code#">Read more...</a></p></br>

        <h4 class="list-group-item-heading"><a href="http://www.examiner.com/article/operation-code-provides-career-opportunities-for-military-veterans">Operation Code provides career opportunities for military veterans</a></h4>
        <p>January 30, 2015 - National Military Examiner | Veterans have been suffering from high unemployment rates for years, but the strategies designed to employee these veterans haven’t changed. The most current numbers were released to media sources in late 2014. Force reduction has hit all branches of the military. The Army alone has plans to reduce its numbers by 200,000 Soldiers, which, no doubt, will lead to increased unemployment for veterans. <a href="http://www.examiner.com/article/operation-code-provides-career-opportunities-for-military-veterans">Read more...</a></p></br>

        <h4 class="list-group-item-heading"><a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Why veterans will make excellent programmers: when we can use the New GI Bill</a></h4>
        <p>November 11, 2014 - Switchup  | Veterans are excellent candidates for becoming coders. Military training teaches soldiers how to be highly disciplined, pay close attention to detail, persevere through difficult circumstances, and work on a team. These learned traits can be great assets for someone working in the web development field. <a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Read more...</a></p></br>

  <h4 align="center">For all media requests please contact <a href="mailto:press@operationcode.org">press@operationcode.org</a></h4>
  <hr>
