<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Donor Privacy Policy</h1>
          <p>Operation Code does not copy, reproduce, publish, post, distribute, share or sell, the name, personal contact information or description of donors to any outside individual or business. Exceptions are those required by law, requested in grant applications or in connection with bank credit or debit card transactions that may be made without prior knowledge or consent of the donor. If a donor chooses to remain anonymous, they can send their request to <a href="david@operationcode.org">david@operationcode.org</a>.</p>

          <p>Operation Code does acknowledge donors by name and/or description of donation, in certain printed material such as newsletters, brochures, annual reports, press releases, event invitations or programs, stationery, solicitation letters or other means of expressing appreciation for the donor’s assistance.</p>

          <p>Operation Code will provide, at least annually, a means for both new and continuing donors to inform the charity if they do not want their names acknowledged on any method mentioned above.</p>

          <p>A donor wishing to view records of all contributions may do so by visiting our <a href="/contributors">Contributors section</a>. If a donor chooses to opt out of any acknowledgement listings, please send us an email, otherwise, the donor’s name and email are made available only to staff of Operation Code who are responsible for managing the funds and business of the organization.</p>

          <p>All records of donations to Operation Code are maintained by the organization according to the applicable standards of record retention and IRS rules in effect at the time of the donation. All records are maintained in a secure location of the organization.</p>

      <h1 id="download" class="page-header">Donor Refund Policy</h1>
          <p>Operation Code does not provide refunds for donations.</p>
