<style>
.content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 20px;
    position: relative;
}

#resourcearticle {
    flex: 1 1 0;
    max-width: 740px;
}

#resourcearticle h1
{
  margin-top: 0;
}
#resourcearticle li img {
    display: block;
    margin: 1em 0;
}
#resourcecontent {
    padding: 30px 0;
}

#resourcecontent .content {
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#helpmenu {
    border: 1px solid #ddd;
    margin-left: 20px;
    width: 200px;
}
#helpmenu hr {
    border-color: #ddd;
    margin: 0;
    padding: 0;
}
#helpmenu a {
    display: block;
    line-height: 140%;
    margin: 0;
    padding: 7px 10px;
}
#helpmenu a:hover {
    background: #eee none repeat scroll 0 0;
}
</style>
<section id="resourcecontent">
    <div class="content">
  
      <div id="resourcearticle">
        
        <h1>Operation Code Resources</h1>
        
        <p>This resource site is here to help you get started coding, as well as find answers to more advanced questions you might have.</p>
        <p>The sidebar gives you access to sections containing specific resources.</p>
        
        <h2>Where can I get help?</h2>
        <ul>
          <li>Pop by the <a href="https://operation-code.slack.com">Operation Code Slack</a> for more specific questions or help with workflows;</li>
          <li>Ask us on Twitter <a href="https://twitter.com/operation_code">@operation_code</a> and we'll be happy to help;</li>
          <li>Connect with us on LinkedIn <a href="https://www.linkedin.com/company/operationcode">Operation Code</a>;</li>
          <li>Got a license-related or private question? If you can't find your answer here, <a href="/contact/">contact us by email</a>.</li>
        </ul>
        
        <h2>Getting Started</h2>
      
        <p>You'll find some great <a href="/resources/getting-started/">Getting Started guides and tutorials</a> to get you started on your coding journey.</p>
        <p>To look at and contribute to the Operation Code website, take a look at <a href="https://github.com/OperationCode/operationcode">our github page</a>, and feel free to make a pull request. Just be sure to follow the <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">contributing guidelines</a>.
  
      </div>

      <section id="helpmenu">
        <a href="/resources/">Resources Home</a>
        <a href="/resources/getting-started/">Getting Started</a>
        <hr>
        <a href="/resources/general-programming/">General Programming</a>
        <a href="/resources/cheatsheets/">Cheat Sheets</a>
        <a href="/resources/books/">Books</a>
        <a href="/resources/podcasts/">Podcasts</a>
        <a href="/resources/test-your-skills/">Test Your Skills</a>
        <hr>
        <a href="/resources/jobs/">Get a Coding Job</a>
        <a href="/resources/open-source/">Get into Open Source</a>
        <a href="/resources/infosec/">InfoSec Resources</a>
        <hr>
        <a href="/resources/frontend/">Front End Dev</a>
        <a href="/resources/backend/">Back End Dev</a>
        <a href="/resources/mobile/">Mobile Dev</a>
        <a href="/resources/microsoft/">Microsoft Technologies</a>
        <a href="/resources/project-management/">Project Management</a>
        <hr>
        <a href="/resources/veterans/">Veterans</a>
        <a href="/resources/minorities/">Minorities</a>
        <hr>
        <a href="/contact/">Contact Us</a>
      </section>

    </div>
  </section>
