<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">About Operation Code Scholarships</h1>
        <p class="lead">At Operation Code, we partner with both code schools and industry leaders to make transitioning to software development less painful and accessible for our nation's finest and their families.</p>
      </div>
    </div>
  </div>

        <div class="video-container">
          <iframe src="https://player.vimeo.com/video/125189545" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <blockquote>Former Air National Guard soldier, Nuatu Tseggai benefited from one of our scholarships to attend Ruby on Ales. An Epicodus alumn, Nuatu is a site reliability engineer at New Relic.</blockquote>

  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-12" role="main">
        <h2>Code school scholarships</h2>
        <p class="lead">Many respective <a href="/codeschools">code schools</a> offer military/veterans discounts. Here are a few code schools that we're proud to partner:</p>

        <p class="lead"><a href="http://go.flatironschool.com/operation-code-overview">The Flatiron School</a></p>
          <p>New York City-based, Flatiron School provides up to $25,000 in scholarships for Operation Code veterans to participate in the Learn-Verified program which includes, $500 off the first month's tuition for the first 50 eligible applicants. Not sure about committing full-time? Feel free to sign up for  <a href="https://learn.co/join/operation-code">Learn.co</a>, an online platform to get introduced to web development and Ruby on Rails. If you get stuck, join the <a href="https://operation-code.slack.com/messages/general/#learn-dot-co"> #learn-dot-co</a> channel in our Slack.</p>

          <p><a href="http://go.flatironschool.com/operation-code-overview">Learn more...</a></p>
        <hr>

        <p class="lead"><a href="http://try.bloc.io/operation-code-bootcamp-scholarship/">Bloc.io</a></p>
          <p>Bloc's Web Developer Track offers all veterans $1,000 tuition credit with the remainder of the tuition through financing. <a href="http://try.bloc.io/operation-code-bootcamp-scholarship/">Learn more...</a></p></p>
        <hr>

        <p class="lead"><a href="https://launchschool.com/blog/operation-code-scholarship/">Launch School</a></p>
          <p>Launch School is offering Operation Code veterans two full scholarships to one male veteran, and another scholarship to a female veteran. <a href="https://launchschool.com/blog/operation-code-scholarship/">Learn more...</a></p>
        <hr>

        <p class="lead"><a href="http://www.antiochla.edu/academics/bachelors-degree/coding-options/">Sabio</a></p>
          <p>Sabio enables Operation Code veterans to get a full-time career in coding in six months all while earning credits towards an undergraduate degree. New GI Bill is an option for non-BA degree holders. <a href="http://sabio.la/college">Learn more...</a></p>
        <hr>

        <p class="lead"><a href="https://www.thinkful.com/pricing/#scholarships">Thinkful</a></p>
          <p>Thinkful partnered with Operation Code to offer scholarships for the Web Development Career Path program. Recipients receive $400 off each month they're enrolled for the scholarship to apply. <a href="https://www.thinkful.com/pricing/#scholarships">Learn more...</a></p>
        <hr>
        <a class="btn btn-lg btn-action" href="mailto:david@operationcode.org" role="button">Partner with us &raquo;</a>
        <hr>

        <h2>Software conference scholarships</h2>
        <p class="lead">We are proud to partner with Ruby on Ales and GitHub, respectively, to introduce more transitioning military, citizen-soldiers, veterans and their families to software development through conferences. To apply, send our Scholarship Chair, Nell Shamrell-Harrington, a direct message on Slack with 2-3 sentences on your interest. Upcoming 2016 software conferences:</p>
        <ul>
          <li><p class="lead"><a href="http://www.osfeels.com/">Open Source & Feelings</a>, Seattle, WA, July 22-23, 2016</li></p>
          <li><p class="lead"><a href="https://www.codeonthebeach.com/">Code on the Beach</a>, Atlantic Beach, FL, August 12-14, 2016</li></p>
          <li><p class="lead"><a href="https://360idev.com/">360iDev</a>, August 21-24, 2016</li></p>
          <li><p class="lead"><a href="http://codeconf.com">CodeConf</a>, Los Angeles, June 27-29, 2016</li></p>
          <li><p class="lead"><a href="http://git-merge.com">GitMerge</a>, New York City, April 5, 2016</li></p>
          <li><p class="lead"><a href="http://ruby.onales.com">Ruby on Ales</a>, March 31 & April 1, 2016</li></p>
        </ul>
        <hr>

        <h2>Conference related from our blog</h2>
        <div class="col-md-4">
            <a href="https://operationcode.org/blog/2016/05/10/codeconf-la.html">
            <h2>CodeConf LA</h2>
            <p>By David Molina</p>
          </a>
          <p>
            At Operation Code, we go beyond just saying, "support our veterans, troops, and their families," we execute on it by providing the operating environment to become software developers. One company that is always shipping and enables Operation Code to fulfill our mission of getting more military veterans and their families coding is GitHub...<a href="https://operationcode.org/blog/2016/05/10/codeconf-la.html">[Read more]</a>
          </p>
        </div>

        <div class="col-md-4">
          <a href="https://operationcode.org/blog/2016/04/26/ruby-on-ales-2016.html">
            <h2>Ruby on Ales 2016</h2>
            <p>By Jesse James</p>
          </a>
          <p>
            For some veterans learning to code, the idea of going to a technical conference is a daunting task. You don’t know the jargon that well, you don’t know all the big names or faces, and you often times don’t know anyone else at the event. It’s a veritable mix of excitement to start getting into the community and the fear that you won’t or don’t belong. That’s exactly how I felt...<a href="https://operationcode.org/blog/2016/04/26/ruby-on-ales-2016.html">[Read more]</a>
          </p>
        </div>

        <div class="col-md-4">
          <a href="https://operationcode.org/blog/2016/03/02/conference-scholarships.html">
            <h2>Conference Scholarships</h2>
            <p>By Nell Shamrell-Harrington</p>
          </a>
          <p>
            One of the best ways to learn, network, and find job opportunities in the IT industry is through attending conferences.  My very first tech conference was Cascadia Ruby 2011 where I was amazed at the variety of talks (many covering technologies and techniques I was immediately able to apply in my work), the interesting conversations in the "hallway track", and the joy of talking with others working with the same technologies I was learning...<a href="https://operationcode.org/blog/2016/03/02/conference-scholarships.html">[Read more]</a>
          </p>
        </div>
    </div>
  </div>
</div>
