<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">In-kind donations from the startup and developer community allow Operation Code to focus on our mission. We are deeply grateful for these companies, entrepreneurs and developers who have our back.</h1>

      <p class="lead"></p>

      <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <h2><a href="https://www.airbnb.com/">Airbnb</a></h2>
          <p>Airbnb is the world's largest community-driven hospitality company. With unique listings in 190 countries, travelers can belong anywhere, Airbnb sponsored our stay during SignalConf 2015 providing a safe place to rest and code from.</p>
          <p><a class="btn btn-default-default" href="https://www.airbnb.com/" role="button">About Airbnb &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2><a href="http://dnsimple.com/">DNSimple</a></h2>
          <p>The world's leader in domain registration and management that makes developers lives a breeze, <a href="http://operationcode.org">operationcode.org</a> is graciously hosted here thanks to the founder, Anthony Eden, who didn't hesitate when we first got off the ground (and his personal tech support).</p>
          <p><a class="btn btn-default-default" href="http://dnsimple.com/" role="button">About DNSimple &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2><a href="http://hackhands.com/">hack.hands()</a></h2>
          <p>hack.hands() is live 24/7 programming support. When we asked the co-founders, Forest Good and Geraldo Ramos, for some design help they went above and beyond creating Operation Code logo so we could better brand ourselves.</p>
          <p><a class="btn btn-default-default" href="http://hackhands.com/" role="button">About HackHands &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-lg-4">
          <h2><a href="https://hacksummit.org/">hack.summit()</a></h2>
          <p>hack.summit() is the world's largest virtual conference for developers. Operation Code received passes so that our veterans could attend for free and learn from programming language creators, open source contributors, and thought leaders in software.</p>
          <p><a class="btn btn-default-default" href="https://hacksummit.org/" role="button">About hack.summit() &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2><a href="https://twitter.com/ivanoats">Ivan Storck</a></h2>
          <p>Web developer, teacher, entrepreneur and co-founder of <a href="http://www.codefellows.org/">Code Fellows</a>, Ivan secured and donated <a href="http://operationcode.org">operationcode.org</a> and other domains for Operation Code and always provides his expertise to the leadership team.</p>
          <p><a class="btn btn-default-default" href="https://twitter.com/ivanoats" role="button">About Ivan &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <h2><a href="https://twitter.com/thinker">Nick Frost</a></h2>
          <p>Navy veteran, entrepreneur, startup advisor and founder of <a href="http://startupli.st/">StartupLi.st</a>, Nick secured and donated the <a href="https://twitter.com/operation_code">@operation_code</a> Twitter handle and volunteers his time and expertise on the Operation Code <a href="/board">governing board of directors</a>.</p>
          <p><a class="btn btn-default-default" href="https://twitter.com/thinker" role="button">About Nick &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-lg-4">
          <h2><a href="https://ruby.onales.com/">Ruby on Ales</a></h2>
          <p>An annual two-day single track rubyist conference in the mountains of central Oregon, Ruby on Ales organizers provide scholarships to introduce Operation Code veterans to the Ruby programming language, network with ruby peers, and get to know Bend.</p>
          <p><a class="btn btn-default-default" href="https://ruby.onales.com/" role="button">About Ruby on Ales &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <h2><a href="http://signal.twilio.com/">SignalConf</a></h2>
          <p>The developer conference for communications created by <a href="http://twilio.com">Twilio</a>, Signal provided 2015 conference scholarships to introduce Operation Code veterans to the Twilio platform, network with peers, and get to know San Francisco for two intensive days.</p>
          <p><a class="btn btn-default-default" href="http://signal.twilio.com/" role="button">About Signal &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <h2><a href="http://speakeasy.co/">Speakeasy</a></h2>
          <p>PIN-less conference call app, Speakeasy, allows the board of directors to get on the same page quickly and efficiently every month, staff and volunteers coordinate moving parts, and one call line for support. </p>
          <p><a class="btn btn-default-default" href="http://speakeasy.co/" role="button">About Speakeasy &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2><a href="https://www.stickermule.com/">Sticker Mule</a></h2>
          <p>The leader in custom and die cut stickers, custom magnets, Sticker Mule donated stickers to <a href="https://twitter.com/FaltingKevin/status/724756250940993536">help decorate MacBook Airs</a> everywhere.</p>
          <p><a class="btn btn-default-default" href="https://www.stickermule.com/" role="button">About Sticker Mule &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="row">
      <p class="lead">Since becoming an independent nonprofit in June 2015, Operation Code is deeply grateful for the generosity of these individuals for their <a href="/donate">online donations</a> to keep us going:</br></br>

        Odniel Gonzo</br>
        Mark Kerr (<a href="https://twitter.com/miamimark">@miamimark</a>)</br>
        Josh Carter (<a href="https://twitter.com/theINDIEhost">@theINDIEhost</a>)</br>
        Nick Frost (<a href="https://twitter.com/thinker">@thinker</a>)</br>
        David E. Weekly (<a href="https://twitter.com/dweekly">@dweekly</a>)</br> Fernando Paredes (<a href="https://twitter.com/nanoxd">@nanoxd</a>)</br> Michael Alexander (<a href="https://twitter.com/cenderin">@cenderin</a>)</br>
        David Molina (<a href="https://twitter.com/davidcmolina">@davidcmolina</a>)</br>
      </div>
    </div>
  </div>
<!--   <h3 id="overview-doctype">What are code schools?</h3>
<p class="lead">Code schools are razer sharp specific programs that range from 3 mos to 7 mos with the focus of turning their students into entry-level developers. Code schools are founded by developers themselves.</p>
<h3 id="overview-mobile">What type of technology companies are we talking about?</h3>
<p class="lead">Technology companies that hire code school graduates vary, from small startups to venture-backed companies. Some graduates go onto work at small agencies, and some go onto launch their own tech companies.</p>
<h1 id="overview" class="page-header">Mission</h1>
<p class="lead">Our mission is to expand the New GI Bill to enable veterans to go to code school, learn to code in a classroom setting, and be job-ready upon graduation.</p>
<h3 id="overview-mobile">Love the mission. How can I help?</h3>
<p class="lead">If you are a veteran and support our mission, <a href="/action">take action</a> today. If you'd like to <a href="/donate">donate</a> to help David get this off the ground, please do so today. If you work for a technology company consider in-kind donations/tuition sponsorships so that Operation Code can reach more veterans. Something else? <a href="mailto:contact@operationcode.org">Email us</a>.</p> -->
