<div class="container">
  <div class="row">
    <h3 id="download" class="page-header">Staff</h3>
    <p class="lead">Our all-volunteer staff of Operation Code coordinates, integrates, and synchronizes efforts to accomplish the mission. Say hello!</p>

    <div class="row">
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><a href="mailto:rick@operationcode.org">Rick Rein</a></span>
                  <br>
                  Rick, a US Marine veteran and software engineer at Akamai Technologies, heads up the technology and mentorship efforts at Operation Code. Rick blogs at <a href="http://rickre.in">http://rickre.in</a>.
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><a href="mailto:nell@operationcode.org">Nell Shamrell-Harrington</a> (<a href="https://twitter.com/nellshamrell">@nellshamrell</a>)</span>
              <p>Nell Shamrell, a software engineer at Chef and daughter of two US Air Force officers, leads our  scholarship program. Nell blogs at <a href="http://nellshamrell.com">http://nellshamrell.com</a>.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><a href="mailto:doug@operationcode.org">Doug Brown</a></span>
              <p>Doug Brown is a software engineer at Apple, a new dad, and does outreach for our scholarship program.</p> 
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><a href="mailto:maggi@operationcode.org">Maggi Molina</a></span>
              <p>Maggi Molina is a USAF veteran, former co-founder & COO at VetStartups, and supports our programs and services.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><a href="mailto:george@operationcode.org">George Everts</a></span>
              <p>George Everts is a 27-year US Army retired Noncommissioned Officer, veteran of Operation Desert Storm, and is our liaison to code schools nationally.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><a href="mailto:krystyna@operationcode.org">Krystyna Ewing</a> (<a href="https://twitter.com/wimsy113">@wimsy113</a>)</span></span>
              <p>Krystyna Ewing is an Iraq veteran, former student of Dev Bootcamp, Zinc web apprentice, and a Deploy developer.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><a href="mailto:farrah@operationcode.org">Farrah Morrisey</a></span>
              <p>Farrah Morrisey is a 12-year fund development veteran and grantwriter with regional and national experience. She volunteers as a development advisor.</p>
            </div>
          </div>
       </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><a href="mailto:rob@operationcode.org">Rob Kriner</a></span>
              <p>Rob Kriner is an UI/UX Product Manager at <a href="https://www.corsearch.com/">Corsearch</a>, IAVA mentor, and heads our communications and marketing efforts.</p>
            </div>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <span class="card-title"><a href="mailto:jay@operationcode.org">Jay Miller</a></span>
                <p>Jay Miller is a podcaster and founder of <a href="http://productivityintech.com/">Productivity in Tech</a>, a community for people in and around the tech space to explore their personal productivity. He volunteers as a community manager for Operation Code.</p>
              </div>
            </div>
          </div>
  
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <span class="card-title"><a href="mailto:conrad@operationcode.org">Conrad Hollomon</a> (<a href="https://twitter.com/hollomancer">@hollomancer</a>)</span></span>
                <p>
                  Conrad Hollomon is an Afghanistan veteran, US Army captain, and test engineer at <a href="https://www.sparkmeter.io">SparkMeter</a>, an energy tech startup. He volunteers as chief of staff, coordinating our national operations and strategic partnerships.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <span class="card-title"><a href="mailto:lyn@operationcode.org">Lyn Dee</a></span>
                <p>
                  Lyn is a software engineer for <a href="https://www.roewith.me/">Roe With Me</a>. She is a military spouse who graduated from CS a decade ago, but never practiced her craft professionally until her spouse’s late entry to the military inspired her to do so. She hopes to help fellow milspouses to do the same.</p>
              </div>
            </div>
          </div>
  
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <span class="card-title"><a href="mailto:david@operationcode.org">David Molina</a> (<a href="https://twitter.com/davidcmolina">@davidcmolina</a>)</span></span>
                <p>David Molina is a former US Army captain, amateur software developer, tech entrepreneur, and founder &amp; executive director of Operation Code.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
