<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <h1 id="download"></h1>
      <h2>Operation Code Staff & Board</h2>
      <h3>David Molina</h3>
      <p class="lead">Founder and Executive Director</p>
      <h4>David Molina is the Founder and Executive Director of Operation Code, an open source project he started on August 21, 2014 when he wrote the first line of code to GitHub. A nonpartisan, nonprofit organization, Operation Code's mission is to help American military, veterans and their families learn to code to fill the nation's technical talent shortage.</h4>
      <h4>A native of Mt. Vernon, Washington, Mr. Molina first enlisted in the U.S. Army Reserve in 2000. After 9/11, he enrolled in the Army Reserve Officer Training Corps (ROTC) program while at Oregon State University and served as a simultaneous membership program cadet and assigned to the Portland-based, 364th Civil Affairs Brigade (Airborne) and later the Fort Vancouver-based, 104th Division (IT). At the 104th, Mr. Molina served as a company executive officer and after commissioning as a 2nd Lt. was promoted and served as aide-de-camp to the Assistant Division Commander-Operations.</h4>
      <h4>After majoring in political science, Mr. Molina attended the Infantry School at Fort Benning, Georgia during summer 2005. He was mobilized from 2007-2008 to Aberdeen Proving Ground, Maryland as a Summary Court Martial Officer at the Joint Personal Effects Depot (JPED) responsible for the meticulous inventory and return of the personal effects of hundreds of deceased and wounded service-members. During this 18-month assignment, he co-authored the Center for Army Lessons Learned JPED Handbook.</h4>
      <h4>Upon returning to Oregon, Mr. Molina served a brief 6-month stint as the Committee Administrator of the House Committee on Veterans & Emergency Services during the 2009 legislative session.</h4>
      <h4>From 2011-2013, Mr. Molina mobilized in support of JPED's transition to be co-located next to the Air Force Mortuary Affairs Operations (AFMAO) and the Armed Forces Medical Examiner System (AFMES) at Dover Air Force Base in support of the Families of the Fallen mission. He served as the plans/training and operations officer (S-2/3 OIC), public affairs, and protocol officer.</h4>
      <h4>Capt. Molina was honorably discharged in March 2014 and awarded the Meritorious Service Medal and The Rowan Award. He's been learning to code ever since.</h4>
      <h4>He currently resides in Portland, Oregon with his family.</h4>

      <h2>Founding Board of Directors</h2>
      <p class="lead">The Operation Code board of directors is made up entirely of volunteers. The board currently includes:</p>
      <h3>Josh Carter</h3>
      <h4>A veteran of the US Navy, Josh Carter conducted counterdrug ops in the Caribbean and several deployments to the Persian Gulf. Currently, Mr. Carter is the Co-Founder & CEO of PLUNK, a marketing startup and has worked with companies such as Google, Yahoo!, Twilio, and Five9. </h4>
      <h3>Aimee Knight</h3>
      <h4>Aimee Knight is a figure skater turned software engineer, and a panelist on the JavaScript Jabber, and Angular Air podcasts. After teaching herself the basics and attending a six month coding bootcamp, Ms. Knight now works at Message Systems in Baltimore Maryland building out email infrastructure in Node.js and Angular.js for companies like Twitter, Facebook and Pinterest.</h4>
      <h3>Nick Frost</h3>
      <h4>Nick Frost is former Navy, having served 5 years as a Seabee in the United States Naval Construction Forces as a construction mechanic. With an interest in entrepreneurship, he started a software company, StartupList, from his tent in Afghanistan. Mr. Frost is a co-founder of AngelHack, a Startup Weekend mentor, and also serves on the VictorySpark board of directors. Mr. Frost currently serves as Business Development Manager at Mattermark.</h4>
      <h3>Pete Runyon</h3>
      <h4>A veteran of the US Marine Corps, Pete Runyon served as a Finance Officer. A graduate of NYU in economics, Mr. Runyon is currently at Ernst & Young.</h4>
      <h3>Laura Gómez</h3>
      <h4>Laura Gómez is the Founder & CEO of Atipica, a startup with technologies designed to optimize Applicant Tracking Systems (ATS) with big data and machine learning. Prior to Atipica, Ms. Gómez founded Vyv, worked at Twitter, Jawbone, YouTube, Google Brasil and studied computer science at UC Berkeley. She also serves on the board of Digital NEST.</h4>
      <h3>Fernando Paredes</h3>
      <h4>Fernando Paredes is an iOS/Android developer at Shiftboard, an online scheduling startup, a serial hobbyist, homebrew-cask maintainer, Army veteran, and polyglot.</h4>
      <h3>Elmer Thomas</h3>
      <h4>Elmer Thomas is Hacker-in-Residence at SendGrid, an transactional email delivery and management service and a mentor for Techstars Patriot Boot Camp military, veterans and spouses. Mr. Thomas studied computer & electrical engineering at UC Riverside, and also serves as Vice President on the Council for the Advancement of Black Engineers.</h4>
  </div>
</div>
</div>
