<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <h1 id="download"></h1>
      <h2>Operation Code Staff & Board</h2>
      <h3>David Molina</h3>
      <p class="lead">Founder and Executive Director</p>
      <h4>David Molina is the Founder and Executive Director of Operation Code, an open source project he started on August 21, 2014 when he wrote the first line of code to GitHub. A nonpartisan, nonprofit organization, Operation Code's mission is to help American military, veterans and their families learn to code to fill the nation's technical talent shortage.</h4>
      <h4>A native of Mt. Vernon, Washington, Molina first enlisted in the U.S. Army Reserve in 2000. After 9/11, he enrolled in the Army Reserve Officer Training Corps (ROTC) program while at Oregon State University and served as a simultaneous membership program cadet and assigned to the Portland-based, 364th Civil Affairs Brigade (Airborne) and later the Fort Vancouver-based, 104th Division (IT). At the 104th, Molina served as a company executive officer and after commissioning as a 2nd Lt. was selected as the aide-de-camp for the assistant division commander-operations.</h4>
      <h4>After majoring in political science, Molina attended the Infantry School at Fort Benning, Georgia during summer 2005. He was mobilized from 2007-2008 to Aberdeen Proving Ground, Maryland as a summary court martial officer at The Joint Personal Effects Depot (JPED) responsible for the meticulous inventory and return of the personal effects of hundreds of deceased and wounded service-members. During this 18-month assignment, Molina co-authored the Center for Army Lessons Learned JPED manual.</h4>
      <h4>Upon returning to Oregon, Molina served a brief 6-month stint as the Committee Administrator of the House Committee on Veterans & Emergency Services during the 2009 legislative session.</h4>
      <h4>From 2011-2013, Molina mobilized in support of JPED's transition to be co-located next to the Air Force Mortuary Affairs Operations (AFMAO) and the Armed Forces Medical Examiner System (AFMES) at Dover Air Force Base in support of the Families of the Fallen mission. He served as the plans/training and operations officer (S-2/3 OIC), public affairs, and protocol officer.</h4>
    <h4>Capt. Molina was honorably discharged in March 2014 and awarded the Meritorious   Service Medal and The Rowan Award. He's been learning to code ever since</a>.</h4>
    <h4>He currently resides in Portland, Oregon with his family.</h4><div class="social-links">
      <a href="https://twitter.com/davidcmolina"
      id="twitter"><i class="fa fa-twitter fa-lg"></i></a>
      <a href="https://facebook.com/david.molina1"
      id="facebook"><i class="fa fa-facebook fa-lg"></i></a>
      <a href="https://instagram.com/davidcmolina"
      id="instagram"><i class="fa fa-instagram fa-lg"></i></a>
    </div>
  </div>
</div>
</div>