<div class="container">
  <div class="row">
    <div class="col m12">
      <h3>Success Stories</h3>

      <h5 class="header center">We're proud to serve active military, guard & reserve troops, veterans and military families to become successful in the information age and 21st century new skills economy.</h4>

      <a href="https://twitter.com/JohnJHampton"><img style="vertical-align: middle; margin: 0 auto; border-radius: 50%; -webkit-border-radius: 50%; display: block; width: 160px; height: 160px;" src="https://s3-us-west-2.amazonaws.com/operationcode/jhampton.jpeg" alt="John Hampton" /></a>

      <div class="row center">
      <h6 class="header col s12 light">
          <p>"It's been refreshing to see that other veterans share the same path as me - transitioning from military service to professional software development. By taking part in Operation Code's community, I've had the chance to pair-program with others, be introduced to new tech stacks that I was previously unfamiliar with, prepare for a software bootcamp, and find an internship through an opening posted in the <b><a href="https://operation-code.slack.com/messages/jobs/">#jobs</a></b> channel. <b>Operation Code fosters a community where members support each other, offer & accept advice, and serve as an ongoing reminder that we're all still part of one team</b>."</br>
          -John Hampton, US Army veteran | <a href="https://github.com/jjhampton">GitHub</a> | <a href="https://twitter.com/JohnJHampton">Twitter</a></p>
        </h6>
      </div>

      <a href="https://twitter.com/livestocode"><img style="vertical-align: middle; margin: 0 auto; border-radius: 50%; -webkit-border-radius: 50%; display: block; width: 160px; height: 160px;" src="https://s3-us-west-2.amazonaws.com/operationcode/victor_molina.jpg" alt="Victor Molina" /></a>

      <div class="row center">
        <h6 class="header col s12 light">
          <p>"Prior to Operation Code, I was working day-in and day-out pouring concrete and general heavy labor construction when I learned about Operation Code. Due to their <b><a href="/mentorship">mentorship</a></b> I skipped on finishing community college, borrowed a MacBook Pro from Operation Code, attended a Seattle code school, doubled my income, and improved my standard of living. <b>Thanks to Operation Code I'm doing what I love</b>."</br>
          -Victor Molina, US Marine Corps veteran | <a href="https://github.com/molina1775">GitHub</a> | <a href="https://twitter.com/livestocode">Twitter</a></p>
        </h6>
      </div>

      <a href="https://operation-code.slack.com/messages/0311-code"><img style="vertical-align: middle; margin: 0 auto; border-radius: 50%; -webkit-border-radius: 50%; display: block; width: 160px; height: 160px;" src="https://s3-us-west-2.amazonaws.com/operationcode/jameel_matin.png" alt="Jameel Matin" /></a>

      <div class="row center">
        <h6 class="header col s12 light">
          <p>"I enlisted in the Marine Corps Infantry to serve and win our country's wars. After my service, I searched for a new career. I knew I wanted to be part of the tip of the spear in an industry and I realized the tech industry is leading from the front. <b>I Googled around and found Operation Code, a non-profit which helps veterans like me break into the tech industry. A couple weeks later they found a way to get me into GitHub's <a href="http://codeconf.com/">CodeConf LA</a></b>. There, I found <b><a href="http://sabio.la/">Sabio</a></b>, a local code school which accepts the New GI Bill. Today, I am in the middle of a <b><a href="http://vetshack.us/">hackathon</a></b> sponsored by Sabio in an effort to build a website to help folks in the military be successful by the time they get out. Operation Code not only paved a route for me, they also showed me what I can build with my imagination. <b>Imagine what it can do for other veterans</b>."</br>
          -Jameel Matin, US Marine Corps veteran</p>
        </h6>

        <div class='container'>
          <div class='row'>
            <a class="btn btn-large btn-action" href="http://operation-code.slack.com/messages/@david" role="button">Submit Your Story &raquo;</a>

            <a class="btn btn-large btn-action" href="/square" role="button">Donate now &raquo;</a>
          </div>
        </div>

        <hr>

  <!-- <div class="row center">
    <h5 class="header col s12 light">
      "Quote." -[Full Name], [Branch of Service]
    </h5>
  </div> -->

<!-- older content below -->
    <!-- <div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">They served their country. Code school graduates.</h1>
        <p class="lead"><b>Follow these veterans. Hire them.</b></br>

<table class="table table-striped">
  <h2>Andrew Benavides <small>Marine veteran</small></h2>
<h5><a href="https://www.epicodus.com/" target="_blank">Epicodus</a> graduate<small> </small></h5>
  <div class="social-links">
    <a href="https://twitter.com/zordonlives"
    id="twitter" target="_blank"><i class="fa fa-twitter fa-sm"></i></a>
  </div>
</table>

  <h2>Ron Floyd <small>Navy veteran</small></h2>
  <h5><a href="http://www.codefellows.org/" target="_blank">Code Fellows</a> graduate<small> Currenty at CollegeNET</small></h5>
    <div class="social-links">
      <a href="https://twitter.com/bronfloyd"
      id="twitter" target="_blank"><i class="fa fa-twitter fa-sm"></i></a>
    </div>

    <h2>Randy Leighton <small>Navy veteran</small></h2>
  <h5><a href="https://www.epicodus.com/" target="_blank">Epicodus</a> graduate<small> Currenty at G5</small></h5>
    <div class="social-links">
      <a href="https://twitter.com/randyleighton"
      id="twitter" target="_blank"><i class="fa fa-twitter fa-sm"></i></a>
    </div>
</table>

  <h2>Nautu Tseggai <small>Air Nat'l Guard veteran</small></h2>
  <h5><a href="https://www.epicodus.com/" target="_blank">Epicodus</a> graduate<small> Currenty at New Relic</small></h5>
  <div class="social-links">
    <a href="https://twitter.com/dataface"
    id="twitter" target="_blank"><i class="fa fa-twitter fa-sm"></i></a>
  </div>
</table>

<hr>

<!- <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->
