<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">They served their country. Code school graduates.</h1>
        <p class="lead"><b>Follow these veterans. Hire them.</b></br>

<table class="table table-striped">
  <h2>Andrew Benavides <small>Marine veteran</small></h2>
<h5><a href="https://www.epicodus.com/">Epicodus</a> graduate<small> </small></h5>
  <div class="social-links">
    <a href="https://twitter.com/zordonlives"
    id="twitter"><i class="fa fa-twitter fa-sm"></i></a>
  </div>
</table>

  <h2>Ron Floyd <small>Navy veteran</small></h2>
  <h5><a href="http://www.codefellows.org/">Code Fellows</a> graduate<small> Currenty at CollegeNET</small></h5>
    <div class="social-links">
      <a href="https://twitter.com/bronfloyd"
      id="twitter"><i class="fa fa-twitter fa-sm"></i></a>
    </div>

    <h2>Randy Leighton <small>Navy veteran</small></h2>
  <h5><a href="https://www.epicodus.com/">Epicodus</a> graduate<small> Currenty at G5</small></h5>
    <div class="social-links">
      <a href="https://twitter.com/randyleighton"
      id="twitter"><i class="fa fa-twitter fa-sm"></i></a>
    </div>
</table>

  <h2>Nautu Tseggai <small>Air Nat'l Guard veteran</small></h2>
  <h5><a href="https://www.epicodus.com/">Epicodus</a> graduate<small> Currenty at New Relic</small></h5>
  <div class="social-links">
    <a href="https://twitter.com/dataface"
    id="twitter"><i class="fa fa-twitter fa-sm"></i></a>
  </div>
</table>

<hr>

<!-- <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->
