<div class="container">
  <br><br>
  <h4 class="header center">We're proud to serve active military, guard & reserve troops, veterans and military families to become successful in the information age and 21st century new skills economy. Meet some below.</h4>
  <div class="row center">
    <h5 class="header col s12 light">
      "It's been refreshing to see that other veterans share the same path as me - transitioning from military service to professional software development. By taking part in Operation Code's community, I've had the chance to pair-program with others, be introduced to new tech stacks that I was previously unfamiliar with, prepare for a software bootcamp, and find an internship through an opening posted in the <a href="https://operation-code.slack.com/messages/jobs/">#jobs</a> channel. Operation Code fosters a community where members support each other, offer & accept advice, and serve as an ongoing reminder that we're all still part of one team." -John Hampton, US Army veteran (<a href="https://twitter.com/JohnJHampton">@JohnJHampton</a>)
    </h5>
  </div>

  <!-- <div class="row center">
    <h5 class="header col s12 light">
      "Quote." -[Full Name], [Branch of Service]
    </h5>
  </div> -->

<!-- older content below -->
    <!-- <div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <div class="bs-docs-section">
        <h1 id="download" class="page-header">They served their country. Code school graduates.</h1>
        <p class="lead"><b>Follow these veterans. Hire them.</b></br>

<table class="table table-striped">
  <h2>Andrew Benavides <small>Marine veteran</small></h2>
<h5><a href="https://www.epicodus.com/" target="_blank">Epicodus</a> graduate<small> </small></h5>
  <div class="social-links">
    <a href="https://twitter.com/zordonlives"
    id="twitter" target="_blank"><i class="fa fa-twitter fa-sm"></i></a>
  </div>
</table>

  <h2>Ron Floyd <small>Navy veteran</small></h2>
  <h5><a href="http://www.codefellows.org/" target="_blank">Code Fellows</a> graduate<small> Currenty at CollegeNET</small></h5>
    <div class="social-links">
      <a href="https://twitter.com/bronfloyd"
      id="twitter" target="_blank"><i class="fa fa-twitter fa-sm"></i></a>
    </div>

    <h2>Randy Leighton <small>Navy veteran</small></h2>
  <h5><a href="https://www.epicodus.com/" target="_blank">Epicodus</a> graduate<small> Currenty at G5</small></h5>
    <div class="social-links">
      <a href="https://twitter.com/randyleighton"
      id="twitter" target="_blank"><i class="fa fa-twitter fa-sm"></i></a>
    </div>
</table>

  <h2>Nautu Tseggai <small>Air Nat'l Guard veteran</small></h2>
  <h5><a href="https://www.epicodus.com/" target="_blank">Epicodus</a> graduate<small> Currenty at New Relic</small></h5>
  <div class="social-links">
    <a href="https://twitter.com/dataface"
    id="twitter" target="_blank"><i class="fa fa-twitter fa-sm"></i></a>
  </div>
</table>

<hr>

<!- <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav> -->
