<div class="container" align="center">
  <div class="starter-template">
   <div class="bs-docs-section" align="center">
   <h1 id="overview" class="page-header">Team</h1>
      <p class="lead">Capital Campaign Team</p>
      <p class="lead">Founder</p>
      <p class="lead">Core Team & Contributors</p>
      <p class="lead">Advisory Board</p>

      <p class="center"><a class="btn btn-default"
        href="/capitalcampaignteam"
        role="button">Capital Campaign Team</a>
      </p>

      <p class="center"><a class="btn btn-default"
        href="/founder"
        role="button">Our Founder</a>
      </p>

      <p class="center"><a class="btn btn-default"
        href="/github"
        role="button">Core Team & Contributors</a>
      </p>

      <p class="center"><a class="btn btn-default-lg"
        href="/board"
        role="button">Advisory Board</a>
      </p>

      <p class="center"><a class="btn btn-default"
        href="/capitalcampaignteam"
        role="button">Capital Campaign Team</a>

      <p class="center"><a class="btn btn-default"
        href="/founder"
        role="button">Our Founder</a>

      <p class="center"><a class="btn btn-default"
        href="/github"
        role="button">Core Team & Contributors</a>

      <p class="center"><a class="btn btn-default-lg"
        href="/board"
        role="button">Advisory Board</a>
      </p>
      </div>
    </div>
  </div>
</div>

<hr>
