<div class="container" align="center">
  <div class="starter-template">
   <div class="bs-docs-section" align="center">
   <h1 id="overview" class="page-header">Leadership</h1>
      <p class="lead">David Molina is...</p>

      </div>
    </div>
  </div>
</div>

<hr>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
