<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">
      
      <h1>Test Your Skills</h1>
      <ul>
        <li>
          <a href="exercism.io" data-original-href="exercism.io">Exercism</a>
        </li>
        <li>
          <a href="http://www.codewars.com/" data-original-href="http://www.codewars.com/">Code Wars -- Join the Operation Code clan!</a>
        </li>
        <li>
          <a href="https://www.hackerrank.com/" data-original-href="https://www.hackerrank.com/">Hacker Rank</a>
        </li>
        <li>
          <a href="https://coderbyte.com/" data-original-href="https://coderbyte.com/">Coder Byte</a>
        </li>
        <li>
          <a href="https://codefights.com/" data-original-href="https://codefights.com/">Code Fights</a>
        </li>
        <li>
          <a href="https://codecombat.com" data-original-href="https://codecombat.com">Code Combat</a>
        </li>
        <li>
          <a href="https://www.codingame.com/start" data-original-href="https://www.codingame.com/start">CodinGame</a>
        </li>
        <li>
          <a href="http://code.rpgify.com/" data-original-href="http://code.rpgify.com/">Code RPGify</a>
        </li>
        <li>
          <a href="http://www.devdraft.com/" data-original-href="http://www.devdraft.com/">DevDraft</a>
        </li>
        <li>
          <a href="http://hackerearth.com/" data-original-href="http://hackerearth.com/">Hacker Earth</a>
        </li>
        <li>
          <a href="http://www.corewars.org/" data-original-href="http://www.corewars.org/">Core Wars</a>
        </li>
        <li>
          <a href="https://www.codeeval.com/" data-original-href="https://www.codeeval.com/">Code Eval</a>
        </li>
        <li>
          <a href="http://rosettacode.org/wiki/Rosetta_Code" data-original-href="http://rosettacode.org/wiki/Rosetta_Code">Rosetta Code</a>
        </li>
        <li>
          <a href="https://adventofcode.com/2016/about" data-original-href="https://adventofcode.com/2016/about">Advent of Code (seasonal)</a>
        </li>
        <li>
          <a href="https://screeps.com/" data-original-href="https://screeps.com/">Screeps</a>
        </li>
        <li>
          <a href="http://www.cyber-dojo.org/" data-original-href="http://www.cyber-dojo.org/">Cyber Dojo</a>
        </li>
        <li>
          <a href="https://checkio.org/" data-original-href="https://checkio.org/">Checkio.org</a>
        </li>
      </ul>
      
    </div>

    <section class="helpmenu">
      <a class="helpmenu-link" href="/resources/">Resources Home</a>
      <a class="helpmenu-link" href="/resources/getting-started/">Getting Started</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/general-programming/">General Programming</a>
      <a class="helpmenu-link" href="/resources/cheatsheets/">Cheat Sheets</a>
      <a class="helpmenu-link" href="/resources/books/">Books</a>
      <a class="helpmenu-link" href="/resources/podcasts/">Podcasts</a>
      <a class="helpmenu-link" href="/resources/test-your-skills/">Test Your Skills</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/jobs/">Get a Coding Job</a>
      <a class="helpmenu-link" href="/resources/open-source/">Get into Open Source</a>
      <a class="helpmenu-link" href="/resources/infosec/">InfoSec Resources</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/frontend/">Front End Dev</a>
      <a class="helpmenu-link" href="/resources/backend/">Back End Dev</a>
      <a class="helpmenu-link" href="/resources/mobile/">Mobile Dev</a>
      <a class="helpmenu-link" href="/resources/microsoft/">Microsoft Technologies</a>
      <a class="helpmenu-link" href="/resources/project-management/">Project Management</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/resources/veterans/">Veterans</a>
      <a class="helpmenu-link" href="/resources/minorities/">Minorities</a>
      <hr class="helpmenu-break">
      <a class="helpmenu-link" href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
