<section id="resourcecontent">
  <div class="pagecontent">
    <div id="resourcearticle">
      
      <h1>Veterans</h1>
      <ul>
        <li>
          <a href="https://guildsa.org/veterans/" data-original-href="https://guildsa.org/veterans/">Guild/SA</a>
        </li>
        <li>
          <a href="https://fedvte.usalearning.gov/" data-original-href="https://fedvte.usalearning.gov/">FedVTE</a>
        </li>
        <li>
          <a href="https://www.veterati.com/" data-original-href="https://www.veterati.com/">Veterati (Mentorship)</a>
        </li>
        <li>
          <a href="http://casy.msccn.org/" data-original-href="http://casy.msccn.org/">Job board for Vets</a>
        </li>
        <li>
          <a href="http://americandreamu.org/about/" data-original-href="http://americandreamu.org/about/">American Dream U</a>
        </li>
        <li>
          <a href="https://www.hireheroesusa.org/training-programs/" data-original-href="https://www.hireheroesusa.org/training-programs/">Hire Heroes Training Programs</a>
        </li>
        <li>
          <a href="https://aws.amazon.com/education/awseducate/veterans/" data-original-href="https://aws.amazon.com/education/awseducate/veterans/">Learn AWS for Free from Amazon</a>
        </li>
        <li>
          <a href="http://www.shift.org/pages/veterans" data-original-href="http://www.shift.org/pages/veterans">Shift.org</a>
        </li>
        <li>
          <a href="http://www.acp-usa.org/mentoring-program/program-overview" data-original-href="http://www.acp-usa.org/mentoring-program/program-overview">ACP Mentorship program</a>
        </li>
        <li>
          <a href="https://www.vets.gov/employment/" data-original-href="https://www.vets.gov/employment/">Vets.gov Empolyment</a>
        </li>
        <li>
          <a href="https://www.accenture.com/us-en/careers/accenture-veteran-technology-training-program" data-original-href="https://www.accenture.com/us-en/careers/accenture-veteran-technology-training-program">Accenture Veteran Technology Training Program</a>
        </li>
        <li>
          <a href="http://onward2opportunity.org/" data-original-href="http://onward2opportunity.org/">Onward To Opportunity</a>
        </li>
        <li>
          <a href="http://Syracuse.edu" data-original-href="http://Syracuse.edu">IVMF</a>
          <a href="https://ivmf.syracuse.edu/" data-original-href="https://ivmf.syracuse.edu/">https://ivmf.syracuse.edu/</a>
        </li>
        <li>
          <a href="https://aws.amazon.com/education/awseducate/veterans/" data-original-href="https://aws.amazon.com/education/awseducate/veterans/">AWS Educate</a>
        </li>
        <li>
          <a href="http://military.microsoft.com/" data-original-href="http://military.microsoft.com/">Microsoft Military Resources</a>
        </li>
        <li>
          <a href="http://military.microsoft.com/training/mssa/" data-original-href="http://military.microsoft.com/training/mssa/">Microsoft Software & Systems Academy (MSSA) scholarship</a>
        </li>
        <li>
          <a href="https://blog.linkedin.com/2015/11/11/honoring-our-service-members-veterans-with-1-year-free-learning-on-lynda-com" data-original-href="https://blog.linkedin.com/2015/11/11/honoring-our-service-members-veterans-with-1-year-free-learning-on-lynda-com">Lynda.com -- 1 year free video tutorials subscription</a>
        </li>
        <li>
          <a href="https://veterans.force.com/VetForceVeteranRegistration" data-original-href="https://veterans.force.com/VetForceVeteranRegistration">VetForce</a>
        -- Free salesforce training for vets
        </li>
        <li>
          <a href="http://www.sap.com/about/careers/your-career/military-veterans.html" data-original-href="http://www.sap.com/about/careers/your-career/military-veterans.html">Jobs at SAP for Vets</a>
        </li>
        <li>
          <a href="http://csr.cisco.com/casestudy/veterans-program" data-original-href="http://csr.cisco.com/casestudy/veterans-program">Cisco Vet Program</a>
        </li>
        <li>
          <a href="https://www.accenture.com/us-en/careers/jobdetails?id=00407361_en" data-original-href="https://www.accenture.com/us-en/careers/jobdetails?id=00407361_en">Accenture Veteran Technology Training Program</a>
        </li>
        <li>
          <a href="https://ivmf.syracuse.edu/" data-original-href="https://ivmf.syracuse.edu/">Syracuse University Institute for Veterans and Military Families</a>
        </li>
        <li>
          <a href="https://vettechtrek.com/" data-original-href="https://vettechtrek.com/">Vet Tech Trek</a>
        </li>
      </ul>
      
    </div>

    <section id="helpmenu">
      <a href="/resources/">Resources Home</a>
      <a href="/resources/getting-started/">Getting Started</a>
      <hr>
      <a href="/resources/general-programming/">General Programming</a>
      <a href="/resources/cheatsheets/">Cheat Sheets</a>
      <a href="/resources/books/">Books</a>
      <a href="/resources/podcasts/">Podcasts</a>
      <a href="/resources/test-your-skills/">Test Your Skills</a>
      <hr>
      <a href="/resources/jobs/">Get a Coding Job</a>
      <a href="/resources/open-source/">Get into Open Source</a>
      <a href="/resources/infosec/">InfoSec Resources</a>
      <hr>
      <a href="/resources/frontend/">Front End Dev</a>
      <a href="/resources/backend/">Back End Dev</a>
      <a href="/resources/mobile/">Mobile Dev</a>
      <a href="/resources/microsoft/">Microsoft Technologies</a>
      <a href="/resources/project-management/">Project Management</a>
      <hr>
      <a href="/resources/veterans/">Veterans</a>
      <a href="/resources/minorities/">Minorities</a>
      <hr>
      <a href="/contact/">Contact Us</a>
    </section>
  </div>
</section>
