<div class="container">
  <div class="row">
    <div class="col m12 center" role="main">
        <h3 id="download" class="page-header">About Operation Code</h3>
        <br>
          <h4 id="ourmission">Our Mission</h2>
          
          <p class='light'>Our mission is to empower the military community to learn software development, enter the tech industry, and code the future.</p>
          
          <h4 id="whoweserve">Who We Serve</h2>
          
          <p class='light'>Past and present Army, Navy, Marines, Air Force, and Coast Guard service members, veterans and military spouses are welcome to apply to any of our programs. Through our online community, we work with 1000+ members around the world.</p>
        <br>
        <hr>
        <div class='row center'>
          <br>
          <h4>Our Core Values</h4>
            <div class='row'>
              <div class='col s12 m6'>
                <h5 class='center'>Integrity</h5>
                <p class='light center'>
                  We hold ourselves accountable for obtaining results that fulfill our Mission and work towards our Vision. As leaders, we are responsible for what we do, or fail to do. We act consistently with Operation Code's mission, being honest in what we do and say, and accept responsibility for our collective and individual actions.
                </p>
              </div>
              <div class='col s12 m6'>
                <h5 class='center'>Transparency</h5>
                <p class='light center'>
                  By being transparent in everything Operation Code does, from our open source code base to our financial operations, our community can trust that we will do our best with the resources we're given.
                </p>
              </div>
            </div>
            <div class='row'>
              <div class='col s12 m6'>
                <h5 class='center'>Agility</h5>
                <p class='light center'>
                  We run fast and we run lean. When our operating environment changes, and new challenges emerge, we're ready to respond. We communicate as early and as often as possible, and default to overcommunication in all of our interactions. We always look for a better, more effective, and more efficient way to run our operations.
                </p>
              </div>
              <div class='col s12 m6'>
                <h5 class='center'>Curiosity</h5>
                <p class='light center'>
                  Innovation is central to our mindset. We maintain an attitude of continuous improvement, and we constantly look for new and better ways to serve our community - we owe them nothing less.
                </p>
              </div>
            </div>
            <div class='row'>
              <div class='col s12 m6'>
                <h5 class='center'>Responsibility</h5>
                <p class='light center'>
                  We exist to meet the needs of the military community. We will humbly remember that their service was of the highest order and that Operation Code works for them. When it comes to the welfare and well-being of our community, the buck stops here.
                </p>
              </div>
              <div class='col s12 m6'>
                <h5 class='center'>Clarity</h5>
                <p class='light center'>
                  In the words of the US Army Signal Corps, we get the message through. We ensure that we are clear and concise in how we communicate, in support of our operations. We are considerate of the sender and the receiver, and communicate in the manner that best suits the needs of the mission and the vision.
                  </p>
              </div>
            </div>
              <div class='col s12 m6'>
                <h5 class='center'>Community</h5>
                <p class='light center'>
                  We look out for the people to our left and right, and always keep a hand free to help. We listen to our community and our people to ensure we are working towards the mission and the vision.
                  </p>
              </div>
            </div>
        </div>
        <hr>
        <div class='row center'>
          <br>
          <h4>All-Volunteer Staff</h4>
          <p class='light center'>
            Our all-volunteer staff is remote and decentralized, from Portland to Boston, composed of dedicated military veterans, spouses, and civilians focused on ensuring the success of our nation's finest. <a href="/staff">Learn more</a>.</p>
        </div>
      <hr>
      <div class='row center'>
        <br>
        <h4>Board of Directors</h4>
        <p class='light center'>
          <p class='light center'>
            Our board of directors sets the vision, mission, and provides strategic guidance to ensure Operation Code is equipped to succeeed. <a href="/board">Learn more</a>.</p>
    </div>
  </div>
</div>