<div class="container bs-docs-container role="main">
  <h1 class="calendar-header">Events<small class="calendar-subheader">What's happening this month?</small></h1>
  <div class="calendar-container">
    <iframe class="calendar-iframe" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;wkst=1&amp;bgcolor=%2366cccc&amp;src=fmnkpvclferu6r3v63al1g2em0%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" style="border-width:0" width="100%"frameborder="0" scrolling="no"></iframe>
  </div>
</div>
