<div class="container">
  <div class="row">
    <div class="col m12" role="main">
      <h3 id="download" class="page-header">Meet the Founder</h3>

      <div class="row">
        <div class="col m8"><h4 class="list-group-item-heading">Just imagine.</h4>
        <p>Just imagine for a moment if our grandparents had come back after WWII only to find out they couldn't use their GI Bill education benefits to seamlessly train for the Ford assembly plants of their day. Just imagine the shock. Today, these training plants are the modern day code schools that are training the next generation of new skills economy and knowledge workers needed today.</p>
        <p>In 2012, I applied to code school while still an Army Captain on active-duty and was shocked to know I couldn't use my New GI Bill education benefits. I tried again in 2014 to no avail. While I've self-learned, attended an <a href="http://angelhack.com/">AngelHack hackathon</a>, meetups at <a href="http://bmoreonrails.org/">B'more on Rails</a> and <a href="http://pdxruby.org/">Portland Ruby Brigade</a>, enrolled in <a href="http://www.thinkful.com/">Thinkful</a> front-end, and use <a href="https://hackhands.com/">HackHands</a> regularly, transitioning from military service to careers as software developers in the 21st century shouldn't be this challenging.</p>

        <p>As an unemployed/underemployed veteran, I decided to do something about it last summer after learning enough Ruby on Rails and getting massive encouragement from fellow rubyists and launched Operation Code to help get more military veterans coding. Many immediately stepped in to tell our story. Charles Sipe penned, "<a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Why Veterans Will Make Excellent Programmers</a>," and Susy Raybon wrote, "<a href="http://www.examiner.com/article/operation-code-provides-career-opportunities-for-military-veterans">Operation Code provides career opportunities for military veterans</a>." More recently, Teresa Mahoney, <a href="/media">interviewed</a> over a dozen veterans aspiring to be software developers and several code school directors.</p>

        <p>Army veteran and software developer, Dr. James Davis became our first mentor for our Software Mentor Protégé Program. More recently, Army veteran and iOS/Android developer, Fernando Paredes expanded on our software mentorship program into <a href="https://operation-code.slack.com/">Operation Code's Slack channel</a> helping veterans get coding in Android, C Sharp, Ember, Go, HTML, iOS, Java, JavaScript, Jekyll, Middleman, PHP, Python, and Ruby in our Peer-to-Peer community.</p>

        <p>This is an important fight. Doing our part to get more military veterans coding for gainful employment as software developers and putting a serious dent in our nation's technical talent shortage with American patriots is a moral & economic imperative.</p>

        <p>We hope you'll join us as we tackle military-civilian transition and veterans unemployment/underemployment by supporting military, veterans and military families to learn to code. Together, we are Operation Code.</p>

        <p>Thanks in advance for your support,</p>
        <p>&mdash;Dave</p></p></div>
      </div>

      <hr>

      <div class="row">
        <div class="col m8"><h4 class="list-group-item-heading">David Molina</h4>
          <p>David Molina is the Founder and Executive Director of Operation Code, an open source project he started on August 21, 2014 when he wrote the first line of code to GitHub. An open source and coding nonprofit organization, Operation Code's mission is to help American military, veterans and their families learn to code to fill the nation's critical technical talent shortage.</p>

          <p>A native of Mt. Vernon, Washington, Mr. Molina first enlisted in the U.S. Army Reserve in 2000. After 9/11, he enrolled in the Army Reserve Officer Training Corps (ROTC) program while at Oregon State University and served as a simultaneous membership program cadet and assigned to the Portland-based, 364th Civil Affairs Brigade (Airborne) and later the Fort Vancouver-based, 104th Division (IT). At the 104th, Mr. Molina served as a company executive officer and after commissioning as a 2nd Lt. was promoted and served as aide-de-camp to the Assistant Division Commander-Operations.</p>

          <p>After majoring in political science, Mr. Molina attended the Infantry School at Fort Benning, Georgia during summer 2005. He was mobilized from 2007-2008 to Aberdeen Proving Ground, Maryland as a Summary Court Martial Officer at the Joint Personal Effects Depot (JPED) responsible for the meticulous inventory and return of the personal effects of hundreds of deceased and wounded service-members. During this 18-month assignment, he co-authored the Center for Army Lessons Learned JPED Handbook.</p>

          <p>Upon returning to Oregon, Mr. Molina served a brief 6-month stint as the Committee Administrator of the House Committee on Veterans & Emergency Services during the 2009 legislative session.</p>

          <p>From 2011-2013, Mr. Molina mobilized in support of JPED's transition to be co-located next to the Air Force Mortuary Affairs Operations (AFMAO) and the Armed Forces Medical Examiner System (AFMES) at Dover Air Force Base in support of the Families of the Fallen mission. He served as the plans/training and operations officer (S-2/3 OIC), public affairs, and protocol officer at the Joint Personal Effects Depot.</p>

          <p>Capt. Molina was honorably discharged in March 2014 and awarded the Meritorious Service Medal and The Lt. Rowan Award. He's been <a href="https://github.com/OperationCode/operationcode/commits/master">learning to code</a> ever since.</p>

          <p>He currently resides in Portland, Oregon with his wife and three young daughters.</p>
        </div>
      </div>
    </div>
  </div>
</div>
