<div class="container">
  <div class="row">
    <div class="col m12" role="main">
        <h3 id="download">Internships</h3>
      <h4>Operation Code is Seeking Legislative Interns</h4>
      <p class='lead'>
        Are you interested in being part of Operation Code's mission?
      </p>
      <p>Interns will assist the legislative lead in implementing strategies to increase coding education opportunities for our serving and returning service members.</p>
      <p>Job Responsibilities Include:</p>
      <ul>
        <li>Aid in the development of Operation Code's legislative strategies</li>
        <li>Building and maintaining relationships with state and Federal legislative offices</li>
        <li>Drafting memos, emails, newsletters and lobbying materials</li>
        <li>Participate in strategy meetings and calls</li>
        <li>Serve as a liaison for Operation Code in meetings with legislative staff</li>
        <li>Provide updates to Operation Code board/management</li>
      </ul>
      <p>You:</p>
      <ul>
        <li>Excited to improve the life of our service members</li>
        <li>Excellent communications skills</li>
        <li>EReady to do some research</li>
      </ul>
    </div>
  </div>
</div>
