<div class="container">
  <div class="row">
    <h1>Newbie Guide: JavaScript</h1>
    <h2>Brief history of language</h2>
    <p>JavaScript is an interpreted programming language originally created in only 10 days in 1995 by Brendan Eich. It is known as the language of the web, but it can also be run outside of a web browser. These days, it is one of the most widely used programming languages. As a result, there's an enormous community of developers who will likely be able to help you with any issues you come across as you learn.</p>

    <h2>Where is Javascript used? What can I program with it?</h2>
    <p>JavaScript is used in a ton of places on and off the web. You might be familiar with its use in front-end web development, but it can be used in so many different kinds of projects. Part of the allure of JavaScript is that it's so versatile. It's a very exciting language, largely because the language and the technologies that rely on it are changing very quickly.</p>
    <ul>
      <li>Browser / client-side: the part of websites and web applications that the user can see and interact with</li>
      <li>Server-side / non-browser runtimes: the back-end, or logic, of an application</li>
      <li>Additional cross-platform applications: desktop and mobile applications, watches, robots, etc.</li>
    </ul>

    <h2>Key concepts &amp; best practices w/ Javascript</h2>
    <p>Any programming language will have features that you should take advantage of and patterns of use that are considered more effective than others. The following are concepts to pay special attention to as you're learning. Keep in mind that their use might not be immediately clear. As you keep moving forward and improving your skills, you'll start putting the pieces into place.</p>
    <ul>
      <li>DOM (Document Object Model)</li>
      <li>Closures</li>
      <li>Functions as first-class citizens</li>
      <li>ES6/2015 and onward</li>
      <li>Module Systems</li>
    </ul>

    <h2>Good JS Blogs to follow</h2>
    <p>Lots of very talented and knowledgeable developers share what they know in the form of blogs. Following a few really good ones is a great way to stay up to date on industry news and best practices.</p>
    <ul>
      <li><a href="http://www.2ality.com/" target="_blank">Axel Rauschmeyer</a></li>
      <li><a href="https://ericelliottjs.com/blog/" target="_blank">Eric Elliott</a></li>
      <li><a href="http://wesbos.com/category/javascript/" target="_blank">Wes Bos</a></li>
    </ul>

    <h2>Learning Resources</h2>
    <p>You'll find a huge trove of resources online that introduce aspiring web developers to JavaScript. We've listed some of the very best below to give you a start. Keep in mind that you're embarking on a lifetime of continuous learning. Every professional web developer worth their salt knows that they'll always need to Google and/or consult the documentation.</p>

    <h3>Documentation</h3>
    <ul>
      <li><a href="http://www.mdn.org" target="_blank">MDN</a>: the definitive JS documentation resource</li>
    </ul>

    <h3>Free E-Books</h3>
    <ul>
      <li><a href="http://eloquentjavascript.net/" target="_blank">Eloquent Javascript</a></li>
      <li><a href="http://speakingjs.com/" target="_blank">Speaking Javascript</a></li>
      <li><a href="http://chimera.labs.oreilly.com/books/1234000000262/index.html" target="_blank">Programming JavaScript Applications</a></li>
    </ul>

    <h3>Self-paced Online Courses</h3>
    <ul>
      <li><a href="https://www.freecodecamp.com" target="_blank">FreeCodeCamp</a></li>
      <li><a href="https://www.codecademy.com/learn/javascript" target="_blank">Codecademy</a></li>
      <li><a href="https://www.codeschool.com/courses/javascript-road-trip-part-1" target="_blank">CodeSchool</a></li>
      <li><a href="http://www.theodinproject.com/" target="_blank">The Odin Project</a></li>
    </ul>

    <h3>Hands-on Starter Lessons</h3>
    <ul>
      <li><a href="https://github.com/rmurphey/js-assessment" target="_blank">JS-Assessment by Rebecca Murphey</a></li>
      <li><a href="https://rmurphey.com/blog/2016/02/13/exercises-for-js-beginners" target="_blank">CodePen projects by Rebecca Murphey</a></li>
      <li><a href="https://github.com/mrdavidlaing/javascript-koans" target="_blank">JS-Koans</a></li>
    </ul>

    <h3>Video Series</h3>
    <ul>
      <li><a href="https://www.youtube.com/channel/UCVTlvUkGslCV_h-nSAId8Sw" target="_blank">LearnCodeCademy</a></li>
      <li><a href="https://www.youtube.com/channel/UCO1cgjhGzsSYb1rsB4bFe4Q" target="_blank">FunFunFunction</a></li>
    </ul>
  </div>
</div>
