<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <h3>Media</h3>
    <div class="col s12">
      <div class="video-container">
        <iframe src="https://player.vimeo.com/video/124794084" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p>Meet Victor Molina. Victor deployed with the 1st Marines to Iraq in 2003. He's worked in construction since and now wants to learn to code.</p>

      <div class="video-container"> 
        <iframe src="https://player.vimeo.com/video/124866675" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
      </div>
      <p>In our first Operation Code 2015 video, we interview veterans, code school graduates and partner code school directors.</p>

       <div class="video-container">
         <iframe src="https://player.vimeo.com/video/125189104" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
       </div>
       <p>Seattle-based, Code Fellows CEO, Kristin Smith explains why veterans will not just make good coders, but excellent coders.</p>

       <div class="video-container">
         <iframe src="https://player.vimeo.com/video/125186844" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
       </div>
       <p>Portland-based, Cris Kelly and Director at The Portland Code School on two major things employers look for that vets have.  </p>

       <div class="video-container">
         <iframe src="https://player.vimeo.com/video/125187817" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
       </div>
       <p>Portland-based, Michael Kaiser-Nyman and Founder at Epicodus on challenges applying for accreditation when software curriculum evolves so quickly.</p>
       <div class="video-container">
         <iframe src="https://player.vimeo.com/video/125186841" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
       </div>
       <p>NYC-based, The Flatiron School's Co-Founder & CEO, Adam Enbar on why no piece of software was created by one person and why veterans are masters of teamwork.</p>
       <div class="video-container">
         <iframe src="https://player.vimeo.com/video/125189102" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>Colorado-based, The Turing School of Software & Design Co-Founder & Dean, Jorge Tellez explains the two missing pieces: room & board.</p>

        <div class="video-container">
          <iframe src="https://player.vimeo.com/video/125189545" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <p>Nuatu Tssegai, U.S. Air National Guard Veteran & Epicodus graduate on how Operation Code helped him gain more exposure to tech industry events.</p>

         <div class="video-container">
           <iframe src="https://player.vimeo.com/video/125189103" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
         <p>Navy veteran & Plunk co-founder & CEO, Josh Carter on why coding is the new 21st century literacy.</p>

         <div class="video-container">
           <iframe src="https://player.vimeo.com/video/125187818" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
         <p>Navy veteran & Code Fellows Portland graduate, Ron Floyd on struggles for transitioning out of the military--makes you feel there are no other opportunities out there.</p>

         <div class="video-container">
           <iframe src="https://player.vimeo.com/video/125191104" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
         <p>Air Force veteran & Portland Code School graduate, Marko Nikolovski on post-sequestration and unemployment: code school gave me a lifeline.</p>

         <div class="video-container">
          <iframe src="https://player.vimeo.com/video/125187819" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
         <p>Former Army Ranger and Officer, Lukas Cioffi & Co-Founder & CEO of Virginia-based, QiqoChat: "I would have benefited tremendously from a mentor."</p>

         <div class="video-container">
           <iframe src="https://player.vimeo.com/video/125186851" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
         </div>
         <p>Air Force Officer Jason Noren: "I hold two degrees. Don't need a third, need practical skills and coding offers that."</p>

          <div class="video-container">
            <iframe src="https://player.vimeo.com/video/125186847" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
          </div>
          <p>Navy veteran, Dean Laurea, on going from cook to coder and the challenges that come with learning a new trade.</p>

          <div class="video-container">
            <iframe src="https://player.vimeo.com/video/125186843" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <p>Navy veteran, Bob Howard on self-teaching himself programming until he can go to code school.</p>
        </div>
      </div>
    </div>
    <div class='row center'>
      <h4>Branding</h4>
      <h5>Logo-small</h5>
      <img src="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_logo_sm.png" alt="logo-sm" style="width:144px;height:27px;">
      <p><a href="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_logo_sm.png">Download</a></p>

      <h5>Logo-medium</h5>
      <img src="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_logo_md.png" alt="logo-md" style="width:600px;height:133px;">
      <p><a href="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_logo_md.png">Download</a></p>

      <h5>Icon-transparent</h5>
      <img src="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_transparent_icon.png" alt="logo-md" style="width:100px;height:100px;">
      <p><a href="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_transparent_icon.png">Download</a></p>

      <h5>Icon-white-background</h5>
      <img src="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_white_icon.png" alt="logo-md" style="width:100px;height:100px;">
      <p><a href="https://s3-us-west-2.amazonaws.com/operationcode/operationcode_white_icon.png">Download</a></p>
    </div>
  </div>
</div>
