<div class="container">
  <div class="row">
    <div class="col m12" role="main">
        <h3 id="download">Scholarships</h3>
        <p class="lead">At Operation Code, we partner with both code schools and industry leaders to make transitioning to software development less painful and accessible for our nation's finest and their families.</p>
      </div>

      <div class="center">
        <iframe src="https://player.vimeo.com/video/125189545" width="700" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <blockquote>Former Air National Guard soldier, Nuatu Tseggai, benefited from one of our scholarships to attend Ruby on Ales. An Epicodus alumn, Nuatu currently works as a site reliability engineer at New Relic.</blockquote>
    </div>

      <h4>Software Conference Scholarships</h4>
      <p class="lead">We are proud to partner with Ruby on Ales, O'Reilly, and GitHub to introduce more members of the military community to software development, through conferences and events. <a href="http://op.co.de/scholarship-license"></a>Fill out our form, and apply today!</a></p>
      <h5>Upcoming</h5>
      <ul>
      </ul>
      <br />
      <h5>Past</h5>
      <ul>

        <li><p class="lead"><a href="http://codeconf.com" target="_blank">CodeConf</a>, Los Angeles, June 27-29, 2016</li></p>
        <li><p class="lead"><a href="http://git-merge.com" target="_blank">GitMerge</a>, New York City, April 5, 2016</li></p>
        <li><p class="lead"><a href="http://ruby.onales.com" target="_blank">Ruby on Ales</a>, March 31 &nbsp; April 1, 2016</li></p>
        <li><p class="lead"><a href="http://www.osfeels.com/" target="_blank">Open Source &nbsp; Feelings</a>, Seattle, WA, July 22-23, 2016</li></p>
        <li><p class="lead"><a href="http://nodesummit.com/" target="_blank">Node Summit</a>, San Francisco, CA, July 27-28, 2016</li></p>
        <li><p class="lead"><a href="https://www.codeonthebeach.com/" target="_blank">Code on the Beach</a>, Atlantic Beach, FL, August 12-14, 2016</li></p>
        <li><p class="lead"><a href="https://360idev.com/" target="_blank">360iDev</a>, August 21-24, 2016</li></p>

      </ul>
      <hr>

      <h5>Conference related from our blog</h5>
      <div class="col m4">
          <a href="https://operationcode.org/blog/2016/05/10/codeconf-la.html">
          <h5>CodeConf LA</h5>
          <p>By David Molina</p>
        </a>
        <p>
          At Operation Code, we go beyond just saying, "support our veterans, troops, and their families," we execute on it by providing the operating environment to become software developers. One company that is always shipping and enables Operation Code to fulfill our mission of getting more military veterans and their families coding is GitHub...<a href="https://operationcode.org/blog/2016/05/10/codeconf-la.html">[Read more]</a>
        </p>
      </div>

      <div class="col m4">
        <a href="https://operationcode.org/blog/2016/04/26/ruby-on-ales-2016.html">
          <h5>Ruby on Ales 2016</h5>
          <p>By Jesse James</p>
        </a>
        <p>
          For some veterans learning to code, the idea of going to a technical conference is a daunting task. You don’t know the jargon that well, you don’t know all the big names or faces, and you often times don’t know anyone else at the event. It’s a veritable mix of excitement to start getting into the community and the fear that you won’t or don’t belong. That’s exactly how I felt...<a href="https://operationcode.org/blog/2016/04/26/ruby-on-ales-2016.html">[Read more]</a>
        </p>
      </div>

      <div class="col m4">
        <a href="https://operationcode.org/blog/2016/03/02/conference-scholarships.html">
          <h5>Conference Scholarships</h5>
          <p>By Nell Shamrell-Harrington</p>
        </a>
        <p>
          One of the best ways to learn, network, and find job opportunities in the IT industry is through attending conferences.  My very first tech conference was Cascadia Ruby 2011 where I was amazed at the variety of talks (many covering technologies and techniques I was immediately able to apply in my work), the interesting conversations in the "hallway track", and the joy of talking with others working with the same technologies I was learning...<a href="https://operationcode.org/blog/2016/03/02/conference-scholarships.html">[Read more]</a>
        </p>
      </div>
  </div>
</div>
