<div class="container">
  <div class="row">
    <div class="col m12" role="main">
      <h3>Donations</h3>
      In-kind donations from the startup and developer community allow Operation Code to focus on our mission. We are deeply grateful for these companies, entrepreneurs and developers who have our back.

      <div class="row">
        <div class="col m4">
          <h4><a href="https://www.airbnb.com/" target="_blank">Airbnb</a></h4>
          <p>Airbnb is the world's largest community-driven hospitality company. With unique listings in 190 countries, travelers can belong anywhere, Airbnb sponsored our stay during SignalConf 2015 providing a safe place to rest and code from.</p>
          <p><a class="btn btn-default-default" href="https://www.airbnb.com/" role="button" target="_blank">About Airbnb &raquo;</a></p>
        </div><!-- /.col m4 -->
        <div class="col m4">
          <h4><a href="http://dnsimple.com/" target="_blank">DNSimple</a></h4>
          <p>The world's leader in domain registration and management that makes developers lives a breeze, <a href="http://operationcode.org">operationcode.org</a> is graciously hosted here thanks to the founder, Anthony Eden, who didn't hesitate when we first got off the ground (and his personal tech support).</p>
          <p><a class="btn btn-default-default" href="http://dnsimple.com/" role="button" target="_blank">About DNSimple &raquo;</a></p>
        </div><!-- /.col m4 -->
        <div class="col m4">
          <h4><a href="http://hackhands.com/" target="_blank">hack.hands()</a></h4>
          <p>hack.hands() is live 24/7 programming support. When we asked the co-founders, Forest Good and Geraldo Ramos, for some design help they went above and beyond creating Operation Code logo so we could better brand ourselves.</p>
          <p><a class="btn btn-default-default" href="http://hackhands.com/" role="button" target="_blank">About HackHands &raquo;</a></p>
        </div><!-- /.col m4 -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col m4">
          <h4><a href="https://hacksummit.org/" target="_blank">hack.summit()</a></h4>
          <p>hack.summit() is the world's largest virtual conference for developers. Operation Code received passes so that our veterans could attend for free and learn from programming language creators, open source contributors, and thought leaders in software.</p>
          <p><a class="btn btn-default-default" href="https://hacksummit.org/" role="button" target="_blank">About hack.summit() &raquo;</a></p>
        </div><!-- /.col m4 -->
        <div class="col m4">
          <h4><a href="https://twitter.com/ivanoats" target="_blank">Ivan Storck</a></h4>
          <p>Web developer, teacher, entrepreneur and co-founder of <a href="http://www.codefellows.org/" target="_blank">Code Fellows</a>, Ivan secured and donated <a href="http://operationcode.org">operationcode.org</a> and other domains for Operation Code and always provides his expertise to the leadership team.</p>
          <p><a class="btn btn-default-default" href="https://twitter.com/ivanoats" role="button" target="_blank">About Ivan &raquo;</a></p>
        </div><!-- /.col m4 -->
        <div class="col m4">
          <h4><a href="https://twitter.com/thinker" target="_blank">Nick Frost</a></h4>
          <p>Navy veteran, entrepreneur, startup advisor and founder of <a href="http://startupli.st/" target="_blank">StartupLi.st</a>, Nick secured and donated the <a href="https://twitter.com/operation_code" target="_blank">@operation_code</a> Twitter handle and volunteers his time and expertise on the Operation Code <a href="/board">governing board of directors</a>.</p>
          <p><a class="btn btn-default-default" href="https://twitter.com/thinker" role="button" target="_blank">About Nick &raquo;</a></p>
        </div><!-- /.col m4 -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col m4">
          <h4><a href="https://ruby.onales.com/" target="_blank">Ruby on Ales</a></h4>
          <p>An annual two-day single track rubyist conference in the mountains of central Oregon, Ruby on Ales organizers provide scholarships to introduce Operation Code veterans to the Ruby programming language, network with ruby peers, and get to know Bend.</p>
          <p><a class="btn btn-default-default" href="https://ruby.onales.com/" role="button" target="_blank">About Ruby on Ales &raquo;</a></p>
        </div><!-- /.col m4 -->

        <div class="col m4">
          <h4><a href="http://signal.twilio.com/" target="_blank">SignalConf</a></h4>
          <p>The developer conference for communications created by <a href="http://twilio.com" target="_blank">Twilio</a>, Signal provided 2015 conference scholarships to introduce Operation Code veterans to the Twilio platform, network with peers, and get to know San Francisco for two intensive days.</p>
          <p><a class="btn btn-default-default" href="http://signal.twilio.com/" role="button" target="_blank">About Signal &raquo;</a></p>
        </div><!-- /.col m4 -->

        <div class="col m4">
          <h4><a href="http://speakeasy.co/" target="_blank">Speakeasy</a></h4>
          <p>PIN-less conference call app, Speakeasy, allows the board of directors to get on the same page quickly and efficiently every month, staff and volunteers coordinate moving parts, and one call line for support. </p>
          <p><a class="btn btn-default-default" href="http://speakeasy.co/" role="button" target="_blank">About Speakeasy &raquo;</a></p>
        </div><!-- /.col m4 -->
      </div>

      <div class="row">
        <div class="col m4">
          <h4><a href="http://www.oreilly.com/pub/cpc/21456" target="_blank">O'Reilly</a></h4>
          <p>Through our partnership with O'Reilly Media, Operation Code gains access to technology books, online services, magazines, research, and tech conferences that help our members get ahead.</p>
          <p><a class="btn btn-default-default" href="http://www.oreilly.com/pub/cpc/21456" role="button" target="_blank">About O'Reilly &raquo;</a></p>
          <a href="http://www.oreilly.com/pub/cpc/21456" target="_blank"><img src="http://www.oreilly.com/partner_file/orm_partner_meerkats_100x100.png" /></a>
        </div><!-- /.col-lg-4 -->

        <div class="col m4">
          <h4><a href="https://www.stickermule.com/" target="_blank">Sticker Mule</a></h4>
          <p>The leader in custom and die cut stickers, custom magnets, Sticker Mule donated stickers to <a href="https://twitter.com/FaltingKevin/status/724756250940993536" target="_blank">help decorate MacBook Airs</a> everywhere.</p>
          <p><a class="btn btn-default-default" href="https://www.stickermule.com/" role="button" target="_blank">About Sticker Mule &raquo;</a></p>
        </div><!-- /.col m4 -->

        <div class="col m4">
          <h4><a href="https://www.digitalocean.com/" target="_blank">Digital Ocean</a></h4>
          <p>Cloud infrastructure provider that provisions virtual servers for software developers with an emphasis on building a product that developers love.</p>
          <p><a class="btn btn-default-default" href="https://www.digitalocean.com/products/" role="button" target="_blank">About Digital Ocean &raquo;</a></p>
        </div><!-- /.col m4 -->
      </div>
    </div>
  </div>

  <div class="row">
    <p>Since becoming an independent nonprofit in June 2015, Operation Code is deeply grateful for the generosity of these individuals for their <a href="/donate">online donations</a> to keep us going:</p>
    <ul>
      <li>Odniel Gonzalez(<a href="https://twitter.com/CodeNeophyte" target="_blank">@codeneophyte</a>)</li>
      <li>Mark Kerr (<a href="https://twitter.com/miamimark" target="_blank">@miamimark</a>)</li>
      <li>Josh Carter (<a href="https://twitter.com/theINDIEhost" target="_blank">@theINDIEhost</a>)</li>
      <li>Nick Frost (<a href="https://twitter.com/thinker" target="_blank">@thinker</a>)</li>
      <li>David E. Weekly (<a href="https://twitter.com/dweekly" target="_blank">@dweekly</a>)</li>
      <li>Fernando Paredes (<a href="https://twitter.com/nanoxd" target="_blank">@nanoxd</a>)</li>
      <li>Michael Alexander (<a href="https://twitter.com/cenderin" target="_blank">@cenderin</a>)</li>
      <li>David Molina (<a href="https://twitter.com/davidcmolina" target="_blank">@davidcmolina</a>)</li>
    </ul>
  </div>
</div>
