<div class="container">
  <div class="row">
    <h3 id="download" class="page-header">Staff</h3>
    <p class="lead">The all-volunteer staff of Operation Code coordinates, integates and synchronizes efforts to accomplish the mission. Say hello.</p>

    <div class="row">
      <div class='row'>
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Rick Rein</span>
                <h5>Director, Software Mentor Protégé Program</h5>
                <p>
                  Rick is a ruby/rails/elixer software engineer at Akamai Technologies, is on the core team, a Turing mentor, and a Marine veteran. Rick blogs at <a href="http://rickre.in">http://rickre.in</a> and can be reached at <a href="mailto:rick@operationcode.org">rick@operationcode.org</a>.
              </p>
            </div>
          </div>
        </div>

            <div class="col s12 m6">
              <div class="card">
                <div class="card-content">
                    <span class="card-title">Jeremy Hall (<a href="https://twitter.com/lordfauntleroy1">@lordfauntleroy1</a>)</span>
                    <h5>Technical Product Manager</h5>
                    <p>
                      Jeremy Hall is our Technical Product Manager and helps on our flagship site, operationcode.org, a software and Army veteran. Jeremy can be reached at <a href="mailto:jeremy@operationcode.org">jeremy@operationcode.org</a>.</p>
                  </p>
                </div>
              </div>
            </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Nell Shamrell-Harrington (<a href="https://twitter.com/nellshamrell">@nellshamrell</a>)</span>
              <h5>Chair, Scholarship Program</h5>
              <p>Nell Shamrell is a software engineer at Chef, daughter of two U.S. Air Force officers, and runs the Operation Code Scholarship Program. Nell blogs at <a href="http://nellshamrell.com">http://nellshamrell.com</a> and can be reached at <a href="mailto:nell@operationcode.org">nell@operationcode.org</a>.</p>
            </div>
          </div>
        </div>
      </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Doug Brown</span>
              <h5>Scholarship Outreach</h5>
              <p>Doug Brown is a software engineer at Apple, a new dad, and our Scholarship Outreach. Doug can be reached at <a href="mailto:doug@operationcode.org">doug@operationcode.org</a>.</p> 
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Maggi Molina</span>
              <h5>Director, Employer Services & Fellowship Program</h5>
              <p>Maggi Molina is an U.S. Air Force veteran, former Co-Founder & Chief Operating Officer at VetStartups, and runs our Employer Services. Maggi can be reached at <a href="mailto:maggi@operationcode.org">maggi@operationcode.org</a>.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">George Everts</span>
              <h5>Code School Outreach Specialist</h5>
              <p>George Everts is a 27-year U.S. Army retired Noncommissioned Officer, a veteran of Operation Desert Storm, and is our liaison to code schools nationally. George can be reached at <a href="mailto:george@operationcode.org">george@operationcode.org</a>.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Krystyna Ewing (<a href="https://twitter.com/wimsy113">@wimsy113</a>)</span></span>
              <h5>Deploy Developer & Community Evangelist</h5>
              <p>Krysytna Ewing is an Iraq-war Army veteran, former student of Dev Bootcamp, Zinc web apprentice, and a Deploy developer. Krystyna can be reached at <a href="mailto:krystyna@operationcode.org">krystyna@operationcode.org</a>.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Nathanael Duke</span>
              <h5>Re-Deploy Veterans Transition Program</h5>
              <p>Nathanael Duke is an Army veteran and support engineer at OCLC, software developer, and Program Manager of Re-Deploy Veterans Transition Program. Nathanael can be reached at <a href="mailto:nathanael@operationcode.org">nathanael@operationcode.org</a>.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Rob Kriner</span>
              <h5>Marketing & Communications</h5>
              <p>Rob Kriner is an UI/UX Product Manager at Corsearch, IAVA mentor, and Communications & Marketing Advisor to Operation Code. Rob can be reached at <a href="mailto:rob@operationcode.org">rob@operationcode.org</a>.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Farrah Morrisey</span>
              <h5>Director of Development</h5>
              <p>Farrah Morrisey is a 12-year fund development veteran and grantwriter with regional and national experience, and our Director of Development. Farrah can be reached at <a href="mailto:farrah@operationcode.org">farrah@operationcode.org</a>.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Bradley Cantor</span>
              <h5>Head of Public Policy</h5>
              <p>Bradley Cantor is a former legislative director for Oregon Senator Mark Hass, former legislative aide to Congressman Blumenauer on the hill, and leads our public policy efforts. Bradley can be reached at <a href="mailto:bradley@operationcode.org">bradley@operationcode.org</a>.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Conrad Hollomon (<a href="https://twitter.com/hollomancer">@hollomancer</a>)</span></span>
              <h5>Chief of Staff/Operations</h5>
              <p>Conrad Hollomon is an Army Captain, National Guardsmen, test engineer at SparkMeter. Conrad can be reached at <a href="mailto:conrad@operationcode.org">conrad@operationcode.org</a>.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">David Molina (<a href="https://twitter.com/davidcmolina">@davidcmolina</a>)</span></span>
              <h5>Founder & Executive Director</h5>
              <p>David Molina is an ex-Army Captain, amateur software developer, and Founder & Executive Director of Operation Code. David can be reached at <a href="mailto:david@operationcode.org">david@operationcode.org</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
