<h3 class="header center">Success Stories</h3>

<div class="container">

  <div class="row">
    <div class="col m12">
      <h5 class="center">We're proud to enable active military, guard & reserve troops, veterans and military families to become successful in the information age and 21st century new skills economy.</h5>
    </div>
  </div>
  <div class="row">
    <div class="col m12">
      <div class="success-stories-item">
        <div class="card valign-wrapper success-stories-card">
          <div class="valign hide-on-small-only">
            <a href="https://twitter.com/JohnJHampton">
              <img class="circle z-depth-3 success-stories-photo" src="https://s3-us-west-2.amazonaws.com/operationcode/jhampton.jpeg" alt="John Hampton" />
            </a>
          </div>
          <div class="card-stacked">
            <div class="card-content light">
              <p>"It's been refreshing to see that other veterans share the same path as me - transitioning from military service to professional software development. By taking part in Operation Code's community, I've had the chance to pair-program with others, be introduced to new tech stacks that I was previously unfamiliar with, prepare for a software bootcamp, and find an internship through an opening posted in the <b><a href="https://operation-code.slack.com/messages/jobs/">#jobs</a></b> channel. <b>Operation Code fosters a community where members support each other, offer & accept advice, and serve as an ongoing reminder that we're all still part of one team."</b></p>
            </div>

            <div class="card-action left-align hide-on-small-only">
              <div class="success-stories-name">- John Hampton, US Army veteran</div>
              <div class="success-stories-accounts">
                <a href="https://github.com/jjhampton">GitHub</a>
                <a href="https://twitter.com/JohnJHampton">Twitter</a>
              </div>
            </div>
            <div class="card-action center hide-on-med-and-up">
              <div class="success-stories-name">- John Hampton, US Army veteran</div>
              <div>
                <a href="https://github.com/jjhampton">GitHub</a>
                <a href="https://twitter.com/JohnJHampton">Twitter</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="success-stories-item">
        <div class="card valign-wrapper success-stories-card">
          <div class="card-stacked">
            <div class="card-content light">
              <p>"Prior to Operation Code, I was working day-in and day-out pouring concrete and general heavy labor construction when I learned about Operation Code. Due to their <b><a href="/mentorship">mentorship</a></b> I skipped on finishing community college, borrowed a MacBook Pro from Operation Code, attended a Seattle code school, doubled my income, and improved my standard of living. <b>Thanks to Operation Code I'm doing what I love</b>."</p>
            </div>

            <div class="card-action right-align hide-on-small-only">
              <div class="success-stories-name">- Victor Molina, US Marine Corps veteran</div>
              <div class="success-stories-accounts">
                <a href="https://github.com/molina1775">GitHub</a>
                <a href="https://twitter.com/livestocode">Twitter</a>
              </div>
            </div>
            <div class="card-action center hide-on-med-and-up">
              <div class="success-stories-name">- Victor Molina, US Marine Corps veteran</div>
              <a href="https://github.com/molina1775">GitHub</a>
              <a href="https://twitter.com/livestocode">Twitter</a>
            </div>

          </div>

          <div class="valign hide-on-small-only">
            <a href="https://twitter.com/livestocode">
              <img class="circle z-depth-3 success-stories-photo" src="https://s3-us-west-2.amazonaws.com/operationcode/victor_molina.jpg" alt="Victor Molina" />
            </a>
          </div>
        </div>
      </div>
      <div class="success-stories-item">
        <div class="card valign-wrapper success-stories-card">
          <div class="valign hide-on-small-only">
            <a href="https://operation-code.slack.com/messages/0311-code">
              <img class="circle z-depth-3 success-stories-photo" src="https://s3-us-west-2.amazonaws.com/operationcode/jameel_matin.png" alt="Jameel Matin" />
            </a>
          </div>

          <div class="card-stacked">

            <div class="card-content light">
              <p>"I enlisted in the Marine Corps Infantry to serve and win our country's wars. After my service, I searched for a new career. I knew I wanted to be part of the tip of the spear in an industry and I realized the tech industry is leading from the front. <b>I Googled around and found Operation Code, a non-profit which helps veterans like me break into the tech industry. A couple weeks later they found a way to get me into GitHub's <a href="http://codeconf.com/">CodeConf LA</a></b>. There, I found <b><a href="http://sabio.la/">Sabio</a></b>, a local code school which accepts the New GI Bill. Today, I am in the middle of a <b><a href="http://vetshack.us/">hackathon</a></b> sponsored by Sabio in an effort to build a website to help folks in the military be successful by the time they get out. Operation Code not only paved a route for me, they also showed me what I can build with my imagination. <b>Imagine what it can do for other veterans</b>."</p>
            </div>

            <div class="card-action left-align hide-on-small-only">
              <div class="success-stories-name">- Jameel Matin, US Marine Corps veteran</div>
            </div>
            <div class="card-action center hide-on-med-and-up">
              <div class="success-stories-name">- Jameel Matin, US Marine Corps veteran</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row center">
        <a class="btn btn-large btn-action" href="http://operation-code.slack.com/messages/@david" role="button">Submit Your Story &raquo;</a>

        <a class="btn btn-large btn-action" href="https://donorbox.org/operationcode" role="button">Donate now &raquo;</a>
      </div>
    </div>
  </div>
</div>

<hr>
