<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
        <h1 id="download" class="page-header">Support Operation Code</h1>
        <p>Your generous donation supports coding scholaships for veterans to send to code school and transition to become software developers.</p>
        <%= render 'form' %>
       </div>
    </div>
  </div>
