<section class="resourcecontent">
  <div class="pagecontent">
    <div class="resourcearticle">

    <h3>Operation Code Resources</h3>

    <p>This resource site is here to help you get started coding, as well as find answers to more advanced questions you might have.</p>
    <p>The sidebar gives you access to sections containing specific resources.</p>

    <h4>Where can I get help?</h4>
    <ul>
      <li>Pop by the <a href="https://operation-code.slack.com">Operation Code Slack</a> for more specific questions or help with workflows;</li>
      <li>Ask us on Twitter <a href="https://twitter.com/operation_code">@operation_code</a> and we'll be happy to help;</li>
      <li>Connect with us on LinkedIn <a href="https://www.linkedin.com/company/operationcode">Operation Code</a>;</li>
      <li>Got a license-related or private question? If you can't find your answer here, <a href="/contact/">contact us by email</a>.</li>
    </ul>

    <h4>Getting Started</h4>

    <p>You'll find some great <a href="/resources/getting-started/">Getting Started guides and tutorials</a> to get you started on your coding journey.</p>
    <p>To look at and contribute to the Operation Code website, take a look at <a href="https://github.com/OperationCode/operationcode">our github page</a>, and feel free to make a pull request. Just be sure to follow the <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">contributing guidelines</a>.

    </div>

    <%= render partial: 'help_menu' %>

  </div>
</section>
