/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap_and_customization
 */

html {
  background-color: red;
}

video {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  padding: 0;
  /*top: 0;
  left: 0;*/
  z-index: -10;
  margin: 0;
  background: transparent;
  backgrond-size: cover;
  transition: 1s opacity;
  object-fit: contain;
}

#overlay {
  position: absolute;
  color: #FFF;
  /*top: 350px;*/
  width: 80%;
  z-index: -1;
  margin-top: -20px;
}

a.btn.btn-default:hover {
  color: #3498db;
}

/*@media (max-width: 1237px) {*/
body {background-color: red;}
/*}*/
