//= require leaflet

//@import "active_admin";
@import "colors";
@import "calendar";
@import "map";
@import "deploy";
@import "success_stories";

// Match logo to size of navbar
.navbar-fixed .nav-wrapper .brand-logo img {
  height: 64px;
}

.navbar-fixed .nav-wrapper.container {
  width: 90%;
}

nav ul li a {
  color: $gray;
}

// Fix opacity for better text readability
.slider .slides li img {
  opacity: 0.5;
}

// Fix vertical alignment in main page slider
.slider .slides li .caption {
  color: $white;
  left: 10%;
  opacity: 0;
  position: absolute;
  top: 40% !important;
  width: 80%;
  text-shadow: 1px 1px 7px $black;
  @media only screen and (min-width: 992px){
    left: 15%;
    width: 65%;
  }
  h3{
    font-size: 2.2rem;
    line-height: 120%;
    @media only screen and (min-width: 992px){
      font-size: 2.92rem;
      line-height: 110%;
    }
  }
}

// Hacks to use fa icons with materialize
i.fa.medium {
  font-size: 3.5rem;
  line-height: 135%;
}

.fa {
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  display: inline-block;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

.opcode-green { background-color: $opcode-green; }
.opcode-green-text { color: $opcode-green; }

.side-nav h6 {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  height: 64px;
  line-height: 64px;
  padding: 0 30px;
}

// fixes bullets for FAQs
.faqbullet li {
  list-style: initial;
  list-style-type: circle;
  margin-left: 5%;
}

// adds padding to newline
.pad-left {
  padding-left: 3%;
}

.alert {
  background-color: $alert-red;
  color: $white;
  font-size: 10px;
  left: 50%;
  padding: 5px 20px;
  position: fixed;
  text-align: center;
  top: 6vh;
  transform: translateX(-50%);
  z-index: 997;
}

// defines size and placement of code school logos
.logos {
  height: 25px;
  transform: translate(0, 25%);
 }

.collapsible-logos {
  display: block;
  height: 35px;
  margin: auto;
 }

// aligns text for code school links
.logos-wrapper {
  float: left;
  width: 150px;
}

.collapsible-logo-wrapper {
  float: left;
  margin-right: 50px;
  margin-top: 10px;
  padding-top: 10px;
  width: 180px;
}

.codeschools {
  margin-left: 20%;
}
