//= require leaflet

//@import "active_admin";
@import "colors";
@import "calendar";
@import "map";
@import "deploy";
@import "success_stories";

$navbar-height: 64px;

// Match logo to size of navbar
.navbar-fixed .nav-wrapper .brand-logo {
  height: $navbar-height;
  text-align: center;
  @media only screen and (max-width: 600px) {
    height: 56px;
  }
  @media only screen and (max-width: 320px) {
    height: 40px;
    margin-top: 10px;
  }
  img {
    height: 100%;
  }
}
.nav-wrapper {
  .button-collapse {
    padding-left: 15px;
    span {
      position: absolute;
      top: -11px;
      font-size: .8rem;
      font-weight: 400;
      left: 18px;
      color: #626365;
      @media only screen and (min-width: 500px) {
        top: -14px;
      }
    }
    i {
      color: #626365;
      line-height: 1.8;


    }
  }
}
.collapsible-header {
  padding: 1rem;
  .collapsible-header--question {
    margin: 0;
    font-size: 1.4rem;
  }
}

.navbar-fixed .nav-wrapper.container {
  width: 90%;
}

nav ul li a {
  color: $gray;
}

// Fix opacity for better text readability
.slider .slides li img {
  opacity: 0.5;
}

// Fix vertical alignment in main page slider
.slider .slides li .caption {
  color: $white;
  opacity: 0;
  position: absolute;
  top: 30% !important;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  text-shadow: 1px 1px 7px $black;
  @media only screen and (min-width: 992px){
    width: 65%;
    top: 40%;
  }
  h3{
    font-size: 2.2rem;
    line-height: 120%;
    @media only screen and (min-width: 992px){
      font-size: 2.92rem;
      line-height: 110%;
    }
  }
}

// Hacks to use fa icons with materialize
i.fa.medium {
  font-size: 3.5rem;
  line-height: 135%;
}

.fa {
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  display: inline-block;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

.opcode-green { background-color: $opcode-green; }
.opcode-green-text { color: $opcode-green; }

.side-nav h6 {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 15px;
  text-transform: uppercase;
  margin: 0;
  line-height: 4;
}

// fixes bullets for FAQs
.faqbullet li {
  list-style: initial;
  list-style-type: circle;
  margin-left: 5%;
}

// adds padding to newline
.pad-left {
  padding-left: 3%;
}


.alert-section {
  left: 50%;
  position: fixed;
  // make sure to display below where the navbar is display
  top: $navbar-height;
  z-index: 997;
}

.alert {
  background-color: $alert-red;
  font-size: 10px;
  text-align: center;
  color: $white;
  padding: 5px 20px;
  transform: translateX(-50%);
}

// darkens placeholder text
::-webkit-input-placeholder {
  color: $placeholder-text;
}
