/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap_and_customization
 *= require font-awesome
 */

#map-container { 
  border-color: #fff;
  border-radius: 16px;
  border-style: solid;
  border-width: 7px;
  box-shadow: 2px 2px 10px #B1B1B1;
  height: 400px;
  margin-top: 25px;
  width: 50px;
}
#map { 
  height: 384px;
  width: 100%;
}

.search-location {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba (0, 0, 0, 0.075);
  color: #555;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857143;
  padding: 6px 12px;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.col-lg-10 {
  display: block;
  margin-bottom: 100px;
  margin-left: 8.3%;
  margin-right: 8.3%;
  margin-top: 40px;
}

* {
  font-family: "Open Sans";
}

.social-links a {
  text-align: center;
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 1px solid white;
  border-radius: 100%;
  margin-right: 7px; /*space between*/
}

.social-links a i {
  font-size: 20px;
  line-height: 38px;
  color: white;
}

#facebook {
  background: #3B5998;
}

#twitter {
  background: #6CDFEA;
}

#instagram {
  background: #e74c3c;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video {
  margin-top: -20px;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  padding: 0;
  z-index: 1;
  background: transparent;
  background-image: url("");
  backgrond-size: cover;
  transition: 1s opacity;
  object-fit: contain;
}

.photo-text {
  color: #FFF;
  width: 110%;
  background: rgba(0,0,0,0.3);
  padding: 5px;
  text-align: center;
  margin-left: -50px;
  margin-bottom: 30%;
}

.photo-text2 {
  width: 60%;
  text-align: center;
  margin: auto;
}

.row {
  margin-left: 0px !important;
}

.picture_background {
  margin-top: -5px;
  padding-left: 25px;
  width: 100%;
  height: 100vh;
  margin-bottom: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.scholar {
  background-image: image-url('scholarship.jpg');
}

.gi-bill {
  background-image: image-url('gi-bill.jpg');
}

.mentor {
  background-image: image-url('mentorship.jpg');
}

.phone_view { display: none; }

.navigation {
  z-index: 25;
  position: absolute;
}

.navbar {
  position: absolute;
  margin-top: 0px;
  z-index: 20;
}

.navbar-default {
  color: #000;
}

.navbar-nav>li>a {
  color: #3498db;
}

a.btn.btn-default {
  background-color: rgba(0,0,0,0.3);
}

a.btn.btn-default:hover {
  color: #FFF;
  background-color: #3498db;
}

#overlay {
  position: absolute;
  text-align: center;
  color: #FFF;
  top: 280px;
  width: 100%;
  z-index: 2;
}

@media (max-width: 650px) {
  #overlay {
    position: absolute;
    color: #FFF;
    top: 350px;
    width: 80%;
    margin-left: -15px;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 2;
    background: rgba(0,0,0,0.3);
  }

  .phone_view { display: none; }

  .small_screen_h2 {
    font-size: 20px;  
  }

  .small_screen_h3 {
    font-size: 15px;
  }
}

@media (max-width: 460px) {
  .phone_view { display: block; }
  #video video { display: none; }
  #overlay { display: none; }

  .small_screen_h2 {
    font-size: 15px;
  }

  .small_screen_h3 {
    font-size: 12px;
  }

  .photo-text {
    width: 100%;
    margin-left: -12px;
  }

  .picture_background {
    margin-top: -30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .scholar {
    background-color: #808080;
    background-image: none;
  }

  .gi-bill {
    background-color: #808080;
    background-image: none;
  }

  .mentor {
    background-color: #808080;
    background-image: none;
  }
}

@media (max-width: 350px) {
  .phone_view { display: block; }
  #video video { display: none; }
  #overlay { display: none; }

  .small_screen_h2 {
    font-size: 12px;
  }

  .small_screen_h3 {
    font-size: 10px;
  }

  .photo-text {
    width: 100%;
    margin-left: -12px;
  }
  
  .picture_background {
    margin-top: -30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }


  .scholar {
    background-color: #808080;
    background-image: none;
  }

  .gi-bill {
    background-color: #808080;
    background-image: none;
  }

  .mentor {
    background-color: #808080;
    background-image: none;
  }
}
