.social-links a {
  text-align: center;
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 1px solid white;
  border-radius: 100%;
  margin-right: 7px; /*space between*/
}

.social-links a i {
  font-size: 20px;
  line-height: 38px;
  color: white;
}

#facebook {
  background: #3B5998;
}

#twitter {
  background: #6CDFEA;
}

#instagram {
  background: #e74c3c;
}

#snapchat {
  background: #000000;
  //font-size: 15px;
}

.photo-text {
  color: #FFF;
  width: 110%;
  background: rgba(0,0,0,0.3);
  padding: 5px;
  text-align: center;
  margin-left: -50px;
  margin-bottom: 30%;
}

.photo-text2 {
  width: 60%;
  text-align: center;
  margin: auto;
}

.picture_background {
  margin-top: -5px;
  padding-left: 25px;
  width: 100%;
  height: 100vh;
  margin-bottom: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.scholar {
  background-image: image-url('scholarship.jpg');
}

.gi-bill {
  background-image: image-url('gi-bill.jpg');
}

.mentor {
  background-image: image-url('mentorship.jpg');
}

.phone_view { display: none; }

.navigation {
  z-index: 25;
  position: absolute;
}

.navbar {
  position: absolute;
  margin-top: 0px;
  z-index: 20;
}

.navbar-default {
  color: #000;
}

.navbar-nav>li>a {
  color: #3498db;
}

a.btn.btn-default {
  background-color: rgba(0,0,0,0.3);
}

a.btn.btn-default:hover {
  color: #FFF;
  background-color: #3498db;
}

#overlay {
  position: absolute;
  text-align: center;
  color: #FFF;
  top: 280px;
  width: 100%;
  z-index: 2;
}

@media (max-width: 650px) {
  #overlay {
    position: absolute;
    color: #FFF;
    top: 350px;
    width: 80%;
    margin-left: -15px;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 2;
    background: rgba(0,0,0,0.3);
  }

  .phone_view { display: none; }

  .small-screen-h2 {
    font-size: 20px;
  }

  .small_screen_h3 {
    font-size: 15px;
  }
}

@media (max-width: 460px) {
  .phone_view { display: block; }
  #video video { display: none; }
  #overlay { display: none; }

  .small-screen-h2 {
    font-size: 15px;
  }

  .small_screen_h3 {
    font-size: 12px;
  }

  .photo-text {
    width: 100%;
    margin-left: -12px;
  }

  .picture_background {
    margin-top: -30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .scholar {
    background-color: #808080;
    background-image: none;
  }

  .gi-bill {
    background-color: #808080;
    background-image: none;
  }

  .mentor {
    background-color: #808080;
    background-image: none;
  }
}

@media (max-width: 350px) {
  .phone_view { display: block; }
  #video video { display: none; }
  #overlay { display: none; }

  .small-screen-h2 {
    font-size: 12px;
  }

  .small_screen_h3 {
    font-size: 10px;
  }

  .photo-text {
    width: 100%;
    margin-left: -12px;
  }

  .picture_background {
    margin-top: -30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }


  .scholar {
    background-color: #808080;
    background-image: none;
  }

  .gi-bill {
    background-color: #808080;
    background-image: none;
  }

  .mentor {
    background-color: #808080;
    background-image: none;
  }
}



#page-wrapper {
  color: #fff;

}

//contact us box
.axx{
  margin-top: 60px;
  position: relative;
  display: inline-block;
  background-color: #eee;
  padding: 2em;
  z-index: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  color: #fff;

  &:before, &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
  }

  &:before{
    background: rgb(255, 179, 0);
    z-index: -2;
  }

  &:after{
    background: rgba(0, 0, 0, .1);
    z-index: -1;
    left: -100%;
  }

  &:hover, &:focus{
    cursor: pointer;
    &:after{
      left: 0;
      width: 100%;
    }
  }
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 45px;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 1px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

	#banner {
                background-image: image-url('background.jpg');
                background-repeat: no-repeat;
                background-size: cover;
	}

/* Banner */

	#banner {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		cursor: default;
		height: 100vh;
		min-height: 35em;
		overflow: hidden;
		position: relative;
		text-align: center;
	}

		#banner h2 {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			-moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
			-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			display: inline-block;
			font-size: 1.75em;
			opacity: 1;
			padding: 0.35em 1em;
			position: relative;
			z-index: 1;
		}

			#banner h2:before, #banner h2:after {
				-moz-transition: width 0.85s ease;
				-webkit-transition: width 0.85s ease;
				-ms-transition: width 0.85s ease;
				transition: width 0.85s ease;
				-moz-transition-delay: 0.25s;
				-webkit-transition-delay: 0.25s;
				-ms-transition-delay: 0.25s;
				transition-delay: 0.25s;
				background: #fff;
				content: '';
				display: block;
				height: 2px;
				position: absolute;
				width: 100%;
			}

			#banner h2:before {
				top: 0;
				left: 0;
			}

			#banner h2:after {
				bottom: 0;
				right: 0;
			}

		#banner p {
			letter-spacing: 0.225em;
			text-transform: uppercase;
		}

			#banner p a {
				color: inherit;
			}

		#banner .more {
			-moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
			-webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
			-ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
			transition: transform 0.75s ease, opacity 0.75s ease;
			-moz-transition-delay: 3.5s;
			-webkit-transition-delay: 3.5s;
			-ms-transition-delay: 3.5s;
			transition-delay: 3.5s;
			-moz-transform: translateY(0);
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
			border: none;
			bottom: 0;
			color: inherit;
			font-size: 0.8em;
			height: 8.5em;
			left: 50%;
			letter-spacing: 0.225em;
			margin-left: -8.5em;
			opacity: 1;
			outline: 0;
			padding-left: 0.225em;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: 16em;
			z-index: 1;
		}

			#banner .more:after {
				background-image: url("images/arrow.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				bottom: 4em;
				content: '';
				display: block;
				height: 1.5em;
				left: 50%;
				margin: 0 0 0 -0.75em;
				position: absolute;
				width: 1.5em;
			}

		#banner:after {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			-moz-transition: opacity 3s ease-in-out;
			-webkit-transition: opacity 3s ease-in-out;
			-ms-transition: opacity 3s ease-in-out;
			transition: opacity 3s ease-in-out;
			-moz-transition-delay: 1.25s;
			-webkit-transition-delay: 1.25s;
			-ms-transition-delay: 1.25s;
			transition-delay: 1.25s;
			content: '';
			background: #2e3842;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 7em 3em 5em 3em ;
				height: auto;
				min-height: 0;
			}

				#banner h2 {
					font-size: 1.25em;
				}

				#banner br {
					display: none;
				}

				#banner .more {
					display: none;
				}

		}


//=========================================== apprentice page END


//=========================================== apprentice profiles


.person-wrapper {
  text-align: center;
  @media only screen and (max-width: 992px) {
    margin-bottom: 20px;
  }
  .person1, .person2, .person3 {
    background-blend-mode: luminosity;
    background-size: cover;
    border-radius: 50%;
    border: 5px solid $black;
    height: 20rem;
    margin: 0 auto;
    overflow: hidden;
    transition: 0.4s linear;
    width: 20rem;

    &:hover {
      background-color: transparent;
      border: 8px solid $black;
    }

  }
  .person1 {
    background: url('https://s3-us-west-2.amazonaws.com/operationcode/mingz.jpeg') no-repeat center
      hsl(200, 50%, 50%);
  }

  .person2 {
    background: url('https://s3-us-west-2.amazonaws.com/operationcode/ewingk.jpg') no-repeat center
      hsl(200, 50%, 50%);
  }

  .person3 {
    background: url('https://s3-us-west-2.amazonaws.com/operationcode/jhampton.jpeg') no-repeat center
      hsl(200, 50%, 50%);
  }

  p {
    margin-top: 1rem;
    text-align: center;
  }

}






.veterans-map { height: 480px; }

.key {
  font-weight: bold;
  width: 30%;
}

.value { width: 70%; }

//=========================================== apprentice profiles END
#cta {
  background: #d4d4d4 url("code_background.jpg") repeat scroll 0 0;
  color: #fff;
  margin-bottom: 50px;
  padding: 40px;
}

div#profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .navbar-fixed .white .nav-wrapper.container {
    width: 100%;
  }

  .navbar-fixed nav {
    position: relative;
  }
}
