.success-stories-photo {
    border-radius: 50%; 
    height: 120px;
    width: 120px; 
}

.success-stories-photo--left {
    margin-left: 15px;
}

.success-stories-photo--right {
    margin-right: 15px;
}

.success-stories-name {
    margin-right: 20px;
}