<p>
Dear <%= @donator.first_name.capitalize %>, <br />
<p>Thanks to you, our Soldier, Sailor, Marine, Air Force, and Coast Guard veterans will no longer be left behind in the digital age. Your donation of $<%= @donator.amount %> will help a veteran get coding today, the new literacy of the 21st century.</p>

<p>Thanks to your generous contribution, Operation Code can continue to expand and serve more veterans across the United States in their learning to code through scholarships, software mentorship, and employer services and help fill the nation's technical talent shortage with America's patriots who's served their country.</p>

<p>Thanks to you, we are continuing to provide over 250 veterans just this year with an online, safe learning community to learn about different prrogramming languages, ask questions related to their web/mobile application projects, and get personalized software mentorship from volunteer software developers in the industry. Today, you joined us in making modern software development education accessible to all who've served.</p>

<p>Finally, I would like to extend an invitation to meet some of our veterans who will benefit from your generous contribution. Please email me at <a href="mailto:david@operationcode.org">david@operationcode.org</a> to setup a time.</p>

<p>P.S. We depend on volunteers to help us execute on our mission. If you would like to share your time and expertise, please let me know, and we will get in touch. We have frequent introductions to our work for volunteers. We would be honored to have you join our ranks.</p>

<p>Sincerely yours,<br>
David Molina<br>
Founder & Executive Director</p>

<p><i><center>No benefit was bestowed upon this donor in exchange for this contribution... other than the joy of giving to an organization that supports software education programs for America's men and women. We are an exempt organization as described in Section 501(c)(3) of the Internal Revenue Code; EIN 47-4247572</center></i></p>