<p>
Dear <%= @donator.first_name.capitalize %>, <br />
<p>Thanks to your generation donation, a Soldier, Sailor, Marine, Air Force, and Coast Guard Veteran will not be left behind in the digital age. Your donation of $<%= @donator.amount %> will help transitioning military, citizen-soldiers, Veterans, and military families learn to code and ensure they don't get left behind in a 21st century new skills economy.</p>

<p>Thanks to your generous donation, Operation Code can continue to expand and serve more Veterans globally in their pursuit to become software developers through our innovative programs & services, including the Software Mentor Protégé Program, code school and conference scholarships, Deploy web apprenticeship, employer services & fellowship program, pro-bono legal support, advocacy and New GI Bill/code school accreditation. Together, we'll fill the nation's technical talent shortage with American patriots who've served their country and can code.</p>

<p>Today, you joined us in making modern software development education accessible to all who've served and thanks to you, our 595 Veterans will get the support they've earned through their service and sacrifice to this great country.</p>

<p>Finally, we'd appreciate it if you'd share our Operation Code mission to your friends, family and colleagues on the important work Operation Code is doing to help those who've served learn software development and build software to change the world.</p>

<p>Sincerely yours,<br>
David Molina<br>
ex-Army Captain<br>
Founder & Executive Director, Operation Code</p>

<p><i><center>No benefit was bestowed upon this donor in exchange for this contribution... other than the joy of giving to an organization that provides software education training for America's men and women who've served in uniform. Operation Code is an incorporated Oregon nonprofit and 501(c)(3) tax exempt nonprofit organization with the Internal Revenue Service; EIN 47-4247572</center></i></p>
