<div class="container">
  <div class="row">
    <div class="col m12" role="main">
      <h3>Edit <%= resource_name.to_s.humanize %></h3>

      <%= render partial: 'veterans/registrations/form' %>
    </div>
  </div>
</div>
