<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= render partial: 'veterans/registrations/form' %>
    </div>
  </div>
</div>
