<div class="container">
  <div class='col m12 center'>
    <div class="row">
      <div class="row">
        <div class="col s12 m12">
          <div class="card-panel">
            <span class="card-title"><h4>Sign Up</h4></span>
            Sign up to join our community. You will receive access to our mentorship program, our newsletter to keep you updated with code schools, scholarships, GI bill developments, jobs, and more.
            <%= render partial: 'veterans/registrations/form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
