<div class="container">
  <div class="row">
    <div class="col-md-12" role="main">
      <p class="lead">
        In the United States over 200,000 computing jobs open annually and 30,000 are filled by computer science undergraduates.
        That number is expected to rise to 1.2 million by 2020. Meanwhile, we have 250,000 U.S. military personnel that exit the service annually,
        some due to sequestration. Thousands of veterans are unemployed across the country with over <a href="http://www.bls.gov/news.release/pdf/vet.pdf">495,000 unemployed veterans</a> as of 2015 according to the Bureau of Labor Statistics.
        </br>
        When you join our ranks you'll be joining our growing military veterans coding community. In <a href="http://operation-code.slack.com/">Slack</a>,
        you'll network, share resources, find job opportunities, get help with your code, and become eligible for conference scholarships and coding 
        scholarships. Together we are Operation Code.
      </p>
    </div>
    </div>
  </div>
  <div class='col m12 center'>
    <div class="row">
      <%= render partial: 'veterans/registrations/form' %> 
    </div>
  </div>
</div>
