<p>
  Welcome to Operation Code! You've just joined a community of <%= Veteran.count.round(-2) %>+ veterans in the same shoes.<br />
  You can set your password <%= link_to "here", edit_veteran_registration_url(@veteran) %>.
</p>


<p>
  Check your email for an invite to our Operation Code Slack channel (<a href="https://operation-code.slack.com">https://operation-code.slack.com</a>).<br />
  Slack is where we communicate online and across the globe with each other to ask questions, collaborate, and share information. Once in Slack (you'll probably want to download the app), introduce yourself in the #general channel. An example could be: <br />
  Hi all. My name is David. I'm from Washington and I'm interested in webdev!
</p>

<p>
  The Operation Code website uses Ruby On Rails. If you want to dive in and help you can get started by reading our <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">docs</a>, or asking around in the #operation-code-dot-org slack channel.
</p>

<p>Again, welcome aboard, and don't forget to follow and share Operation Code on <a href="https://twitter.com/operation_code">Twitter</a> and <a href="https://facebook.com/operationcode.org">Facebook</a>.</p>

<p>
  Cheers, and keep coding,<br />
  <p>David Molina<br />
  <a href="http://twitter.com/davidcmolina">@davidcmolina</a>
</p>

<p>P.S If you do not receive an invite from Slack within 2 hours please <a href="mailto:staff@operationcode.org">email our staff</a>, or ping me on Twitter</p>
