<div class="container">
  <div class="row">
    <%= render partial: 'profile/tabs' %>
  </div>

  <div class="row">
    <div class="col m8" role="main">

      <%= card(title: 'Your Mentees') do %>
        <%=  render partial: 'profile/mentees/yours' %>
      <% end %>
    </div>
  </div>
</div>

