<footer class="center">
<p>Operation Code is a project of The Cogostar Foundation (Federal Tax ID 46-3270072), a California nonprofit corporation with federal tax-exempt status as a public charity under Section 501(c)(3).</p>

<p>Proudly built with <a href="http://getbootstrap.com/">Bootstrap</a> and created using Ruby on Rails and open source software. Have an idea? We encourage you to <a href="https://github.com/operationcode/operationcode">contribute</a>.</a></p>

<div class="fb-like" data-href="https://www.facebook.com/operationcode.org" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

<p>
<a class="twitter-follow-button"
  href="https://twitter.com/operation_code"
  data-show-count="true"
  data-lang="en">
Follow Operation Code
</a>

<p>
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?url=http%3A%2F%2Foperationcode.org%2F&original_referer=http%3A%2F%2Foperationcode.org%2F"
  data-show-count="true"
  data-lang="en">
twitter
</a>|<a href="https://www.facebook.com/operationcode.org"> facebook</a> |<a href="https://instagram.com/operation_code/"> instagram</a>

<script type="text/javascript">
window.twttr = (function (d, s, id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src= "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>

  </div>
</footer>
