<footer class="center">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Get Connected</h2>
        <div class="social-links">
          <a href="https://twitter.com/operation_code"
          id="twitter"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="https://facebook.com/operationcode.org"
          id="facebook"><i class="fa fa-facebook fa-lg"></i></a>
          <a href="https://instagram.com/operation_code"
          id="instagram"><i class="fa fa-instagram fa-lg"></i></a>
        </div>
      </div>
      <div class="col-md-3">
        <h2>Who We Are</h2>
        <p><a href="/mission">Our Mission</a></p>
        <p><a href="/history">The Operation Code Story</a></p>
        <p><a href="/staff">Staff & Board</a></p>
        <!-- <p><a href="/">Blog</a></p> -->
      </div>
      <div class="col-md-3">
        <h2>What We Do</h2>
        <p><a href="/scholarships">Coding Scholarships</a></p>
        <p><a href="/mentorship">Software Mentor Protégé Program</a></p>
        <p><a href="/employers">Employer Services</a></p>
        <!-- <p><a href="/advocacy">Advocacy</a></p> -->
      </div>
      <div class="col-md-3">
        <h2>Media</h2>
        <p><a href="/media">Download Assets</a></p>
        <p><a href="/faq">FAQ</a></p>
        <p><a href="mailto:press@operationcode.org">Press Inquires</a>
        <!-- <p><a href="/">Press Kit</a></p> -->
      </div>
    </div>
  </div>
  <hr>

      <p><em>Operation Code is an Oregon 501(c)(3) charity pending federal tax-exempt status. Our EIN is 47-4247572. <a href="/privacy">Donor Privacy Policy and Refund Policy</a></em>. </br>Questions? <a href="mailto:contact@operationcode.org">contact@operationcode.org.</a>
      <p>Proudly built with <a href="http://getbootstrap.com/">Bootstrap</a> and open source software.
      <p>Have an idea or suggestion? We encourage you to <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">contribute</a>.</p>

</footer>
