<!-- <footer class="center">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>Stay Tuned</h2>
          <div class="social-links">
              <a href="https://twitter.com/operation_code"
              id="twitter"><i class="fa fa-twitter fa-lg"></i></a>

              <a href="https://facebook.com/operationcode.org"
              id="facebook"><i class="fa fa-facebook fa-lg"></i></a>

              <a href="https://instagram.com/operation_code"
              id="instagram"><i class="fa fa-instagram fa-lg"></i></a>
          </div>
        </div>

        <div class="col-md-3">
          <h2>Connect</h2>
          <p><a href="mailto:contact@operationcode.org">Email</a></p>
          <p><a href="/faq">FAQ</a></p>
        </div>

        <div class="col-md-3">
          <h2>About Us</h2>
          <p><a href="/contributors">In-kind Donors</a></p>
          <p><a href="/press">Press</a></p>
          <p><a href="  https://s3-us-west-2.amazonaws.com/operationcode/operation_code_case_statement.pdf">Case Statement</a></p>
        </div>

        <div class="col-md-3">
          <h2>Resources</h2>
            <p><a href="/media">Download Assets</a></p>
          <p><a href="mailto:contact@operationcode.org">Request Our Founder</a></p>
        </div>

      </div>
    </div> -->

    <footer class="center">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h2>Get Connected</h2>
              <div class="social-links">
                  <a href="https://twitter.com/operation_code"
                  id="twitter"><i class="fa fa-twitter fa-lg"></i></a>

                  <a href="https://facebook.com/operationcode.org"
                  id="facebook"><i class="fa fa-facebook fa-lg"></i></a>

                  <a href="https://instagram.com/operation_code"
                  id="instagram"><i class="fa fa-instagram fa-lg"></i></a>
              </div>
            </div>

            <div class="col-md-3">
              <h2>Who We Are</h2>
              <p><a href="/mission">Our Mission</a></p>
              <p><a href="/history">The Operation Code Story</a></p>
              <!-- <p><a href="/">Blog</a></p> -->
            </div>

            <div class="col-md-3">
              <h2>What We Do</h2>
              <p><a href="/scholarships">Scholarship Fellows</a></p>
              <p><a href="/mentorship">Software Mentor Protégé Program</a></p>
              <p><a href="/employers">Employer Services</a></p>
              <!-- <p><a href="/advocacy">Advocacy</a></p> -->

            </div>

            <div class="col-md-3">
              <h2>Media</h2>
                <p><a href="/media">Videos</a></p>
                <p><a href="/faq">FAQs</a></p>
                <!-- <p><a href="/">Press Kit</a></p> -->
            </div>

          </div>
        </div>

  <hr>

        <div class="container bs-docs-container">
              <div class="bs-docs-section">
          <p><!-- We are a 501(c)(3) non-profit.</p> -->Operation Code is a project of The Cogostar Foundation (Federal Tax ID 46-3270072), a California nonprofit corporation with federal tax-exempt status as a public charity under Section 501(c)(3) •
          &copy;2015 • Maintained by our <a href="https://github.com/OperationCode/operationcode/graphs/contributors">contributors</a>.

Proudly built with <a href="http://getbootstrap.com/">Bootstrap</a> and open source software. Have an idea or suggestion? We encourage you to <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">contribute</a>.
</footer>
<hr>
