<footer class="page-footer grey lighten-5">
  <div class="container">
    <div class="row">
      <div class="col m3">
        <h5>Who Are We</h5>
        <ul>
          <li><a href="/history">Our History</a></li>
          <li><a href="/about">About Operation Code</a></li>
          <li><a href="/faq">Frequently Asked Questions</a></li>
          <li><a href="https://medium.com/operation-code" target="_blank"></a></li>
          <li><a href="/staff">Staff</a></li>
          <li><a href="/board">Board of Directors</a></li>
        </ul>
      </div>

      <div class="col m3">
        <h5>What We Do</h2>
        <ul>
          <li><a href="/mentorship">Software Mentorship</a></li>
          <li><a href="/scholarships">Scholarship Program</a></li>
          <li><a href="/employers">Employer Services</a></li>
          <li><a href="/deploy">Web Application Development</a></li>
          <li><a href="mailto:schools@operationcode.org">Code School Technical Assistance</a>

        </ul>
      </div>

      <div class="col m3">
        <h5>Get Involved</h5>
        <ul>
          <li><a href="https://operationcode.threadless.com/" target="_blank">Store</a></li>
          <li><a href="https://donorbox.org/operationcode">Donate</a></li>
          <li><a href="/contribute">Open Source</a></li>
          <li><a href="mailto:staff@operationcode.org">Software Mentorship</a>
          <li><a href="mailto:staff@operationcode.org">Internships</a>
          <li><%= link_to 'Shop on AmazonSmile', amazon_path %></li>
        </ul>
      </div>

      <div class="col m3">
        <h5>Press & Media</h5>
        <ul>
          <li><a href="/press">Press Coverage</a></li>
          <li><a href="/newgibill">New GI Bill Updates</a></li>
          <li><a href="mailto:staff@operationcode.org">Press Inquiries</a>
          <li><a href="/veterans/map">Veteran Map</a></li>
          <li><a href="/media">Download Media</a></li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class="col m10 offset-m1 center-align">
        <p><a href="https://www.guidestar.org/profile/47-4247572" target="_blank"><img src="https://widgets.guidestar.org/gximage2?o=9522101&l=v3" /></a></p>
        <p><em>Operation Code is a tax-exempt 501(c)(3) nonprofit organization. <a href="/privacy">Donor Privacy Policy and Refund Policy</a></em>. </br>
        <p>Proudly built with <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://materializecss.com/">Materialize</a>, and maintained by the <a href="https://github.com/orgs/operationcode/people">core team</a> with the help of our <a href="https://github.com/OperationCode/operationcode/graphs/contributors">contributors</a>.<p>This site is open source. <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">All pull requests welcome</a>.</p>
        <div class="social-links">
          <a href="https://twitter.com/operation_code" id="twitter" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="https://facebook.com/operationcode.org" id="facebook" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
          <a href="https://instagram.com/operation_code" id="instagram" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
          <a href="https://www.snapchat.com/add/operationcode" id="snapchat" target="_blank"><i class="fa fa-snapchat-ghost fa-lg"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
