     <footer align="center">
     	<p><a href="https://twitter.com/opcod3us">Follow @opcod3us</a> •

 		<a href="https://twitter.com/share" class="twitter-share-button" data-url="Dear #Congress #POTUS @BarackObama: New mission: allow us to use our #GIBill to #learntocode. Learn more: http://opcod3.us/ @opcod3us" data-count="horizontal" data-via="opcod3us" data-related="davidcmolina:Founder of Operation Code">Tweet</a></p>

        <code>&lt;Operation Code&gt;</code> is designed, built and brought to you by <a href="https://twitter.com/davidcmolina">@davidcmolina</a> from Portland, Oregon.</p>

        <p>Absolutely nothing here is reserved and copyright. Share at will.</p>
      </footer>
    </div> 

    