    <footer class="center">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h2>Get Connected</h2>
              <div class="social-links">
                  <a href="https://twitter.com/operation_code"
                  id="twitter"><i class="fa fa-twitter fa-lg"></i></a>

                  <a href="https://facebook.com/operationcode.org"
                  id="facebook"><i class="fa fa-facebook fa-lg"></i></a>

                  <a href="https://instagram.com/operation_code"
                  id="instagram"><i class="fa fa-instagram fa-lg"></i></a>
              </div>
            </div>

            <div class="col-md-3">
              <h2>Who We Are</h2>
              <p><a href="/mission">Our Mission</a></p>
              <p><a href="/history">The Operation Code Story</a></p>
              <p><a href="/board">Staff & Board</a></p>

              <!-- <p><a href="/">Blog</a></p> -->
            </div>

            <div class="col-md-3">
              <h2>What We Do</h2>
              <p><a href="/scholarships">Scholarship Fellows</a></p>
              <p><a href="/mentorship">Software Mentor Protégé Program</a></p>
              <p><a href="/employers">Employer Services</a></p>
              <!-- <p><a href="/advocacy">Advocacy</a></p> -->

            </div>

            <div class="col-md-3">
              <h2>Media</h2>
                <p><a href="/media">Videos</a></p>
                <!-- <p><a href="/faq">FAQs</a></p> -->
                <p><a href="mailto:press@operationcode.org">Press Inquires</a>
                <!-- <p><a href="/">Press Kit</a></p> -->
            </div>
          </div>
        </div>

  <hr>

  <footer class="center">
      <div class="container">
        <div class="row">
          <p>Operation Code is a 501(c)(3) pending <a href="http://www.irs.gov/Charities-%26-Non-Profits/Charitable-Organizations/Contributions-to-Organization-with-IRS-Application-Pending">federal tax-exempt status</a>.
<hr>
          <p>Proudly built with <a href="http://getbootstrap.com/">Bootstrap</a> and open source software.
          <p>Have an idea or suggestion? We encourage you to <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">contribute</a>.</p>
        </div>
      </div>
  </footer>
<hr>
