     <footer align="center">
     	<a href="https://twitter.com/share" class="twitter-share-button" data-url="Dear @VAChair, please expand the #NewGIBill to #learntocode. Learn more: http://opcod3.herokuapp.com/ cc @opcod3us" data-count="horizontal" data-via="opcod3us" data-related="davidcmolina:Founder of Operation Code">Share Operation Code on Twitter</a></p>

        <code>&lt;Operation Code&gt;</code> is designed, built and brought to you by former U.S. Army Captain <a href="https://twitter.com/davidcmolina">David Molina</a> from Portland, Oregon.</p>

        <p>Absolutely nothing here is reserved and copyright. <a href="twitter.com/opcod3us">Share at will</a>.</p>

        <!-- <p><a href="/donate">Donate</a></p> -->
      </footer>
    </div> 

    