<footer class="center">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>Say Hooah.</h2>
        <div class="social-links">
          <a href="https://twitter.com/operation_code"
          id="twitter"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="https://facebook.com/operationcode.org"
          id="facebook"><i class="fa fa-facebook fa-lg"></i></a>
          <a href="https://instagram.com/operation_code"
          id="instagram"><i class="fa fa-instagram fa-lg"></i></a>
        </div>
      </div>
      <div class="col-md-3">
        <h2>Who We Are</h2>
        <p><a href="/history">History</a></p>
        <p><a href="/blog">Blog</a></p>
        <p><a href="/founder">Founder</a></p>
        <p><a href="/board">Board of Directors</a></p>

      </div>
      <div class="col-md-3">
        <h2>What We Do</h2>
        <p><a href="/scholarships">Coding Scholarships</a></p>
        <p><a href="/mentorship">Software Mentor Protégé Program</a></p>
        <p><a href="/employers">Employer Services</a></p>
      </div>
      <div class="col-md-3">
        <h2>Media</h2>
        <p><a href="/press">Press</a></p>
        <p><a href="/media">Media Assets</a></p>
        <p><a href="/faq">FAQs</a></p>
        <p><a href="mailto:david@operationcode.org">Press Inquiries</a>
        <!-- <p><a href="/">Press Kit</a></p> -->
      </div>
    </div>
  </div>
  <hr>
      <a href="/donate" class="btn btn-primary btn-lg active" role="button">Donate Securely with Stripe</a>
      <hr>

      <p><em>Operation Code is a coding non-profit on a mission to get more military, veterans and military families coding.</br>Our EIN is 47-4247572. <a href="/privacy">Donor Privacy Policy and Refund Policy</a></em>. </br>Questions? <a href="mailto:david@operationcode.org">david@operationcode.org.</a>
      <p>Proudly built with <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, and hosted on <a href="https://www.heroku.com/">Heroku</a> with the support of <a href="https://dnsimple.com/">DNSimple</a>.
      <p>This site is open source. <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">Please help improve it</a>.</p>
</footer>
<hr>
