<footer class="center">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>Stay Tuned</h2>
          <div class="social-links">
              <a href="https://twitter.com/operation_code"
              id="twitter"><i class="fa fa-twitter fa-lg"></i></a>

              <a href="https://facebook.com/operationcode.org"
              id="facebook"><i class="fa fa-facebook fa-lg"></i></a>

              <a href="https://instagram.com/operation_code"
              id="instagram"><i class="fa fa-instagram fa-lg"></i></a>
          </div>
        </div>

        <div class="col-md-3">
          <h2>Connect</h2>
          <p><a href="mailto:contact@operationcode.org">email</a></p>
          <p><a href="/faq">FAQs</a></p>
        </div>

        <div class="col-md-3">
          <h2>About Us</h2>
          <p><a href="/contributors">in-kind donors</a></p>
          <p><a href="/press">press</a></p>
          <p><a href="  https://s3-us-west-2.amazonaws.com/operationcode/operation_code_case_statement.pdf">case statement</a></p>
        </div>

        <div class="col-md-3">
          <h2>Resources</h2>
            <p><a href="/media">download assets</a></p>
          <p><a href="mailto:contact@operationcode.org">request our founder</a></p>
        </div>

      </div>
    </div>

  <hr>

<!--         <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "News", news_path %></li> -->

        <div class="container bs-docs-container">
              <div class="bs-docs-section">
          <p>Operation Code is a project of The Cogostar Foundation (Federal Tax ID 46-3270072), a California nonprofit corporation with federal tax-exempt status as a public charity under Section 501(c)(3) •
          &copy;2015 •
Maintained by the <a href="https://github.com/orgs/operationcode/people">core team</a> with the help of our <a href="https://github.com/OperationCode/operationcode/graphs/contributors">contributors</a>.

Proudly built with <a href="http://getbootstrap.com/">Bootstrap</a> and open source software. Have an idea? We encourage you to
  <a href="https://github.com/operationcode/operationcode">contribute</a>.</a></p>
          </div>
        </div>
</footer>
<hr>
