     <footer align="center">
        <p>&copy2014 <code>&lt;Operation Code&gt;</code> | Crafted in Portland, Oregon with <a href="http://en.wikipedia.org/wiki/Open-source_software">Open Source Software</a> | <a href="/faq">FAQ</a> | <a href="https://twitter.com/opcod3us">Twitter</p>
      </footer>
    </div> <!-- /container -->