<footer class="center">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>About Us</h2>
        <p><a href="/history">History</a></p>
        <p><a href="/blog">Blog</a></p>
        <p><a href="/founder">Founder</a></p>
        <p><a href="/board">Board of Directors</a></p>
      </div>

      <div class="col-md-3">
        <h2>Programs & Services</h2>
        <p><a href="/mentorship">Software Mentor Protégé Program</a></p>
        <p><a href="/scholarships">Scholarship Program</a></p>
        <p><a href="/employers">Employer Services</a></p>
        <p><a href="/deploy">Deploy</a></p>
      </div>

      <div class="col-md-3">
        <h2>Contribute</h2>
        <p><a href="/sponsors">Sponsors</a></p>
        <p><a href="/contribute">Open Source Contributions</a></p>
        <p><a href="mailto:david@operationcode.org">Mentor</a>
        <p><a href="mailto:david@operationcode.org">Volunteer</a>
      </div>

      <div class="col-md-3">
        <h2>Press & Media</h2>
        <p><a href="/faq">FAQs</a></p>
        <p><a href="/press">In the News</a></p>
        <p><a href="/media">Media Assets</a></p>
        <p><a href="mailto:david@operationcode.org">Press Inquiries</a>
        <!-- <p><a href="/">Press Kit</a></p> -->
      </div>
    </div>
  </div>

      <p><em>Operation Code is a tax-exempt 501(c)(3) nonprofit organization. <a href="/privacy">Donor Privacy Policy and Refund Policy</a></em>. </br>
      <p>Proudly built with <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, and maintained by the <a href="https://github.com/orgs/operationcode/people">core team</a> with the help of our <a href="https://github.com/OperationCode/operationcode/graphs/contributors">contributors</a>.<p>This site is open source. <a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">All pull requests welcome</a>.</p>
      <div class="social-links">
        <a href="https://twitter.com/operation_code"
        id="twitter"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="https://facebook.com/operationcode.org"
        id="facebook"><i class="fa fa-facebook fa-lg"></i></a>
        <a href="https://instagram.com/operation_code"
        id="instagram"><i class="fa fa-instagram fa-lg"></i></a>
      </div>
</footer>
