<footer align="center">
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="Dear @VAChair, please expand the #NewGIBill to #learntocode. Learn more: http://opcod3.herokuapp.com/ cc @opcod3us" data-count="horizontal" data-via="opcod3us" data-related="davidcmolina:Founder of Operation Code">Tweet</a></p>

<p>Project by <a href="http://about.me/molina">David Molina</a>, a former U.S. Army Captain</p>
<!-- <p><a href="/donate">Donate</a></p> -->
</footer>