<footer align="center">
	<!-- <a href="https://twitter.com/share" class="twitter-share-button" data-url="Dear @VAChair, please expand the #NewGIBill to #learntocode. Learn more: http://opcod3.herokuapp.com/ cc @opcod3us" data-count="horizontal" data-via="opcod3us" data-related="davidcmolina:Founder of Operation Code">Tweet</a></p> -->

<p>A project founded by <a href="http://davidmolina.github.io/"> David Molina</a>, former U.S. Army Captain</p>
<p>Built with <a href="http://getbootstrap.com/">Bootstrap</a>. Available on <a href="https://github.com/davidmolina/operationcode">GitHub.</a></p>
<p>
<a class="twitter-follow-button"
  href="https://twitter.com/opcod3us"
  data-show-count="false"
  data-lang="en">
Follow @opcod3us
</a>
<script type="text/javascript">
window.twttr = (function (d, s, id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src= "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>
<!-- <p><a href="/donate">Donate</a></p> -->
</footer>
