<footer align="center">
<p>Operation Code is a project of The Cogostar Foundation (Federal Tax ID 46-3270072), a California nonprofit corporation with federal tax-exempt status as a public charity under Section 501(c)(3).</p>

<p>Proudly built with <a href="http://getbootstrap.com/">Bootstrap</a> and created using open source software. Have an idea? We encourage you to <a href="https://github.com/operationcode">contribute</a>.</a></p>

<p>
<a class="twitter-follow-button"
  href="https://twitter.com/operation_code"
  data-show-count="true"
  data-lang="en">
Follow Operation Code
</a>

<p>
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?url=http%3A%2F%2Foperationcode.org%2F&original_referer=http%3A%2F%2Foperationcode.org%2F"
  data-show-count="true"
  data-lang="en">
Tweet
</a>

<script type="text/javascript">
window.twttr = (function (d, s, id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src= "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>

  <p><a class="btn btn-md btn-default" href="https://www.cogostar.org/payments/new/user/383" role="button">Donate</a></p>
      </div>
</footer>

