<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('operationcode_logo.svg'),root_path, class: 'navbar-brand'%>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/history">History</a></li>
            <li><a href="/about">About Operation Code</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/press">Press</a></li>
            <li><a href="/board">Staff & Board</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/sponsors">Sponsors</a></li>
            <li><a href="http://operationcode.github.io/tap-deck">TAP Briefing</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programs & Services <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/mentorship">Software Mentorship</a></li>
            <li><a href="/scholarships">Scholarships</a></li>
            <li><a href="/employers">Employer Services</a></li>
            <li><a href="/deploy">Deploy</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/codeschools">Code Schools</a></li>
          </ul>
        </li>

        <li class="active"><%= link_to 'Join', new_veteran_registration_path %></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md">GitHub</a></li>
        <li class="active"><a href="/donate">Donate <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
