<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
    data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><code>&lt;Operation Code&gt;</code></a>
</div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">

       <li>
        <%= link_to root_path do %>ABOUT<% end %>
      </li>

      <li>
        <%= link_to action_path do %> ADD YOUR NAME<% end %>
      </li>

       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> LEARN<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/">CODE SCHOOLS</a></li>
            <li><a href="/">KEEP CODING</a></li>
            <li><a href="/">VETERANS SCHOLARSHIPS</a></li>

          </ul>
        </li>

    </ul>
    </div>
  </div>
</nav>
