<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
    data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><code>&lt;Operation Code&gt;</code></a>
</div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">

      <li>
        <%= link_to donate_path do %>Donate<% end %>
      </li>

      <li>
        <%= link_to action_path do %> Take Action<% end %>
      </li>

       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> About <code>&lt;Operation Code&gt;</code> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/about">The Founder</a></li>
            <li><a href="/faq">Frequently Asked Questions</a></li>
            <li><a href="/">Veterans' Scholarship</a></li>
          </ul>
        </li>

    </ul>
    </div>
  </div>
</nav>
